{% extends "conference/user_panel/base.html" %}

{% load crispy_forms_tags %}

{% block breadcrumbs %}
<!--<li class='breadcrumb-item active'><a href=''>Dashboard</a></li>-->
{% endblock breadcrumbs %}

{% block user_content %}
<div class="row">
    <div class="col-md-12">
        {% if user.is_staff %}
        <a href='{% url "admin:index" %}' class='btn btn-outline-warning'>Admin panel</a>
        {% endif %}
        <a href='{% url "user_panel:password_change" %}' class='btn btn-outline-info'>Change password</a>
        <a href='{% url "accounts:logout" %}?next=/' class='btn btn-outline-danger' style='float: right'>Log out</a>
    </div>
</div>

<div class='row' style='margin-top: 5em'>
    
    <div class="col-md-12">
        <h1>Password updated</h1>
    </div>
</div>
{% endblock %}
