{% extends "conference/user_panel/base.html" %}

{% load cms_tags crispy_forms_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class='breadcrumb-item'>
    <a href=".">Profile settings</a>
</li>
{% endblock breadcrumbs %}

{% block user_content %}
<div class='row' style='margin-top: 3em'>

    <div class="col-md-12">
        {% if profile_form.errors %}
            {% for field in profile_form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy profile_form %}
        </form>
    </div>
</div>
{% endblock %}

{% block morecss %}
<style>
    h1 {
        margin-bottom: 14px;
    }
</style>
{% endblock %}
