{% load conference p3 %}
{% p3_profiles_data pids as pdata %}
<div id="people-wrapper" class="clearfix">
    {% for profile_data in pdata %}

        {% cycle '<div class="row clearfix">' '' '<div class="row even clearfix">' '' %}

        <div class="span-6 {% cycle 'border' 'last' %}">
            <div id="{{ profile_data.slug }}" class="person-card">
                <div class="person-card-picture">
                    <a href="{% url conference-profile slug=profile_data.slug %}"><img class="block" src="{{ profile_data.image }}" alt="{{ profile_data.name }}" width="76" /></a>
                </div>
                <div class="person-card-profile">
                    <h2>{{ profile_data.name }}</h2>
                    <div class="tagline"><i>{{ profile_data.tagline }}</i></div>
                    <dl>
                        {% if profile_data.personal_homepage %}
                        <dd>
                            <a href="{{ profile_data.personal_homepage }}">{{ profile_data.personal_homepage|beautify_url }}</a>
                        </dd>
                        {% endif %}

                        {% if profile_data.twitter %}
                        <dd class="twitter">
                            <span><a href="http://twitter.com/#!/{{ profile_data.twitter }}">@{{ profile_data.twitter }}</a></span>
                        </dd>
                        {% endif %}

                        {% if profile_data.interests %}
                        <dd class="tags">
                            {% for t in profile_data.interests|eval_:"list(x)[:5]" %}<span class="tag">{{ t }}</span>{% endfor %}
                            {% if profile_data.interests|length > 5 %} and <a href="{% url conference-profile slug=profile_data.slug %}">{{ profile_data.interests|length|eval_:"x-5" }} more</a>{% endif %}
                        </dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="person-card-bio cms">
                    {% if profile_data.bio %}
                        {% with profile_data.bio|markdown2:"smarty-pants,code-color" as bio %}
                        {% with bio|truncatewords_html:50 as shorted %}
                        <div class="bio">
                            {{ shorted }}
                        {% if shorted|length < bio|length %}
                            <a class="see-more" href="#">See more</a>
                        {% endif %}
                        </div>
                        {% endwith %}
                        {% endwith %}
                    {% endif %}
                </div>
                {% with profile_data.talks.accepted|attrib_:conference as tids %}
                {% if tids %}
                {% talks_data tids as talks %}
                <div class="speaker">speaker</div>
                <div class="person-card-talks cms">
                    <h4>Talks</h4>
                    <ul>
                        {% for t in talks %}
                        <li><a href="{% url conference-talk slug=t.slug %}">{{ t.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>

        {% cycle '' '</div>' %}

    {% endfor %}
</div>
<script>
(function() {
    function loadProfileData(p, callback) {
        var cached = p.data('profile-data');
        if(cached) {
            callback(cached);
            return;
        }
        var hurl = p.find('.person-card-picture a')
            .attr('href');

        var _ = hurl.split('/');
        _.reverse();
        if(!_[0])
            _.shift();
        var slug = _[0];

        var jurl = '/p3/p/profile/' + slug + '.json';
        $.getJSON(jurl, function(data) {
            p.data('profile-data', data);
            callback(data);
        });
    }
    /*
     * I link "see more" caricano il contenuto via ajax
     */
    $('.tags a')
        .click(function(ev) {
            var e = $(this);
            var p = e.parents('.person-card');
            var tags = e.parents('.tags');
            tags.html('loading...');
            loadProfileData(p, function(data) {
                var h = [];
                for(var ix=0, ex=data.interests.length; ix<ex; ix++) {
                    h.push('<span class="tag">' + data.interests[ix] + '</span>');
                }
                tags.html(h.join(' '));
            })
            return false;
        })
    $('.person-card-bio a.see-more')
        .click(function(ev) {
            var e = $(this);
            var p = e.parents('.person-card');
            var bio = e.parents('.bio');
            bio.html('loading...');
            loadProfileData(p, function(data) {
                bio.html(data.bio);
            });
            return false;
        });
})();
</script>
