{% load conference p3 %}
{% p3_profiles_data pids as pdata %}
<div id="people-wrapper">
    {% for profile_data in pdata %}
    <section class="profile-user-identity clearfix">
        <div class="profile-user-picture">
            <img class="block" src="{{ profile_data.image }}" alt="{{ profile_data.name }}" width="98" />
        </div>
        <div class="profile-user-identity-data">
            <h1>{{ profile_data.name }}</h1>
            <em>{{ profile_data.tagline }}</em>
            <dl>
                {% if profile_data.personal_homepage %}
                <dt>Website</dt>
                <dd>
                    <a href="{{ profile_data.personal_homepage }}">{{ profile_data.personal_homepage|beautify_url }}</a>
                </dd>
                {% endif %}
                {% if profile_data.twitter %}
                <dt>Twitter</dt>
                <dd>
                    <span><a href="http://twitter.com/#!/{{ profile_data.twitter }}">@{{ profile_data.twitter }}</a></span>
                </dd>
                {% endif %}
                {% if profile_data.interests %}
                <div class="all-tags">
                    {% for t in profile_data.interests %}<span class="tag">{{ t }}</span>{% endfor %}
                </div>
                {% endif %}
                {% if profile_data.bio %}
                <p>{{ profile_data.bio|truncatewords_html:15 }}</p>
                {% endif %}
            </dl>
        </div>
    </section>
    {% endfor %}
</div>
