{% extends "admin/change_list.html" %}
{% load p3 conference %}
{% block content %}
{{ block.super }}
<div>
    <h1>Stato Prenotazioni</h1>
    {% admin_ticketroom_overall_status as hstatus %}
    <table>
        <tr>
            <th colspan="2">Periodo</th>
            <th>Tipo camera</th>
            <th>Disponibili</th>
            <th>Prenotate</th>
            <th>Libere</th>
        </tr>
        {% for period, status in hstatus %}
        <tr>
            <th rowspan="{{ status|length|add_number:"1" }}">{{ period.0|date:"d M Y" }}</th>
            <th rowspan="{{ status|length|add_number:"1" }}">{{ period.1|date:"d M Y" }}</th>
        </tr>
            {% for room_type, data in status.items %}
            <tr>
                <td>{{ room_type }}</td>
                <td>{{ data.available }}</td>
                <td>{{ data.reserved }}</td>
                <td>{{ data.free }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}
