{% extends "admin/change_list.html" %}
{% load p3 conference %}
{% block content %}
{{ block.super }}
<style>
.room_status th, .room_status td {
    font-size: 140%;
    line-height: 140%;
}
.room_status td.danger {
    background: red;
    color: yellow;
}
.room_status td.full {
    background: #FF4B4B;
}
.room_status td.almost {
    background: #FFBC2F;
}
.room_status td.empty {
    background: #8CFF70;
}
</style>
<div class="room_status">
    <h1>Stato Prenotazioni (posti letto)</h1>
    {% admin_ticketroom_overall_status as hstatus %}
    <table>
        <tr>
            <td></td>
            {% for d in hstatus.days %}
            <th>{{ d|date:"d b Y" }}</th>
            {% endfor %}
        </tr>
        {% for dstatus in hstatus.rooms|dictsort:"type" %}
        <tr>
            <th>{{ dstatus.label }}</th>
            {% for s in dstatus.days %}
            <td class="{% if s.free < 0 %}danger{% elif s.free < 5 %}full{% elif s.free < 15 %}almost{% else %}empty{% endif %}">
                <span title="{{ s.reserved }}/{{ s.available }}">{{ s.free }}</span>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
