{% extends "admin/change_list.html" %}
{% load p3 conference %}
{% block content %}
{{ block.super }}
<style>
.room_status a {
    color: black;
    text-decoration: underline;
}
.room_status td.danger a {
    color: yellow;
}
.room_status th, .room_status td {
    font-size: 140%;
    line-height: 140%;
}
.room_status td.danger {
    background: red;
    color: yellow;
}
.room_status td.full {
    background: #FF4B4B;
}
.room_status td.almost {
    background: #FFBC2F;
}
.room_status td.empty {
    background: #8CFF70;
}
.tickets_detail {
    margin: 20px 0;
}
</style>
<div class="room_status">
    <h1>Stato Prenotazioni (posti letto)</h1>
    {% admin_ticketroom_overall_status as hstatus %}
    <table>
        <tr>
            <td></td>
            {% for d in hstatus.days %}
            <th>{{ d|date:"d b Y" }}</th>
            {% endfor %}
        </tr>
        {% for dstatus in hstatus.rooms|dictsort:"type" %}
        <tr>
            <th>{{ dstatus.label }}</th>
            {% for s in dstatus.days %}
            <td class="{% if s.free < 0 %}danger{% elif s.free < 5 %}full{% elif s.free < 15 %}almost{% else %}empty{% endif %}">
                <a href="{% url admin:p3-hotelrooms-tickets-data %}?day={{ forloop.counter0 }}&amp;type={{ dstatus.type }}" title="{{ s.reserved }}/{{ s.available }}">{{ s.free }}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div class="tickets_detail"></div>
<script>
    (function() {
        $('.room_status td a').click(function(e) {
            e.preventDefault();

            var details = $('.tickets_detail');
            details.html('loading...');

            var url = e.target.href;
            var p = $.getJSON(url);
            p.then(function(data) {
                details.html('');
                var table = $('<table><tr><th>#<th>User<th>Order<th>Method<th>Checkin<th>Checkout</table>');
                for(var ix=0; ix<data.length; ix++) {
                    var t = data[ix];
                    var row = $(
                        '<tr>' +
                        '<td>' + (ix+1) + '</td>' +
                        '<td><a href="/admin/auth/user/' + t.user.id + '/">' + t.user.name + '</a></td>' +
                        '<td><a href="/admin/assopy/order/' + t.order.id + '/">' + t.order.code + '</a></td>' +
                        '<td style="' + (t.order.complete ? 'color: green' : 'color: red') + '">' + t.order.method + '</td>' + 
                        '<td>' + t.period[0] + '</td>' +
                        '<td style="' + (t.period[2] ? 'color: red' : '') + '"' + (t.period[2] ? ' title="checkout this day, not counted in the overall status"' : '') + '>' + t.period[1] + '</td>' +
                        '</tr>');
                    table.append(row);
                }
                details.append(table);
            });
            return false;
        });
    })();
</script>
{% endblock %}
