{% extends "assopy/base.html" %}
{% load p3 i18n formstyle %}

{% block PAGE_TITLE %}{% trans "Buy tickets (2 of 2)" %}{% endblock %}

{% block ASSOPY_MAIN_CONTENT %}

<form action="{% url "p3-billing" %}" class="form-horizontal" method="post">

<section>
    <div class="grid-container">
    <div class="grid-100">

        <h1>{% trans "Buy tickets (2 of 2)" %}</h1>
        <div class="page-summary">
            <p>{% trans "Review order and fill billing information." %}</p>
        </div>

    </div><!--/grid -->
</div><!-- /grid-container -->
</section>

<!--
= YOUR ORDER ===================================================================
-->

<section>
    <div class="grid-container">
    <div class="grid-100">

            {{ form|form_errors }}

            <fieldset>
                <legend>{% trans "Your order" %}</legend>
                <table class="table" style="margin-bottom: 0">
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>{% trans "Q.ty" %}</th>
                            <th>{% trans "Price" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fare, params, price in totals.tickets %}
                        <tr>
                            <td>{{ fare.name }} ({{ fare.fare_type }})</td>
                            <td>{{ params.qty }}</td>
                            <td>€ {{ price|floatformat:"2" }}</td>
                        </tr>
                        {% endfor %}
                        {% for price, coupon in totals.coupons.values %}
                        <tr>
                            <td colspan="2">{{ coupon.description }}</td>
                            <td>€ {{ price|floatformat:"2" }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" style="text-align: right">{% trans "Total" %}</td>
                            <td>€ <b>{{ totals.total|floatformat:"2" }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

    </div><!--/grid -->
</div><!-- /grid-container -->
</section>

<!--
= BILLING ======================================================================
-->

<section>
    <div class="grid-container">
    <div class="grid-100">

            <fieldset>
                {% if totals.total != 0 %}
                    <legend>{% trans "Billing data" %}</legend>
                    {{ form.card_name|form_field }}
                    {{ form.payment|form_field }}
                    <!--
                    <div id="id_payment_cc" class="help-block" style="display:none;">
                        {% blocktrans %}
                        Paypal is used for credit card transactions.<br />
                        <strong>No registration is required</strong>, you will just need to
                        click on a small link for non-registered users, located somewhere in the
                        page (the exact position varies depending on the browser's language),
                        and then fill in the form.
                        {% endblocktrans %}
                    </div>
                    -->
                    {{ form.country|form_field }}
                    {{ form.address|form_field }}

                    {%comment%}This fake field aligns Google results to the address above{%endcomment%}
                    <div class="control-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="controls">
                            <div class="autocomplete" id="google-guess" style="display: none">
                                <h4>{% trans "Google says" %}</h4>
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                    {% if 'vat_number' in form.fields %}
                        {{ form.vat_number|form_field }}
                    {% endif %}
                    {% if 'cf_code' in form.fields %}

                        <div style="display: none;">
                        <div class="control-group  field textinput charfield">
                            <label class="control-label" for="id_cf_code">Fiscal ID number</label>
                            <div class="controls">
                                <input id="id_cf_code" maxlength="16" name="cf_code" type="text" />
                                    <span class="help-block">Optional, only needed if required on the invoice.</span>
                            </div>
                        </div>
                        </div>

                    {% endif %}
                    {% if 'billing_notes' in form.fields %}
                        {{ form.billing_notes|form_field }}
                    {% endif %}
                    {{ form.code_conduct|form_field }}
                {% else %}
                    <legend>{% trans "You have nothing to pay" %}</legend>
                    {{ form.code_conduct|form_field }}
                {% endif %}
            </fieldset>
            <fieldset>
                <button class="btn btn-primary" value="" name="" type="submit">{% trans "Place Order &rarr;" %}</button>
            </fieldset>
            <script type="text/javascript">
                $('#id_payment').change(function(e) {
                    var method = $(this).val();
                    var feedback = $('#id_payment_cc');
                    if(method == 'cc') {
                        feedback.show();
                    }
                    else {
                        feedback.hide();
                    }
                })
            </script>

    </div><!--/grid -->
</div><!-- /grid-container -->
</section>

{% csrf_token %}
</form>

<script type="text/javascript">
    function _geoCode() {
        var address = $('#id_address').val();
        var region = $('#id_country').val();
        var url = "{% url "assopy-geocode" %}";
        $.getJSON(
            url,
            {
                'address': address,
                'region': region
            },
            function(data, textStatus, xhr) {
                var results = []
                if(data.status == 'OK') {
                    $.each(data.results, function(ix, value) {
                        results.push(value.formatted_address);
                    })
                }
                var output = $('#google-guess');
                $('ul', output).remove();
                if(results.length > 0) {
                    var ul = $('<ul>');
                    $.each(results, function(ix, value) {
                        ul.append($('<li><a href="#">' + value + '</a></li>'));
                    })
                    $('a', ul).click(function(e) {
                        e.preventDefault()
                        var address = $(this).html();
                        $('#id_address').val(address.substr(0, address.lastIndexOf(',')));
                    })
                    output.append(ul);
                    if(!output.is(':visible'))
                        output.slideDown(1000);
                }
                else {
                    output.slideUp('fast');
                }
            }
        );
    }
    function _cfCode() {
        var country = $('#id_country').val().toLowerCase();
        var div = $('#id_cf_code').parents('div[style]').eq(0);
        div.show();

    }
    $('#id_country')
        .change(_geoCode)
        .change(_cfCode);
    $('#id_address').change(_geoCode);
    _cfCode();
</script>

{% endblock %}
