<div class="sprint">
    {% load i18n assopy_tags %}
    <h2 class="toggle">
        <span class="title">{{ data.object.title }}</span>
        {% if data.form %} <a href="#" class="trigger-overlay" rel="div[data-form={{ data.form.prefix }}]">(edit)</a>{% endif %}
    </h2>
    <p class="abstract" style="display:none">{{ data.object.abstract|linebreaksbr }}</p>
    <h3>{{ data.attendees|length }} people want to take part in this sprint</h3>
    <ol>
        {% for u in data.attendees %}
        <li>
            {% if u.user == request.user %}
            <strong>{{ u.name }} <span class="user-attend">&lArr; you</span></strong>
            {% else %}
            {{ u.name }}
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    {% if request.user.is_authenticated %}
    <form class="form-user-attend" action="{% url "p3-sprint" sid=data.object.id %}" method="post">{% csrf_token %}
        <input type="hidden" name="user-attend" />
        <fieldset class="border">
        {% if not data.user_attend %}
        <button type="submit">I will attend this sprint</button>
        {% else %}
        <button type="submit" class="negate">Cancel my registration</button>
        {% endif %}
        </fieldset>
    </form>
    <div class="overlay" data-form="{{ data.form.prefix }}">
        <form action="{% url "p3-sprint" sid=data.object.id %}" method="post">{% csrf_token %}
            <fieldset>
                {% for f in data.form %}
                    {{ f|field }}
                {% endfor %}
            </fieldset>
            <fieldset class="border">
                <button name="" value="" type="submit">{% trans "Submit" %}</button>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div>
