{% extends "p3/base.html" %}
{% load p3 conference assopy_tags i18n %}

{% block PAGE_TITLE %}{% trans "Schedule" %}{% endblock %}
{% block HEAD_VIEWPORT %}{% endblock %}

{% block BODY_ID %}schedule{% endblock %}

{% block MAIN_CONTENT %}
<div class="alert alert--info">
    Beta version, small changes could be introduced to meet speakers' necessities.
</div>
{% schedules_data sids as schedules %}
<nav id="schedule-navigator">
    <div>NAV</div>
    <div>
        <a href="#">Jump to</a>
        <div>
            <ul>
            {% for row in timetables %}
                {% with schedules|attrib_:forloop.counter0 as sdata %}
                <li><a href="#{{ sdata.slug }}">{{ sdata.date|date:"l, j F" }}</a></li>
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <a href="#">Schedule view</a>
        <div>
            <ul>
                <li><a href="{% url "p3-whos-coming-conference" conference=conference %}?speaker=on">Speakers list</a></li>
                <li>
                    <a href="{% url "p3-schedule-list" conference=conference %}">List view</a>
                    <a href="{% url "p3-schedule-ics" conference=conference %}">
                        <i class="fa fa-calendar"></i>
                    </a>
                </li>
                <li><a href="{% url "p3-schedule-my-schedule" conference=conference %}">My schedule</a></li>
            </ul>
        </div>
    </div>
    {% comment %}
    <div>
        <a href="#">Filters</a>
        <div>
            <h3>Tracks</h3>
            <ul>
                <li><a href="#" class="track-toggle" data-tracks="track-ita">Italian track</a></li>
                <li><a href="#" class="track-toggle" data-tracks="training1,training2">Trainings</a></li>
                <li><a href="#" class="track-toggle" data-tracks="helpdesk1,helpdesk2">Help desk</a></li>
                <li><a href="#" class="track-toggle" data-tracks="partner0,partner1">Partner program</a></li>
                <li><a href="#" class="track-toggle" data-tracks="sprint1,sprint2,sprint3">Sprint</a></li>
            </ul>
            <h3>Highlight</h3>
            <ul class="highlights">
                <li><a href="#" class="highlight-chart">Using my votes</a></li>
                <li>
                    <a href="#" class="highlight-tag">By tag</a>
                    <div class="tag-list">
                    {% tags_for_talks as taglist %}
                    {% for category, tags in taglist|group_tags %}
                        <h2 class="toggle">{{ category }}</h2>
                        <div>
                            {% for tag in tags %}
                            <a class="tag" data-tag="{{ tag.name }}">{{ tag.name }} ({{ tag.count }})</a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </li>
                <li><a href="#" class="highlight-remove">Remove highlight</a></li>
            </ul>
        </div>
    </div>
    {% endcomment %}
</nav>

{% comment %}
<nav id="schedule-navigator">
    <div class="opener closed"> </div>
    <div class="content">
        <div class="wrapper">
            <h3>Search</h3>
            <form class="search">
                <input name="q" value="" />
            </form>
            <h3>Show</h3>
            <form class="show-flags" action="" method="get">
                <label class="active"><input type="hidden" name="show-track-ita" value="1" />Italian Track</label>
                <label class="active"><input type="hidden" name="show-training" value="1" />Trainings</label>
                <label class="active"><input type="hidden" name="show-partner-program" value="1" />Partner Program</label>
                <label class="active"><input type="hidden" name="show-sprint" value="1" />Sprint</label>
            </form>
            <h3>Jump to</h3>
            <ul class="jump-list">
                {% for schedule in schedules %}
                <li><a href="#{{ schedule.slug }}">{{ schedule.date|date:"l d" }}</a></li>
                {% endfor %}
            </ul>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url "p3-schedule-list" conference=CONFERENCE %}">List view</a>
            </div>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url "p3-my-schedule" %}">My schedule</a>
            </div>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url "p3-schedule-speakers" conference=CONFERENCE %}">Speakers list</a>
            </div>
            <a class="trigger-overlay schedule-help" href="/schedule-help">How to use</a>
        </div>
    </div>
</nav>
{% endcomment %}
<div class="page clearfix">
    <div class="conference-schedules timetable vertical"  data-conference="{{ conference }}">
    {% for sid, timet in timetables %}
        {% with schedules|attrib_:forloop.counter0 as sdata %}
        {% with timet|timetable_remove_first:"break" as tt %}
        <div id="{{ sdata.slug }}" class="schedule">
            <div class="schedule__title">
                <h2>{{ sdata.date|date:"l, j F Y" }}</h2>
            </div>
            <div class="schedule__header">
                <div class="schedule__header--hhmm">&nbsp;</div>
                {% for track, events in tt.iterOnTracks %}
                <div class="schedule__header--track" data-track="{{ track }}">
                    {{ sdata.tracks|attrib_:track|attrib_:"title"|safe }}
                </div>
                {% endfor %}
            </div>
            <div class="schedule__body offset-{{ tt.iterOnTimes.next.0.time|time:"Hi" }}">
                <div class="hhmm">
                    {% for time_, events in tt.iterOnTimes %}
                    {% with events|attrib_:"tags"|eval_:"set(sum(map(list, x), []))" as tlist %}
                    {% comment %}Se gli eventi sono solo special non metto l'ora (è ripetuta nel testo){% endcomment %}
                    {% if tlist|length > 1 or "special" not in tlist %}
                    <div class="time-{{ time_|time:"Hi" }}"><span>{{ time_|time:"H" }}</span>:{{ time_|time:"i" }}</div>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </div>
                {% for track, events in tt.iterOnTracks %}
                <div class="track" data-track="{{ track }}">
                    {% for e in events %}
                    {% if e.tracks|length == 1 or e.tracks.0 == track %}
                    <div id="e{{ e.id }}" class="event time-{{ e.time|time:"Hi" }} duration-{{ e.duration }} tracks-{{ e.tracks|length }} {{ e.tags|join:" " }}{% if e.bookable %} bookable{% endif %}" data-id="{{ e.id }}"{% if e.talk %} data-talk="{{ e.talk.id }}"{% endif %}{% if e.intersection %} data-intersection="o{{ e.intersection }}"{% endif %}{% if "partner-program" in e.tags %} data-fare="{{ e.fare }}"{% endif %}>
                        {% if e.talk %}
                        <div class="speakers">
                            <span class="maximized hhmm">{{ e.time|time:"H:i" }}</span>
                            {% for s in e.talk.speakers %}
                            <a href="{% url "conference-profile" slug=s.slug %}">{{ s.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <h3 class="name"><a href="{% url "conference-talk" slug=e.talk.slug %}">{{ e.name }}</a></h3>
                        <div class="maximized all-tags">
                            {% for tag in e.talk.tags %}<a class="tag">{{ tag }}</a>{% endfor %}
                        </div>
                        <div class="maximized abstract"> </div>
                        {% else %}
                        {% if not e.abstract %}
                        <h3 class="name">
                            {% if "special" in e.tags %}
                            <div class="hhmm"><span>{{ e.time|time:"H" }}</span>:{{ e.time|time:"i" }}</div>
                            {% endif %}
                            {{ e.name|safe }}
                        </h3>
                        {% else %}
                        <h3 class="name"><a href="#">{{ e.name|safe }}</a></h3>
                        <div class="maximized abstract">{{ e.abstract|safe }}</div>
                        {% endif %}
                        {% if "poster" in e.tags %}
                            {% conference_talks type="p"  as posters %}
                            <ul>
                                {% for t in posters %}
                                <li>
                                <a href="{% url "conference-talk" slug=t.slug %}" title="by {% for s in t.speakers %}{{ s.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">{{ t.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% endif %}
                        <div class="status-bar">
                            {% if e.talk %}
                                <div class="talk-level {{ e.talk.level }}">&nbsp;<span class="maximized">{{ e.talk.level }}</span></div>
                            {% endif %}
                            <div class="tools">
<!-- MAL 2016-04-16: disabled for now
                                {% if ref in overbooked %}
                                <div class="room-full">
                                    <img src="{{ STATIC_URL }}p6/images/warning.png" title="our estimate of attendance exceeds the room size" alt="warning" />
                                </div>
                                {% endif %}
-->
                                {% if "recruiting" in e.tags or "lightning" in e.tags or "poster" in e.tags %}
                                <div class="toggle-notice">&nbsp;</div>
                                {% endif %}
                            </div>
                        </div>
                        {% if "recruiting" in e.tags %}
                        <div class="notice">
                            <h3>Recruiting session</h3>
                            <p>Are you a professional looking for a job? Is your company looking for proficient programmers? EuroPython is your greatest opportunity to hire the best Python programmers! <a href="/recruiting">More details</a></p>
                        </div>
                        {% endif %}
                        {% if "lightning" in e.tags %}
                        <div class="notice">
                            <h3>Lightning talks</h3>
                            <p>A lightning talk is a short talk, typically only five minutes in duration, providing an opportunity for participants to deliver a presentation on a subject of their choosing. <a href="/talks/lightning-talks">More details</a></p>
                        </div>
                        {% endif %}
                        {% if "poster" in e.tags %}
                        <div class="notice">
                            <h3>Poster session</h3>
                            <p>We are glad to introduce a poster session at EuroPython for the first time, to provide an alternative and innovative way to discuss and share your experiences with other people. <a href="/poster-session">More details</a></p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
        {% endwith %}
        <div></div>
    {% endfor %}
    </div>
</div>
<script>
{% if request.user.is_authenticated %}
    {% user_votes as votes %}
    user.votes = {{ votes|json_ }};
    {% user_events_interest as einterests %}
    user.interest = {{ einterests|json_ }};
{% else %}
    user.votes = {};
    user.interest = {};
{% endif %}
</script>
<script src="{{ STATIC_URL }}p6/javascripts/schedule.js"></script>
{% endblock %}

