{% extends "ep19/bs/base.html" %}

{% load bootstrap_forms %}


{% block content %}

<div id="login_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Log in to EuroPython</h1>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-6">
                <form method='POST' action='.' class='form'>
                    {% csrf_token %}
                    {% render_form form %}

                    <button class="btn btn-success btn-lg btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
