{% extends "ep19/bs/base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div id="login_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Reset password</h1>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-6">
                <form method='POST' action='.' class='form'>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button class="btn btn-success btn-lg btn-block">
                        Send me a reset link
                    </button>
                </form>
            </div>
        </div>


        <div class="row" style='margin-top: 5em;'>
            <div class='col-md-6'>
                <a class="btn btn-block btn-outline-primary" href="{% url "accounts:login" %}?next={{ next }}" class="btn">Remember the password after all? Click to log in</a>
                <a class="btn btn-block btn-outline-success" href="{% url "accounts:signup_step_1_create_account" %}" class="btn">Don't have an account? Sign up</a>
            </div>

        </div>

    </div>
</div>

{% endblock %}
