
{% extends "ep19/bs/base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div id="login_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Password reset complete</h1>
                <p>Your password has been set. You may go ahead and <a href='{% url "accounts:login" %}'>log in</a> now.</p>

                <p><a href='{% url "accounts:login" %}' class='btn btn-lg btn-block btn-primary'>Log in</a></p>

                <p>Cheers, EuroPython Team</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
