{% extends "p3/base.html" %}
{% load i18n microblog_tags p3 conference %}
{% block PAGE_TITLE %}Blog &mdash; {% endblock %}

{% block MAIN_CONTENT %}
<div class="page">
    <div class="container clearfix">
        {% block BLOG_HEADER %}{% endblock %}

        <div class="column span-8">
            {% block BLOG_CONTENT %}{% endblock %}
        </div>

        <div class="column span-4 last">
			{% block BLOG_POST_INFO %}{% endblock %}

            <div id="blog-archives-browser">
                {% render_fb_like ref="like_blog_col" %}
                <h3>{% trans "Archivio" %}</h3>
                {% year_list as years %}
                <ul>
                    {% for d, count in years %}
                    <li><a href="{% url microblog-list-by-year year=d.year %}">{{ d.year }}</a> ({{ count }})</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}
