/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


/* body { background: #fff; } */

table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/* HTML5 tags */
header, section, footer, aside, nav, article, figure { display: block; }

/* -------------------------------------------------------------- 

   The mighty WebKit font smoothing 
   See: http://maxvoltar.com/archive/-webkit-font-smoothing
   
-------------------------------------------------------------- */

body { -webkit-font-smoothing: antialiased; }

/* -------------------------------------------------------------- 

   Cross-browser kerning-pairs & ligatures
   See: http://www.aestheticallyloyal.com/public/optimize-legibility/
   
-------------------------------------------------------------- */

/* body {text-rendering: optimizeLegibility;} */