{% load comments %}
{% load microblog %}
{% comment %}
Template utilizzato dal tag show_post_detail
{% endcomment %}
{% if content %}
<div class="microblog post-detail">
  <h1>
    {% if not post.is_published %}
    <span class="draft">[DRAFT]</span>
    {% endif %}
    {{ content.headline }}
  </h1>
  <div class="summary">
    {{ content.summary|safe }}
  </div>
  {% if content.body %}
  <div class="body">
    {{ content.body|safe }}
  </div>
  {% endif %}
  <p class="metadata">
    Pubblicato da <b>{{ post.author.first_name }}</b> il {{ post.date|date:"d F Y" }}
  </p>
  {% show_social_networks content %}
  {% if post.allow_comments %}
    <a name="comments"></a>
    {% get_comment_list for post as users_comments %}
    {% if not users_comments %}
      <h3>Nessun commento inserito</h3>
    {% else %}
      <h3>Commenti ({{ users_comments|length }})</h3>
    {% endif %}
    <ol class="comments">
      {% for c in users_comments %}
        <li class="comment" id="microblog-comment-{{ c.id }}">
          <div class="metadata" {% if forloop.last %}id="last-comment"{% endif %}>
            {% with c.userinfo as info %}
              {% if info.url %}
              <strong><a href="{{ info.url }}">{{ info.name }}</a></strong>
              {% else %}
              <strong>{{ info.name }}</strong>
              {% endif %}
              , 
              <span class="date">
                <a title="Permalink a questo commento" href="#microblog-comment-{{ c.id}}">
                  {{ c.submit_date|date:"d F Y" }}
                </a>
                alle {{ c.submit_date|date:"H:i" }}
              </span>
            {% endwith %}
          </div>
          <div class="body">
            <blockquote>{{ c.comment|linebreaksbr }}</blockquote>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% ifnotequal options "no-comment-form" %}
  <div class="comments-form">
    <h3>Aggiungi un commento</h3>
    {% get_comment_form for post as form %}
    <form action="{% comment_form_target %}#preview-comment" method="post">
        {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          <p
            {% if field.errors %} class="error"{% endif %}
            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            {% if field.errors %}{{ field.errors }}{% endif %}
            {{ field.label_tag }} {{ field }}
          </p>
        {% endif %}
        {% endfor %}
        <p class="submit">
            <input type="submit" name="post" class="submit-post" value="Post">
            <input type="submit" name="preview" class="submit-post" value="Preview">
        </p>
    </form>
  </div>
  {% endifnotequal %}
  {% endif %}
</div>
{% endif %}
