<div class="social-networks">
  <a href="http://www.blinklist.com/index.php?Action=Blink/addblink.php&amp;Description=&amp;Url={{ content_url }}&amp;Title={{ content.headline }}" title="BlinkList">
    <img src="{{ MEDIA_URL }}microblog/i/blinklist.png" alt="BlinkList" />
  </a>
  <a href="http://blogmarks.net/my/new.php?mini=1&amp;simple=1&amp;url={{ content_url }}&amp;title={{ content.headline }}" title="blogmarks">
    <img src="{{ MEDIA_URL }}microblog/i/blogmarks.png" alt="blogmarks" />
  </a>
  <a href="http://co.mments.com/track?url={{ content_url }}&amp;title={{ content.headline }}" title="co.mments">
    <img src="{{ MEDIA_URL }}microblog/i/co.mments.gif" alt="co.mments" />
  </a>
  <a href="http://www.connotea.org/addpopup?continue=confirm&amp;uri={{ content_url }}&amp;title={{ content.headline }}" title="connotea">
    <img src="{{ MEDIA_URL }}microblog/i/connotea.png" alt="connotea" />
  </a>
  <a href="http://del.icio.us/post?url={{ content_url }}&amp;title={{ content.headline }}" title="del.icio.us" onclick="window.open('http://del.icio.us/post?v=4&amp;noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=700,height=400'); return false;">
    <img src="{{ MEDIA_URL }}microblog/i/delicious.png" alt="del.icio.us" />
  </a>
  <a href="http://digg.com/submit?phase=2&amp;url={{ content_url }}&amp;title={{ content.headline }}" title="digg">
    <img src="{{ MEDIA_URL }}microblog/i/digg.png" alt="digg" />
  </a>
  <a href="http://cgi.fark.com/cgi/fark/edit.pl?new_url={{ content_url }}&amp;new_comment={{ content.headline }}&amp;new_comment=Sandbox&amp;linktype=Misc" title="Fark">
    <img src="{{ MEDIA_URL }}microblog/i/fark.png" alt="Fark" />
  </a>
  <a href="http://feedmelinks.com/categorize?from=toolbar&amp;op=submit&amp;url={{ content_url }}&amp;name={{ content.headline }}" title="feedmelinks">
    <img src="{{ MEDIA_URL }}microblog/i/feedmelinks.png" alt="feedmelinks" />
  </a>
  <a href="http://www.furl.net/storeIt.jsp?u={{ content_url }}&amp;t={{ content.headline }}" title="Furl">
    <img src="{{ MEDIA_URL }}microblog/i/furl.png" alt="Furl" />
  </a>
  <a href="http://www.linkagogo.com/go/AddNoPopup?url={{ content_url }}&amp;title={{ content.headline }}" title="LinkaGoGo">
    <img src="{{ MEDIA_URL }}microblog/i/linkagogo.png" alt="LinkaGoGo" />
  </a>
  <a href="http://ma.gnolia.com/beta/bookmarklet/add?url={{ content_url }}&amp;title={{ content.headline }}&amp;description={{ content.headline }}" title="Ma.gnolia">
    <img src="{{ MEDIA_URL }}microblog/i/magnolia.png" alt="Ma.gnolia" />
  </a>
  <a href="http://www.newsvine.com/_tools/seed&amp;save?u={{ content_url }}&amp;h={{ content.headline }}" title="NewsVine">
    <img src="{{ MEDIA_URL }}microblog/i/newsvine.png" alt="NewsVine" />
  </a>
  <a href="http://www.netvouz.com/action/submitBookmark?url={{ content_url }}&amp;title={{ content.headline }}&amp;description={{ content.headline }}" title="Netvouz">
    <img src="{{ MEDIA_URL }}microblog/i/netvouz.png" alt="Netvouz" />
  </a>
  <a href="http://reddit.com/submit?url={{ content_url }}&amp;title={{ content.headline }}" title="Reddit">
    <img src="{{ MEDIA_URL }}microblog/i/reddit.png" alt="Reddit" />
  </a>
  <a href="http://www.simpy.com/simpy/LinkAdd.do?href={{ content_url }}&amp;title={{ content.headline }}" title="Simpy">
    <img src="{{ MEDIA_URL }}microblog/i/simpy.png" alt="Simpy" />
  </a>
  <a href="http://www.spurl.net/spurl.php?url={{ content_url }}&amp;title={{ content.headline }}" title="Spurl">
    <img src="{{ MEDIA_URL }}microblog/i/spurl.png" alt="Spurl" />
  </a>
  <a href="http://wists.com/r.php?c=&amp;r={{ content_url }}&amp;title={{ content.headline }}" title="Wists">
    <img src="{{ MEDIA_URL }}microblog/i/wists.png" alt="Wists" />
  </a>
  <a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u={{ content_url }}&amp;={{ content.headline }}" title="YahooMyWeb">
    <img src="{{ MEDIA_URL }}microblog/i/yahoomyweb.png" alt="YahooMyWeb" />
  </a>
  <a href="http://www.facebook.com/share.php?u={{ content_url }}" title="Facebook" onclick="window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title),'sharer','toolbar=0,status=0,width=626,height=436');return false;">
    <img src="{{ MEDIA_URL }}microblog/i/facebook.gif" alt="Facebook" />
  </a>
</div>
