<ol class="reactions-list">
{% for r in reactions %}
    <li class="reaction">
        <div class="reaction-header">
            <span class="date">{{ r.date|date:"d F Y" }}</span>
            {% if r.blog_name %} - <span class="blog-name">{{ r.blog_name }}</span> {% endif %}
        </div>
        <div class="reaction-url">
            <a href="{{ r.url }}" rel="nofollow">{% if r.title %}{{ r.title }}{% else %}{{ r.url }}{% endif %}</a>
        </div>
        {% if r.excerpt %}
        <div class="reaction-excerpt">{{ r.excerpt }}</div>
        {% endif %}
    </li>
{% endfor %}
</ol>
