{% load microblog_tags %}
{% if content %}
<div class="microblog post-summary">
    <h2>
        {% if not post.is_published %}
        <span class="draft">[DRAFT]</span>
        {% endif %}
        <a title="Permalink a questo articolo" href="{{ url }}">{{ content.headline }}</a>
    </h2>
    <p class="metadata">
        <span class="blog-author-name">{{ post.author.first_name }} {{ post.author.last_name }}</span>
        {{ post.date|timesince }} |
        <a title="Commenti articolo" href="{{ url }}#last-comment">
            Commenti ({{ comments|length }})
        </a>
    </p>
</div>
{% endif %}
