{% load microblog_tags %}
{% if content %}
<div class="microblog post-detail">
    {% trackback_rdf content %}
    <h1>
        {% if not post.is_published %}
        <span class="draft">[DRAFT]</span>
        {% endif %}
        {{ content.headline }}
    </h1>
    <div class="summary">{{ content.summary|safe }}</div>
    {% if content.body %}
    <div class="body">{{ content.body|safe }}</div>
    {% endif %}
    <p class="metadata">
        <span>Pubblicato da</span> <b>{{ post.author.first_name }}</b> il {{ post.date|date:"d F Y" }}
    </p>
    {% show_social_networks content %}
    {% show_post_comments post %}
    {% if post.allow_comments %}
        {% load comments %}
        <div class="comments-form">
            <h3>Aggiungi un commento</h3>
            {% render_comment_form for post%}
        </div>
    {% endif %}
</div>
{% endif %}
