{% load conference pages_tags i18n tagging_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />

    <title>{% block PAGE_TITLE %}{% if current_page %}{% show_content current_page "title" %} &mdash; {% endif %}{% endblock %}PyCon Italia Quattro</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}p4/s/site.css" type="text/css" media="screen" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="{{ STATIC_URL }}p4/s/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}p4/i/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="{{ STATIC_URL }}p4/i/favicon.png" type="image/png" />
    <link rel="alternate" type="application/rss+xml" title="Ultimi post" href="http://feeds.feedburner.com/pyconit" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}hcomments/j/jquery.form.js"></script>
    {% if current_page %}
        {% tags_for_object current_page as ptags %}
        {% for t in ptags %}
            {% ifequal t.name "google-maps" %}
    <script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_MAPS_KEY }}"></script>
    <script type="text/javascript">
        google.load("maps", "2", { "other_params": "sensor=false" });
        $(document).ready(function() {
            $(document).unload(function() { google.maps.Unload() });
            $('.automap').each(function() { initGMAP(this.id); });
        });
    </script>
    <script type="text/javascript" src="/pycon3/gmap.js"></script>
            {% endifequal %}
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
    //<![CDATA[
        $(function() {
            $('.lang-selector').click(function(e) {
                e.preventDefault();
                var f = $('#change-language').get(0);
                f.language.value = this.id.split('-')[1];
                f.submit();
                return false;
            });
        });
    //]]>
    </script>
    {% block EXTRA_HEAD %}{% endblock %}
</head>
<body id="s-home">
    <div id="pre-header">      
        <!--[if lte IE 6]>
        <div id="please-upgrade">
            Your browser is outdated. Please upgrade to a newer version of Internet Explorer or <a href="http://browsehappy.com/">pick your browser of choice</a>.
        </div>
        <![endif]-->

        <div id="nav">    
            <ul class="clearfix">
                {% navi_menu1_pages as pages %}
                {% for p in pages %}
                <li class="{% ifequal current_page p %}current{% endifequal %}">
                    <a href="{% show_absolute_url p %}" title="">{% show_content p "title" %}</a>
                </li>
                {% endfor %}
                {% with request.META.PATH_INFO|slice:"1:5" as f %}
                <li class="{% ifequal f "blog" %}current{% endifequal %}">
                    <a href="/blog/">Blog</a>
                </li>
                {% endwith %}

                <li id="li-chat">
                    <div id="habla_available_div"><a href="#" onclick="habla_window.show()">Chat!</a></div>
                    <div id="habla_unavailable_div"><a href="#" title="Nessun operatore disponibile">Chat</a></div>
                </li>
                {% for l in LANGUAGES %}{% ifnotequal LANGUAGE_CODE l.0 %}<li id="li-lang"><a href="#" id="l-{{l.0}}" class="lang-selector">{{ l.1 }}</a></li>{% endifnotequal %}{% endfor %}
            </ul>
            <form class="hidden" id="change-language" action="/i18n/setlang/" method="post"><input type="hidden" name="language" value="" /></form>
        </div>
    </div> 
    <div id="header">
        <div class="container clearfix">
            <div id="logo">
                <a href="/" title="PyCon Quattro Home"><img src="{{ STATIC_URL }}p4/i/pycon-logo.png" alt="Pycon Quattro Italia" height="265" width="280" /></a>
            </div>

            <div class="column span-9 prepend-3 last">
                <div id="when-where">
                    <h2>FIRENZE &mdash; 7, 8 e 9 MAGGIO 2010</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper.</p>
                </div>
            </div>
         <!--  /container  -->
        </div>

    <!-- /header -->
    </div>

    <div id="wrapper">
        <div class="container clearfix">
            {% block MAIN_CONTENT %}{% endblock %}
            <div class="column span-2 last">
                <div id="sponsor">
                    <h4>{% trans "I nostri sponsor" %}</h4>
                    {% conference_sponsor "pycon3" as sponsor %}
                    {% for s in sponsor %}
                    <div class="ad">
                        <a href="{{ s.url }}">
                            <img src="{{ SPONSOR_LOGO_URL }}{{ s.logo|image_resized }}" alt="{{ s.sponsor }}" width="110" height="70" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            <!-- /column -->
            </div>
        <!-- /container -->
        </div>
    <!-- /wrapper -->
    </div>

    <div id="footer" style="clear: both">
        <div class="container clearfix">
            {% conference_mediapartner "pycon3" as partner %}
            {% if partner %}
            <div id="media-partner" class="clearfix">
                <h4>{% trans "Media partner" %}</h4>
                {% for s in partner %}
                <div class="ad">
                    <a href="{{ s.url }}">
                        <img src="{{ MEDIAPARTNER_LOGO_URL }}{{ s.logo|image_resized }}" alt="{{ s.partner }}" width="110" height="70" />
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% navi_menu3_pages as pages %}
            <div id="footer-nav">
                <h4>PyCon Quattro</h4>
                <ul>
                    {% for p in pages %}
                    <li><a href="{% show_absolute_url p %}" title="">{% show_content p "title" %}</a></li>
                    {% endfor %}
<!--                         <li class="sep">Edizioni precedenti: <a href="/pycon1/">Uno</a>, <a href="/pycon2/">Due</a>, <a href="/pycon3/">Tre</a></li> -->
                </ul>
            </div>


            <div id="elsewhere">
                <h4>Ci trovi anche su&hellip;</h4>
                <ul>
                    <li><img src="{{ STATIC_URL }}p4/i/twitter-16x16.png" alt="Twitter" width="16" height="16"/><a href="http://twitter.com/pyconit">Twitter</a></li>

                    <li><img src="{{ STATIC_URL }}p4/i/facebook-16x16.png" alt="Facebook" width="16" height="16"/><a href="http://www.facebook.com/group.php?gid=92045427216">Facebook</a></li>
<!--                     <li><img src="{{ STATIC_URL }}p4/i/linkedin-16x16.png" alt="LinkedIn" width="16" height="16"/><a href="http://www.linkedin.com/groups?about=&amp;gid=1790402&amp;trk=anet_ug_grppro">LinkedIn</a></li> -->
                </ul>
            </div>


            <div class="column span-7 append-1">
                <h4>Credits</h4>
                <p>Copyright &copy; 2007&ndash;2010 Python Italia, with <a href="http://creativecommons.org/licenses/by-nd/3.0/">some rights reserved</a>.</p>
                <p>CF 94144670489, P. IVA 05753460483</p>
            </div>
            
            <div class="column span-2">
                <h4>Accounting System</h4>                    
                <p><a href="http://www.softwell.it/">Softwell</a></p>                    
            </div>

            <div class="column span-2 last">
                <h4>Progetto grafico</h4>
                <p><a href="http://passiomatic.com/">Andrea Peltrin</a></p>
            </div>

            <hr />

            <div id="django-badge"><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif"  alt="A Django site." title="A Django site." /></a</div>
            
        </div><!-- container -->
    </div><!-- /footer -->

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-1860245-1");
            pageTracker._trackPageview();
        } catch(err) {
        }
    </script>
    <script type="text/javascript" src="http://static.hab.la/js/wc.js"></script>
    <script type="text/javascript"> 
        config = new hbl.hwindow.config();
        config.vars["start_hidden"] = 1;
        wc_init("1751-12112149-10-1389", config);
    </script>
</body>
</html>
