<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load p3 pages_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>PyCon Italia Tre, Firenze 8-9-10 Maggio 2009</title>
  <meta name="description" content="" />

  <link rel="shortcut icon" href="{{ MEDIA_URL }}p3/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="{{ MEDIA_URL }}p3/favicon.png" type="image/png" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}p3/s/site.css" type="text/css" media="screen" />  
  <link rel="alternate" type="application/rss+xml" title="Ultimi post" href="http://feeds.feedburner.com/pyconit" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}p3/j/jquery-cycle-lite.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}p3/j/utils.js"></script>

  <script type="text/javascript">

   $(document).ready(function(){ 
      $('#quotes ul').cycle({
          delay: 5000, 
          timeout: 10000, 
          speed: 500, 
          pause: 1
      })
   });

  </script>
</head>
<body id="s-home">
<div class="hidden"><a href="#main">Salta ai contenuti</a></div>    
<div id="header" class="container clear">

    <div class="column span-4">
        <div id="logo">
            <a href="/"><img src="{{ MEDIA_URL }}p3/i/pycontre-logo.gif" alt="PyCon Italia Tre" width="220" height="60" /></a>
        </div>
    </div>
    
    <div class="column span-10  last">
    
        <ul id="nav" class="clear">
            {% navi_menu1_pages as pages %}
            {% for p in pages %}
              <li class="big {% ifequal current_page p %}current{% endifequal %}">
                <a href="{% show_absolute_url p %}" title="">{% show_content p "title" %}</a>
              </li>
            {% endfor %}
              {% with request.META.PATH_INFO|slice:"1:5" as f %}
              <li class="big {% ifequal f "blog" %}current{% endifequal %}">
                <a href="/blog/">Blog</a>
              </li>
              {% endwith %}
            
            {% navi_menu2_pages as pages %}
            {% for p in pages %}
              <li class="{% if forloop.first %}_{% endif %}{% ifequal current_page p %}current{% endifequal %}">
                <a href="{% show_absolute_url p %}" title="">{% show_content p "title" %}</a>
              </li>
            {% endfor %}
        </ul>
        
    </div>
    
</div>    

<div id="main" class="container clear">
  {% block MAIN_CONTENT %}{% endblock %}

<!--
#############
SPONSOR
#############
-->
    <div class="column span-2 last">

        <div id="sponsor">        
            <h2>I nostri sponsor</h2>
            
            <dl>
                {% comment %}
                <dt>Platinum</dt>
                <dd>
                  <a href="#"><img src="{{ MEDIA_URL }}p3/i/sponsor/a.gif" alt="A" width="120" height="70" /></a>
                </dd>
                {% endcomment %}

                <dt>Gold</dt>
                <dd>
                  <a href="http://www.develer.com/">
                    <img src="{{ MEDIA_URL }}p3/stuff/sponsor/develer.png" alt="develer" width="120" height="70" />
                  </a>
                </dd>
                <dd>
                  <a href="http://linkgroup.it/">
                    <img src="{{ MEDIA_URL }}p3/stuff/sponsor/linkit.png" alt="link it" width="120" height="70" />
                  </a>
                </dd>

                {% comment %}
                <dt>Silver</dt>
                <dd>
                  <a href="#"><img src="{{ MEDIA_URL }}p3/i/sponsor/a.gif" alt="A" width="120" height="70" /></a>
                </dd>
                {% endcomment %}
            </dl>
                                
        <!-- /sponsor -->
        </div>

    <!-- /column-->                
    </div>   
<!--
#############
/SPONSOR
#############
-->

<!-- /main -->
</div>	

<div id="footer" class="container clear">    

    {% navi_menu3_pages as pages %}
    {% if pages %}
    <ul id="nav2" class="">
      {% for p in pages %}
      <li>
        <a href="{% show_absolute_url p %}" title="">{% show_content p "title" %}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

     <div class="column span-6">
        <p>Copyright &copy; 2007&ndash;2009 Python Italia,          
           some rights reserved.<br />
           Cf 94144670489, P. Iva 05753460483<br />                                          
        </p>        

       <div id="cc">
        <a href="http://creativecommons.org/licenses/by-nd/3.0/" rel="license"><img src="{{ MEDIA_URL }}p3/i/cc.gif" alt="Creative Commons License" /></a>&nbsp;
        <a href="http://www.djangoproject.com/" rel=""><img src="{{ MEDIA_URL }}p3/i/django.gif" alt="A Django site" /></a>
       </div>

    <!-- /column -->
    </div>   

    
    <div class="column span-3">
        <p>
            <b>Progetto grafico</b><br />
            <a href="http://passiomatic.com/">Andrea &ldquo;deelan&rdquo; Peltrin</a>
        </p>
        <p>
            <b>Sistema di registrazione</b><br />
            <a href="http://www.softwell.it/">Softwell</a>
        </p>
    <!-- /column -->
    </div>   


    <div class="column span-3 last">
         <div id="xkcd">
            <a href="http://xkcd.com/413/"><img src="{{ MEDIA_URL }}p3/i/pin.jpg" width="190" height="85" alt="Import Soul" /></a>
         </div>        
    <!-- /column -->
    </div>   

<!-- /footer -->
</div>
</body>
</html>
