{% extends "assopy/base.html" %}
{% load p3 assopy_tags i18n %}


{% block BODY_CLASS %}wizard{% endblock %}


{% block ASSOPY_MAIN_CONTENT %}
    <h1>Buy tickets (2 of 2)</h1>
   <div class="page-summary">
        <p>Review order and fill billing information.</p>    
    </div>
    
    <div class="span-9 last">
                
        <form id="form-cart" action="{% url p3-billing %}" method="post">{% csrf_token %}

            {{ form|form_errors }}

            <fieldset>

                <legend>Your order</legend>
                
                <div class="cms">
        
                    <table>
                        <col />
                        <col />
                        <col />
                        <thead> 
                            <tr> 
                                <th></th> 
                                <th>Q,ty</th> 
                                <th>Price</th> 
                            </tr> 
                        </thead>
                        <tbody>
                            {% for fare, quantity, price in tickets %}
                            <tr>
                                <td>{{ fare.name }}</td>
                                <td>{{ quantity }}</td>
                                <td>€ {{ price|floatformat:"2" }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="subtotal"> 
                                <td colspan="2" style="text-align: right">Total</td>
                                <td>€ {{ total|floatformat:"2" }}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>

            <fieldset>

                <legend>Billing data</legend>


                <div class="span-6">{{ form.payment|field }}
                    <div id="id_payment_cc">
                        Paypal is used for credit card transactions.<br />
                        <strong>No registration is required</strong>, you will just need to
                        click on the small link on the left side of the paypal page and then
                        fill in the form.
                    </div>
                </div>
                <div class="span-6">{{ form.card_name|field_widget:"size=58"|field }}</div>
                <div class="span-6">{{ form.country|field }}</div>
                <div class="span-6">{{ form.address|field_widget:"size=58"|field }}</div>
                <div class="span-6 cms">
                    <div id="google-guess" style="display: none">
                        <p>Google says:</p>
                        <ul></ul>
                    </div>
                </div>
                {% if form.billing_notes %}
                <div class="span-6">{{ form.billing_notes|field }}</div>
                {% endif %}
                <div class="span-6">{{ form.code_conduct|field }}</div>
            </fieldset>
            <fieldset class="border">
                <button value="" name="" type="submit">Place Order &rarr;</button>
            </fieldset>
            <script type="text/javascript">
                $('#id_payment').change(function(e) {
                    var method = $(this).val();
                    var feedback = $('#id_payment_cc');
                    if(method == 'cc') {
                        feedback.show();
                    }
                    else {
                        feedback.hide();
                    }
                })
            </script>
        </form>
        
        
        <script type="text/javascript">
            function _geoCode() {
                var address = $('#id_address').val();
                var region = $('#id_country').val();
                var url = "{% url assopy-geocode %}";
                $.getJSON(
                    url,
                    {
                        'address': address,
                        'region': region
                    },
                    function(data, textStatus, xhr) {
                        var results = []
                        if(data.status == 'OK') {
                            $.each(data.results, function(ix, value) {
                                results.push(value.formatted_address);
                            })
                        }
                        var output = $('#google-guess');
                        $('ul', output).remove();
                        if(results.length > 0) {
                            var ul = $('<ul>');
                            $.each(results, function(ix, value) {
                                ul.append($('<li><a href="#">' + value + '</a></li>'));
                            })
                            $('a', ul).click(function(e) {
                                e.preventDefault()
                                var address = $(this).html();
                                $('#id_address').val(address.substr(0, address.lastIndexOf(',')));
                            })
                            output.append(ul);
                            if(!output.is(':visible'))
                                output.slideDown(1000);
                        }
                        else {
                            output.slideUp('fast');
                        }
                    }
                );
            }
            $('#id_country').change(_geoCode);
            $('#id_address').change(_geoCode);
        </script>
    </div>
{% endblock %}

