<div  class="section cal">                                                                                                                               
    <h3>Calendario</h3>
    
    <ul>                                
        <li> 
            <h4><span>1</span> Feb</h4>
            <p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>. Augue neque tempor enim, et mattis justo nibh eu elit.</p>
        </li>
        <li> 
            <h4><span>28</span> Mar</h4>
            <p>Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.</p>
        </li>
        
        <li> 
            <h4><span>15</span> Apr</h4>
            <p>Etiam sit amet elit vitae arcu interdum ullamcorper. Et mattis justo nibh eu elit.</p>
        </li>
        
        <li> 
            <h4><span>5</span> Mag</h4>
            <p>Nullam ultrices, et mattis justo nibh eu elit.</p>
        </li>                                                                                                
    </ul>                                                            
<!-- /cal -->
</div>
