<div class="side-box newsletter">
  <h2>Newsletter</h2>
  <p>
    Se vuoi essere informato sulle prossime edizioni di PyCon e sulle altre
    attività dell'associazione iscriviti alla newsletter:
  </p>
  <form action="http://groups.google.com/group/python-italia-aps/boxsubscribe">
    <label>
      Email: <input type="text" name="email" />
    </label>
    <input type="submit" name="sub" value="Iscriviti" />
  </form>
  <div class="google-link">
    <a href="http://groups.google.com/group/python-italia-aps">powered by google groups</a>
  </div>
</div>

