<div class="section newsletter">
    <h3>Newsletter</h3>
    <p>Se vuoi essere informato sulle prossime edizioni di PyCon e sulle altre attività dell'associazione iscriviti alla newsletter:</p>
    <form action="http://groups.google.com/group/python-italia-aps/boxsubscribe">
        <div>
            <label class="inline"><input type="text" name="email"  onfocus="if(this.value=='Your email address') {this.value=''; return true;}" value="Your email address" size="20"/></label>&nbsp;<button type="submit" value="" class="mini">Iscriviti</button>
        </div>
    </form>
    <div class="google">
        <a href="http://groups.google.com/group/python-italia-aps">Powered by Google Groups</a>
    </div>
</div>
