<div class="side-box newsletter">
    <h3>Newsletter</h3>
    <p>Se vuoi essere informato sulle prossime edizioni di PyCon e sulle altre attività dell'associazione iscriviti alla newsletter:</p>
    <form action="http://groups.google.com/group/python-italia-aps/boxsubscribe">
        <div>
            <label>Email: <input type="text" name="email" /></label>
            <input type="submit" name="sub" value="Iscriviti" />
        </div>
    </form>
    <div class="google-link">
        <a href="http://groups.google.com/group/python-italia-aps">powered by google groups</a>
    </div>
</div>
