{% extends "assopy/base.html" %}
{% load p3 assopy_tags i18n %}

{% block BODY_CLASS %}wizard{% endblock %}

{% block ASSOPY_MAIN_CONTENT %}
    <h1>{% trans "Buy tickets (1 of 2)" %}</h1>

    <div class="page-summary">
        <p>{% trans "Select conference tickets and additional services." %}</p>
    </div>

    <div>
        {% if not account_type %}
        <section class="notice">
            {% url p3-cart as u %}
            <p>{% blocktrans %}In order to buy the tickets you have to <a href="/accounts/login/?next={{ u }}">log in</a></p>{% endblocktrans %}
        </section>
        {% endif %}

        {{ form|form_errors }}
        <form id="form-cart" action="{% url p3-cart %}" method="post"{% if not account_type %} class="disabled"{% endif%}>{% csrf_token %}
            <fieldset class="order-type">
                <legend>{% trans "Select billing type" %}</legend>
                <p>{% trans "Please, select the entity you are purchasing tickets for:" %}</p>
                {{ form.order_type|field }}
                <p>{% blocktrans %}Invoices for personal purchases will be explicitly marked as "non tax-deductible".{% endblocktrans %}</p>
            </fieldset>
            <fieldset class="tickets">
                <legend>{% trans "Conference tickets" %}</legend>
                <p class="vat-info">{% trans "All prices are 20% VAT included." %}</p>
                <div class="cms">    
                    <table id="conference-tickets">
                        <col />

                        <col style="background: #E1DBC5" />
                        <col style="background: #E1DBC5" />

                        <col />
                        <col />

                        <col style="background: #E1DBC5" />
                        <col style="background: #E1DBC5" />

                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="2">{% trans "Student" %}</th>
                                <th colspan="2">{% trans "Personal" %}</th>
                                <th colspan="2">{% trans "Business" %}</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                {% render_cart_row "TEF" form fares %}
                            </tr> 
                            <tr> 
                                {% render_cart_row "TES" form fares %}
                            </tr> 
                            <tr> 
                                {% render_cart_row "TED" form fares %}
                            </tr> 
    {% comment %}
                            <tr> 
                                <td>Ticket Regular - Standard</td> 
                                {% render_cart_row "TRS" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Regular - Full Access</td> 
                                {% render_cart_row "TRF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Regular - Daily Pass</td> 
                                {% render_cart_row "TRD" form fares %}
                            </tr> 

                            <tr> 
                                <td>Ticket OnDesk - Standard</td> 
                                {% render_cart_row "TDS" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket OnDesk - Full Access</td> 
                                {% render_cart_row "TDF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket OnDesk - Daily Pass</td> 
                                {% render_cart_row "TDD" form fares %}
                            </tr> 

                            <tr> 
                                <td>Ticket OnDesk - Single Training</td> 
                                {% render_cart_row "TDT" form fares %}
                            </tr> 
    {% endcomment %}
                        </tbody>
                    </table>
                <!-- /cms -->
                </div>
                
                <div class="total"> 
                    {% trans "Conference tickets total (VAT inc.)" %}: <b>€ 0</b>
                </div> 
            </fieldset>
            {% comment %}
            <fieldset class="tickets">
                
                <legend>PyEvents</legend>
                
                <p>{Sample text} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare 
                et suscipit orci luctus.</p>
                
                <div class="cms">   
        
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Event name" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="toggle">PyFiorentina</span>
                                    <span class="more">The only dinner that any self-respecting Gourmet doesn't want to miss, set in one of the best steak houses in the historic center of Florence where you can taste our famous bistecca alla fiorentina. If you don't like to drink or you are vegetarian... Come anyway, you won't regret it!</span>
                                </td>
                                <td id="fare-XXX1" data-amount="30">€ 30</td>
                                <td><input type="text" size="2" name="XXX1" /></td>
                            </tr>
                        </tbody>
                    </table>

                <!-- /cms -->
                </div>                
        
                <div class="total"> 
                    PyEvents total (VAT inc.): <b>€ 0</b>
                </div> 

            </fieldset>
            {% endcomment %}

            <fieldset class="tickets">
                <legend>{% trans "Other Goodies" %}</legend>
                <p>{% trans "Other Goodies intro" %}</p>
                <div class="cms">
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Goodies name" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in fares_ordered %}
                            {% render_og_cart_row f %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="total"> 
                    {% trans "Other Goodies total (VAT inc.)" %}: <b>€ 0</b> 
                </div> 
            </fieldset>

            <fieldset class="tickets">
                <legend>{% trans "Partner Program" %}</legend>
                <p>{% trans "Partner Program intro" %}</p>
                <div class="cms">                    
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Event name" %}</th>
                                <th>{% trans "Event date" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Deposit" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in fares_ordered %}
                            {% render_pp_cart_row f %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="total"> 
                    {% trans "Partner Program total (VAT inc.)" %}: <b>€ 0</b> 
                </div> 
            </fieldset>

            <fieldset class="tickets coupon">
                <legend>{% trans "Coupon code" %}</legend>
                <div class="cms">                    
                    {{ form.coupon|field }} <span></span>
                    <hr />
                </div>
                <div class="total"> 
                    {% trans "Save (VAT inc.)" %}: <b>€ 0</b> 
                </div> 
            </fieldset>

            <fieldset class="tickets">
                <div class="total grand"> 
                    {% trans "Grand total (VAT inc.)" %}: <b>€ 0</b> 
                </div> 
            </fieldset>

            <fieldset class="border">
                <button value="" name="" type="submit">{% trans "Proceed to Checkout &rarr;" %}</button>
            </fieldset>
        </form>
        <script type="text/javascript">
            {% if not account_type %}
                $('#form-cart input').attr('disabled', true);
                $('#form-cart select').attr('disabled', true);
            {% else %}
            (function() {
                function calcTotal() {
                    var totals = [0, 0, 0];
                    var form = $('#form-cart');
                    $('fieldset.tickets', form).each(function(ix, e) {
                        if(ix >= totals.length)
                            return;
                        $('input', this).each(function() {
                            if(!$(this).attr('disabled')) {
                                var x = Number(this.value);
                                if(!isNaN(x)) {
                                    var fare = Number($('#fare-' + this.name).attr('data-amount'));
                                    if(!isNaN(fare))
                                        totals[ix] += x * fare;
                                }
                            }
                        });
                    });
                    $('.total', form).each(function(ix, e) {
                        if(ix<totals.length) {
                            var e = $(this);
                            var t = totals[ix];
                            $('b', e).html('€ ' + t);
                        }
                    });
                    form.ajaxSubmit({
                        url: '{% url p3-calculator %}',
                        dataType: 'json',
                        success: function(data, text, jqHXR) {
                            var feedback = $('.coupon .cms span');
                            feedback.text(data.coupon != 0 ? 'coupon accepted' : '');
                            $('.coupon .total b', form).html('€ ' + data.coupon);
                            $('.grand.total b', form).html('€ ' + data.total);
                        }
                    });
                }
                $('#form-cart input')
                    .change(calcTotal)
                    .not('[name=coupon]')
                    .keypress(function(e) {
                        if((e.which < 48 || e.which > 57) && e.which != 13 && e.which != 0 && e.which != 8) {
                            e.preventDefault()
                        }
                    });
                function _enableFares(personal) {
                    $('#conference-tickets td.fare').each(function() {
                        var td = $(this);
                        var fare_code = td.attr('data-fare');
                        var e = ((fare_code.substr(3, 1) == 'C' && !personal) || (fare_code.substr(3, 1) != 'C' && personal));
                        var inputs = $('input', td);
                        if(e) {
                            td.removeClass('disabled');
                            inputs.attr('disabled', false);
                        }
                        else {
                            td.addClass('disabled');
                            inputs.attr('disabled', true);
                        }
                    });
                }
                $('#id_order_type').change(function() {
                    _enableFares($(this).val() != 'deductible');
                    calcTotal();
                });

                if(document.location.search.substr(0, 3) == '?f=') {
                    var highligh_fare = document.location.search.substr(3);
                    var i = $('td[data-fare=' + highligh_fare + '] input');
                    if(!i.val())
                        i.val(1);
                    i.addClass('selected')
                        .focus()
                        .parents('tr')
                        .addClass('selected');
                    i.eq(0)[0].scrollIntoView();
                }

                $('#id_order_type').change();
            })();
            {% endif %}
        </script>
    </div>
{% endblock %}

