{% extends "assopy/base.html" %}
{% load p3 assopy_tags i18n %}

{% block BODY_CLASS %}wizard{% endblock %}


{% block ASSOPY_MAIN_CONTENT %}

    <h1>Buy tickets (1 of 2)</h1>

    <div class="page-summary">
        <p>Select conference tickets and additional services.</p>    
    </div>
        
    
        {% if not account_type %}
        <section class="notice">
            <p>In order to buy the tickets you have to <a href="/accounts/login/?next={% url p3-cart %}">log in</a></p>
        </section>
        {% endif %}

        {{ form|form_errors }}
        <form id="form-cart" action="{% url p3-cart %}" method="post"{% if not account_type %} class="disabled"{% endif%}>{% csrf_token %}
            <fieldset>
 
                <legend>Conference tickets</legend>
                
                <p>{Sample text} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare 
                et suscipit orci luctus.</p>

                {{ form.order_type|field }}

                <div class="cms">    
                    <table id="conference-tickets">
                        <col />

                        <col style="background: #E1DBC5" />
                        <col style="background: #E1DBC5" />

                        <col />
                        <col />

                        <col style="background: #E1DBC5" />
                        <col style="background: #E1DBC5" />

                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="2">{% trans "Student" %}</th>
                                <th colspan="2">{% trans "Personal" %}</th>
                                <th colspan="2">{% trans "Businness" %}</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                <td>Ticket Early - Standard</td> 
                                {% render_cart_row "TES" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Early - Full Access</td> 
                                {% render_cart_row "TEF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Early - Daily Pass</td> 
                                {% render_cart_row "TED" form fares %}
                            </tr> 
    {% comment %}
                            <tr> 
                                <td>Ticket Regular - Standard</td> 
                                {% render_cart_row "TRS" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Regular - Full Access</td> 
                                {% render_cart_row "TRF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Regular - Daily Pass</td> 
                                {% render_cart_row "TRD" form fares %}
                            </tr> 

                            <tr> 
                                <td>Ticket OnDesk - Standard</td> 
                                {% render_cart_row "TDS" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket OnDesk - Full Access</td> 
                                {% render_cart_row "TDF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket OnDesk - Daily Pass</td> 
                                {% render_cart_row "TDD" form fares %}
                            </tr> 

                            <tr> 
                                <td>Ticket OnDesk - Single Training</td> 
                                {% render_cart_row "TDT" form fares %}
                            </tr> 
    {% endcomment %}
                        </tbody>
                    </table>
                <!-- /cms -->
                </div>
                
                <div class="total"> 
                    Conference tickets total (VAT inc.): <b>€ 0</b>
                </div> 

            </fieldset>
    
            <fieldset>
                
                <legend>PyEvents</legend>
                
                <p>{Sample text} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare 
                et suscipit orci luctus.</p>
                
                <div class="cms">   
        
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Event name" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="toggle">PyFiorentina</span>
                                    <span class="more">The only dinner that any self-respecting Gourmet doesn't want to miss, set in one of the best steak houses in the historic center of Florence where you can taste our famous bistecca alla fiorentina. If you don't like to drink or you are vegetarian... Come anyway, you won't regret it!</span>
                                </td>
                                <td id="fare-XXX1" data-amount="30">€ 30</td>
                                <td><input type="text" size="2" name="XXX1" /></td>
                            </tr>
                        </tbody>
                    </table>

                <!-- /cms -->
                </div>                
        
                <div class="total"> 
                    PyEvents total (VAT inc.): <b>€ 0</b>
                </div> 

            </fieldset>

            <fieldset>
                            
                <legend>Partner Program</legend>

                <p>{Sample text} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare 
                et suscipit orci luctus.</p>
                
                <div class="cms">                    
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Event name" %}</th>
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Q.ty" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cioccolatai a Firenze</td>
                                <td>Mon, 20 Jun</td>
                                <td>€ 80</td>
                                <td><input type="text" size="2" /></td>
                            </tr>
                            <tr>
                                <td>Cioccolatai a Firenze</td>
                                <td>Wed, 22 Jun</td>
                                <td>€ 80</td>
                                <td><input type="text" size="2" /></td>
                            </tr>
                            <tr>
                                <td>Uffizi</td>
                                <td>Wed, 22 Jun</td>
                                <td>€ 40</td>
                                <td><input type="text" size="2" /></td>
                            </tr>
                        </tbody>
                    </table>
                <!-- /cms -->
                </div>

                <div class="total"> 
                    Partner Program total (VAT inc.): <b>€ 0</b> 
                </div> 

                <div class="total grand"> 
                    Grand total (VAT inc.): <b>€ 0</b> 
                </div> 
        
            </fieldset>

            <fieldset class="border">
                <button value=""  name="" type="submit">Proceed to Checkout &rarr;</button>
            </fieldset>
        </form>
        <script type="text/javascript">
            {% if not account_type %}
                $('#form-cart input').attr('disabled', true);
                $('#form-cart select').attr('disabled', true);
            {% else %}
            function calcTotal() {
                var totals = [ 0, 0, 0];
                $('#form-cart fieldset').each(function(ix, e) {
                    if(ix >= totals.length)
                        return;
                    $('input', this).each(function() {
                        if(!$(this).attr('disabled')) {
                            var x = Number(this.value);
                            if(!isNaN(x)) {
                                var fare = Number($('#fare-' + this.name).attr('data-amount'));
                                if(!isNaN(fare))
                                    totals[ix] += x * fare;
                            }
                        }
                    });
                });
                $('#form-cart .total').each(function(ix, e) {
                    var e = $(this);
                    if(e.hasClass('grand')) {
                        var t = totals[0] + totals[1] + totals[2];
                    }
                    else {
                        var t = totals[ix];
                    }
                    $('b', e).html('€ ' + t);
                })
            }
            $('#form-cart input')
                .change(calcTotal)
                .keypress(function(e) {
                    if((e.which < 48 || e.which > 57) && e.which != 13) {
                        e.preventDefault()
                    }
                });
            function _enableFares(personal) {
                $('#conference-tickets td.fare').each(function() {
                    var td = $(this);
                    var fare_code = td.attr('data-fare');
                    var e = ((fare_code[3] == 'C' && !personal) || (fare_code[3] != 'C' && personal));
                    var inputs = $('input', td);
                    if(e) {
                        td.removeClass('disabled');
                        inputs.attr('disabled', false);
                    }
                    else {
                        td.addClass('disabled');
                        inputs.attr('disabled', true);
                    }
                });
            }
            $('#id_order_type').change(function() {
                _enableFares($(this).val() != 'deductible');
                calcTotal();
            });
            $('#id_order_type').change();
            {% endif %}
        </script>
    </div>
{% endblock %}

