{% extends "assopy/base.html" %}
{% load p3 assopy_tags i18n %}
{% block ASSOPY_MAIN_CONTENT %}
    <h1 class="steps"><span class="active">Step 1 - Order</span><span>Step 2 - Checkout</span></h1>
    <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare et suscipit orci luctus.</section>
    <div class="cms">
        {% if not account_type %}
        <section class="notice">
            <p>In order to buy the tickets you have to <a href="/accounts/login/?next={% url p3-cart %}">log in</a></p>
        </section>
        {% endif %}
        {{ form|form_errors }}
        <form id="form-cart" action="{% url p3-cart %}" method="post">{% csrf_token %}
            <fieldset>
                <div class="tickets-table">
                    <h2>Conference tickets</h2>
                    <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare et suscipit orci luctus.</section>
                    <table>
                        <col />

                        <col {% if account_type != "p" %} style="background: #2d3b66"{% endif %}/>
                        <col {% if account_type != "p" %} style="background: #2d3b66"{% endif %}/>
                        
                        <col {% if account_type != "p" %} style="background: #2d3b66"{% endif %}/>
                        <col {% if account_type != "p" %} style="background: #2d3b66"{% endif %}/>
                        
                        <col {% if account_type != "c" %} style="background: #2d3b66"{% endif %}/>
                        <col {% if account_type != "c" %} style="background: #2d3b66"{% endif %}/>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="2">{% trans "Student" %}</th>
                                <th colspan="2">{% trans "Personal" %}</th>
                                <th colspan="2">{% trans "Businness" %}</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Quantity" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Quantity" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Quantity" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                <td>Ticket Early - Standard</td> 
                                {% render_cart_row "TES" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Early - Full Access</td> 
                                {% render_cart_row "TEF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Early - Daily Pass</td> 
                                {% render_cart_row "TED" form fares %}
                            </tr> 
    {% comment %}
                            <tr> 
                                <td>Ticket Regular - Standard</td> 
                                {% render_cart_row "TRS" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Regular - Full Access</td> 
                                {% render_cart_row "TRF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket Regular - Daily Pass</td> 
                                {% render_cart_row "TRD" form fares %}
                            </tr> 

                            <tr> 
                                <td>Ticket OnDesk - Standard</td> 
                                {% render_cart_row "TDS" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket OnDesk - Full Access</td> 
                                {% render_cart_row "TDF" form fares %}
                            </tr> 
                            <tr> 
                                <td>Ticket OnDesk - Daily Pass</td> 
                                {% render_cart_row "TDD" form fares %}
                            </tr> 

                            <tr> 
                                <td>Ticket OnDesk - Single Training</td> 
                                {% render_cart_row "TDT" form fares %}
                            </tr> 
    {% endcomment %}
                        </tbody>
                    </table>
                    <div class="total"> 
                        Order total (VAT inc.): <b>€ 0</b><br />
                    </div> 
                </div> 
                <div class="events-table"> 
                    <h2>PyEvents</h2>
                    <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare et suscipit orci luctus.</section>
                    <table>
                        <col />
                        <col />
                        <col />
                        <thead>
                            <tr>
                                <th>{% trans "Event name" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Quantity" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="toggle">PyFiorentina</span>
                                    <p>The only dinner that any self-respecting Gourmet doesn't want to miss, set in one of the best steak houses in the historic center of Florence where you can taste our famous bistecca alla fiorentina.

If you don't like to drink or you are vegetarian... Come anyway, you won't regret it!</p>
                                </td>
                                <td>€ 30:</td>
                                <td><input size="2" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="total"> 
                        Order total (VAT inc.): <b>€ 0</b><br />
                    </div> 
                </div> 
                <div class="pp-table"> 
                    <h2>Partner Program</h2>
                    <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus orci at lectus ornare et suscipit orci luctus.</section>
                    <table>
                        <col />
                        <col />
                        <col />
                        <thead>
                            <tr>
                                <th>{% trans "Event name" %}</th>
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Quantity" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cioccolatai a Firenze</td>
                                <td>Mon, 20 Jun</td>
                                <td>€ 80:</td>
                                <td><input size="2" /></td>
                            </tr>
                            <tr>
                                <td>Cioccolatai a Firenze</td>
                                <td>Wed, 22 Jun</td>
                                <td>€ 80:</td>
                                <td><input size="2" /></td>
                            </tr>
                            <tr>
                                <td>Uffizi</td>
                                <td>Wed, 22 Jun</td>
                                <td>€ 40:</td>
                                <td><input size="2" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="total"> 
                        Order total (VAT inc.): <b>€ 0</b><br />
                    </div> 
                </div> 
            </fieldset>
            <div class="grand-total"> 
                Grand total (VAT inc.): <b>€ 0</b><br />
            </div> 
            <fieldset class="border">
                <button type="submit">checkout</button>
            </fieldset>
        </form>
        <script type="text/javascript">
            function calcTotal() {
                var total = 0;
                $('#form-cart input').each(function() {
                    var x = Number(this.value);
                    if(!isNaN(x)) {
                        var fare = Number($('#fare-' + this.name).html());
                        total += x * fare;
                    }
                });
                $('#form-cart .total b').html('€ ' + total);
            }
            $('#form-cart input').change(calcTotal);
            calcTotal();
        </script>
    </div>
{% endblock %}

