{% extends "p3/base.html" %}
{% load pages_tags markup p3 conference %}

{% block MAIN_CONTENT %}
<div class="column span-12">
    <div class="page clearfix{% block PAGE__CLASS %} border{% endblock %}">

        <h1>{% show_content current_page "title" %}</h1>

        <div class="column{% block PAGE__CLASS_MAIN_COLUMN %} span-8{% endblock %}">
            <div class="page-summary">
                {% placeholder subtitle with markItUpMarkdown as text %}
                {{ text|markdown }}
            </div>
            <div class="cms">
                {% placeholder text with markItUpMarkdown as text %}
                {% render_page_template text as m %}
                {{ m|markdown }}
            </div>
        </div>

        {% block PAGE__AFTER_MAIN_COLUMN %}
        <div class="column span-4 last">
            <div id="sidebar" class="cms">
                {% block PAGE_SIDEBAR_TOP %}
                {% box_didyouknow %}
                {% endblock %}
                {% block PAGE_SIDEBAR %}
                {% placeholder right-column parsed %}
                {% endblock %}
                {% box_newsletter %}
            <!-- /sidebar -->
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
