{% extends "p3/base.html" %}
{% load pages_tags %}
{% load markup %}

{% block MAIN_CONTENT %}
<div class="column span-12">
    <div class="column {% block PAGE__CLASS_MAIN_COLUMN %}span-12 last{% endblock %}">
        <div class="entry">
            {% block PAGE_ENTRY %}
            <h1>{% show_content current_page "title" %}</h1>
            
            <div class="subtitle">
              {% placeholder subtitle with markItUpMarkdown as text %}
              {{ text|markdown }}
            </div>

            <div>
              {% placeholder text with markItUpMarkdown as text %}
              {{ text|markdown }}
            </div>
            {% endblock %}
        </div>  
    </div>   
    {% block PAGE__AFTER_MAIN_COLUMN %}{% endblock %}
</div>   
{% endblock %}
