{% extends "p3/base.html" %}
{% load i18n assopy_tags %}
{% block MAIN_CONTENT %}
<style>
#hotel-report table {
    width: 900px;
}
#hotel-report table td {
    padding: 5px 0 5px 5px;
}
</style>
<div id="hotel-report" class="cms">
    <h1>{% trans "Stanze prenotate" %}</h1>
    {% for type, orders in rooms %}
    <table>
        <tr>
            <th>{% trans "Room Type" %}</th>
            <th>{% trans "Check in" %}</th>
            <th>{% trans "Check out" %}</th>
            <th>{% trans "Person #1" %}</th>
            <th>{% trans "Person #2" %}</th>
            <th>{% trans "Person #3" %}</th>
            <th>{% trans "Person #4" %}</th>
        </tr>
        {% for _, tickets in orders %}
        <tr class="">
            <td>{{ type }}</td>
            <td>{{ tickets.0.checkin }}</td>
            <td>{{ tickets.0.checkout }}</td>
            <td>
                {% with tickets.0 as t %}
                {% if t.document %}
                <a href="{{ t.document.url }}">{{ t.ticket.name }}</a>
                {% else %}
                {{ t.ticket.name }}
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% with tickets.1 as t %}
                {% if t.document %}
                <a href="{{ t.document.url }}">{{ t.ticket.name }}</a>
                {% else %}
                {{ t.ticket.name }}
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% with tickets.2 as t %}
                {% if t.document %}
                <a href="{{ t.document.url }}">{{ t.ticket.name }}</a>
                {% else %}
                {{ t.ticket.name }}
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% with tickets.3 as t %}
                {% if t.document %}
                <a href="{{ t.document.url }}">{{ t.ticket.name }}</a>
                {% else %}
                {{ t.ticket.name }}
                {% endif %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    <h1>{% trans "Posti letto in room sharing" %}</h1>
    {% for type, periods in beds %}
    <table>
        <tr>
            <th>{% trans "Room Type" %}</th>
            <th>{% trans "Check in" %}</th>
            <th>{% trans "Check out" %}</th>
            <th>{% trans "Quantity" %}</th>
        </tr>
        {% for period, tickets in periods %}
        <tr class="">
            <td>{{ type }}</td>
            <td>{{ period.0 }}</td>
            <td>{{ period.1 }}</td>
            <td>{{ tickets|length }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
