{% extends "p3/base.html" %}
{% load pages_tags %}
{% load markup %}
{% load p3 %}
{% block MAIN_CONTENT %}
<!--
#############
12 COLS LEFT
#############
-->
<div class="column span-12">
            
    <div id="intro">
        <p>{% placeholder mission with markItUpMarkdown %}</p>                
        <img src="/static/p3/i/gallery.jpg" width="820" height="340" alt="*" usemap="#gallery" />                    
        <!-- Beginning of Client Side Image Map -->
        <map name="gallery">
          <area shape="poly" coords="82,133,106,317,261,299,236,112,80,134,80,134" href="#"  alt="Talk">
          <area shape="poly" coords="262,122,253,241,263,298,250,302,400,314,414,134,261,122" href="#"  alt="Networking">
          <area shape="poly" coords="403,126,407,132,414,131,409,212,415,307,568,299,555,117,405,127" href="#"  alt="PyEvents">
          <area shape="poly" coords="559,131,562,196,569,297,564,299,566,313,716,308,711,126,559,130" href="#"  alt="Recruiting">
        </map>
        <!-- End of Client Side Image Map -->    
    <!-- /intro -->
    </div>   

    <div class="clear">

        <div class="column span-6">
            <div id="guido">                                                
                <p>
                    Questa edizione di PyCon Italia sarà arricchita
                    dalla presenza di un ospite d&#8217;eccezione:
                    <b><a href="http://it.wikipedia.org/wiki/Guido_van_Rossum">Guido van Rossum</a></b>,
                    l&#8217;ideatore di Python, che terrà un keynote
                    sulla nascita del linguaggio.
                </p>            
            </div>  
        </div>   

        <div class="column span-6 last">
            {% latest_news 5 as news %}
            {% if news %}
            <div id="cal" class="_">
                
                <h2>Calendario</h2>
                                                
        
                    {% with news as others %}
                    <div id="others">
                        <ul>
                            {% for n in others %}
                            <li>
                              <span>{{ n.0|date:"d" }}&nbsp;{{ n.0|date:"M" }}</span>
                              {{ n.1|safe }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endwith %}

                        
            </div>  
            {% endif %}
        <!-- /column -->
        </div>   

    <!-- /clear -->
    </div>

    <div class="column span-4">

        <div id="extra" class="box">
            <h2>Ipsum</h2>
            <p>{% placeholder text with markItUpMarkdown as text %} {{ text|markdown }}</p>
            <div class="more">
                <a href="/pycon3/conferenza">Continua &rarr;</a>
            </div>
 
        </div>  

    <!-- /column -->
    </div>   


    <div class="column span-4">
      <div id="blog" class="box">
        <h2>Dal blog</h2>
        {% last_blog_post as post %}
        <h3>{{ post_content.headline }}</h3>
        <p>{{ post_content.summary|truncatewords_html:50|safe }}</p>
        <div class="more">
          <a href="{{ post_content.get_absolute_url }}">Continua &rarr;</a>
        </div>
      </div>  
    </div>   



    <div class="column span-4 last">
    
        <div id="quotes" class="box">
            
            <h2>Dicono di noi</h2>
          
            <ul>   
                <li class="clear">                    
                    <q>&ldquo;PyCon Italia is the conference closest and dearest to my heart out of the many I regularly attend.&rdquo;
                    </q>
                    <p><img src="/static/p3/i/q-alex.jpg" width="40" height="40" alt="*" />Alex Martelli <span>Google Inc.</span>
                    </p>                    
                </li>
                
                <li class="clear">
                    <q>&ldquo;PyCon Italia is a great way to meet the top coders in Italy, talk with major vendors, and either recruit or be recruited.&rdquo;
                    </q>
                    <p><img src="/static/p3/i/q-raymond.jpg" width="40" height="40" alt="*" />Raymond Hettinger <span>Python&#8217;s Core developer</span>
                    </p>                    
                </li>

                <li class="clear">
                    <q>&ldquo;The conference locations were great, the organizers went above and beyond to make things run smoothly, and the food truly transcended the conference food that I'm used to.&rdquo;                    
                    </q>
                    <p><img src="/static/p3/i/q-brian.jpg" width="40" height="40" alt="*" />Brian Fitzpatrick <span>Google Inc.</span>
                    </p>                    
                </li>

            </ul>
                        
        <!-- /box -->
        </div>        
                
                
    <!-- /column-->
    </div>

<!--
#############
/12 COLS LEFT
#############
-->
</div>   
{% endblock %}
