{% extends "p3/base.html" %}
{% load pages_tags %}
{% load markup %}
{% load p3 %}
{% block MAIN_CONTENT %}
<!--
#############
12 COLS LEFT
#############
-->
<div class="column span-12">
            
    <div id="intro">
        <p>{% placeholder mission with markItUpMarkdown %}</p>                
        <img src="/static/p3/i/gallery.jpg" width="820" height="340" alt="*" usemap="#gallery" />        
        <map name="gallery">
         <area shape="poly"  coords="50,50,25" href="" />
         <area shape="poly" coords="50,50,100,100" href="/" />
         <area shape="poly" coords="0,0,100,100" href="/docs" />
        </map>    
    <!-- /intro -->
    </div>   

    <div class="clear">

        <div class="column span-6">
     
            <div id="guido">                                                
                    <p>
                        Questa edizione di PyCon Italia sarà arricchita dalla presenza di un ospite d&#8217;eccezione: <b>Guido van Rossum</b>, 
                        l&#8217;ideatore di Python, che terrà un keynote su gli ultimi sviluppi del linguaggio.
                    </p>            
            <!-- /guido -->
            </div>  

        <!-- /column -->

        </div>   

        <div class="column span-6 last">
            {% latest_news 5 as news %}
            {% if news %}
            <div id="cal" class="_">
                
                <h2>Calendario</h2>
                                                
                <div class="clear">
                    {% with news.0 as upcoming %}
                    <div id="upcoming">
                        <span class="d">{{ upcoming.0|date:"d" }}</span>
                        <span class="m">{{ upcoming.0|date:"M" }}</span>
                        <p>{{ upcoming.1|safe }}</p>
                    </div>
                    {% endwith %}

                    {% with news|slice:"1:" as others %}
                    <div id="others">
                        <ul>
                            {% for n in others %}
                            <li>
                              <span class="d">{{ n.0|date:"d" }}</span>
                              <span class="m">{{ n.0|date:"M" }}</span>
                              {{ n.1|safe }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endwith %}
                </div>
                        
            </div>  
            {% endif %}
        <!-- /column -->
        </div>   

    <!-- /clear -->
    </div>

    <div class="column span-4">
 

        <div id="ipsum" class="box">
        
            <h2>Ipsum</h2>

            <p>{% placeholder text with markItUpMarkdown as text %} {{ text|markdown }}</p>

            <div class="more">
                <a href="/pycon3/conferenza">
                  <img src="/static/p3/i/more-button-1.gif" alt="More"  width="100" height="30" />
                </a>
            </div>
            
        <!-- /box -->
        </div>  

    <!-- /column -->
    </div>   


    <div class="column span-4">

        <div id="blog" class="box">
        
            <h2>Dal blog</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. (...)</p>
                                         
               <div class="more">
                <a href="./sample-page.html"><img src="/static/p3/i/more-button-2.gif" alt="Continua" width="100" height="30"/></a>
            </div>
                                    
        <!-- /box -->
        </div>  
   

    <!-- /column-->                
    </div>   



    <div class="column span-4 last">
    
        <div id="quotes" class="box">
            
            <h2>Dicono di noi</h2>
          
            <ul>   
                <li class="clear">                    
                    <q>&ldquo;PyCon Italia is the conference closest and dearest to my heart out of the many I regularly attend.&rdquo;
                    </q>
                    <p><img src="/static/p3/i/q-alex.jpg" width="40" height="40" alt="*" />Alex Martelli <span>Google Inc.</span>
                    </p>                    
                </li>
                
                <li class="clear">
                    <q>&ldquo;PyCon Italia is a great way to meet the top coders in Italy, talk with major vendors, and either recruit or be recruited.&rdquo;
                    </q>
                    <p><img src="/static/p3/i/q-raymond.jpg" width="40" height="40" alt="*" />Raymond Hettinger <span>Python&#8217;s Core developer</span>
                    </p>                    
                </li>

                <li class="clear">
                    <q>&ldquo;The conference locations were great, the organizers went above and beyond to make things run smoothly, and the food truly transcended the conference food that I'm used to.&rdquo;                    
                    </q>
                    <p><img src="/static/p3/i/q-brian.jpg" width="40" height="40" alt="*" />Brian Fitzpatrick <span>Google Inc.</span>
                    </p>                    
                </li>

            </ul>
                        
        <!-- /box -->
        </div>        
                
                
    <!-- /column-->
    </div>

<!--
#############
/12 COLS LEFT
#############
-->
</div>   
{% endblock %}
