{% extends "p3/base.html" %}
{% load conference p3 %}
{% block EXTRA_HEAD %}
<script type="text/javascript" src="{{ STATIC_URL }}p5/flowplayer/flowplayer-3.2.11.min.js"></script>
<style>
#live h1 {
    text-align: center;
}
#live .track {
    height: 350px;
}
#live h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}
#live .title {
    margin: 10px 0;
    text-transform: none;
    font-size: 24px;
}
#live .metadata > div {
    margin: 15px 0;
}
#live .speakers h4 {
    margin-bottom: 20px;
}
#live .speakers:after {
    content: "";
    display: block;
    clear: both;
}
#live .speaker {
    float: left;
    margin-right: 20px;
}
#live .speaker img {
    height: 85px;
}
#live .video {
    clear: both;
    height: 380px;
}
#live .time {
    font-weight: bold;
}
#live .time img {
    vertical-align: middle;
}
#live .next h4 {
    margin-top: 40px;
}
#live .next > h3 {
    margin: 10px 0;
    font-size: 18px;
}
</style>
    {% endblock %}
    {% block MAIN_CONTENT %}
<div id="live" class="cms">
    <h1>Pycon {{ tracks.0.schedule.date.year }} - Now Live!</h1>
    <div style="text-align: center;">
        <h2>Track 1</h2>
        <iframe width="640" height="360" src="https://live.top-ix.org/pycon5/iframe1.html" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="text-align: center;">
        <h2>Track 2</h2>
        <iframe width="640" height="360" src="https://live.top-ix.org/pycon5/iframe2.html" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="text-align: center;">
        <h3>Track 3</h3>
        <iframe width="640" height="360" src="https://live.top-ix.org/pycon5/iframe3.html" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
