{% extends "p3/base.html" %}
{% load cache microblog conference %}

{% block TEASER %}
<div class="container">
    <div class="intro clear">
        <p><b>EuroPython</b> is the official European conference about the <b>Python programming language</b>. It is aimed at everyone in the Python community, of all skill levels, both users and&nbsp;programmers.</p>
    </div>
    {% cache 600 deadline %}
    {% latest_deadlines 1 as l %}
    <div class="cal">
        <div class="deadline clearfix">
            <h3><span>{{ l.0.date|date:"d" }}</span><br />{{ l.0.date|date:"b" }}</h3>
            <div>
                <h4>{% if l.0.headline %}{{ l.0.headline|safe }}{% else %}{{ l.0.body|safe }}{% endif %}</h4>
                <p><a href="/calendar/">See all deadlines &rarr;</a></p>
            </div>
        </div>
    </div>
    {% endcache %}
</div>
    
<section class="teaser">
    <div class="container clearfix">
        <div class="span-5">
            <h2><span>Confirmed</span> Speakers</h2>
            <img src="{{ STATIC_URL }}p5/i/speakers-wanted.png" alt="" width="320" height="160" />
            <div class="button">
                <a href="/call-for-paper/">Join us as a speaker! See the <b>call for paper</b></a>
            </div>
        </div>

        <div class="europython-is span-7 last">
            <h2><span>EuroPython</span> is&hellip;</h2>
            <p>
               An occasion to follow interesting <a href="/talks/">talks</a>, <a href="/trainings">hands-on trainings</a>, do some <a href="/networking/">networking</a>, <a href="/work-python/">recruite</a> qualified staff or be recruited by great firms, and last but not least follow funky <a href="/pyevents/">PyEvents</a>.
            </p>
        </div>
    </div>
</section>
{% endblock%}

{% block BODY_CLASS %} home{% endblock %}

{% block MAIN_CONTENT %}

{% comment %}
        <section class="speakers clearfix">
            <h2>Confirmed Speakers</h2>

            <div class="span-6">
                <img src="{{ STATIC_URL }}p5/i/speakers-ph.png" alt="" width="390" height="160" />
            </div>

            <div class="span-6 last">
                <p><b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.  Nam tincidunt rhoncus urna consectetuer.</p>

                <div class="button">
                    <a href="/schedule/">View <b>speakers</b> and <b>schedule</b></a>
                </div>

            </div>


        </section>
{% endcomment %}


<section class="where clearfix">
    <h2>Let’s meet in <span>Florence</span></h2>
    <div class="span-6">
        <p>EuroPython 2011 will be held in the world-famous beautiful city of Florence. Take 
        the chance to visit the city and the marvellous Tuscany, bringing your partner and family with you.
        We're preparing a great <b>partner program</b> with guided tours and visits to museums at cheap rates! </p>
    </div>

    <div class="span-6 last">
        <img src="{{ STATIC_URL }}p5/i/home-where.jpg" alt="" width="390" height="200" />
    </div>

    <div class="span-6">
        <div class="button">
            <a href="/pages/where/">Check <b>map</b> and <b>accommodation</b></a>&nbsp;
        </div>
    </div>

    <div class="span-6 last">
        <div class="button">
            <a href="/partner-program/"><b>Visiting</b> and <b>sightseeing</b> Florence</a>
        </div>
    </div>
</section>

<hr />

<section class="clearfix">
    {% cache 600 blog %}
    {% last_blog_post 4 as posts %}
    <div class="blog border span-6">
        <ul>
            {% for post, post_content in posts %}
            <li>
                <h3><a href="{{ post_content.get_absolute_url }}">{{ post_content.headline }}</a></h3>
                {% get_post_comment_count post as comments %}
                <div class="meta">Posted on <b>{{ post_content.post.date|date:"M j Y" }}</b>{% if comments %} &mdash; <a href="{{ post_content.get_absolute_url }}#comments">{{ comments }} comments</a>{% endif %}</div>
            </li>
                {% endfor %}
        </ul>
    </div>
    {% endcache %}

    <div class="side-h2 span-2">
        <h2>EuroPython<br /><span><a href="/mobile/">on your phone</a></span></h2>
    </div>

    <div class="span-4 last">
        <img class="block" src="{{ STATIC_URL }}p5/i/iphone.png" alt="" width="250" height="220" />
    </div>
</section>
{% endblock %}


