{% extends "p3/base.html" %}

{% block TEASER %}
<div class="container">

    <div class="intro clear">
        <p><b>EuroPython</b> is a conference about the <b>Python programming language</b>. It is aimed at everyone in the Python community, of all skill levels, both users and programmers.</p>
    </div>

</div>

<section class="teaser">

    <div class="container clearfix">

        <div class="span-6">

            <h2><span>Confirmed</span> Speakers</h2>

            <img src="{{ STATIC_URL }}p5/i/speakers-ph.png" alt="" width="390" height="160" />

            <div class="button">
                <a href="/schedule/">View <b>speakers</b> and <b>schedule</b></a>
            </div>

        </div>

        <div class="europython-is span-6 last">

            <h2><span>EuroPython</span> is&hellip;</h2>

            <p>
               An occasion to follow interesting <a href="./intern.html">talks</a>, do some <a href="./intern.html">networking</a>, <a href="./intern.html">recruite</a> quilified staff or be recruited by great firms, and last but not least follow funky <a href="./intern.html">PyEvents</a>.
            </p>

        </div>

    </div>

</section>
{% endblock%}


{% block BODY_CLASS %} home{% endblock %}

{% block MAIN_CONTENT %}

<!--
        <section class="speakers clearfix">
            <h2>Confirmed Speakers</h2>

            <div class="span-6">
                <img src="{{ STATIC_URL }}p5/i/speakers-ph.png" alt="" width="390" height="160" />
            </div>

            <div class="span-6 last">
                <p><b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.  Nam tincidunt rhoncus urna consectetuer.</p>

                <div class="button">
                    <a href="/schedule/">View <b>speakers</b> and <b>schedule</b></a>
                </div>

            </div>


        </section>
-->


        <section class="where clearfix">
            <h2>Let’s meet in <span>Florence</span></h2>

            <div class="span-6">
                <p>EuroPython 2011 will be held in Florence at <a href="#"><b>Hotel Mediterraneo</b></a>... ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ultrices, nisi quis scelerisque convallis, augue et mattis justo nibh eu elit neque. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. </p>

            </div>

            <div class="span-6 last">
               <img src="{{ STATIC_URL }}p5/i/home-where.png" alt="" width="390" height="200" />
            </div>


            <div class="span-6">

                <div class="button">
                    <a href="./intern.html">Check <b>map</b> and <b>accommodation</b></a>&nbsp;
                </div>

            </div>


            <div class="span-6 last">

                <div class="button">
                    <a href="./intern.html"><b>Visiting</b> and <b>sightseeing</b> Florence</a>
                </div>

            </div>


        </section>

        <hr />

        <section class="clearfix">

<!--
            <div class="side-h2 span-2">
                <h2>updates<br /><span>from the blog</span></h2>
            </div>
-->

            <div class="blog border span-6">

                <ul>
                    <li>
                        <h3><a href="./blog-post.html">{Title} New 2011 website launched</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>
                    </li>

                    <li>
                        <h3><a href="./blog-post.html">{Title} Consectetuer eque tempor enim adipiscing elit</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>
                    </li>

                    <li>
                        <h3><a href="./blog-post.html">{Title} Hendrerit in, cursus sed</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>
                    </li>

                    <li>
                        <h3><a href="./blog-post.html">{Title} Hendrerit condimentum</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>
                    </li>

                </ul>

            </div>


            <div class="side-h2 span-2">
                <h2>EuroPython<br /><span>on your phone</span></h2>
            </div>

            <div class="span-4 last">
                <img class="block" src="{{ STATIC_URL }}p5/i/iphone.png" alt="" width="250" height="220" />
            </div>

        </section>

{% endblock %}



