{% load conference %}
<div class="cms">
{% for slug, group in fares %}
{% with group.0 as fare0 %}
    <h3>{{ fare0.name }}</h3>
    <p><img src="http://ep2011.europython.eu/media/uploads/{{ fare0.code|lower }}.jpg" style="border: 4px solid #e1dbc5;"></p>
    <div>{{ fare0.description|safe }}</div>
    <ul>
        <li>Cost per person: <strong>€{{ fare0|fare_blob:"prezzo" }}</strong></li>
        {% with fare0|fare_blob:"include" as t %}
        {% if t %}
        <li>Includes: <strong>{{ t }}</strong></li>
        {% endif %}
        {% endwith %}
        {% with fare0|fare_blob:"departure" as t %}
        {% if t %}
        <li>Departure: <strong>{{ t }}</strong></li>
        {% endif %}
        {% endwith %}
    </ul>
    <div class="call-to-action">
    {% for fare in group %}
        <a href="{% url p3-cart %}?f={{ fare.code }}">{{ fare|fare_blob:"data" }}→</a>
    {% endfor %}
    </div>
{% endwith %}
{% endfor %}
</div>
