{% load conference %}
{% if f.ticket_type == "other" %}
    <tr>
        <td>
            {{ f.name }} <a href="#" class="trigger-overlay" rel="div[data-fare={{ f.code }}]">(details)</a>
            <div class="overlay" data-fare="{{ f.code }}"><h1>{{ f.name }}</h1>{{ f.description|safe }}</div>
        </td>
        <td><label id="fare-{{ f.code }}" data-amount="{{ f.price }}">€ <span class="fare">{{ f.price }}</span></td>
        <td data-fare="{{ f.code }}"><input type="text" name="{{ f.code }}" size="2" /></td>
    </tr>
{% endif %}
