{% load p3 conference %}
{% latest_deadlines as deadlines %}
<div class="cal all-deadlines">
    {% for d in deadlines %}
    <!--  @@TODO: Add CSS class "expired" -->
    <div class="deadline clearfix{% if d.isExpired %} expired{% endif %}">
        <h3><span>{{ d.date|date:"d" }}</span><br />{{ d.date|date:"b" }}</h3>
        <div> 
            <h4>{% if d.headline %}{{ d.headline|safe }}{% else %}{{ d.body|safe }}{% endif %}</h4>
            {% if not d.isExpired and d.headline and d.body %}
                <p>{{ d.body|safe }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
