{% load assopy_tags %}
<div class="ticket {{ ticket.fare.ticket_type }}">

    <div class="ticket-status inactive">
        &darr; This ticket is not active; waiting bank transfer: O/11.0001
    </div>

<!--
    Show this if you don't have any message
    <div class="ticket-status">
        &nbsp;
    </div>
-->

    <div class="preview">
        <h2>{{ ticket.fare.name }}</h2>
        <div class="ticket-name">{{ form.ticket_name|field_value|default:"My name" }}</div>

    {% if ticket.fare.ticket_type == "conference" %}
        <div class="ticket-tagline">{{ form.tagline|field_value|default:"something about me" }}</div>
        <div class="ticket-python-experience">
            python power
            {% for x in form.python_experience|field_value|as_range %}
            <img src="{{ STATIC_URL }}p5/i/icon-star.png" alt="Star" width="20" height="20" />
            {% endfor %}
        </div>
        
        <div class="ticket-assigned-to"{% if not blocked %} style="display: none"{% endif %}>
            Currently assigned to <b>{{ form.assigned_to|field_value }}</b>&nbsp;<a href="#" class="reclaim-button">(click to reclaim)</a>.
        </div>   

        <div class="ticket-commands"{% if blocked %} style="display: none"{% endif %}>            
            <p>
                <a href="#">Edit information</a> |
                {% if user == ticket.user %}
                <a href="#" class="button mini assign-button">Assign to user</a>
                {% endif %}
                {% comment %}
                <!-- if blocked... -->
                | <a href="reclaim">Reclaim</a>
                <!-- endif -->
                {% endcomment %}
            </p>
        </div>
    {% else %}
        <div class="ticket-commands">            
            <p><a href="#">Edit information</a></p>
        </div>
    {% endif %}
    </div>

    {% if ticket.fare.ticket_type == "conference" %}
    <div class="ticket-additional-info">
        <p>
            Additional information (they won&#8217;t show up on the ticket)
        </p>
        <dl>
            <dt>Attending on days:</dt>
            <dd>{{ form.days|field_display_value|join:"; " }}.</dd>
            <dt>Diet:</dt>
            <dd>{{ form.diet|field_display_value }}</dd>
            <dt>Shirt size:</dt>
            <dd>{{ form.shirt_size|field_display_value }}</dd>
        </dl>
    </div>
    {% endif %}

    <form data-ticket="{{ ticket.id }}" action="{% url p3-ticket tid=ticket.id %}" method="post">{% csrf_token %}
    {% if ticket.fare.ticket_type == "conference" %}
        <fieldset>
            {{ form.ticket_name|field }}
            {{ form.tagline|field }}
            <div class="span-3">
                {{ form.diet|field }}
            </div>
            <div class="span-3 last">
                {{ form.shirt_size|field }}
            </div>
            <div class="span-3">
                {{ form.python_experience|field }}
            </div>
            <div class="span-3">
                {{ form.days|field }}
            </div>
            {{ form.assigned_to|field }}
        </fieldset>
        <fieldset class="border">
            <button name="" value="" type="submit">Save Changes</button>
        </fieldset>
    {% else %}
        <fieldset>
            {% for f in form %}
            {{ f|field }}
            {% endfor %}
        </fieldset>
        <fieldset class="border">
            <button value="" type="submit">Save Changes</button>
        </fieldset>
    {% endif %}
    </form>
</div>
