{% load p3 assopy_tags %}
<div data-ticket="{{ ticket.id }}" class="ticket {{ ticket.fare.ticket_type }}">

    {% comment %} più biglietti possono far riferimento al solito ordine, forse
    è il caso di una cache?{% endcomment %}
    {% ticket_order ticket as order %}
    {% if order.complete %}
    <div class="ticket-status{% if user != ticket.user %} active{% endif %}">
        {% if user != ticket.user %}
        &darr; Assigned to you by <a href="mailto:{{ ticket.user.email }}"><b>{{ ticket.user.assopy_user.name }}</b></a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>
    {% else %}
    <div class="ticket-status inactive">
        &darr; Ticket not active; waiting for wire transfer (order {{ order.code }})
    </div>
    {% endif %}

    <div class="preview">
        <h2>{{ ticket.fare.name }}</h2>
        <div class="ticket-name">{{ form.ticket_name|field_value|default:"My name" }}</div>

    {% if ticket.fare.ticket_type == "conference" %}
        <div class="ticket-tagline">{{ form.tagline|field_value|default:"something about me" }}</div>
        <div class="ticket-python-experience">
            Python power
            {% for x in form.python_experience|field_value|as_range %}
            <img src="{{ STATIC_URL }}p5/i/icon-star.png" alt="Star" width="16" height="16" />
            {% endfor %}
        </div>
        
        {% if blocked %}
        <div class="ticket-commands ticket-assigned-to">
            <p>
            Currently assigned to <b>{{ form.assigned_to|field_value }}</b> | <a href="#" class="reclaim-button">Reclaim</a>.
            </p>
        </div>
        {% else %}
        <div class="ticket-commands">
            <p>
                <a href="#" class="edit-button" rel="div[data-ticket={{ ticket.id }}] .overlay">Edit information</a>
                {% if user == ticket.user %}
                | <a href="#" class="button mini assign-button">Assign to user</a>
                {% endif %}
            </p>
        </div>
        {% endif %}
    {% else %}
        <div class="ticket-commands">            
            <p><a href="#">Edit information</a></p>
        </div>
    {% endif %}
    </div>

    {% if ticket.fare.ticket_type == "conference" %}
    <div class="ticket-additional-info">
        <p>
            Additional information (they won&#8217;t show up on the ticket)
        </p>
        <dl>
            <dt>Attending on days:</dt>
            <dd>{{ form.days|field_display_value|join:"; " }}.</dd>
            <dt>Diet:</dt>
            <dd>{{ form.diet|field_display_value }}</dd>
            <dt>Shirt size:</dt>
            <dd>{{ form.shirt_size|field_display_value }}</dd>
        </dl>
    </div>
    {% endif %}

    <div class="overlay">
        <form action="{% url p3-ticket tid=ticket.id %}" method="post">{% csrf_token %}
        {% if ticket.fare.ticket_type == "conference" %}
            <fieldset>
                {{ form.ticket_name|field }}
                {{ form.tagline|field }}
                <div class="span-3">
                    {{ form.diet|field }}
                </div>
                <div class="span-3 last">
                    {{ form.shirt_size|field }}
                </div>
                <div class="span-3">
                    {{ form.python_experience|field }}
                </div>
                <div class="span-3 show-tooltip" title="This ticket grants you full access to the conference. The above selection is just for helping out the organizers.">
                    {{ form.days|field }}
                </div>
                {{ form.assigned_to|field }}
            </fieldset>
            <fieldset class="border">
                <button name="" value="" type="submit">Save Changes</button>
            </fieldset>
        {% else %}
            <fieldset>
                {% for f in form %}
                {{ f|field }}
                {% endfor %}
            </fieldset>
            <fieldset class="border">
                <button value="" type="submit">Save Changes</button>
            </fieldset>
        {% endif %}
        </form>
    </div>
    <script type='text/javascript'>
        $('div[data-ticket={{ ticket.id }}] .edit-button').overlay();
    </script>
</div>
