{% extends "p3/base.html" %}
{% load conference p3 %}
{% block MAIN_CONTENT %}
<div class="cms">
    <h1>{% block CONTENT_TITLE %}Europython schedule{% endblock %}</h1>
    <div class="conference-schedules list"  data-conference="{{ CONFERENCE }}">
    {% schedules_data sids as schedules %}
    {% for sid, timet in timetables %}
        {% with schedules|attrib_:forloop.counter0 as sdata %}
        {% with timet|timetable_remove_first:"break" as tt %}
        <div id="{{ sdata.slug }}" class="schedule">
            <h2>{{ sdata.date|date:"l, j F Y" }}</h2>
            <table>
            {% for time_, events in tt.iterOnTimes %}
                {% with events|remove_duplicates:"id" as events %}
                {% for e in events %}
                <tr>
                    {% if forloop.counter0 == 0 %}
                    <th rowspan="{{ events|length }}">{{ time_|time:"H:i" }}</th>
                    {% endif %}
                    <td class="event"{% if e.talk %} data-talk="{{ e.talk.id }}"{% endif %}>
                        <div>
                            In
                            <strong>
                                {% for t in e.tracks %}
                                <i>{{ sdata.tracks|attrib_:t|attrib_:"title"|safe }}</i>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </strong>
                        </div>
                        {% if e.talk %}
                            <div class="talk-level {{ e.talk.level }}">&nbsp;</div>
                            {% if e.talk.teaser_video %}
                            <div class="video-opener">
                                <img src="{{ STATIC_URL }}p5/i/tv.png" height="24" alt="" title="teaser video available" />
                            </div>
                            {% endif %}
                            <div class="name">
                                <a href="{% url "conference-talk" slug=e.talk.slug %}">{{ e.name }}</a>
                            </div>
                            by
                            <div class="speakers">
                                {% for s in e.talk.speakers %}
                                <a href="{% url "conference-profile" slug=s.slug %}">{{ s.name|name_abbrv }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="name">{{ e.name|safe }}</div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endwith %}
            {% endfor %}
            </table>
        </div>
        {% endwith %}
        {% endwith %}
    {% endfor %}
    </div>
</div>
<script>
(function() {
    $('.event .name a')
        .click(function(ev) {
            var e = $(this).parents('.event');
            if(e.data('loaded')) {
                e.find('details').toggle();
            }
            else {
                e.data('loaded', 1);
                var url = $(this).attr('href') + '.xml';
                var details = $('<div class="details">loading...</div>')
                    .appendTo(e);
                $.ajax({
                    url: url,
                    dataType: 'xml',
                    success: function(data, text, xhr) {
                        details.html('');
                        $('<div class="abstract"></div>')
                            .html($('talk abstract', data).html())
                            .appendTo(details);
                        var v = $('talk teaser_video html', data);
                        if(v.length) {
                            $('<div class="teaser_video"><h2>Teaser video</h2><div></div></div>')
                                .appendTo(details)
                                .find('div')
                                    .html(v.text());
                        }
                    }
                });
            }
            return false;
        });
})();
</script>
{% endblock %}
