{% extends "p3/base.html" %}
{% load conference assopy_tags %}

{% block EXTRA_HEAD %}
{% if request.user.is_staff %}
    <script type="text/javascript" src="{{ STATIC_URL }}p5/j/jquery.event.drag-2.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}p5/j/jquery.event.drop-2.0.min.js"></script>
{% endif %}
{% endblock %}

{% block BODY_ID %}schedule{% endblock %}

{% block MAIN_CONTENT %}
<section class="notice">
Beta version, small changes could be introduced to meet speakers' necessities.
</section>
<nav id="schedule-navigator">
    <div class="opener closed"> </div>
    <div class="content">
        <div class="wrapper">
            <h3>Search</h3>
            <form class="search">
                <input name="q" value="" />
            </form>
            <h3>Show</h3>
            <form class="show-flags" action="" method="get">
                <label class="active"><input type="hidden" name="show-track-ita" value="1" />Italian Track</label>
                <label class="active"><input type="hidden" name="show-training" value="1" />Trainings</label>
                <label class="active"><input type="hidden" name="show-partner-program" value="1" />Partner Program</label>
                <label class="active"><input type="hidden" name="show-sprint" value="1" />Sprint</label>
            </form>
            <h3>Jump to</h3>
            <ul class="jump-list">
                {% for schedule in schedules %}
                <li><a href="#{{ schedule.slug }}">{{ schedule.date|date:"l d" }}</a></li>
                {% endfor %}
            </ul>
            <a class="trigger-overlay schedule-help" href="/schedule-help">How to use</a>
        </div>
    </div>
</nav>
<div class="page clearfix">
    {% for schedule in schedules %}
    <div id="{{ schedule.slug }}" class="schedule-wrapper"
        data-schedule-url="{% url conference-schedule conference=schedule.conference slug=schedule.slug %}"
        data-schedule-conference="{{ schedule.conference }}"
        data-schedule-slug="{{ schedule.slug }}">
        {% include "conference/schedule_body.html" %}
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="{% url p3-schedule-js conference=conference %}"></script>
{% if request.user.is_staff %}
<div class="overlay" id="schedule-form-box">
    <form action="" method="post">{% csrf_token %}
        <fieldset>
        {% for f in form %}
        {{ f|field }}
        {% endfor %}
        </fieldset>
        <fieldset class="border">
            <button type="submit" name="save">Save</button>
            <button type="submit" name="delete">Delete</button>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    (function() {
        function _setForm(url, time, track, evt) {
            var form = $('#schedule-form-box form');
            form.attr('action', url)
            $('input[name=start_time]', form).val(time);
            $('input[name=track]', form).val(track);

            var is_talk = false;
            $('select[name=talk] option').each(function() {
                if(this.value == evt) {
                    is_talk = true;
                }
            });

            if(is_talk) {
                $('select[name=talk]', form).val(evt);
                $('textarea[name=custom]', form).val('');
            }
            else {
                $('select[name=talk]', form).val('');
                $('textarea[name=custom]', form).val(evt);
            }
            return form;
        }
        function initSchedule(target) {
            if(!target)
                target = $(document.body);
            $('.schedule .event .tools', target).append($('<div><a href="#" class="schedule-edit"><img src="{{ STATIC_URL }}p5/i/edit-icon.png" /></a></div>'));
            $('.schedule .schedule-edit', target).click(function(e) {
                e.preventDefault();
                var cell = $(e.target).parents('.event');
                var event_url = cell.attr('data-event-url');
                var schedule = cell.parents('.schedule-wrapper');
                var track = cell.attr('data-track');
                var time = cell.attr('data-time');
                var evt = $('h3', cell).attr('data-talk');
                if(!evt)
                    evt = $('div.custom-event', cell).text();
                editEvent(schedule, event_url, track, time, evt, true);
            });
            $('.schedule thead .hhmm', target).click(function(e) {
                var cell = $(e.currentTarget);
                var time = cell.text(); 
                var schedule = cell.parents('.schedule-wrapper');
                editEvent(schedule, schedule.attr('data-schedule-url'), '', time, '', false);
            });
            $('td.event[data-event-url]', target)
                .drag("start",function(){
                    return $('<div style="position: absolute; background: red">TALK</div>')
                        .css("opacity", .75 )
                        .appendTo(document.body);
                })
                .drag(function( ev, dd ){
                    $( dd.proxy).css({
                        top: dd.offsetY,
                        left: dd.offsetX
                    });
                })
                .drag("end",function( ev, dd ){
                    $( dd.proxy ).remove();
                });
            $('td.event', target)
                .not('td.event[data-event-url]')
                .drop(function(e, dd){
                    var drop = $(this);
                    var dropTime = drop.attr('data-time');
                    var dropTrack = drop.parents('tr').attr('data-track');
                    var dropSchedule = drop.parents('.schedule-wrapper');
                    var drag = $(dd.drag);
                    moveEvent(drag, dropSchedule, dropTime, dropTrack);
                });
        }
        function moveEvent(evt, schedule, time, track) {
            $.ajax({
                url: evt.attr('data-event-url'),
                type: 'POST',
                data: {
                    schedule_conference: schedule.attr('data-schedule-conference'),
                    schedule_slug: schedule.attr('data-schedule-slug'),
                    start_time: time,
                    track: track
                },
                success: function() {
                    var old_schedule = evt.parents('.schedule-wrapper');
                    refreshSchedule(schedule);
                    if(old_schedule.attr('data-schedule-url') != schedule.attr('data-schedule-url')) {
                        refreshSchedule(old_schedule);
                    }
                }
            });
        }
        function refreshSchedule(schedule) {
            $.ajax({
                url: schedule.attr('data-schedule-url'),
                success: function(data) {
                    schedule.html(data);
                    initSchedule(schedule);
                }
            });
        }
        $('#schedule-form-box button[name=delete]').click(function(e) {
            var form = $(this).parents('form');
            form.attr('method', 'DELETE');
        });
        $('#schedule-form-box button[name=save]').click(function(e) {
            var form = $(this).parents('form');
            form.attr('method', 'POST');
        });
        function editEvent(schedule, event_url, track, time, evt, exists) {
            var url = event_url || schedule.attr('data-schedule-url');
            var editor = $('#schedule-form-box');
            if(exists)
                $('button[name=delete]', editor).show();
            else
                $('button[name=delete]', editor).hide();
            var form = _setForm(url, time, track, evt);
            form.one('submit', function() {
                form.ajaxSubmit({
                    success: function(data, status, jqXHR) {
                        editor.overlay().close();
                        refreshSchedule(schedule);
                    }
                });
                return false;
            });
            editor.overlay({ load: true });
            /*
             * jQueryTools sta vincendo il premio come software più bacato: le
             * due righe che seguono servono a mostrare l'overlay dopo la prima
             * volta.
             * http://flowplayer.org/tools/forum/40/40917
             */
            editor.data("overlay").load();
            editor.css('style', 'block');
        };
        initSchedule();
    })();
</script>
{% endif %}
{% endblock %}

{% block SPONSORS %}
<!-- Omit sponsors col -->
{% endblock %}
