{% extends "p3/base.html" %}
{% load i18n assopy_tags conference %}
{% block MAIN_CONTENT %}
<div id="sim-report" class="cms">
    <h1>Ticket SIM</h1>
    <p>Ricarica iniziale per tutti: <b>€15</b>.<br/>Tariffe da attivare per tutti: <b>Internet No Stop</b> (o Blackberry No Stop), <b>Call your Country</b>.<br/>Credito residuo sulla SIM: <b>€6</b></p>
    <p>
        <h2>Totale SIM compilate</h2>
        <table>
            <tr>
                <th>Tipo SIM</th>
                <th>Totale richieste</th>
                <th>SIM da preparare</th>
            </tr>
            {% for sim_type, data in compiled.items %}
            <tr>
                <td>{{ data.label }}</td>
                <td>{{ data.total }}</td>
                <td>{{ data|eval_:"x['total'] - x['done']" }}</td>
            </tr>
            {% endfor %}
        </table>
    </p>
    <h2>Dettaglio SIM</h2>
    <script>
        function freeze(e) {
            var form = $(this);
            tel = form.parents('tr').find('input[type=tel]');
            if(tel.length > 0) {
                if(!tel.val()) {
                    alert("Inserisci il numero di telefono");
                    tel.focus();
                    return false;
                }
                form.find('input[name=number]').val(tel.val());
            }
            return true;
        }
    </script>
    <table>
        <tr>
            <th style="width: 30px">#</th>
            <th>Attendee</th>
            <th>SIM type</th>
            <th>Internet</th>
            <th>Document</th>
            <th>Numero di telefono</th>
            <th>&nbsp;</th>
        </tr>
        {% for t in tickets %}
        <tr id="t{{ t.id }}" class="{% if t.frozen %}frozen{% endif %}">
            <td>{{ forloop.counter }}</td>
            {% if t.p3_conference_sim %}
            <td>{{ t.name }}</td>
            <td>{{ t.p3_conference_sim.get_sim_type_display }}</td>
            <td>{% if t.p3_conference_sim.plan_type == "std" %}Internet No Stop{% else %}Blackberry No Stop{% endif %}</td>
            <td>
                {% if t.p3_conference_sim.document %}
                <a href="{{ t.p3_conference_sim.document.url }}">document</a>
                {% else %}
                <strong>missing</strong>
                {% endif %}
            </td>
            <td>
                {% if t.for_speaker and t.p3_conference_sim.document %}
                    {% if t.frozen %}
                        {{ t.p3_conference_sim.number }}
                    {% else %}
                    <input type="tel" placeholder="Numero di telefono" value="{{ t.p3_conference_sim.number }}" />
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if t.p3_conference_sim.document %}
                <form action="{% url "p3-sim-report" %}#t{{ t.id }}" method="POST" onsubmit="return freeze.call(this, arguments[0])" >{% csrf_token %}
                    <input type="hidden" name="ticket" value="{{ t.id }}" />
                    <input type="submit" value="{% if t.frozen %}unfreeze{% else %}freeze{% endif %}" />
                    <input type="hidden" name="number" value="{{ t.p3_conference_sim.number }}" />
                </form>
                {% endif %}
            </td>
            {% else %}
            <td colspan="6"><strong>Ticket not compiled (buyer: {{ t.orderitem.order.user.name }})</strong></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

