{% extends "p3/base.html" %}
{% load i18n assopy_tags %}
{% block MAIN_CONTENT %}
<div class="cms">
    <h1>Sprints page</h1>
    <ol class="sprints">
    {% for data in events %}
        <li>{% include "p3/render_single_sprint.html" %}</li>
    {% endfor %}
    </ol>
</div>
<script type="text/javascript">//<![CDATA[
    $('.sprints form').live('submit', function(e) {
        e.preventDefault();
        var form = $(this);
        var wrapper = form.parents('li');
        form.ajaxSubmit({
            target: wrapper.children('.sprint'),
            replaceTarget: true,
            success: function() {
                if($('textarea', form).length)
                    feedback('form saved');
                setup_toggles($('.toggle', wrapper));
                setup_trigger_overlay($('.trigger-overlay', wrapper));
            },
            error: function() {
                alert('{% trans "Cannot save the form.\nUse the web chat, or contact info@pycon.it, for assistance." %}');
            }
        });
    });
//]]></script>
{% endblock %}
