{% extends "assopy/base.html" %}
{% load assopy_tags conference i18n p3 formstyle %}

{% block PAGE_TITLE %}{% trans "Your tickets" %}{% endblock %}


{% block MAIN_CONTENT %}

<section>
    <div class="grid-container">
    <div class="grid-100">
        <h1>{% trans "Your tickets" %}</h1>

        {% if not tickets %}
            {% url "p3-cart" as u %}
            <div class="alert alert--info">
                {% blocktrans %}You still have not bought any ticket with this account. Please proceed to the <a href="{{ u }}">cart</a> to place an order.{% endblocktrans %}
            </div>
        {% endif %}
    </div><!-- /grid -->

	<div class="grid-100">{% trans "You can edit the tickets by hovering over them with the mouse." %}<br/><br/></div>
        {% for t in tickets %}
            <div class="grid-50">
                {% render_ticket t %}
            </div><!--/grid -->
            {% cycle '' '<hr />' %}
        {% endfor %}
        <style type="text/css">
            #id_bank,
            #id_reason {
                height: 4.5em; /*  Couple of lines, padding inc. */
            }
        </style>
        <div id="refund-form" class="overlay">
            <h2>{% trans "Refund Ticket" %}</h2>
            <form action="" method="POST">
                <p>{% trans "You are eligible for commission-free refund through PayPal." %}</p>
                {{ refund_form.reason|field }}
                <div class="refund-method">
                    <h3>{% trans "Choose the refund method" %}</h3>
                    <label><input type="radio" name="rmethod" value="paypal">{% trans "Through PayPal" %}</label>
                    <label><input type="radio" name="rmethod" value="bank" checked>{% trans "Through bank transfer" %}</label>
                    <div class="paypal" style="display:none">
                        {{ refund_form.paypal|field }}
                    </div>
                    <div class="bank">
                        {{ refund_form.bank|field }}
                    </div>
                    <p><b>{% trans "Note" %}</b>: {% trans "you are responsible for the commission fees, if any." %}</p>
                </div>
                <button class="btn btn-primary" type="submit">{% trans "Ask for Refund" %}</button>
            </form>
        </div><!-- /overlay -->
</div><!-- /grid-container -->
</section>


<script type="text/javascript">//<![CDATA[
(function() {
    function reload_ticket(ticket) {
        var id = ticket.attr('data-ticket');
        var url = '/p3/tickets/' + id + '/';
        $.get(url, function(data) {
            ticket.replaceWith(data);
            setup_fragment($('div.ticket[data-ticket=' + id + ']'));
        })
    }
    $('#refund-form form').ajaxForm({
        success: function(response, status, xhr, form) {
            var trigger = form.data('trigger');
            if(trigger) {
                reload_ticket(trigger.parents('div.ticket'));
                trigger.overlay().close();
            }
        },
        error: function(xhr, textStarus, error) {
            if(xhr.responseText) {
                var errors = JSON.parse(xhr.responseText);
                form_errors($('#refund-form form'), errors);
            }
        }
    });
    function _error() {
        {% trans "Cannot save the ticket.\nUse the web chat, or contact info@euroython.eu, for assistance." as t_error %}
        alert("{{ t_error|escapejs }}");
    }
    function _success(message, container) {
        function w(response, status, xhr, form) {
            /*
            * se una form è di tipo multipart/form-data viene inviata
            * tramite un iframe (non via XHR), jQuery non ha modo di
            * conoscere lo status code e non viene mai chiamato l'error
            * handler.
            */
            if((form.attr('enctype') == 'multipart/form-data') && (response.indexOf('errorlist') != -1)) {
                _error();
            }
            else {
                if(!container)
                    container = form.parents('div.ticket');
                var p = container.parent();
                container.replaceWith(response)
                setup_fragment(p);
                feedback(message);
            }
        }
        return w;
    }
    $('div.ticket form').live('submit', function(e) {
        /*
        * non mi piace impedire il submit da tasto invio, ma devo essere
        * sicuro che venga eseguito il codice collegato con i
        * button[type=submit]. Nota che con FF e chrome ( e forse con altri
        * browser) questo non è un problema, perché la pressione dell'invio in
        * un input causa l'evento click nel input/button di tipo submit
        */

        e.preventDefault();
    });
    $('div.ticket form button[type=submit]').live('click', function(e) {
        e.preventDefault();
        var form = $(e.target).parents('form');
        var container = form.parents('div.ticket');
        form.ajaxSubmit({
            success: _success('Ticket saved'),
            beforeSubmit: function(arr, form, options) {
                /*
                * L'unico campo che assolutamente voglio è il nome del
                * partecipante.
                */
                var ticket = form.parents('.ticket');
                var f = ticket_field(form, 'ticket_name');
                if(f.length == 0)
                    f = ticket_field(form, 'name');
                if(f.length && $.trim(f.val()) == '') {
                    {% trans "Please enter the name" as t_enter_name %}
                    alert("{{ t_enter_name|escapejs }}");
                    f.focus();
                    return false;
                }
                return true;
            },
            error: _error
        });
    });

    function ticket_field(form, field_name) {
        var tid = $(form).parents('div.ticket').attr('data-ticket');
        return $("input[name=t" + tid + "-" + field_name + "]", form);
    }


    $('div.ticket .assign-button').live('click', function(e) {
        e.preventDefault();

        {% trans "Enter the email of the person you want to assign the ticket" as t_enter_email %}
        var email = $.trim(prompt("{{ t_enter_email|escapejs }}"));

        if(!email){
            alert("no email");
            return;
        }

        if(email == "{{ request.user.email }}") {
            {% trans "Please don't use your email address." as t_not_email %}
            alert("{{ t_not_email|escapejs }}");
            return;
        }

        var ticket = $(e.target).parents('.ticket');
        var form = $('form', ticket);

        ticket_field(form, 'assigned_to').val(email);
        alert(ticket_field(form, 'assigned_to').val());
        //var tid = $(form).parents('div.ticket').attr('data-ticket');
        //$("input[name=t" + tid + "-assigned_to]", form).value = email;


        form.ajaxSubmit({
            target: form.parents('div.ticket'),
            replaceTarget: true,
            success: function() {
                alert("bien");

                {% trans "ticket assigned to" as t_assigned %}
                feedback("{{ t_assigned|escapejs }}" + " " + email);

            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("Status:="+textStatus + " Error:="+errorThrown);
                }
        });
    });


    $('div.ticket .reclaim-button').live('click', function(e) {
        e.preventDefault();
        {% trans "Are you sure to reclaim this ticket" as t_reclaim %}
        if(window.confirm("{{ t_reclaim|escapejs }}")) {
            var ticket = $(e.target).parents('.ticket');
            var form = $('form', ticket);

            ticket_field(form, 'assigned_to').val('')
            //alert(ticket_field(form, 'assigned_to').val());


            form.ajaxSubmit({
                target: form.parents('div.ticket'),
                replaceTarget: true,
                success: function() {
                    {% trans "ticket reclaimed" as t_reclaimed %}
                    feedback("{{ t_reclaimed|escapejs }}")
                }
            });
        }
    });
    function setup_refund_form(ticket) {
        var trigger = $('.refund-button', ticket);
        var refund_type = trigger.data('refund-type');
        var order = ticket.data('order');
        var item = ticket.data('orderitem');

        var form = $('#refund-form form');
        if(!form.data('init')) {
            form.data('init', 1);
            form
                .find('input[name=rmethod]')
                .click(function(e) {
                    var p = form.find('.refund-method .paypal');
                    var b = form.find('.refund-method .bank');
                    if(e.target.value == 'paypal') {
                        p.show();
                        b.hide();
                    }
                    else {
                        p.hide();
                        b.show();
                    }
                });
        }
        form.data('trigger', trigger);
        form.get(0).action = '/accounts/orders/' + order + '/' + item + '/refund';

        if(refund_type == 'payment') {
            form
                .children('h3')
                    .hide()
                    .end()
                .children('.refund-method')
                    .show();
        }
        else {
            form
                .children('h3')
                    .show()
                    .end()
                .children('.refund-method')
                    .hide();
        }
        form.get(0).reset();
    }
    $('div.ticket .refund-button').live('click', function(e) {
        e.preventDefault();
        var ticket = $(e.target).parents('.ticket');
        setup_refund_form(ticket)
    });
})();
//]]>
</script>
{% endblock %}
