{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">Home</a> &rsaquo;
     <a href="../../">Conference</a>&rsaquo;
     <a href="../">Tickets</a>&rsaquo;
     stats
</div>
{% endblock %}{% block content %}
<form action="{% url admin:p3-ticket-stats %}" method="GET">
    {{ form }}
    <input type="submit" />
</form>
<table>
{% for v in stats|dictsort:"title" %}
<tr>
    {% if v.have_details %}
    <th><a href="{% url admin:p3-ticket-stats-details %}?conference={{ conference }}&code={{ v.code }}">{{ v.title }}</a> (<a href="{% url admin:p3-ticket-stats-details-csv %}?conference={{ conference }}&code={{ v.code }}">csv</a>)</th>
    {% else %}
    <th>{{ v.title }}</th>
    {% endif %}
    <td>{{ v.count }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
