<html>
  <head>
    <style type="text/css">
      body {
        font-family: monospace;
        line-height: 1.5em;
      }

      th {
        text-align: left;
      }

      td, th {
        padding: .5em;
      }

      tr:hover td {
        background: yellow;
      }

      .text-right {
        text-align: right;
      }

      .btn { padding: 1em; border: 1px solid #aaa; background: #efe }
      .valid { background: green; color: yellow; padding: .5em; }
      .invalid { color: red; font-weight: bold; }
    </style>

  </head>
  <body>
      <a href='{% url "debug_panel:index" %}'>Debug panel index</a>
      <h1>Fares Setup</h1>

      <table>
          <tr>
              <th>Code</th>
              <th>Start</th>
              <th>End</th>
              <th>is Valid</th>
          </tr>

          {% for fare in fares %}
          <tr>
              <td><a href='{% url "admin:conference_fare_change" fare.id %}'>{{ fare.code }}</a></td>
              <td>{{ fare.start_validity }}</td>
              <td>{{ fare.end_validity }}</td>
              <td>
              {% if fare.valid %}
              <span class='valid'>VALID</span>
              {% else %}
              <span class='invalid'>NOPE</span>
              {% endif %}
              </td>
          </tr>
          {% endfor %}{# fare in fares #}
      </table>

      <h4>Setup EB Dates</h4>
      <form method="POST" action='.'>
          {% csrf_token %}
          {{ eb_setup_form.as_p }}
          <input type='submit' name='{{ FareSetup.set_eb_dates }}' value="Set EB">
      </form>

      <h4>Setup Regular</h4>
      <form method="POST" action='.'>
          {% csrf_token %}
          {{ regular_setup_form.as_p }}
          <input type='submit' name='{{ FareSetup.set_regular_dates }}' value="Set Regular">
      </form>

  </body>
</html>
