[run]
branch = True
omit =
     */migrations/*
     hcomments/*
     */settings.py
     fabfile.py
     */management/*
     */tests/factories/*
     */tests/*
    */urls.py
     manage.py
     */admin.py
#     */models.py
#     */forms.py
     generator.py
     assopy/clients/*.py
    */middleware.py
    pycon/wsgi.py
    conference/utils/*.py
    deps/*/*.py
    deps/*.py
    cms_utils/*


[report]
fail_under = 40
precision = 2
sort = Name
skip_covered = True
exclude_lines =
    if 0:
    def __repr__
    def __unicode__
    def __str__
