[run]
branch = True
omit =
     */migrations/*
     hcomments/*
     */settings.py
     fabfile.py
     */management/*
     */tests/factories/*
     */tests/*
    */urls.py
     manage.py
     */admin.py
     */models.py
     */forms.py
     generator.py
     assopy/clients/*.py
    */middleware.py


[report]
fail_under = 100
precision = 2
sort = Stmts
skip_covered = True
