[run]
branch = True
omit =
     */migrations/*
     hcomments/*
     */settings.py
     fabfile.py
     */management/*
     */tests/factories/*
     */tests/*
     manage.py

[report]
fail_under = 100
precision = 2
sort = Cover
skip_covered = True
