*.pyc
*.swp
settings_locale.py
Session.vim
penv/*
data/
p3/static/p5/stylesheets/.sass-cache/*
p3/static/p6/stylesheets/.sass-cache/*
p3/static/p6/.sass-cache/*
*.mo
.bundle
._*
.DS_Store
*.db
Thumbs.db
*.tmproj
*.mo
.bzr
*.egg-info
.idea
*.sqlite
build/
*.bak
*~
Makefile
env.csh
logs/
migrate-to-ep2017.sh
pycon-env/
src/
.coverage
htmlcov/
*.py,cover
.cache/
coverage.xml
prof/
.vagrant
