language: python

cache: pip

git:
  depth: 1

python:
  - "3.6"

install:
  - export SECRET_KEY="secret"
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt

script: "pytest -c pytest_ci.ini"
