Django==1.5.11
South==1.0.1
Pillow==2.6.0
html5lib==0.95
django-page-cms==1.5.3
django-authority==0.4 #serve a django-page-cms ma non è incluso nelle sue dipendenze
django-taggit==0.9.3
django-rosetta==0.7.4
akismet==0.2.0
git+git://github.com/smacker/django-filebrowser-no-grappelli-django14.git#egg=django-filebrowser
django-templatesadmin==0.7
django-tagging==0.3.1
python-memcached==1.48
django-filer==0.9.8
cmsplugin-filer==0.10.1
pytz
Fabric
django-crontab==0.4.2
-e git+git://github.com/dcramer/django-paypal.git#egg=django-paypal
django-cms==3.0.6
-e git+https://github.com/pythonitalia/microblog.git#egg=microblog
-e git+https://github.com/pythonitalia/hcomments.git#egg=hcomments
-e git+https://github.com/EuroPython/conference.git#egg=conference
#-e git+https://github.com/pythonitalia/conference.git#egg=conference
#-e git+https://github.com/borjaayerdi/conference.git#egg=conference
-e git+https://github.com/EuroPython/assopy.git#egg=assopy
#-e git+https://github.com/pythonitalia/assopy.git#egg=assopy
#-e git+https://github.com/borjaayerdi/assopy.git#egg=assopy
BeautifulSoup==3.2.1
django-markitup==2.2.2
markdown2==2.3.0
djangocms_text_ckeditor==2.4.1
easy_thumbnails==2.2
raven==5.1.1
djangocms-grid==1.1
python-social-auth
# new
#psycopg2==2.5.4
simplejson
gunicorn
