Django>=1.11,<2.0

pyjwkest==1.4.0
requests
requests-oauthlib
shortuuid

django-classy-tags
django-authority
django_extensions
django-model-utils==3.1.1
django-crispy-forms

# we can probably remove tagging - taggit is used with custom models for cfp
django-tagging==0.4.6
django-taggit==0.22.1
django-taggit-labels==0.6.0

python3-openid
python-social-auth==0.3.6
social-auth-app-django
# Fixes https://github.com/python-social-auth/social-app-django/issues/178
social-auth-core[openidconnect]

python-oembed
markdown2

django-cms>=3.6,<3.7
djangocms-admin-style
djangocms-text-ckeditor
djangocms-grid
# Upgrading to a newer version breaks cmsplugin-filer (that's deprecated)
django-filer<=1.5
cmsplugin-filer
django-filebrowser-no-grappelli~=3.6

django-markitup~=3.0

# django settings enhancements
python-decouple
dj-database-url

# phone numbers
django-phonenumber-field
phonenumbers

# payments
stripe

# I don't think we use this anywhere anymore...
django-xmlrpc
django-rosetta
django-crontab

WeasyPrint
unicodecsv==0.14.1

openpyxl==2.4.8
ipython
decorator

lxml  # for currencies
Jinja2
dataclasses

gunicorn>=19.9,<20.0
