-r requirements.txt

freezegun
factory_boy
selenium
mock
coverage
pytest==3.0.3
pytest-cov==2.5.1
pytest-django==3.0.0
pytest-mock==1.6.0
pytest-profiling==1.2.6
pytest-sugar==0.8.0
pytest-watch==4.1.0
pytest-xdist==1.18.1
django-coverage-plugin
-e git+https://github.com/FactoryBoy/django-factory_boy#egg=master
django-pdb
django-test-without-migrations
line_profiler
django-devserver
cprofilev
django-sslserver==0.20
