{% load cms_tags %}
<div class="jumbotron">
    <div class="container text-center">
        <img class="img-fluid" src="/static/img/ep2019-logo-720px-alpha-brighter.png"
             alt="EuroPython 2019; July 8-14th 2019; Basel"
             title="EuroPython 2019; July 8-14th 2019; Basel">

        {% comment %}
        <img src="/static/img/tmplogo-small.png" width=200 height=200>
        <h1 class="display-3"><span class='text-secondary'>euro</span> <strong class='text-primary-light'>python</strong></h1>
        <h2>July 8-14th 2019, Basel, Switzerland</h2>
        {% endcomment %}

        <div style='margin-top: 30em'>
            {% if 0 %}
            NOTE(artcz): Disabled because we will open ticket sales a bit later after launch
            <p><a href='{% page_url 'tickets' %}' class='btn btn-outline-light btn-lg'>Get the tickets</a></p>
            {% endif %}
            <p><a style='font-size: 1.5em; padding: .5em 2em;' href='{% page_url 'submit-proposal' %}' class='btn btn-light btn-lg'>Submit Proposal</a></p>
        </div>
    </div>
</div>
