{% extends "comments/base.html" %}
{% load i18n %}
{% load microblog %}
{% load comments %}

{% block content %}
    {% get_post_content form.object_pk.data as content %}
    {% show_post_detail content "no-comment-form" %}
    <form action="{% comment_form_target %}#preview-comment" method="post">
        {% if form.errors %}
        <h1 id="preview-comment">{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
        {% else %}
        <div class="microblog post-detail">
            <ul class="comments preview">
                <li class="comment" id="preview-comment">
                    <h1>{% trans "Preview your comment" %}</h1>
                    <div class="metadata">
                        <strong>{{ form.name.data }}</strong>
                        , 
                        <span class="date">
                            {% now "d F Y" %} alle {% now "H:i" %}
                        </span>
                  </div>
                  <div class="body">
                    <blockquote>{{ comment|linebreaksbr }}</blockquote>
                  </div>
                </li>
            </ul>
        </div>
        {% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <p
                {% if field.errors %} class="error"{% endif %}
                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                {% if field.errors %}{{ field.errors }}{% endif %}
                {% ifequal field.name "email" %}
                    <label for="{{ field.auto_id }}">{{ field.label }} (non verrà reso pubblico)</label>
                {% else %}
                    {{ field.label_tag }}
                {% endifequal %}
                {{ field }}
                </p>
            {% endif %}
        {% endfor %}
        <p class="submit">
        <input type="hidden" name="next" value="{{ content.get_absolute_url }}" />
        <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
        <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
        </p>
    </form>
{% endblock %}
