<div class="control-group {% if field.errors %}has-error {% endif %}{{ classes }}">
    <label class="control-label">{{ field.label|safe }}{% if field.field.required %} <span>(richiesto)</span>{% endif %}</label>
    <div class="controls">
        {% for value in field.field.choices %}
        <label class="radio"><input type="radio" name="{{ field.html_name }}" value="{{ value.0 }}" {% if value.0 == field.value %}checked{% endif %}>{{ value.1 }}</label>
        {% endfor %}
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
    </div>
</div>


