{% extends "assopy/base.html" %}
{% load assopy_tags %}

{% block ASSOPY_MAIN_CONTENT %}
<h1>Log in...</h1>
<div class="container clearfix">
    <div class="span-6">
        {% render_janrain_box next %}
    </div>
    <div class="span-6 last">
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                {{ form.email|field }}
                {{ form.password|field }}
                <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>
            <fieldset class="border">
                <button type="submit">login</button>
            </fieldset>
        </form>
        {% if form.errors %}
        <p class="errornote">
            <br><b>Nome utente e/o password non corretti.</b> Riprova per favore.<br>
        </p>
        {% endif %}
    </div>
</div>
<h1>...<a href="{% url assopy-new-account %}?next={{ next }}">or create a new account</a></h1>
{% endblock %}
