{% extends "assopt/base.html" %}
{% load assopy_tags %}

{% block ASSOPY_MAIN_CONTENT %}
<h1>Enter new password</h1>

<div>
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>Please enter your new password twice so we can verify you typed it in correctly.</legend>
            {{ form.new_password1|field }}
            {{ form.new_password2|field }}
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        <fieldset class="border">
            <button type="submit">Change my password</button>
        </fieldset>
    </form>
    {% if form.errors %}
    <p class="errornote">
        <br><b>Nome utente e/o password non corretti.</b> Riprova per favore.<br>
    </p>
    {% endif %}
</div>
{% endblock %}
