{% extends "assopy/base.html" %}
{% load assopy_tags %}

{% block ASSOPY_MAIN_CONTENT %}
<h1>Password reset</h1>
<div>
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</legend>
            {{ form.email|field }}
        </fieldset>
        <fieldset class="border">
            <button type="submit">reset my password</button>
        </fieldset>
    </form>
</div>
{% endblock %}
