{% extends "assopy/base.html" %}
{% load assopy_tags %}

{% block ASSOPY_MAIN_CONTENT %}
{% if validlink %}
<h1>Enter new password</h1>

<div>
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>Please enter your new password twice so we can verify you typed it in correctly.</legend>
            {{ form.new_password1|field }}
            {{ form.new_password2|field }}
        </fieldset>
        <fieldset class="border">
            <button type="submit">Change my password</button>
        </fieldset>
    </form>
</div>
{% else %}
<h1>Password reset unsuccessful</h1>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}
