{% extends "assopy/base.html" %}
{% load assopy_tags %}

{% block ASSOPY_MAIN_CONTENT %}
<h1>Password change</h1>

<div>
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</legend>
            {{ form.old_password|field }}
            {{ form.new_password1|field }}
            {{ form.new_password2|field }}
        </fieldset>
        <fieldset class="border">
            <button type="submit">Change my password</button>
        </fieldset>
    </form>
</div>
{% endblock %}

