/*
 * Il programma di una conferenza può essere rappresentato in diversi modi:
 *  - timetable
 *      la versione più complessa e completa, con una disposizione a griglia
 *  - list
 *      gli eventi dispositi in una lista uno di seguito all'altro
 */
 
/*
 * SETTINGS AND MIXINS
 */
$cYellow: #FCFAD9;
$cBrown: #99886a;
$cOrange: #ffb871;
$cGreen: #d0d8bb;
$cGray: #878181;
$cPetrol: #4895A3;
$cBeige: #e1dbc5;
$cWhite: #ffffff;
$cBeginner: #738023;
$cIntermediate: #e7c30f;
$cAdvanced: #da4a0f;
$cHelpDesk: #d2c7e5;
$cPartners: #a4d4d4;
$cSprint: #a9cb0f;
$cTraining: #e7880f;

.box-sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin boxshadow($size: 20px, $color: #ccc){
    box-shadow: inset 0px 0 $size 0px rgba($color, 1);
    -moz-box-shadow: inset 0px 0 $size 0px rgba($color, 1);
    -webkit-box-shadow: inset 0px 0 $size 0px rgba($color, 1);
    -o-box-shadow: inset 0px 0 $size 0px rgba($color, 1);
    -ms-box-shadow: inset 0px 0 $size 0px rgba($color, 1);
}
@mixin setTrackColor($color){
    .title{
        background-color: $color;
    }
    .event{
        border-left: 1px dotted $color;
    }
}
/********** END SETTINGS ******/


body#schedule > .page > .container {
    margin-left: 60px;
}
.conference-schedules.timetable {
    /*
     * layout della timetable
     */
    .schedule {
        position: relative;
    }
    .event {
        position: absolute;
        z-index: 101;
    }
    .event.special { z-index: 100; }
    .hhmm { position: relative; }
    .hhmm > div { position: absolute; }

    /*
     * layout dell'evento; un evento può trovarsi in due stati:
     *  - normale
     *  - esposto (.exposed)
     *
     * Lo stato normale ha una dimensione contenuta e mostra un
     * sottoinsieme dei dati dell'evento; lo stato esposto, attivato
     * dall'utente, aumenta la dimensione dell'evento e rivela più
     * dettagli.
     *
     * La classe .maximized può essere applicata a i figli dell'evento per
     * renderli visibili solo nella versione esposta.
     */
    .event {
        overflow: hidden;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        border: 2px solid white;

        padding: 3px;
        background: #FCFAD9;
        font-variant: small-caps;

        transition: all 0.8s ease 0s;
        -moz-transition: all 0.8s ease 0s;
        -webkit-transition: all 0.8s ease 0s;
        -o-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;

        .maximized { display: none; }
    }
    .event.exposed {
        padding: 7px;
        z-index: 200;
        box-shadow: 0 3px 8px 0 #aaa;
        border: 4px solid white;
        width: 400px !important;
        height: 350px !important;
        opacity: 1 !important;

        .maximized { display: block; }
        span.maximized { display: inline; font-weight: bold; }
    }
}

.conference-schedules.timetable {
    /*
     * UI
     */
    .schedule {
        font-size: 0.85em;
        background: white;
        border: 10px solid white;
        margin: 0 0 40px;
        h3 {
            font: 13px/20px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,sans-serif;
            margin: 0 0 2px;
            text-transform: none;
        }
        .hhmm {
            color: #7d6f60;
            font: 13px/20px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,sans-serif;
            span {
                color: #301d1d;
                font-size: 14px;
            }
            >div{
                /* the first div to name the TRACK line */
                font-size: 11px;
                font-variant: small-caps;
            }
        }

        .track {
            .title {
                font-variant: small-caps;
                @extend .box-sizing;
                height: 40px;
                border: 2px solid #fff;
                background-color: $cBeige;
                padding: 2px;
                line-height: 11px;
                background-image: url("img/arrow.png");
                background-position: bottom center;
                background-repeat: no-repeat;
            }
        }
        .track[data-track=sprint1], .track[data-track=sprint2], .track[data-track=sprint3]{
            @include setTrackColor($cSprint);
        }
        .track[data-track=track1],
        .track[data-track=track2],
        .track[data-track=track3],
        .track[data-track=track4],
        .track[data-track=track-ita]{
            @include setTrackColor($cBeige);
        }        
        .track[data-track=training1], .track[data-track=training2]{
            @include setTrackColor($cTraining);
        }

        .track[data-track=track-ita]{
            .title{
                background-image: url("img/arrow.png"), url("img/italian_track.jpg");
                background-position: bottom center, left top;
                background-repeat: no-repeat;                
            }
        }
        .track{
            .event.special{
                border-left: none;
            }
            .event.keynote{
                .speakers{
                    border-bottom: none;
                }
            }
        }    
    }

    .event {
        a {
            border: none;
        }
        .close-event {
            position: absolute;
            right: 5px;
        }
        .name {
            line-height: 14px;
            //height: 28px;
            font-size: 11px;
            overflow: hidden;
        }
        .hhmm {
            position: static;
            height: auto;
            width: auto;
            margin-right: 5px;
        }
        .abstract {
            font-variant: normal;
            line-height: 1.5em;
            overflow-y: auto;
            height: 200px;
            border-top: 1px solid #B0AB63;
            border-bottom: 1px solid #B0AB63;
            padding: 2px;
        }
        .tag {
            cursor: pointer;
            margin: 0 2px 2px 0;
            font-size: 10px;
        }
        .speakers{
            border-bottom: 1px dotted $cBeige;
            margin-bottom: 5px;
            line-height: 1.4em;
            padding-bottom: 3px;
            opacity: 0.7;
        }
    }
    .event.exposed {
        .name {
            height: auto;
            font-weight: bold;
            margin: 8px 0;
            font-size: 12px;
        }
        .hhmm {
            font-weight: bold;
        }
        .speakers {
            opacity: 1;
        }
        .ellipsis {
            display: none;
        }
        .after-ellipsis {
            display: inline;
        }
        .talk-level {
            height: 20px;
        }
    }

    /*
     * notices
     */

    .event{
        .toggle-notice {
            width: 16px;
            height: 16px;
            pointer: cursor;
            background:{
                image: url("img/suggest.png");
                repeat: no-repeat;
                position: bottom center;
            }


        }
        .notice {
            transition: all 0.8s ease 0s;
            -moz-transition: all 0.8s ease 0s;
            -webkit-transition: all 0.8s ease 0s;
            -o-transition: all 0.8s ease 0s;
            -ms-transition: all 0.8s ease 0s;
            position: absolute;
            background: $cPartners;
            border: 6px solid #93c3c3;
            top: 0;
            left: 100%;
            right: 0;
            bottom: 0;
            h3 {
                border: 0 !important;
                display: block !important;
                margin: 10px 0;
                padding: 0 !important;
            }
            p {
                padding: 0 3px;
                a {
                    border-bottom: 1px solid $cTraining;
                    color: $cTraining;
                }
            }
        }
    }

    /*
     * talk level
     */
    .event {
        .talk-level {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 3px;
            background: transparent;
            color: white;
        }
        .talk-level.beginner {
            background: $cBeginner;
        }
        .talk-level.intermediate {
            background: $cIntermediate;
        }
        .talk-level.advanced {
            background: $cAdvanced;
        }
    }

    /*
     * event tools
     */
    .tools > div { display: inline-block; }
    .event {
        .tools {
            position: absolute;
            right: 0;
            bottom: 3px;
            padding: 0;
            > div {
                margin-left: 5px;
            }
            button {
                background-color: transparent;
                padding: 0;
                margin: 0;
                border: 0;
                width: 16px;
                height: 16px;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                -o-box-shadow: none;
                -ms-box-shadow: none;
            }
        }
        .talk-interest {
            a {
                padding-left: 18px;
            }
            a.up {
                background: transparent url(../i/star-on-16.png) no-repeat left center;
            }
            a.up.active {
                background: transparent url(../i/star-off-16.png) no-repeat left center;
            }
        }
    }
    .event.exposed {
        .tools {
            background: white;
            bottom: 0;
            padding: 0 4px;
            > div.maximized {
                display: inline-block;
            }
        }
    }

    /*
     * prenotazione evento
     */
    .event {
        .book-event {
            padding: 0 4px;
            > div {
                padding: 0 4px;
            }
            a {
                color: white;
            }
            .book {
                background: #4895A3;
            }
            .cancel {
                background: #4895A3;
            }
            .sold-out {
                background: #ABA18F;
            }
            .restricted {
                background: #ABA18F;
            }
        }
    }

    /*
     * gli eventi "special" sono quelli "strutturali":
     *
     * - coffee break
     * - lunch
     * - registration
     */

    .event.keynote {
        height: 100%;
        text-align: center;
        padding-top: 20px;
        h3{
            font-size: 13px;
            font-variant: small-caps;
            display: inline;
            padding: 7px;
            border: 1px dotted $cGray;
        }
    }

    .event.special {
        @extend .event.keynote;
        background-color: rgba($cBeige, .6);
        background-image: url(../i/empty-track.png);
        backround-position: bottom left;
        h3 {
            font-size: 1.3em;
            border: 0;
            padding: 0;
            .hhmm {
                display: inline;
                font-size: inherit;
                span {
                    font-size: inherit;
                }
                &:after {
                    content: " - ";
                }
            }
        }
    }

    .event.keynote.exposed, .event.special.exposed {
        text-align: left;
    }

    /* eventi evidenziati */

    /* starred dall'utente (+1) */
    .event.interest-up {
        background: #d7f5fa;
    }

    /* downvoted dall'utente (-1) */
    .event.interest-down {
        opacity: .7;
        background: #999;
    }

    /* risultato di una ricerca */
    .event.highlighted {
        //@include boxshadow(59px, $cGreen);
    }

    /* escluso da una ricerca */
    .event.dimmed {
        opacity: 0.7;
        background: rgba($cBeige, 0.3);
    }
    .event.exposed.dimmed {
        opacity: 1;
        background: rgba($cYellow, 1);
    }

}

#schedule-navigator {
    position: fixed;
    top: 33%;
    left: 0;
    height: 40px;
    width: 330px;
    background: white;
    padding: 0;
    border: 1px solid #7D6F60;
    z-index: 2000;
    transform: translate(-145px, 0) rotate(-90deg);
    -moz-transform: translate(-145px, 0) rotate(-90deg);
    -webkit-transform: translate(-145px, 0) rotate(-90deg);
    -o-transform: translate(-145px, 0) rotate(-90deg);
    -ms-transform: translate(-145px, 0) rotate(-90deg);

    .close {
        position: absolute;
        right: 0;
    }
    a {
        border: 0;
    }
    .disabled {
        color: #999;
        opacity: 0.7;
    }
    $nav_pad: 5px;
    > div {
        float: left;
        height: 40px;
        margin: 0;
        padding: 0 10px !important;
        line-height: 32px;
        > div {
            display: none;
            position: absolute;
            border: 2px solid #7D6F60;
            transform: rotate(90deg) translate(10px, -10px);
            -moz-transform: rotate(90deg) translate(10px, -10px);
            -webkit-transform: rotate(90deg) translate(10px, -10px);
            -o-transform: rotate(90deg) translate(10px, -10px);
            -ms-transform: rotate(90deg) translate(10px, -10px);
            transform-origin: left top;
            -moz-transform-origin: left top;
            -webkit-transform-origin: left top;
            -o-transform-origin: left top;
            -ms-transform-origin: left top;
            background: white;
            padding: 0;
            width: 150px;
            h3{
                padding: $nav_pad;
            }
            ul{
                li{
                    padding: $nav_pad;
                }   
            }
        }
    }
    > div:first-child {
        background: #301D1D;
        color: #FCFAD9;
        font-weight: bold;
        padding: 4px 8px;
    }
    > div.selected{
        background-color: $cBrown;
        >a{
            color: $cWhite;            
        }
        a.filter-active{
            color: $cGray;
            opacity: .6;
        }
    }
}

.conference-schedules.timetable.vertical-narrow {
    $trackW: 100px;
    $slot15: 30px;
    $event0: 40px;
    $height: $event0 + $slot15 * 42 + 60;
    .schedule > .hhmm {
        float: left;
        width: 40px;
        height: $height;
    }
    .schedule:after {
        content: ' ';
        display: block;
        clear: both;
    }
    .track {
        position: relative;
        float: left;
        width: $trackW;
        height: $height;
    }
    .event { width: 100%; }

    .duration-15 { height: $slot15; }
    .duration-30 { height: $slot15*2; }
    .duration-45 { height: $slot15*3; }
    .duration-60 { height: $slot15*4; }
    .duration-75 { height: $slot15*5; }
    .duration-90 { height: $slot15*6; }
    .duration-240 { height: $slot15*16; }
    .duration-480 { height: $slot15*32; }
    .duration-630 { height: $slot15*42; }
    .time-0900 { top: $event0 + $slot15 * 0; }
    .time-0930 { top: $event0 + $slot15 * 2; }
    .time-0945 { top: $event0 + $slot15 * 3; }
    .time-1030 { top: $event0 + $slot15 * 6; }
    .time-1115 { top: $event0 + $slot15 * 9; }
    .time-1215 { top: $event0 + $slot15 * 13; }
    .time-1300 { top: $event0 + $slot15 * 16; }
    .time-1315 { top: $event0 + $slot15 * 17; }
    .time-1430 { top: $event0 + $slot15 * 22; }
    .time-1530 { top: $event0 + $slot15 * 26; }
    .time-1630 { top: $event0 + $slot15 * 30; }
    .time-1715 { top: $event0 + $slot15 * 33; }
    .time-1815 { top: $event0 + $slot15 * 37; }
    .time-1830 { top: $event0 + $slot15 * 38; }
    .time-1930 { top: $event0 + $slot15 * 42; }
    .tracks-1 { width: $trackW * 1; }
    .tracks-2 { width: $trackW * 2; }
    .tracks-3 { width: $trackW * 3; }
    .tracks-4 { width: $trackW * 4; }
    .tracks-5 { width: $trackW * 5; }
    .tracks-6 { width: $trackW * 6; }
    .tracks-7 { width: $trackW * 7; }
    .tracks-8 { width: $trackW * 8; }

    .track .title {
        position: absolute;
        width: 100%;
        top: 0;
        text-align: center;
    }
}


.conference-schedules.timetable.vertical {
    $trackW: 190px;
    $slot15: 15px;
    $event0: 40px;
    $height: $event0 + $slot15 * 42 + 60;
    .schedule {
        width: 1400px;
    }
    .schedule > .hhmm {
        float: left;
        width: 40px;
        height: $height;
    }
    .schedule:after {
        content: ' ';
        display: block;
        clear: both;
    }
    .track {
        position: relative;
        float: left;
        width: $trackW;
        height: $height;
    }
    .event { width: 100%; }

    .duration-15 { height: $slot15; }
    .duration-30 { height: $slot15*2; }
    .duration-45 { height: $slot15*3; }
    .duration-60 { height: $slot15*4; }
    .duration-75 { height: $slot15*5; }
    .duration-90 { height: $slot15*6; }
    .duration-240 { height: $slot15*16; }
    .duration-480 { height: $slot15*32; }
    .duration-630 { height: $slot15*42; }
    .time-0900 { top: $event0 + $slot15 * 0; }
    .time-0930 { top: $event0 + $slot15 * 2; }
    .time-0945 { top: $event0 + $slot15 * 3; }
    .time-1030 { top: $event0 + $slot15 * 6; }
    .time-1115 { top: $event0 + $slot15 * 9; }
    .time-1215 { top: $event0 + $slot15 * 13; }
    .time-1300 { top: $event0 + $slot15 * 16; }
    .time-1315 { top: $event0 + $slot15 * 17; }
    .time-1430 { top: $event0 + $slot15 * 22; }
    .time-1530 { top: $event0 + $slot15 * 26; }
    .time-1630 { top: $event0 + $slot15 * 30; }
    .time-1715 { top: $event0 + $slot15 * 33; }
    .time-1815 { top: $event0 + $slot15 * 37; }
    .time-1830 { top: $event0 + $slot15 * 38; }
    .time-1930 { top: $event0 + $slot15 * 42; }
    .tracks-1 { width: $trackW * 1; }
    .tracks-2 { width: $trackW * 2; }
    .tracks-3 { width: $trackW * 3; }
    .tracks-4 { width: $trackW * 4; }
    .tracks-5 { width: $trackW * 5; }
    .tracks-6 { width: $trackW * 6; }
    .tracks-7 { width: $trackW * 7; }
    .tracks-8 { width: $trackW * 8; }

    .track .title {
        position: absolute;
        width: 100%;
        top: 0;
        text-align: center;
    }
}

/*
- toppone bianco dietro gli schedule
- titolo track
- distinzione speaker/titolo
- stellina al posto di +1/-1

* navigazione
    - effetto "disabled" per link (ad esempio "My Schedule") da poter utilizzare
      anche nei sotto menu
    - quando attivo una voce forse potremmo selezionarla?
    - sotto menu Filters, serve una classe "selected" per i filtri sulla track
    - sotto menu Filters, spaziature e titolo
    - iconcina per chiudere i sottomenu (la riuserei anche nello zoom degli eventi)
* highlight
    - eventi evidenziati (apri un evento a caso e scegli un tag)
    - eventi "dimmed" opacizzati è il contrario del precedente potremmo usarlo
        nelle ricerchè per "nascondere" i risultati
        $('.event').dim()
    - +1 (e -1 anche se forse non lo useremo)
* colori
    - come ti piace di più, possiamo selezionare gli eventi per:
        # tipo di track
        # tipo di evento (special, keynote, normale)
        
OK - stellina gialla        
OK - Nomi delle tracce da stilare
?? - Traccia keynote: non si capiscono i nomi delle celle
Troncamento titoli: mancano i puntini per indicare i titoli
Troncamento titoli: visualizzare più testo se la cella è più ampia e non serve troncarla
Pause: le scritte coffee break e lunch sono piccole e allineate in alto
Stellina: non si vede perché è troppo trasparente, e va invertita chiara/scura
La giornata di Lunedì è brutta a vedersi: tutta allineata a sinistra e con lo spazio bianco a lato.
I training non sono marcati in modo diverso dai talk (l'anno scorso c'era un background diverso e una scritta "training" sopra la cella)
L'italian track non è marcata in modo diverso dalle altre.
I keynote non sono marcati di colore diverso.
La spaziatura interlinea applicata ai nomi degli speaker è più ampia di quella che divide nomi di speaker da titolo di talk; vedi l'esempio del talk chiamato "How to boostrap" dove la spaziatura interlinea è confusionaria.
Per me non c'è abbastanza differenza stilistica/dimensione tra titolo del talk (più importante) e nome dello speaker (meno importante).
*/
