{% load conference %}
    <div class="drop-zone">
        <em class="time"></em>
    </div>
{% for track, events in timetable.iterOnTracks %}
{% for e in events %}
    <div
        {% if e.id %}
        id="e{{ e.id }}" class="event {{ e.tags|join:" " }}"
        data-id="{{ e.id }}"
        data-tracks="{{ e.tracks|join:"," }}"
        {% else %}
        class="event fake"
        {% endif %}
        data-start-time="{{ e.time|date:"Y/m/d H:i" }}"
        data-duration="{{ e.duration }}"
        >
        <div class="inner">
            <em class="time">{{ e.time|date:"H:i" }}</em>
            {% if e.id %}
            <span class="title">{{ e.name|safe }}</span>
            {% endif %}
            {% if e.tracks|length > 1 %}
                <div class="multi-track"></div>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endfor %}
