



.blog-feed {
    font-size: 2em;
}

.blog-feed a {
    vertical-align: super;
}

.toggle {
    cursor: pointer;
}

.newsletter form {
    margin-top: 10px;
    width: 220px;
}

.newsletter label {
    display: inline;
}

.newsletter label input {
    width: 110px;
}

.newsletter .google-link {
    text-align: right;
    width: 220px;
}


/* ---------------------------------------------------
=blog
----------------------------------------------------- */



.post-detail h1 {
    margin: 0 0 20px 0;
}

.post-detail p {
	margin-bottom: 10px;
}

.post-detail .social-networks {
    margin: 10px;
}

.post-detail .social-networks a {
    margin: 0 3px;
    text-decoration: none;
    border: 0;
}

.post-detail .social-networks a:hover {
    background: none;
}

.microblog .draft {
    color: #900;
    font-family: Monospace;
}

.post-summary .metadata {
    margin-top: 15px;
}

.post-summary li {
    margin-bottom: 5px;
}

.post-summary .continue {
    margin-left: 10px;
}

ul.archive > li {
    margin: 25px 0;
}


.microblog .comments-form, .microblog .comments {
    margin-top: 20px;
    margin-bottom: 20px;
}

.microblog ul, .microblog ol {
    margin-left: 20px;
}

.microblog .comments li {
    margin-bottom: 15px;
}

.microblog .preview li {
    list-style: none;
}

.microblog ul.preview {
    margin: 0;
}

.microblog .preview #preview-comment {
    border-left: 6px solid #487E8A;
    padding-left: 20px;
    padding-bottom: 20px;
}

/* ---------------------------------------------------
=habla
----------------------------------------------------- */

#habla_available_div {
    display: none;
	
	
}

#habla_unavailable_div {
    display: none;

}

#nav #habla_unavailable_div a {
    cursor: default;
    border: 0;
	
	color: #B3CEDA;
 
 	padding-left: 24px;
	background: transparent url(../i/chat-empty.gif) center left no-repeat;
}


#nav  #habla_unavailable_div a:hover {
    background-color: transparent;
}


#nav  #habla_available_div  a {

	padding-left: 24px;
	background: transparent url(../i/chat-full.gif) center left no-repeat;
	
}


#nav  #habla_available_div  a:hover {

	background: #2a445e url(../i/chat-full.gif) center left no-repeat;
	
}

