
/* ---------------------------------------------------
=extras
----------------------------------------------------- */



.blog-feed {
    font-size: 2em;
}

.blog-feed a {
    vertical-align: super;
}

.toggle {
    cursor: pointer;
}

.newsletter form {
    margin-top: 10px;
    width: 220px;
}

.newsletter label {
    display: inline;
}

.newsletter label input {
    width: 110px;
}

.newsletter .google-link {
    text-align: right;
    width: 220px;
}

.post-detail h1 {
    margin: 0 0 20px 0;
}

.post-detail p {
	margin-bottom: 10px;
}

.post-detail .social-networks {
    margin: 10px;
}

.post-detail .social-networks a {
    margin: 0 3px;
    text-decoration: none;
    border: 0;
}

.post-detail .social-networks a:hover {
    background: none;
}

.microblog .draft {
    color: #900;
    font-family: Monospace;
}
