form {
	
}

form p.tip {
	font-size: 12px;
	
	margin: 0 0 .8666em 0;
	
	color: #666;
}

fieldset {    

}



legend {
	
}


label {
    display: block; 
	
	font-size: 12px;
	
	margin: 0 0 .8666em 0;
}

label.inline {
    display: inline; 
}

label span {
	color: #666;
}

input, 
select, 
textarea, 
button {        
	
		
	background: #eee;

	font: inherit;    
	
	padding: 4px 2px;
}

input[type='text'], 
input[type='password'], 
select {    

}



input,
select, 
textarea {    
	border: none;
}


textarea {    
    line-height: 1.6em;
	width: 95%;
}

input:focus, 
select:focus,
textarea:focus {    
	background: #fffed9;	
}




button {
	
	padding:  5px 4px;

	cursor: pointer;
	
	
	background: #A72020;
	color: #fff;
	
	border: 2px solid #000;

	font: bold 13px/1em Helvetica, Arial, sans-serif;
	

}
