
body {
	color: #2a445e; 
	background: #dfeaf0 url(../i/bg.jpg) top center no-repeat;
	
	font: normal 13px/20px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;

}




/* ---------------------------------------------------
=misc
----------------------------------------------------- */

.cut {clear: both; height: 1px; }
.hidden { display: none;}
.inline { display: inline; }


h1, h2, h3, h4, h5, h6 {
	
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}


h1 {
	
	font: bold 21px/30px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;

}



abbr,
acronym { 
  font-variant: small-caps; 
  letter-spacing: 1px; 
  text-transform: lowercase; 
  font-size:1.2em;
  line-height:1%;

}



a {

	color: #2a445e;
	text-decoration: none;
	
	border-bottom: 1px dotted #2A445B;
}

a:hover {
	color: #fff;
	background: #2a445e;
	border-bottom: 1px solid #72C5D6;
}





/*
a.feed {
	padding-left: 16px !important;
	background: transparent url(../i/feed-icon.gif) center left no-repeat;
}
*/

/*
A HaRd challenge - styling an HR element
http://www.robertnyman.com/2007/03/09/a-hard-challenge-styling-an-hr-element/
*/
hr {
  clear: both;
  width: 100%; 
    
  height: 1px;

  margin: 0 0 41px 0; 

  /* IE */
  _margin: -7px 0 34px 0; 
  
  border: none; 
  
  visibility: hidden;
}







/* ---------------------------------------------------
=nav
----------------------------------------------------- */

#nav {
	
	list-style: none;
	
	
	
	
}

#nav li {

	
	float: left;
	
	margin: 0 0 0 10px;
	
}

/*
#nav li.sep {
	padding-left: 20px;	
	
	background: transparent url(../i/bg-menu.gif) center left no-repeat;	
}
*/


#nav li a {
	
	font: bold 14px/60px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	padding: 0 1px;

}

/* gfx */
	
#nav .big {

	margin: 15px 4px 0 0;
}

#nav .big a {

	padding: 0 4px;

	display: block;	
	
	border: none;
	
/*	background: #72C5D6 url(../i/bg-menu-li.gif) center left no-repeat;	
*/
	background: #72C5D6;	
	
	text-transform: uppercase;
	
	border: 1px solid  #56a6b8;
	
	font: bold 14px/28px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;

}


/*
#nav .big a + a {
	background-position: 50px 14px;
}

#nav .big a + a + a {
	background-position: 100px 14px;
}
*/


#nav .big a:hover,
#nav .current a {
	
	background: #fff;	
	color: #2a445e;	
	
	border: 1px solid  #fff;
}



#nav2 {
	
	list-style: none;
	
	margin: 0 0 20px 0;
	
	
}

#nav2 li {
	
	display: inline;
	
	padding: 0 10px 0 0;
	
	
}










/* ---------------------------------------------------
=header
----------------------------------------------------- */

#header {
	margin-top: 20px;
	margin-bottom: 40px;
}


#logo a {

	border: none;
	
	
	
	
}


#logo a:hover {

	background: none;	
	
}

#logo img {

	display: block;
	
}



/* ---------------------------------------------------
=main
----------------------------------------------------- */


#main {	
	margin-bottom: 40px; 
}

/*
.meta {
	color: #666;
	
	font-size: 12px;
}
*/

.pending-moderation {
	border-left: 2px solid #A72020;
	
	margin: .8em 0;
	padding: 0 0 0 .4em;
	
	
}



.notice {
	font-style: italic;
}



.archive {
	list-style: none
	
}

#comments  {
	
	margin: 40px 0 0 0;
}


#comment-list li {
    margin: 0 0 20px 0;
    
    
}

#add-comment {
	
	margin: 40px 0 0 0;
}


#trackback {
	margin: 40px 0 0 0;
	
	color: #666;
}





/* ---------------------------------------------------
=sponsor
----------------------------------------------------- */

#sponsor  {
	
	
}

#sponsor  h2 {
	color: #5595A3;
}

#sponsor dt {
	margin: 20px 0 0 0;
	padding: 5px 0 5px 15px;
	
	text-transform: uppercase;
	
	
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	color: #2a445e;
	background: #63ADBD;
	
	
	
	
	
}

#sponsor dd {
	border-bottom: 1px solid #a4d6e0;

}

#sponsor img,
#sponsor a {
	display: block;
		
}

#sponsor a {
	border: none;
	
}



/* ---------------------------------------------------
=footer
----------------------------------------------------- */


#footer {


	background: transparent url(../i/bg-footer.gif) top left  no-repeat;
	
	padding: 40px 0 0 0;
	

	color: #487e8a;
	margin-bottom: 40px;

}

#footer a {
	color: #487e8a;
}

#footer a:hover {
	color: #fff;
}

#footer p {

	font-size: 12px;
}

#cc {
	margin: 20px 0 0 0;
}

#xkcd {
	text-align: right;
}


#xkcd a,
#cc a {

	background: transparent;	
	border-bottom: none;

}



