<h4>Summary</h4>

<table class='table table-hover'>
    <tr>
        <th>code</th>
        <th>ticket</th>
        <th>&euro;</th>
        <th class='text-right'>Manage</th>
    </tr>

    {% for item in order.orderitem_set.all %}
    <tr>
        <td>{{ item.code }}</td>
        <td>{% if item.ticket %}{{ item.ticket }}{% else %}{{ item.description }}{% endif %}</td>
        <td>{{ item.price }}</td>
        {% if item.ticket %}
        <td class='text-right'>
            <a class='btn btn-outline-primary' href='{% url "user_panel:manage_ticket" item.ticket.id %}'>Configure ticket</a>
            <a class='btn btn-outline-primary' href='{% url "user_panel:assign_ticket" item.ticket.id %}'>Assign ticket</a>
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<h4 style='margin-top: 2em'>Total: &euro; {{ order.total }}</h4>
<h5>Including € {{ order.total_vat_amount }} VAT</h5>

<p style='margin-top: 2em'>All pricess are gross and include <strong>23%</strong> Irish VAT</p>
