{% extends "ep19/bs/cart/base.html" %}

{% block breadcrumbs %}
{{ block.super }}
&raquo; Step 4: Confirmation and Payment
{% endblock %}

{% block content %}

<div class='container page'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Congrats! Order #{{ order.code }} complete.</h1>

            {% include "ep19/bs/cart/_order_summary.html" %}

            <p style='margin-top: 5em'>
            You can now manage your tickets in your <a href='{% url "user_panel:dashboard" %}'>user panel</a>.
            </p>
        </div>
    </div>
</div>


{% endblock %}
