{% extends "admin/base_site.html" %}
{% load assopy_tags conference staticfiles %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block extrahead %}
{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>

<style>
#send-email > div {
    float: left;
    padding: 10px;
}
#send-email > div:first-child {
    width: 60%;
}
#send-email > div.history {
    width: 35%;
}
#send-email > pre {
    clear: both;
}
#preview {
    border: 1px solid #ccc;
    padding: 20px;
}
#preview pre, #send-email .history pre {
    margin: 0;
}
table {
    margin-top: 10px;
    width: 100%;
}
#send-email th, #preview th {
    text-align: right;
    width: 50px;
}
#send-email table input, #send-email table textarea {
    width: 400px
}
</style>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">Home</a> &rsaquo;
     <a href="../../../">Conference</a> &rsaquo;
     <a href="../../">Conference</a>&rsaquo;
     <a href=".">stats</a>&rsaquo;
     {{ stat.short_description }} | {{ stat_code }}
</div>
{% endblock %}{% block content %}
{% with stat.get_data as result %}
<h1>{{ stat.short_description }} (<a href="{% url "admin:conference-ticket-stats-details-csv" conference %}?code={{ stat_code }}">csv</a>)</h1>
<table>
    <tr>
        {% if result.data.0.uid %}
        <th>#id</th>
        {% endif %}
        {% for colid, colname in result.columns %}
        <th>{{ colname }}</th>
        {% endfor %}
    </tr>
    {% paginate result.data count=50 as page %}
    {% for row in page.object_list %}
    <tr>
        {% if row.uid %}
        <td>{{ row.uid }}</td>
        {% endif %}
        {% for colid, colname in result.columns %}
        <td>{{ row|attrib_:colid|safe }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{% add_page_number_to_query page.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?{% add_page_number_to_query page.next_page_number %}">next</a>
        {% endif %}
    </span>
</div>

{% if request.user.email and result.data.0.uid %}
    <div id="send-email">
        <div>
            <h1>Send an email to all users in this list</h1>
            <form action="" method="POST">{% csrf_token %}
                <fieldset>
                    <table>
                        {{ form.as_table }}
                    </table>
                </fieldset>
                <label>Preview id <input type="text" size="5" maxlength="5" name="preview_id" /></label>
                <input type="submit" name="preview" value="Preview email" />
                <input type="submit" name="send" value="Send emails" />
            </form>
        </div>
        <div class="history">
            <h1>Previous mailings{% if not email_log %} (log disabled){% endif %}</h1>
            <dl>
            {% for record in form.load_emails %}
                <dt onclick="django.jQuery(this).next().toggle()">{{ record.subject }} ({{ record.from_ }})</dt>
                <dd style="display: none"><pre>{{ record.body }}</pre></dd>
            {% endfor %}
            </dl>
        </div>

        <pre>
{% templatetag openvariable %} conf }}               => conference instance
{% templatetag openvariable %} conf.code }}          => conference code (ep2012)
{% templatetag openvariable %} conf.name }}          => conference name (EuroPython 2012)
{% templatetag openvariable %} user }}               => user instance
{% templatetag openvariable %} user|full_name }}     => full name (eg. Giovanni Bajo)
{% templatetag openvariable %} user|tickets_url }}   => URL to modify tickets (with sign-on token for users with autogenerated account)
        </pre>
    </div>
    {% if preview %}
    <div id="preview">
        <h1>Preview</h1>
        <table>
            <tr>
                <th>To:</th>
                <td>{{ preview.2.email }}</td>
            </tr>
            <tr>
                <th>Subject:</th>
                <td><pre>{{ preview.0 }}</pre></td>
            </tr>
            <tr>
                <th>Body:</th>
                <td><pre>{{ preview.1 }}</pre></td>
            </tr>
        </table>
    </div>
    {% endif %}
{% endif %}

{% endwith %}
{% endblock %}
