{% extends "ep19/bs/base.html" %}

{% block content %}
<style type="text/css">
.speakers {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #eee;
}
</style>


<div class="container page" id="talk_page">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class='breadcrumb-item'><a href="/">Home</a></li>
            <li class='breadcrumb-item'><a href='#'>Talks</a></li>
            <li class='breadcrumb-item active'>{{ talk.title }}<li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class='talk'>
                <h1>{{ talk.title }}</h1>
                <h3>{{ talk.sub_title }}</h3>
                <h5>{% for speaker in talk.get_all_speakers %}{{ speaker.user.assopy_user.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</h5>
                <p>{% for t in talk.tags.all %}<span class='badge badge-secondary'>{{ t }}</span> {% endfor %}</p>
                <p>{{ talk.get_abstract|linebreaks }}</p>
                <p>
                <code>Type: {{ talk.get_type_display }}; Python level: {{ talk.get_level_display }}; Domain level: {{ talk.get_domain_level_display }}</code>
                </p>
            </div>


            <div class='speakers'>
            {% for speaker in talk_as_dict.speakers %}
            <h3>{{ speaker.name }}</h3>
            <h4>{{ speaker.company }} – {{ speaker.company_homepage }}</h4>
            <p style='margin-bottom: 2em'>
            {{ speaker.bio|linebreaks }}
            </p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
