{% load i18n hcomments_tags %}
<li id="comment-{{ c.id }}" class="comment-level-{{ c.level }}{% if comment_owner %} user-comment{% endif %} clear">
    <div class="gravatar"><img src="{{ c.user_email|gravatar:"default=identicon,size=40" }}" alt="Gravatar" /></div>

    <div class="copy">{{ c.comment|linebreaksbr }}</div>
    <div class="metadata" {% if forloop.last %}id="last-comment"{% endif %}>
    {% if c.userinfo.url %}
        <strong><a href="{{ c.userinfo.url }}" rel="nofollow">{{ c.user_name }}</a></strong>,
    {% else %}
        <strong>{{ c.user.name }}</strong>,
    {% endif %}
        <span class="date"><a title="{% trans "Permalink a questo commento" %}" href="#comment-{{ c.id}}">{{ c.submit_date|date:"d F Y" }}</a> {% trans "alle" %} {{ c.submit_date|date:"H:i" }}</span>
    </div>
</li>
