{% extends "p3/body_base.html" %}
{% load pages_tags markup p3 conference %}

{% block MAIN_CONTENT %}
<div class="grid-container">
    <div class="grid-100">
        <h1>{% show_content current_page "title" %}</h1>
    </div> <!-- /grid -->
    <div class="grid-60">    
        <div class="page-summary">
            {% placeholder subtitle with markItUpMarkdown as text parsed %}
            {{ text|markdown }}
        </div>    
        <div class="cms {% block PAGE__CLASS_MAIN_COLUMN %}{% endblock %}">
            {% placeholder text with markItUpMarkdown as text parsed %}
            {% render_page_template text as m %}
            {{ m|markdown }}
        </div><!-- /cms -->
    </div> <!-- /grid -->
    {% block PAGE__AFTER_MAIN_COLUMN %}
        <aside class="grid-30 prefix-10 well well--small">
            {% block PAGE_SIDEBAR_TOP %}
            {% endblock %}
            {% block PAGE_SIDEBAR %}
            {% placeholder right-column with AdminTextareaWidget parsed %}
            {% endblock %}
            {% comment %}
                {% box_didyouknow %}
            {% endcomment %}
            {% box_newsletter %}
        </aside> <!-- /aside grid -->
    {% endblock %}
</div><!-- /grid-container -->
{% endblock %}
