{% extends "p3/base.html" %}
{% load pages_tags p3 conference %}

{% block MAIN_CONTENT %}
<section class="full-page-height">
<div class="grid-container">
    <div class="grid-100">
        {% if current_page %}
            <h1>{% show_content current_page "title" %}</h1>
        {% endif %}
    </div> <!-- /grid -->
    <div class="grid-60">
        {% block PAGE_SUMMARY_TOP %}{% endblock %}
        <div class="page-summary">
            {% placeholder subtitle with markItUpMarkdown as text parsed %}
            {{ text|markdown2:"nosafe" }}
        </div>
        {% block PAGE_SUMMARY_BOTTOM %}{% endblock %}
        {% block PAGE_MAIN_COLUMN_TOP %}{% endblock %}
        <div class="cms">
            {% placeholder text with markItUpMarkdown as text parsed %}
            {% render_page_template text as m %}
            {{ m|markdown2:"nosafe" }}
        </div><!-- /cms -->
        {% block PAGE_MAIN_COLUMN_BOTTOM %}{% endblock %}
    </div> <!-- /grid -->
    {% block PAGE__AFTER_MAIN_COLUMN %}
        <aside class="grid-30 prefix-10 well well--small cms">
            {% render_fb_like ref="like_page_col" %}
            <div class="slot">
                {% block PAGE_SIDEBAR_TOP %}{% endblock %}
                {% block PAGE_SIDEBAR %}
                {% placeholder right-column with markItUpMarkdown as rtext parsed %}
                {{ rtext|markdown2:"nosafe" }}
                {% endblock %}
            </div>
            {% box_didyouknow %}
            {% box_newsletter %}
        </aside> <!-- /aside grid -->
    {% endblock %}
</div><!-- /grid-container -->
</section>
{% endblock %}

