{% extends "cms/content.html" %}
{% load pages_tags %}
{% load markup %}
{% load p3 %}


{% block PAGE__CLASS_MAIN_COLUMN %}span-12 last{% endblock %}

{% block PAGE_ENTRY %}
    {% comment %}<div id="page">
        Questo DIV aggiunge ai suoi contenuti il fondo bianco 
        con la l'effetto graffiato e un padding.
        </div>
    {% endcomment %}
    {% placeholder text with markItUpMarkdown as text %}
    {{ text|markdown }}
{% endblock %}

{% block PAGE__AFTER_MAIN_COLUMN %}{% endblock %}
