{% extends "p3/base.html" %}
{% load p3 microblog_tags conference %}
{% block BODY_CLASS %}home{% endblock %}

{% block TEASER %}

<section class="">
    <div class="grid-container">
    <div class="grid-100">
        <div class="intro">
            <p class="lead"><b>PyCon</b> claim kale chips trust fund, cred assumenda dolore selfies hella leggings cillum.  Letterpress iPhone odio, duis  delectus Schlitz street art.  Portland pariatur hoodie veniam, hella flexitarian Pinterest.  Et stumptown beard direct trade  mumblecore.</p>
        </div>        
    </div><!-- /grid-100 -->
    </div><!-- /grid-container -->
</section>


<section class="alt">
    <div class="grid-container">
    <div class="grid-100">
        {% current_conference as conf %}
            <div class="">
                {% if conf.cfp %}
                <div class="home-notice">
                    <a href="/call-for-proposals/"><img src="{{ STATIC_URL }}p5/images/notice-call-for-paper.png" alt="Call for paper is open. Submit your paper" width="315" height="130" /></a>                    
                </div>
                {% endif %}
                {% if conf.voting %}
                <div class="home-notice">
                    <div class="badge" style="margin-left: 50px; margin-right: 50px">
                         <h5><a href="/talk-voting/">Talk voting is open &rarr; </a></h5>
                    </div>
                </div>
                {% endif %}
            </div>
        
            <div class="">
                {% get_deadlines limit=1 as l %}
                {% if l %}
                <div class="cal">
                    <h2><span>Next stop is&hellip;</span><span class="more"><a href="/calendar">See full calendar</a></span></h2>
                    <div class="deadline clearfix">
                        <h3><span>{{ l.0.date|date:"d" }}</span> {{ l.0.date|date:"b" }}</h3>
                        <p>{{ l.0.body|safe }}</p>
                    </div>                   
                </div>
                {% endif %}
            </div>
    </div><!-- /grid-100 -->
    </div><!-- /grid-container -->
</section>

<section class="">
<div class="grid-container">
    
    <div class="grid-100">      
        <h2>PyCon at a glance</h2>
    </div>

    <div class="grid-33">            
        <h3>Learn</h3>                        
        <dl>
            <dt><span>Talks</span></dt>
            <dd>More than 120 talks in 5 different tracks</dd>
            <dt><a href="/training">Trainings</a></dt>
            <dd>In-depth 4-hours sessions: write code, improve your skills</dd>
            <dt><a href="/poster-session">Posters</a></dt>
            <dd>Watch visualizations of projects, and chat with the authors</dd>                
       </dl>
    </div>
    
    <div class="grid-33">
        <h3>Hack</h3>
        <dl>
            <dt><a href="/p3/sprints/">Sprints</a></dt>
            <dd>Contribute to your favourite Python project and discuss with developers</dd>
            <dt><a href="/pyevents">Competitions</a></dt>
            <dd>Solve problems and riddle, win fantastic prizes</dd>
            <dt><a href="/openspace">Open space</a></dt>
            <dd>Relax, get a tan, and join BoF, meetups, and impromptu talks</dd>
        </dl>
    </div>
    
    <div class="grid-33">
        <h3>Discover</h3>
        <dl>
            <dt><a href="/find-out-whos-coming">Find out who's coming</a></dt>
            <dd>Browse the attendees list, get in touch, organize a meetup</dd>
            <dt><a href="/recruiting">Recruiting</a></dt>
            <dd>Looking for a Python job? Meet companies that need you</dd>
            <dt><a href="/pyevents">Social events</a></dt> 
            <dd>Pizza, beer, steak: refurbish your soul in the evening</dd>
        </dl>
    </div>

</div><!-- /grid-container -->
</section>


     
{% endblock%}

{% block MAIN_CONTENT %}

<section class="alt">
<div class="grid-container">
    <div class="grid-33">
        {% box_latest_tweets %}
    </div>
    {% post_list count=3 as posts %}
    <div class="blog-archive grid-33">
        <h3>PyCon blog</h3>
        <ul>
            {% for post in posts %}
            {% get_post_data post.id as data %}
            <li>
                <h3 class="h4"><a href="{{ data.url }}">{{ data.content.headline }}</a></h3>
                <div class="meta">{{ post.date|date:"M j Y" }}&ensp;{% if data.comments %}<a href="{{ data.url }}#comments">{{ data.comments|length }} comment{{data.comments|length|pluralize:"o,i"}}</a>{% endif %}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div><!-- /grid-container -->
</section>

{% endblock %}




