{% extends "p3/base.html" %}
{% load p3 microblog_tags conference i18n pages_tags %}
{% block BODY_ID %}home{% endblock %}

{% block TEASER %}

{% placeholder lead_text as lead_text with Textarea %}
{% if lead_text %}
<section>
    <div class="grid-container">
    <div class="grid-100">
        <div class="intro">
            <p class="lead">{{ lead_text }}</p>
        </div>
    </div>
    </div>
</section>
{% endif %}

<section>
    <div class="grid-container">
        <!-- NOTICE -->
        <div class="grid-50 grid-parent notice home-notice">
            <div class="grid-15">
                <i class="fa fa-file-text fa-3x"></i>
            </div><!-- /grid -->
            <div class="grid-85">
                {% current_conference as conf %}
                {% if conf.cfp %}
                    <h3>{% trans "Call for Proposal is <span>open</span>" %}</h3>
                    <p class="">{% placeholder "cfp_teaser_text" %}</p>
                    <a class="btn btn-primary" href="/call-for-proposals/">{% trans "Submit your proposal" %}</a>
                {% endif %}
                {% if conf.voting %}
                    <h3>{% trans "Talk voting is <span>open</span>" %}</h3>
                    <p class="">{% placeholder "voting_teaser_text" %}</p>
                    <a class="btn btn-primary" href="/talk-voting/">{% trans "Cast your vote" %}</a>
                {% endif %}
            </div><!-- /grid -->
        </div><!-- /grid notice -->
        <!-- NEXT DEADLINE -->
        <div class="grid-50 grid-parent notice home-notice">
            <div class="grid-15">
                <i class="fa fa-calendar-o fa-3x"></i>
            </div><!-- /grid -->
            <div class="grid-85">
                {% get_deadlines limit=1 as l %}
                {% if l %}
                <div class="calendar">
                    <h3>{% trans "Next deadline" %}</h3>
                    <p class="deadline"><time>{{ l.0.date|date:"d" }} {{ l.0.date|date:"b" }}</time>&emsp;{{ l.0.body|safe }}</p>
                    <div class="more">
                        <a href="/calendar">{% trans "All the deadlines &rarr;" %}</a>
                    </div>
                </div>
                {% endif %}
            </div><!-- /grid -->
        </div><!-- /grid notice -->
    </div><!-- /grid-container -->
</section>

{% placeholder main_text as main_text with Textarea %}
{% if main_text %}
<section>
    {{ main_text }}
</section>
{% endif %}
{% endblock%}

{% block MAIN_CONTENT %}

<section>
<div class="grid-container">
    <div class="grid-33">
        {% box_latest_tweets %}
    </div>
    {% post_list count=3 as posts %}
    <div class="blog-archive grid-33">
        <h3>PyCon blog</h3>
        <ul>
            {% for post in posts %}
            {% get_post_data post.id as data %}
            <li>
                <h3 class="h4"><a href="{{ data.url }}">{{ data.content.headline }}</a></h3>
                <div class="meta">{{ post.date|date:"M j Y" }}&ensp;{% if data.comments %}<a href="{{ data.url }}#comments">{{ data.comments|length }} comment{{data.comments|length|pluralize:"o,i"}}</a>{% endif %}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div><!-- /grid-container -->
</section>

{% endblock %}




