{% extends "p3/base.html" %}
{% load p3 %}
{% block MAIN_CONTENT %}
<div class="column span-12">
    <div class="page clearfix border">
        <h1>Errore 404. Impossibile trovare la pagina.</h1>

        <div class="column span-8">
            <div class="page-summary">
                <blockquote>
                    <p>Oops! Siamo spiacenti, ma la pagina che hai richiesto non esiste ...</p>
                </blockquote>
            </div>
            <div class="cms">
                <p>
                    Ecco alcuni collegamenti ad altre pagine utili:
                    <ul>
                        <li>
                            Il nostro <a href="http://www.pycon.it/blog/" title="PyCon Tre Blog">Blog</a>;
                        </li>
                        <li>
                            Il <a href="http://www.pycon.it/pycon4/programma/" title="pycon tre schedule">programma</a>
                            degli eventi PyCon;
                        </li>
                        <li>
                            La nostra pagina degli
                            <a href="http://www.pycon.it/sponsor/" title="sponsorizza pycon tre">sponsor</a>;
                        </li>
                        <li>
                            <a href="http://www.pycon.it/faq/" title="domande frequenti sul pycon">Domande frequenti</a>
                            (F.A.Q.)
                        </li>
                        <li>
                            ... oppure torna alla Home Page di <a href="http://www.pycon.it/" title="pycon.it conferenza italiana python">PyCon.it</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="column span-4 last">
            <div id="sidebar" class="cms">
                {% box_cal %}
                {% box_didyouknow %}
                {% box_newsletter %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

