{% extends "p3/base.html" %}
{% load p3 i18n %}

{% block PAGE_TITLE %}{% trans 'Cannot find the requested page' %}{% endblock %}

{% block MAIN_CONTENT %}
<section class="full-page-height">
    <div class="grid-container">
    <div class="grid-100">

        <h1>{% trans 'Cannot find the requested page' %}</h1>
        
        <div class="page-summary">
            <p>Oops! We are sorry, the page you requested does not exist.</p>
        </div>

        <p>Here are a few useful links:</p>
        <ul>
            <li>Our <a href="/blog/">Blog</a>;</li>
            <li>The <a href="/schedule/">conference schedule</a>;</li>
            <li>Our page about<a href="/sponsor/">sponsorship opportunities</a>;
            </li>
            <li><a href="/faq/">Frequently asked questions</a> (F.A.Q.);</li>
            <li>... or get back to the<a href="/">EuroPython Home Page</a></li>
        </ul>

    </div> <!-- /grid -->
    </div><!-- /grid-container -->
</section>
{% endblock %}


