{% extends "p3/content-1col.html" %}
{% block PAGE_ENTRY %}
<h1>Errore 404. Impossibile trovare la pagina.</h1>

<blockquote>
    <p>Oops! Siamo spiacenti, ma la pagina che hai richiesto non esiste ...</p>
</blockquote>

<p>
    Ecco alcuni collegamenti ad altre pagine utili:
    <ul>
        <li>
            Il nostro <a href="http://www.pycon.it/blog/" title="PyCon Tre Blog">Blog</a>;
        </li>
        <li>
            Il <a href="http://www.pycon.it/pycon3/programma/" title="pycon tre schedule">programma</a>
            degli eventi PyCon;
        </li>
        <li>
            La nostra pagina degli
            <a href="http://www.pycon.it/pycon3/sponsor/" title="sponsorizza pycon tre">sponsor</a>;
        </li>
        <li>
            <a href="http://www.pycon.it/faq/" title="domande frequenti sul pycon">Domande frequenti</a>
            (F.A.Q.)
        </li>
        <li>
            ... oppure torna alla Home Page di <a href="http://www.pycon.it/" title="pycon.it conferenza italiana python">PyCon.it</a>
        </li>
    </ul>
</p>

{% endblock %}
