<!DOCTYPE html> 
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <meta charset="UTF-8" />
    <title>Blam! A 5xx error occured</title>    
    <style type="text/css">

body {
    font: normal 18px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: black url(/static/p5/images/500.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    
}
.wrapper {
    width: 35em;
    margin: 3em auto;
    padding: 1.5em;
    background: rgba(100%,100%,100%, .9);
}

blockquote {
    font-style: italic;
    margin: 1.5em 0;
}
    </style>
</head> 
<body>
<div class="wrapper">
<h1>ikimilikiliklik...! A 5xx error occured</h1>
<hr />
<h2>BAGA BIGA</h2>
<blockquote>
Baga, biga, higa,<br />
laga, boga, sega,<br />
Zai, zoi, bele,<br />
harma, tiro, pun!<br />
Xirristi-mirristi<br />
gerrena plat,<br />
Olio zopa,<br />
Kikili salda,<br />
Urrup edan edo klik...<br />
ikimilikiliklik...
</blockquote>
<p>— from Basque traditional <i><a href="http://en.wikipedia.org/wiki/Akelarre_%28witchcraft%29"> Akelarre (whitchcraft)</a> </i> made popular by <a href="http://en.wikipedia.org/wiki/Mikel_Laboa">Mikel Laboa</a></p>
<hr />        
<p>While you are enjoying a fine Basque witchcraft, we are trying to find the bug that had caused the display of this page.</p>
<hr />    
<p>The <a href="http://euroython.eu/">EuroPython</a> team &lt;<a href="mailto:info@euroython.eu">info@euroython.eu</a>&gt;</p>
</div><!-- /wrapper -->
</body>
</html>

