<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PyCon Italia Qu4ttro</title>

    <link rel="stylesheet" href="http://www.pycon.it/static/p4/s/site.css" type="text/css" media="screen" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="http://www.pycon.it/static/p4/s/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <link rel="shortcut icon" href="http://www.pycon.it/static/p4/i/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="http://www.pycon.it/static/p4/i/favicon.png" type="image/png" />
    <link rel="alternate" type="application/rss+xml" title="Ultimi post" href="http://feeds.feedburner.com/pyconit" />
</head>
<body>
    <h1>500 - Errore nel server</h1>
    <p>Si è verificato un errore nell'applicazione web di pycon.it, i nostri sistemisti sono stati informati del problema, ci scusiamo del disagio.</p>
</body>
</html>
