<!DOCTYPE html> 
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <meta charset="UTF-8" /> 
    <title>EuroPython2011: Florence, June 20&ndash;26</title> 
 
    <link rel="shortcut icon" href="/static/p5/i/favicon.ico" type="image/x-icon" /> 
    <link rel="icon" href="/static/p5/i/favicon.png" type="image/png" /> 
    <style type="text/css">
body {
    background: black;
    color: white;
}
img {
    float: left;
    margin-right: 20px;
    width: 350px;
}
.wrapper {
    margin-left: 370px;
    width: 500px;
}
h2 {
    text-align: center;
    margin: 40px 0 0 20px;
}
pre, p {
    font-size: 1.2em;
}
.source {
    text-align: right;
    font-size: 0.9em;
    margin-bottom: 65px;
}
a {
    color: #F7941D;
}
    </style>
</head> 
<body>
    <img src="/static/p5/i/explosion.jpg" />
    <div class="wrapper">
        <h1>Blam! a 5xx error occured</h1>
        <h2>Canto III: The Gate of Hell</h2>
        <pre>
        Through me you go to the grief wracked city;
        Through me you go to everlasting pain;
        Through me you go a pass among lost souls.
        Justice inspired my exalted Creator:
        I am a creature of the Holiest Power,
        of Wisdom in the Highest and of Primal Love.
        Nothing till I was made was made,
        only eternal beings. And I endure eternally.
        Abandon all hope - Ye Who Enter Here
        </pre>
        <p class="source">
            <a href="http://en.wikipedia.org/wiki/The_Divine_Comedy">The Divine Comedy</a> by <a href="http://en.wikipedia.org/wiki/Dante_Alighieri">Dante Alighieri</a>
        </p>
        <p>While you are enjoying a fine piece of Italian art, we are trying to find the bug that had caused the display of this page.</p>
        <p class="source">The <a href="http://ep2011.europython.eu/">EuroPython 2011</a> team - <a href="mailto:info@pycon.it">info@pycon.it</a></p>
    </div>
</body>
</html>
