{% extends "conference/cart/base.html" %}

{% load template_tools %}

{% block breadcrumbs %}
{{ block.super }}
&raquo; <a href='#'>Step 2: Pick which tickets you want</a>
{% endblock %}

{% block content %}
<style type="text/css">
.cart-input {
    border: 1px solid #aaa;
    padding: .5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
div#discount {
    text-align: right;
        font-size: 1.3em;
}
</style>
<div id="cart_step2_page" class="container page">
    <div class="row">
        <div class='col-md-12'>

            <h1>Step 2: Choose ticket type</h1>

            <form method='POST' action='.' style='margin-top: 5em'>
                {% csrf_token %}
                <table cellspacing=0 class='table table-hover'>
                    {% for fare in available_fares %}
                    <tr>
                        <td>
                            <h4>{{ fare.name }}</h4>
                            <p>{{ fare.description }}</p>
                        </td>
                        <td width='20%' class='text-right'>
                            <strong style='font-size: 1.3em'>&euro; {{ fare.price|floatformat:2 }}</strong> x
                            <input type=number min=0 max="{{ global_max_per_fare_type }}" class='fare text-right cart-input' placeholder=0 style='width: 3em; margin-left: .5em' data-price="{{ fare.price }}" name="{{ fare.code }}" value="{{ fares_info|get_item:fare.code }}">
                        </td>
                    </tr>
                    {% empty %}
                    No tickets available - if you're looking for early bird tickets, it means they have sold out.
                    {% endfor %}
                </table>


                <div class='form-row'>
                    <div class='form-group col-md-3'>
                        <label for='discount_code'>Discount code</label>
                        <input class='form-control' type=text name="discount_code" id="discount_code" value="{{ discount_code|default:''}}">
                    </div>
                    <div class='form-group col-md-2' style='margin-top: 2em'>
                        <button name="{{ CartActions.apply_discount_code }}" class='btn btn-outline-success'>Apply Discount</button>
                    </div>
                </div>

                {% if discount_code %}
                <div id='discount'>
                    Discount for <em>{{ discount_code }}</em>: <span class='deducted'>- {{ calculation.total_discount|floatformat:2 }}</span> EUR
                </div>
                {% endif %}
                <h3 class='text-right'>TOTAL: <span id="total">{{ calculation.final_price|floatformat:2 }}</span> EUR</h3>

                <div class='text-right' style='margin-top: 2em'>
                <input type=submit name="{{ CartActions.buy_tickets }}" class='btn btn-outline-primary' value="Confirm order">
                </div>

                {% if request.user.is_staff %}
                <pre>
    Debug:
    Full price (w/o discount): {{ calculation.full_price }} {{ currency }}
    Discount: {{ discount_code }} - {{ calculation.total_discount }} {{ currency }}
    Final price: {{ calculation.final_price }} {{ currency }}
                </pre>
                {% endif %}

            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block morejs %}
<script type="text/javascript">

document.querySelectorAll("form input.fare").forEach((inp) => {
    inp.addEventListener("change", calc)
    inp.addEventListener("keyup", calc)
});

    function calc() {
    total = 0

    document.querySelectorAll("form input.fare").forEach((inp) => {
    total += inp.dataset.price * +inp.value
});

    document.querySelector("#total").textContent = total

    // if we have a discount remove discount calculation (happens serverside)
    // when we recalculate base
    if(document.querySelector("#total").textContent) {
        document.querySelector("#discount").style.display = "none"
    }
}
</script>
{% endblock %}
