{% extends "conference/cart/base.html" %}

{% block breadcrumbs %}
{{ block.super }}
&raquo; Step 4: Confirmation and Payment
{% endblock %}

{% block content %}

<div class='container page'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Step 4: Payment</h1>
        </div>
    </div>

    <div class='row'>

        <div class='col-md-12'>
            {% include "conference/cart/_order_summary.html" %}
            {% if not order.is_complete %}
            {% if total_for_stripe == 0 %}
              <form action="." method="POST" class='form' style='margin-top: 5em'>
                {% csrf_token %}
                <button class="btn btn-primary btn-lg">Confirm Order</button>
              </form>
              {% else %}
            <script src="https://js.stripe.com/v3/"></script>
            <script type="text/javascript">
                var stripe = Stripe("{{ stripe_key }}");
                function do_stripe() {
                    stripe.redirectToCheckout({
                        sessionId: "{{ stripe_session_id }}"
                    }).then(function (result) {
                        // XXX make this pretty, and give retry button
                        alert(result.error.message);
                    });
                }
            </script>
              <button class="btn btn-primary btn-lg"
              onclick="do_stripe()">Pay now!</button>
              {% endif %}
            {% else %}
            <div style="font-size: 1.5em">This order was paid in full on {{ order.payment_date|date:"Y-m-d" }}
            <a href='{% url "cart:step5_congrats_order_complete" order.uuid%}'>See the confirmation page</a></div>
            {% endif %}{# order.is_complete #}

            {% if payments %}
            <h4 style='margin-top: 2em'>Payment history</h4>
            <table class='table'>
                <tr>
                    <th>id</th>
                    <th>status</th>
                    <th>created</th>
                </tr>

                {% for payment in payments %}
                <tr>
                    <td>{{ payment.uuid }}</td>
                    <td>{{ payment.get_status_display }}
                        {% if payment.get_status_display == payment.STATUS_CHOICES.FAILED %}
                        <p class='text-danger'>
                        {{ payment.message }}
                        </p>
                        {% endif %}
                    </td>
                    <td title="{{ payment.created }}">{{ payment.created|timesince }} ago</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}
