{% extends "conference/base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div id="login_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if validlink %}
                <h1>Change password</h1>
                {% else %}
                <h1>Sorry, this link is invalid.</h1>
                <p>The password reset link was invalid, possibly because it has already been used.  Please request <a href='{% url "accounts:password_reset" %}'>a new password reset.</a></p>
                {% endif %}
            </div>
        </div>

        {% if validlink %}
        <div class='row'>
            <div class="col-md-6">
                <form method='POST' action='.' class='form'>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button class="btn btn-success btn-lg btn-block">
                        Change password
                    </button>
                </form>
            </div>
        </div>
        {% endif %}


        <div class="row" style='margin-top: 5em;'>
            <div class='col-md-6'>
                <a class="btn btn-block btn-outline-primary" href="{% url "accounts:login" %}?next={{ next }}" class="btn">Remember the password after all? Click to log in</a>
            </div>

        </div>

    </div>
</div>

{% endblock %}
