
{% extends "conference/base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div id="login_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Password reset started</h1>
                <p>We sent you a link to reset your password to the email address you submitted.</p>
                <p>If the account exists in our system you should receive the email shortly</p>
                <p>Please find the link in your inbox (you might need to check the Spam folder) and use it to change your password.</p>
                <p>Cheers, EuroPython Team</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
