{% if request.user.is_staff and timetable.errors %}
<div class="error-notice">
    <h2>TimeTable errors</h2>
    <ul>
        {% for e in timetable.errors %}
        <li style="margin-bottom: 10px;">
            {% if e.type == "overlap-event" %}
            Error at <b>{{ e.time }}</b>:<br /> <b>{{ e.event.get_description }}</b> overwrite <b>{{ e.previous.get_description }}</b>.
            {% endif %}
            {% if e.type == "overlap-reference" %}
            Warning at <b>{{ e.time }}</b>:<br /> <b>{{ e.event.get_description }}</b> overwrite <b>{{ e.previous.get_description }}</b>.
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<table class="schedule tracks-{{ timetable.rows|length }}">
    <thead>
        <tr>
            <th class="hhmm">&nbsp;</th>
            {% for t in timetable.columns %}
            <th class="hhmm"><span>{{ t|time:"H" }}</span>:{{ t|time:"i" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row, columns in timetable.byRows %}
        <tr data-track="{{ row.track }}">
            <td>{{ row }}</td>
            {% for col in columns %}
            {% if not col.data or col.data.ref %}
            <td
                data-time="{{ col.time|time:"H:i" }}"
                {% if col.data %}data-event-url="{% url conference-schedule-event conference=schedule.conference slug=schedule.slug eid=col.data.ref.id %}"{% endif %}
                class="event{% if col.data %} not-empty{% else %} empty{% endif %} {% cycle 'alt' '' %}{% for t in col.data.ref.get_all_tracks_names %} t-{{ t }}{% endfor %}"
                colspan="{{ col.data.columns }}"
                rowspan="{{ col.data.rows }}">
            {% if col.data %}
                {% if col.data.ref.talk %}
                    {% with col.data.ref.talk as talk %}
    <!--
                <div class="star">
                    <img src="/static/p5/i/icon-star.png" alt="Star this" width="16" height="16" />
                </div>  
    -->             
                    <h3 data-talk="{{ talk.id }}"><a href="{% url conference-talk slug=talk.slug %}">{{ talk.title }}</a></h3>
                    of 
                    {% for s in talk.get_all_speakers %}
                    <a href="{% url conference-speaker slug=s.slug %}">{{ s.name }}</a>
                    {% endfor %}
                    {% endwith %}
                {% else %}
                    <div class="custom-event">{{ col.data.ref.custom|safe }}</div>
                {% endif %}
            {% endif %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% comment %}
<table class="schedule tracks-{{ schedule.track_set.all|length }}">
    <caption>{{ schedule.date|date:"l d F Y" }}</caption>
    <thead>
        <tr>
            <th class="hhmm">&nbsp;</th>
            {% for t in schedule.track_set.all %}
            <th class="track t-{{ t.track }}">{{ t.title|safe }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for t, row in timetable %}
    {% if not t%}
        <tr><td> </td></tr>
    {% else %}
        <tr class="{{ row.class|join:" " }}">
            <td class="hhmm"><strong>{{ t|time:"H" }}</strong>:{{ t|time:"i" }}</td>
            {% for e in row.events %}
            {% if e %}
            <td class="track {% for t in e.tags %} t-{{ t }}{% endfor %}{% if e.sponsor %} sponsored-event{% endif %}" rowspan="{{ e.time_slots }}" colspan="{{ e.track_slots }}" {% if e.sponsor %}style="background-attachment: scroll; background-image: url({{ SPONSOR_LOGO_URL }}stamp/{{ e.sponsor.slug}}.jpg); background-position: 50% 50%; background-repeat: no-repeat;"{% endif %}>
                {% if e.talk %}
                <a href="{{ e.talk.get_absolute_url }}">{{ e.title }}</a>
                <br /> di
                {% for s in e.talk.get_all_speakers %}
                    <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
                    {% if not forloop.last %} e {% endif %}
                {% endfor %}
                {% else %}
                <span>{{ e.title|safe }}</span>
                {% endif %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endcomment %}
