<table class="schedule">
    <caption>{{ schedule.date|date:"l d F Y" }}</caption>
    <thead>
        <tr>
            <th class="hhmm">&nbsp;</th>
            {% for t in schedule.track_set.all %}
            <th class="track t-{{ t.track }}">{{ t.title|safe }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for t, row in timetable %}
    {% if not t%}
        <tr><td> </td></tr>
    {% else %}
        <tr class="{{ row.class|join:" " }}">
            <td class="hhmm"><strong>{{ t|time:"H" }}</strong>:{{ t|time:"i" }}</td>
            {% for e in row.events %}
            {% if e %}
            <td class="track {% for t in e.tags %} t-{{ t }}{% endfor %}{% if e.sponsor %} sponsored-event{% endif %}" rowspan="{{ e.time_slots }}" colspan="{{ e.track_slots }}" {% if e.sponsor %}style="background-attachment: scroll; background-image: url({{ SPONSOR_LOGO_URL }}stamp/{{ e.sponsor}}.jpg); background-position: 50% 50%; background-repeat: no-repeat;"{% endif %}>
                {% if e.talk %}
                <a href="{{ e.talk.get_absolute_url }}">{{ e.title }}</a>
                <br /> di
                {% for s in e.talk.get_all_speakers %}
                    <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
                    {% if not forloop.last %} e {% endif %}
                {% endfor %}
                {% else %}
                <span>{{ e.title|safe }}</span>
                {% endif %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
