<html>
<body>
    <h1>{{ speaker.nome }}</h1>
    <table>
        <tr>
            <th>homepage</th>
            <td>{{ speaker.homepage }}</td>
        </tr>
        <tr>
            <th>attività</th>
            <td>{{ speaker.attivita }}</td>
        </tr>
        <tr>
            <th>settore</th>
            <td>{{ speaker.settore }}</td>
        </tr>
        <tr>
            <th>provenienza</th>
            <td>{{ speaker.provenienza }}</td>
        </tr>
        <tr>
            <th>immagine</th>
            <td><img src="{{ MEDIA_URL }}stuff/speaker/{{ speaker.immagine }}" /></td>
        </tr>
        {% for b in speaker.bios.all %}
        <tr>
            <th>bio {{ b.language|upper }}</th>
            <td>{{ b.body }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
