{% extends "assopy/base.html" %}
{% load assopy_tags i18n %}
{% block ASSOPY_MAIN_CONTENT %}
<section>
    <div class="grid-container">
    <div class="grid-100">
        <h1>{% trans "Order completed" %}</h1>
        <div class="page-summary">
            <p>{% trans "Thank you for your order. You will receieve an email with all the details for the wire transfer." %}</p>
        </div>
        {% url "assopy-tickets" as u %}
        {% with order.code as ocode %}
            <p>
            {% blocktrans with url="mailto:info@pycon.it?subject="|add:ocode code=ocode %}
            If you don't receive this email please check yout spam folder and <a href="{{ url }}">write to us</a> specifying your order number: <b>{{ code }}</b>
            {% endblocktrans %}
            </p>
            <h2>{% trans "What to do next" %}</h2>
            <p>{% trans "Meanwhile you can edit your tickets directly from your profile." %}</p>
            <div><a class="btn" href="/accounts/tickets/">{% trans "Edit your Tickets" %}</a></div>
        {% endwith %}
    </div>
</div>
</section>
{% endblock %}
