{% extends 'assopy/base_invoice.html' %}

{% block EXTRA_HEAD %}
    <style>
        body {
            margin: 0 10px;
        }

        .companyinfo {
            line-height: 16px;
        }
    </style>
{% endblock %}
{% block HEADER %}
    <div class="companylogo">
        <!-- <img src="{{ STATIC_URL }}" /> -->
    </div>
    <div class="companyinfo">
Python Italia APS<br />
Via Mugellese, 1/A<br />
50013 Campi Bisenzio (FI)<br />
Italy<br />
VAT-ID: IT05753460483<br />
Codice Fiscale: 94144670489<br />
Contact Email: info@python.it<br />
    </div>
    <div class="clear"></div>
{% endblock %}

{% block BANK %}
{% endblock %}
