{% extends 'assopy/base_invoice.html' %}

{% block EXTRA_HEAD %}
    <style>
        body {
            margin: 0 10px;
        }

        .companyinfo {
            line-height: 16px;
        }
    </style>
{% endblock %}
{% block HEADER %}
    <div class="companylogo">
        <img src="{{ STATIC_URL }}p6/images/acpyss-logo.png" />
    </div>
    <div class="companyinfo">
        Asociación de Ciencias de la Programación Python San Sebastián (ACPySS)<br />
        Pº Manuel Lardizabal 1, Oficina 307 - 20018 Donostia (Spain)<br />
        VAT-ID ESG75119511<br />
        Tel/Phone (+34) 943.01.80.47 | (+34) 688.64.52.32 <br />
        Email: info@pyss.org<br />
    </div>
    <div class="clear"></div>
{% endblock %}

{% block BANK %}
Caja Laboral Kutxa - Swift/BIC: CLPEES2MXXX<br />
IBAN: ES95 3035 0235 28 2350038052
{% endblock %}
