{% extends "assopy/base.html" %}
{% load assopy_tags i18n %}
{% block ASSOPY_EXTRA_HEAD %}
    {% order_complete order.id as ocomplete %}
    {% if not ocomplete %}
    <meta http-equiv="refresh" content="2;url=." />
    {% endif %}
{% endblock %}
{% block ASSOPY_MAIN_CONTENT %}
<section>
    <div class="grid-container">
    <div class="grid-100">
        {% order_complete order.id as ocomplete %}
        {% if not ocomplete %}
        <h1>{% trans "Waiting for Paypal response..." %}</h1>
        <div role="contentinfo">
            <p>{% blocktrans with code=order.code url="mailto:info@euroython.eu" %}
            Are you waiting for too long? <a href="{{ url }}">Write to us</a> specifying your order number {{ code }}
            {% endblocktrans %}</p>
        </div>
        {% else %}
        <h1>{% trans "Purchase completed" %}</h1>
        <div role="contentinfo">
            <p>{% trans "Thank you for the purchase. The transaction was completed and a receipt from paypal will be sent to your email address." %}</p>
	    <p>{% trans "Please assign the ticket to the attendee by clicking on the button below. If you bought the ticket for yourself, please assign it to yourself and edit the ticket to include your details." %}</p>
	    <p>{% trans "Please assign the ticket to the attendee by clicking on the button below. Note that attendees have to have an account on the EuroPython website to have tickets assigned to them." %}</p>
	    <p>{% trans "If you bought the ticket for yourself, please assign it to yourself and edit the ticket to include your details." %}</p>
            <div class="badge"><h5><a href="{% url "assopy-tickets" %}">{% trans "Edit your tickets" %} &rarr;</a></h5></div>
        </div>
        {% endif %}
    </div>
</div>
</section>
{% endblock %}

