{% extends "assopy/base.html" %}
{% load assopy_tags i18n p3 static %}

{% block PAGE_TITLE %}{% trans 'Your profile' %}{% endblock %}

{% block ASSOPY_MAIN_CONTENT %}
{% p3_profile_data request.user.id as profile %}
<section>
    <div class="grid-container">
        
    <div class="grid-25">
        <div class="slot">
            <p>{% blocktrans with url="/find-out-whos-coming" %}Partecipate in <a href="{{ url }}">Find out who's coming</a>: let people know that you will be coming to this conference.{% endblocktrans %}</p>
            <a class="btn btn-small" href="{% url "conference-profile" slug=profile.slug %}">{% trans "View your public profile" %}</a>
        </div>
    </div>

    {% all_user_tickets fare_type="all" as tickets %}                
    {% if tickets|length %}
        <div class="grid-25">
            <div class="slot">
                <p>{% trans "See the conferences you have attended and who you have met." %}</p>
                <a class="btn btn-small" href="{% url "conference-profile-conferences" %}">{% trans "Conference &amp; contacts" %}</a></h3>
            </div>
        </div>
        <div class="grid-25">
            <div class="slot">
                <p>{% trans "Fill in and review all your tickets." %}</p>
                <a class="btn btn-small" href="{% url "assopy-tickets" %}">{% trans "View your tickets" %} ({{tickets|length}})</a>
            </div>
        </div>
        <div class="grid-25">
            <div class="slot">
                <a class="btn btn-small" href="{% url "p3-my-schedule" %}">{% trans "View your schedule" %}</a>                                
            </div>
        </div>
    {% endif %}

    <div class="grid-100 grid-parent">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#account-personal-data">{% trans "Personal data" %}</a></li>
            <li><a data-toggle="tab" href="#account-email-contact">{% trans "Email contact" %}</a></li>
            <li><a data-toggle="tab" href="#account-spam-control">{% trans "Privacy settings" %}</a></li>
            <li><a data-toggle="tab" href="#account-login-options">{% trans "Login options" %}</a></li>
            <li><a data-toggle="tab" href="#account-orders">{% trans "Orders, invoices &amp; coupons" %}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="account-personal-data">
                {% include "assopy/profile_personal_data.html" %}</div>
            <div class="tab-pane" id="account-email-contact">
                {% include "assopy/profile_email_contact.html" %}</div>
            <div class="tab-pane" id="account-spam-control">
                {% include "assopy/profile_spam_control.html" %} </div>
            <div class="tab-pane" id="account-login-options">
                <div class="profile-user-data web-accounts clearfix">
                    <h4>{% trans "Web accounts for log in" %}</h4>
                    <p class="">{% trans "You can connect more web accounts to your profile, so that you can use any of them for logging in (without having to remember which one you used to create the account)." %}</p>
                    <div class="">
                        <ul id="web-accounts">
                            {% for i in user.identities.all %}
                            <li class="" data-identifier="{{ i.identifier }}">
                                <p title="{{ i.identifier }}">{% if i.provider == "Other" %}OpenID{% else %}{{ i.provider }}{% endif %}
                                &nbsp;<span title="{% trans 'Remove account' %}" class="icon icon-remove"><i class="fa fa-times-circle"></i></span>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                        <form id="remove-identity" action="{% url "assopy-profile-identities" %}" method="post">
                            <input type="hidden" name="identifier" value="" />
                        </form>
                        <script type="text/javascript">
                            $('#web-accounts span.icon-remove').click(function(e) {
                                if(!confirm('Are you sure?')) {
                                    return;
                                }
                                var parent = $(e.target).parents('li');
                                var id = parent.attr('data-identifier');
                                var form = $('form#remove-identity');
                                $('input[name=identifier]', form).val(id);
                                form.ajaxSubmit({
                                    success: function() {
                                        feedback('{% trans "Web access removed" %}');
                                        parent.remove();
                                    },
                                    error: function(xhr, status, error) {
                                        alert('{% trans "Cannot remove the requested account, please contact info@pycon.it for assistance" %}');
                                    }
                                });
                            });
                        </script>
                        <div>
                            {%comment%}@@TODO: Add class .btn .btn-small to <a>{%endcomment%}
                            {% url "assopy-profile" as u %}
                            {% render_janrain_box u "overlay" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="account-orders">

                {% with request.user.assopy_user|user_coupons as coupons %}
                    {% if coupons.valid|length or coupons.invalid|length%}
                    <div class="profile-user-data coupons">
                        <h4>{% trans "Your discount coupons" %}</h4>
                        <ul>
                        {% for c in coupons.valid %}
                            <li class="coupon valid">
                                <p><b>{% trans "Code:" %} {{ c.code }}</b><br />{{ c.description }}</p>
                            </li>
                        {% endfor %}
                        {% for c in coupons.invalid %}
                            <li class="coupon invalid">
                                <p><b>{% trans "Code:" %} {{ c.code }}</b><br />{{ c.description }}</p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endwith %}

                {% with request.user.assopy_user.orders as orders %}
                <div class="profile-user-data tickets">
                    <h4>{% trans "Your orders" %}</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans "Order#" %}</th>
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Invoice" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in orders.all %}
                            <tr>
                                <td>{{ o.code }}</td>
                                <td>{{ o.created|date:"d M Y" }}</td>
                                <td>
                                    {% with o.invoices.all as invoices %}
                                    {% if not invoices %}
                                    {% trans "N/A" %}
                                    {% else %}
                                        {% for i in invoices %}
                                            {% if i.assopy_id %}
                                                <a href="{% url "genro-legacy-invoice" assopy_id=i.assopy_id %}">{{ i.code }}</a>
                                            {% else %}
                                                <a href="{% url "assopy-invoice-pdf" order_code=o.code code=i.code %}">{{ i.code }}</a>
                                                {% comment %}
                                                {% for cn in i.credit_notes.all %}
                                                    (<a href="{% url "assopy-invoice-pdf" assopy_id=cn.assopy_id %}">{{ cn.code }}</a> refund)
                                                {% endfor %}
                                                {% endcomment %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endwith %}
            </div>
        </div>
    </div> <!-- /tab-content -->

   </div><!-- /grid -->
   </div><!-- /grid-container -->
</section>
{% endblock %}














