{% load p3 i18n formstyle static %}
{% p3_profile_data request.user.id as profile %}
{% if not pform %}
    {% get_form "P3ProfilePersonalDataForm" bound=profile as pform %}
{% endif %}
<div id="account-personal-data-async-target">
    <div class="grid-20">
        <div class="profile-user-picture">
            {% if profile.image %}
                <img class="avatar" src="{{ profile.image }}" alt="{{ profile.name }}" width="98" />
            {% else %}
                <img class="" src="{% static "p5/images/headshot-default.jpg" %}" alt="{{ profile.name }}" width="98" height="98" />
            {% endif %}
        </div>
    </div><!-- /grid -->
    <div class="grid-80">
        <div class="profile-user-identity-data">

            <form action="{% url "p3-account-data" %}" class="async live-edit form-horizontal" method="POST" rel="#account-personal-data-async-target">

                <dl class="dl-horizontal">
                    <dt>{% trans "Name" %}</dt>
                    <dd>{{ profile.name }}</dd>

                    <dt>{% trans "Phone" %}</dt>
                    <dd>{{ profile.phone|default:'—' }}</dd>

                    {% if profile.talks %}
                        <dt>{% trans "Date of birth" %}</dt>
                        <dd>{{ profile.birthday|default:'—' }}</dd>
                    {% endif %}
                </dl>

                <div class="div-horizontal live-edit-toggle">
                    {{ pform.first_name|form_field }}
                    {{ pform.last_name|form_field }}
                    {% if profile.talks %}
                        {{ pform.phone|form_field }}
                        {{ pform.birthday|form_field }}
                    {% endif %}
                </div>

                <fieldset class="form-actions">
                    <a href="#" class="btn live-edit-switch"><i class="fa fa-edit"></i> {% trans "Edit" %}</a>
                    <button name="" class="btn btn-primary autosubmit">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div><!-- /grid -->
</div>
