{% load assopy_tags conference i18n p3 formstyle %}
<div data-ticket="{{ ticket.id }}" class="ticket {{ ticket.fare.ticket_type }}" data-fare="{{ ticket.fare.code }}" data-order="{{ ticket.orderitem.order.id }}" data-orderitem="{{ ticket.orderitem.id }}">
    {% order_complete ticket.orderitem.order_id as ocomplete %}
    {% if ticket.frozen %}
        <div class="alert alert--info">
            &darr; {% blocktrans %}Ticket frozen; editing disabled{% endblocktrans %}
            {% with ticket|frozen_reason as r %}{% if r %} ({{ r }}){% endif %}{% endwith %}
        </div>
    {% else %}
        {% if ocomplete or ticket.orderitem.order.method == "admin" %}
            <div class="alert {% if user != ticket.user %}alert--success{% endif %}">
                {% if user != ticket.user %}
                &darr;
                {% blocktrans with url="mailto:"|add:ticket.user.email name=ticket.user.assopy_user.name %}Assigned to you by <a href="{{ url }}"><b>{{ name }}</b></a>{% endblocktrans %}
                {% endif %}
            </div>
        {% else %}
            <div class="alert">
                {% with ticket.orderitem.order.code as code %}
                &darr; {% blocktrans %}Ticket not active; waiting for wire transfer (order {{ code }}){% endblocktrans %}
                {% endwith %}
            </div>
        {% endif %}
    {% endif %}

    {% trans "No name specified" as t_no_name %}
    {% trans "Something about me" as t_about_me %}
    {% trans "Edit this ticket" as t_edit_ticket %}
    {% trans "Refund this ticket" as t_refund %}
    <div class="preview">
    {% if ticket.fare.ticket_type == "conference" %}
        <h2>{{ ticket.fare.name }}</h2>
        <div class="preview-inner">
            {% if ticket.p3_conference %}
                <div class="media">
                    {% if ticket.p3_conference.profile %}
                        {% p3_profile_data ticket.p3_conference.profile.user_id as pdata %}
                        <img class="avatar pull-left media-object" src="{{ pdata.image }}" alt="" width="49" height="49" />
                    {% endif %}
                    <div class="media-body">
                        <h3 class="media-heading">{{ form.ticket_name.value|default:t_no_name}}</h3>
                        <div class="tagline">{{ form.tagline.value|default:t_about_me}}</div>
                        <div class="python-experience">
                            {% trans "Python power" %}&nbsp;{% for x in form.python_experience.value|as_range %}<i class="fa fa-star"></i>{% endfor %}
                        </div>
                    </div><!-- media-body -->
                </div><!-- /media -->
            {% else %}
                <div>{{ form.ticket_name.value|default:t_edit_ticket}}</div>
            {% endif %}
        </div>
        {% if not ticket.frozen %}
            {% if blocked %}
            <div class="ticket-commands ticket-assigned-to">
                <p>
                {% blocktrans with assigned_to=form.assigned_to.value %}Currently assigned to <b>{{ assigned_to }}</b>{% endblocktrans %}
                <a href="#" class="reclaim-button">{% trans "Reclaim" %}</a>.
                </p>
            </div>
            {% else %}
            <div class="ticket-commands">
                <p>
                    <a href="#" class="edit-button" rel="div[data-ticket={{ ticket.id }}] .overlay">{% trans 'This ticket is for me' %}</a>
                    {% if user == ticket.user %}
                        <br /><a href="#" class="assign-button">{% trans "This ticket is for someone else" %}</a>
                    {% endif %}
                    {% orderitem_can_be_refunded ticket.orderitem as r %}
                    {% if r %}
                    <br /><a href="#" class="trigger-overlay" rel="#refund-form" data-refund-type="{{ ticket.orderitem.refund_type }}">{{ t_refund }}</a>
                    {% endif %}
                </p>
            </div>
            {% endif %}
        {% endif %}
    {% else %}
        <h2>{{ ticket.fare.name }}</h2>
        {% if ticket.fare.code == 'SIM01' %}
            <div class="ticket-name">{{ form.ticket_name.value|default:t_edit_ticket}}</div>
            <div class="ticket-tagline">{{ form.sim_type|field_display_value }} / {{ form.plan_type|field_display_value }}</div>
            {% if not form.document.value %}
            <div class="alert alert-block">
                <h4>{% trans "Warning, incomplete ticket" %}</h4>
                <p>{% trans "Add a document." %}</p>
            </div>
            {% endif %}
        {% else %}
            {% if ticket.fare.code|slice:":1" == 'H' %}
                {% if not ticket.p3_conference_room.unused %}
                    <div class="ticket-name">{{ form.ticket_name.value|default:t_edit_ticket}}</div>
                    <div class="ticket-footer">from {{ ticket.p3_conference_room.checkin|date:"d M" }} until {{ ticket.p3_conference_room.checkout|date:"d M" }}</div>
                {% else %}
                <div class="ticket-name">{% trans "This is an unused ticket" %}</div>
                {% endif %}
            {% else %}
                <div class="ticket-name">{{ form.name.value|default:t_edit_ticket}}</div>
                <div class="ticket-footer">{{ ticket.fare|fare_blob:"data" }}</div>
            {% endif %}
        {% endif %}
        {% if not ticket.frozen %}
        <div class="ticket-commands">
            <p>
                <a href="#" class="edit-button" rel="div[data-ticket={{ ticket.id }}] .overlay">{% trans "Edit information" %}</a>
            </p>
            {% orderitem_can_be_refunded ticket.orderitem as r %}
            {% if r %}
            <p class="refund"><a href="#" class="refund-button trigger-overlay" rel="#refund-form" data-refund-type="{{ ticket.orderitem.refund_type }}">{{ t_refund }}</a></p>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
    </div>

    <div class="ticket-additional-info">
    {% if ticket.fare.ticket_type == "conference" %}
        {% if ticket.p3_conference %}
        <p>{% trans "Additional information (they won&#8217;t show up on the ticket)" %}</p>
        <dl class="dl-horizontal">
            <dt>{% trans "Attending on days:" %}</dt>
            <dd>{% if form.single_day %}{{ form.days|field_display_value }}{% else %}{{ form.days|field_display_value|join:"; " }}{% endif %}.</dd>
            <dt>{% trans "Diet:" %}</dt>
            <dd>{{ form.diet|field_display_value }}</dd>
            <dt>{% trans "Shirt size:" %}</dt>
            <dd>{{ form.shirt_size|field_display_value }}</dd>
        </dl>
        {% endif %}
    {% else %}
        {% if ticket.fare.code == 'SIM01' %}
            {% with form.document.value as doc %}
            {% if doc %}
                <p>{% blocktrans with url=doc.url %}Uploaded <a href="{{ url }}">Photo ID</a>{% endblocktrans %}</p>
            {% endif %}
            {% endwith %}
        {% endif %}
        {% if ticket.fare.code|slice:":1" == 'H' %}
            {% with form.document.value as doc %}
            {% if doc %}
                <p>{% blocktrans with url=doc.url %}Uploaded <a href="{{ url }}">Photo ID</a>{% endblocktrans %}</p>
            {% endif %}
            {% endwith %}
        {% endif %}
        {% if ticket.fare.ticket_type == 'partner' %}
        <p>
            {% with ticket.fare|fare_blob:"prezzo" as prezzo %}
            {% trans "Deposit:" %} € 30, <b>{% trans "Balance:" %} € {{ prezzo|eval_:"float(x)-30"|floatformat:"2" }}</b>
            {% endwith %}
        </p>
        {% endif %}
        {% comment %}
        {% if ticket.fare.payment_type == 'v' %}
        <p>
        <a href="{% url "assopy-orderitem-voucher" order_id=ticket.orderitem.order_id item_id=ticket.orderitem.id %}">{% trans "Download your voucher" %}</a>
        </p>
        {% endif %}
        {% endcomment %}
    {% endif %}
    </div>

    <div class="overlay">
        {% if not ticket.frozen %}
        <form action="{% url "p3-ticket" tid=ticket.id %}" class="form-horizontal" method="post"{% if ticket.fare.code == 'SIM01' %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        {% if ticket.fare.ticket_type == "conference" %}
            <fieldset>
                    {% if user == ticket.user %}
                        {% if user.first_name or user.last_name %}
                            <h2>{% blocktrans with first_name=user.first_name last_name=user.last_name %}Ticket for {{ first_name }} {{ last_name }}{% endblocktrans %}</h2>
                        {% else %}
                            <h2>{% trans "Ticket for NO NAME SPECIFIED" %}</h2>
                        {% endif %}
                        {% if user.attendeeprofile %}
                        <p>{% blocktrans with url="/accounts/profile/" %}Want to change name? <a href="{{ url }}">Edit your account</a>.{% endblocktrans %}</p>
                        {% endif %}
                    {% else %}
                        {{ form.ticket_name|form_field }}
                    {% endif %}
                    {{ form.assigned_to|form_field:"no-label" }}
                    {% p3_profile_data request.user.id as pdata %}
                    <p class="clearfix">
                        <img style="float:left; margin-right: .75em;" class="avatar" src="{{ pdata.image }}" alt="" width="49" height="49" /><!-- halved size -->
                    {% url "conference-profile" slug=pdata.slug as profile_url %}
                    {% if pdata.visibility == "x" %}
                        <span>
                            <i class="fa fa-ban"></i>
                            {% blocktrans with url="/find-out-whos-coming" %}
                            <a href="{{ profile_url }}">Your profile</a> is not visibile by anyone.
                            Why don't you let people know that you are coming? <a href="{{ url }}">Find out why</a>.
                            {% endblocktrans %}
                        </span>
                    {% endif %}
                    {% if pdata.visibility == "m" %}
                        <span>
                            <i class="fa fa-users"></i>
                            {% blocktrans with url="/find-out-whos-coming" %}
                            Only <b>conference participants</b> can view <a href="{{ profile_url }}">your profile</a>.
                            {% endblocktrans %}
                        </span>
                    {% endif %}
                    {% if pdata.visibility == "p" %}
                        <span>
                            <i class="fa fa-globe"></i>
                            {% blocktrans with url="/find-out-whos-coming" %}
                            Your <a href="{{ profile_url }}">profile</a> is <b>publicly visible</b>.
                            {% endblocktrans %}
                        </span>
                    {% endif %}
                    </p>
                    {{ form.tagline|form_field }}
                    {{ form.diet|form_field }}
                    {{ form.shirt_size|form_field }}
                    {{ form.python_experience|form_field }}
                    {{ form.days|form_field }}
            </fieldset>
            <fieldset>
                <button class="btn btn-primary" name="" value="" type="submit">{% trans "Save" %}</button>
            </fieldset>
        {% else %}
            <fieldset>
                {% for f in form %}
                {{ f|field }}
                {% endfor %}
            </fieldset>
            <fieldset>
                <button class="btn btn-primary" name="" value="" type="submit">{% trans "Save" %}</button>
            </fieldset>
        {% endif %}
        </form>
        {% endif %}
    </div>
    <script type='text/javascript'>
        try {
            $('div[data-ticket={{ ticket.id }}] .edit-button').overlay();
        }
        catch(e) {
        }
    </script>
</div>



