{% load assopy_tags conference i18n p3 %}
<div data-ticket="{{ ticket.id }}" class="ticket {{ ticket.fare.ticket_type }}" data-fare="{{ ticket.fare.code }}">
    {% order_complete ticket.orderitem.order_id as ocomplete %}
    {% if ticket.frozen %}
        <div class="ticket-status inactive">
            &darr; {% blocktrans %}Ticket frozen; editing disabled{% endblocktrans %}
            {% with ticket|frozen_reason as r %}{% if r %} - <strong>{{ r }}</strong>{% endif %}{% endwith %}
        </div>
    {% else %}
        {% if ocomplete or ticket.orderitem.order.method == "admin" %}
        <div class="ticket-status{% if user != ticket.user %} active{% endif %}">
            {% if user != ticket.user %}
            &darr; Assigned to you by <a href="mailto:{{ ticket.user.email }}"><b>{{ ticket.user.assopy_user.name }}</b></a>
            {% else %}
            &nbsp;
            {% endif %}
        </div>
        {% else %}
        <div class="ticket-status inactive">
            {% with ticket.orderitem.order.code as code %}
            &darr; {% blocktrans %}Ticket not active; waiting for wire transfer (order {{ code }}){% endblocktrans %}
            {% endwith %}
        </div>
        {% endif %}
    {% endif %}

    <div class="preview">
    {% if ticket.fare.ticket_type == "conference" %}
        <h2>{{ ticket.fare.name }}</h2>
        <div class="ticket-name">{{ form.ticket_name|field_value|default:"Edit this ticket" }}</div>
        {% if ticket.p3_conference %}
        <div class="ticket-tagline">{{ form.tagline|field_value|default:"something about me" }}</div>
        <div class="ticket-python-experience">
            Python power
            {% for x in form.python_experience|field_value|as_range %}
            <img src="{{ STATIC_URL }}p5/i/icon-star.png" alt="Star" width="16" height="16" />
            {% endfor %}
        </div>
        {% if ticket.p3_conference.profile %}
        <div class="ticket-attendee-image">
            {% p3_profile_data ticket.p3_conference.profile.user_id as pdata %}
            <img src="{{ pdata.image }}" alt="" height="105" />
        </div>
        {% endif %}
        {% endif %}
        
        {% if not ticket.frozen %}
            {% if blocked %}
            <div class="ticket-commands ticket-assigned-to">
                <p>
                {% with form.assigned_to|field_value as assigned_to %}
                {% blocktrans %}Currently assigned to <b>{{ assigned_to }}</b>{% endblocktrans %} | <a href="#" class="reclaim-button">{% trans "Reclaim" %}</a>.
                {% endwith %}
                </p>
            </div>
            {% else %}
            <div class="ticket-commands">
                <p>
                    This ticket is<br/>
                    <a href="#" class="edit-button" rel="div[data-ticket={{ ticket.id }}] .overlay">{% trans "for me" %}</a>
                    {% if user == ticket.user %}
                    | <a href="#" class="button mini assign-button">{% trans "for someone else" %}</a>
                    {% endif %}
                </p>
                {% if user == ticket.user and ticket.orderitem.order|attrib_:"_complete" %}
                <p class="refund"><a href="#" class="refund-button" >Refund this ticket</a></p>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    {% else %}
        <h2>{{ ticket.fare.name }}</h2>
        {% if ticket.fare.code == 'SIM01' %}
            <div class="ticket-name">{{ form.ticket_name|field_value|default:"Edit this ticket" }}</div>
            <div class="ticket-tagline">{{ form.sim_type|field_display_value }} / {{ form.plan_type|field_display_value }}</div>
            {% if not form.document|field_value %}
            <div class="ticket-warning">INCOMPLETE TICKET!<br />Please edit and add a document</div>
            {% endif %}
        {% else %}
            {% if ticket.fare.code|slice:":1" == 'H' %}
                {% if not ticket.p3_conference_room.unused %}
                <div class="ticket-name">{{ form.ticket_name|field_value|default:"Edit this ticket" }}</div>
                <div class="ticket-footer">from {{ ticket.p3_conference_room.checkin|date:"d M" }} until {{ ticket.p3_conference_room.checkout|date:"d M" }}</div>
                {% else %}
                <div class="ticket-name">Unused ticket!</div>
                {% endif %}
            {% else %}
                <div class="ticket-name">{{ form.name|field_value|default:"Edit this ticket" }}</div>
                <div class="ticket-footer">{{ ticket.fare|fare_blob:"data" }}</div>
            {% endif %}
        {% endif %}
        {% if not ticket.frozen %}
        <div class="ticket-commands">
            <p>
                <a href="#" class="edit-button" rel="div[data-ticket={{ ticket.id }}] .overlay">{% trans "Edit information" %}</a>
            </p>
            {% if user == ticket.user %}
            <p class="refund"><a href="#" class="refund-button" >Refund this ticket</a></p>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
    </div>

    <div class="ticket-additional-info">
    {% if ticket.fare.ticket_type == "conference" %}
        {% if ticket.p3_conference %}
        <p>{% trans "Additional information (they won&#8217;t show up on the ticket)" %}</p>
        <dl>
            <dt>{% trans "Attending on days:" %}</dt>
            <dd>{% if form.single_day %}{{ form.days|field_display_value }}{% else %}{{ form.days|field_display_value|join:"; " }}{% endif %}.</dd>
            <dt>{% trans "Diet:" %}</dt>
            <dd>{{ form.diet|field_display_value }}</dd>
            <dt>{% trans "Shirt size:" %}</dt>
            <dd>{{ form.shirt_size|field_display_value }}</dd>
        </dl>
        {% else %}
        &#9650; Select the ticket to edit.
        {% endif %}
    {% else %}
        {% if ticket.fare.code == 'SIM01' %}
            {% with form.document|field_value as doc %}
            {% if doc %}
                <p>Uploaded <a href="{{ doc.url }}">Photo ID</a></p>
            {% endif %}
            {% endwith %}
        {% endif %}
        {% if ticket.fare.code|slice:":1" == 'H' %}
            {% with form.document|field_value as doc %}
            {% if doc %}
                <p>Uploaded <a href="{{ doc.url }}">Photo ID</a></p>
            {% endif %}
            {% endwith %}
        {% endif %}
        {% if ticket.fare.ticket_type == 'partner' %}
        <p>
            {% with ticket.fare|fare_blob:"prezzo" as prezzo %}
            {% trans "Deposit:" %} € 30, <b>{% trans "Balance:" %} € {{ prezzo|eval_:"float(x)-30"|floatformat:"2" }}</b>
            {% endwith %}
        </p>
        {% endif %}
        {% comment %}
        {% if ticket.fare.payment_type == 'v' %}
        <p>
            <a href="{% url assopy-orderitem-voucher order_id=ticket.orderitem.order_id item_id=ticket.orderitem.id %}">Download your voucher</a>
        </p>
        {% endif %}
        {% endcomment %}
    {% endif %}
    </div>

    <div class="overlay">
        {% if not ticket.frozen %}
        <form action="{% url p3-ticket tid=ticket.id %}" method="post"{% if ticket.fare.code == 'SIM01' %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        {% if ticket.fare.ticket_type == "conference" %}
            <fieldset class="container clearfix">
                <div class="span-6">
                    {% if user == ticket.user %}
                    <div class="field">
                        <h2>Ticket name: {{ user.first_name }} {{ user.last_name }}</h2>
                        {% if user.attendeeprofile %}
                        <p>want to change name? edit your <a href="/accounts/profile/">account</a>.</p>
                        {% endif %}
                    </div>
                    {% else %}
                    {{ form.ticket_name|field }}
                    {% endif %}
                    {{ form.tagline|field }}
                    <div class="span-3">
                        {{ form.diet|field }}
                    </div>
                    <div class="span-3 last">
                        {{ form.shirt_size|field }}
                    </div>
                    <div class="span-3">
                        {{ form.python_experience|field }}
                    </div>
                    <div class="span-3 show-tooltip last" title="{% trans "This ticket grants you full access to the conference. The above selection is just for helping out the organizers." %}">
                        {{ form.days|field }}
                    </div>
                    {{ form.assigned_to|field }}
                </div>
                <div class="span-3 last">
                    {% p3_profile_data request.user.id as pdata %}
                    <img src="{{ pdata.image }}" alt="" width="98" />
                    <p style="padding: 0 15px 0 0;">
                    {% if pdata.visibility == "x" %}
                        <span>
                            Your <a href="{% url conference-profile slug=pdata.slug %}">profile</a> is not visibile by anyone.
                            <br />
                            <br />
                            Why don't you let people know that you are coming? (<a href="/find-out-whos-coming">Check why</a>)
                        </span>
                    {% endif %}
                    {% if pdata.visibility == "m" %}
                        <span>Only <b>conference participants</b> can view your <a href="{% url conference-profile slug=pdata.slug %}">profile</a>.&nbsp;</span>
                    {% endif %}
                    {% if pdata.visibility == "p" %}
                        <span>Your <a href="{% url conference-profile slug=pdata.slug %}">profile</a> is <b>publicly visible</b>.&nbsp;</span>
                    {% endif %}
                    </p>
                </div>
            </fieldset>
            <fieldset class="border">
                <button name="" value="" type="submit">{% trans "Save Changes" %}</button>
            </fieldset>
        {% else %}
            <fieldset>
                {% for f in form %}
                {{ f|field }}
                {% endfor %}
            </fieldset>
            <fieldset class="border">
                <button name="" value="" type="submit">Save Changes</button>
            </fieldset>
        {% endif %}
        </form>
        {% endif %}
    </div>
    <script type='text/javascript'>
        try {
            $('div[data-ticket={{ ticket.id }}] .edit-button').overlay();
        }
        catch(e) {
        }
    </script>
</div>



