{% extends "ep19/bs/user_panel/base.html" %}

{% load cms_tags %}

{% block breadcrumbs %}
<!--<li class='breadcrumb-item active'><a href=''>Dashboard</a></li>-->
{% endblock breadcrumbs %}

{% block user_content %}
<div class="row">
    <div class="col-md-12">
        {% if user.is_staff %}
        <a href='{% url "admin:index" %}' class='btn btn-outline-warning'>Admin panel</a>
        {% endif %}
        <a href='{% url "user_panel:password_change" %}' class='btn btn-outline-info'>Change your password</a>
        <a href='{% url "accounts:logout" %}?next=/' class='btn btn-outline-danger' style='float: right'>Log out</a>
    </div>
</div>

<div class='row' style='margin-top: 3em'>

    <div class="col-md-8">
        <h1>Hello!</h1>
        <p>
        This is the place with all the things related to your account. You can think of it as some sort of dashboard. Every proposal, ticket, and invoice would be listed on this page. If you want to change your password you can use the buttons above.</p>

        <h2 style='margin-top: 2em'>Proposals</h2>
            {% if proposals %}
            {% include "ep19/bs/user_panel/_proposals.html" %}
            {% else %}
            Sorry, you didn't add any proposals for this year yet.
            <a href="{% page_url 'submit-proposal' %}">If you'd like to do this, here's more information</a>
            {% endif %}

        <h2 style='margin-top: 2em'>Tickets</h2>
            {% if tickets %}
            {% include "ep19/bs/user_panel/_tickets.html" %}
            {% else %}
            Sorry, you didn't buy any tickets yet.
            <a href="{% page_url 'tickets' %}">Click here to see what tickets we have available right now.</a>
            {% endif %}


        <h2 style='margin-top: 2em'>Invoices</h2>
            {% if invoices %}
            {% include "ep19/bs/user_panel/_invoices.html" %}
            {% else %}
            Sorry, you don't have any invoices yet.
            {% endif %}


        {% if proposals %}
        {% include "ep19/bs/user_panel/_proposals.html" %}
        {% endif %}

    </div>
    <div class="col-md-4">
        <h2>Got questions?</h2>
        You can ask them in our helpdesk
        NOTE(artcz) Fix styling, this is temporary location

        <a href='{% url "user_conversations:threads" %}' class='btn btn-outline-primary btn-block'>Helpdesk</a>


        <p style='margin-top: 2em'>
        {# TEMPORARY LOCATION #}
        <a href='{% url 'user_conversations:new_finaid_request' %}'
           class='btn btn-outline-primary btn-block'>
            Make a Finaid Request
        </a>
        </p>

        {% if user.is_staff %}
        <div style='margin-top: 5em'>
        <h3>Special staff links:</h3>
        <a href='{% url "staff_helpdesk:inbox" %}' class='btn btn-outline-danger btn-block'>Helpdesk Inbox</a>
        <a href='{% url "staff_finaid:inbox" %}' class='btn btn-outline-danger btn-block'>Finaid Inbox</a>
        </div>
        {% endif %}

        {% comment %}
        <p>
        <a href='#' class='btn btn-outline-primary'>Questions about program</a>
        (this should probably be visible only for people who submited a proposal)
        </p>
        {% endcomment %}

    </div>
</div>
{% endblock %}
