{% extends "ep19/bs/user_panel/base.html" %}

{% load cms_tags crispy_forms_tags %}

{% block breadcrumbs %}
{{ block.super }}

<li class='breadcrumb-item'>
    <a href=".">Privacy settings</a>
</li>
{% endblock breadcrumbs %}

{% block user_content %}
<div class='row' style='margin-top: 3em'>

    <div class="col-md-12">
        <h1>Privacy settings</h1>
        <h5>
            We respect your privacy. We never share your personal data with anyone. Have a look at our
            <a href="{% page_url 'privacy' %}">privacy policy</a> for further information.
        </h5>
        <p>
            This page contains additional privacy settings for advanced opt-in features.
        </p>
        <form method="POST" action=".">
            {% csrf_token %}
            {% crispy privacy_form %}
        </form>
    </div>
</div>
{% endblock %}
