{% load i18n comments %}
{% load hcomments_tags %}
<div id="add-comment" class="well">
    <h3>{% trans "New comment" %} </h3>
    {% get_comment_form for object as form %}
    <form class="new-comment" action="{% comment_form_target %}#preview-comment" method="post">
        <fieldset>
            {% if request.user.is_authenticated %}
                {% with form.comment as field %}
                <div class="field {% if field.errors %}error{% endif %}">
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endwith %}
                {% for field in form %}
                    {% if field.is_hidden %}
                    {{ field }}
                    {% endif %}
                {% endfor %}
            {% else %}
                    {% with form.comment as field %}
                    <div class="field {% if field.errors %}error{% endif %}">
                        {% if field.errors %}{{ field.errors }}{% endif %}
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% endwith %}
                    {% for field in form %}
                        {% if field.name != "comment" and field.name != "captcha" %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <div class="field {% if field.errors %}error{% endif %}" {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                    {% if field.errors %}{{ field.errors }}{% endif %}
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
            {% endif %}
            {% for field in form %}
                {% if field.name == "captcha" %}
                    {% with form.captcha as field %}
                    <div class="field {% if field.errors %}error{% endif %}">
                        {% if field.errors %}{{ field.errors }}{% endif %}
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-primary">{% trans "Post comment" %}</button>
        </fieldset>
    {% csrf_token %}
    </form>
    {% show_subscribe_form object %}
</div>
