<div id="footer">
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
            </div>
            <div class='col-md-3'>
            </div>
            <div class='col-md-3'>
            </div>
            <div class='col-md-3'>
                <img src="/static/img/epslogo.png">
                <p>
                EuroPython Society<br>
                C/O Open End AB<br>
                Norra Ågatan 10<br>
                416 64  Göteborg<br>
                Sweden
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                Previous editions:
                <a href='#'>2018</a>
                <a href='#'>2017</a>
                <a href='#'>2016</a>
                <a href='#'>2015</a>
                <a href='#'>2014</a>
                <a href='#'>2013</a>
                <a href='#'>more...</a>
            </div>
        </div>
        <footer>
            <p>&copy; EuroPythonSociety 2019</p>
        </footer>
    </div>
</div>
