<div id="footer">
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <h3>EuroPython 2019</h3>
                <ul>
                    <li><a href='#'>Program</a></li>
                    <li><a href='#'>Speakers</a></li>
                    <li><a href='#'>Schedule</a></li>
                    <li><a href='#'>Sprints</a></li>
                    <li><a href='#'>Workshops</a></li>
                    <li><a href='#'>Open Spaces</a></li>
                </ul>
            </div>
            <div class='col-md-3'>
                <h3>Attendees</h3>
                <ul>
                    <li><a href='#'>Buy tickets</a></li>
                    <li><a href='#'>Submit proposal</a></li>
                    <li><a href='#'>FAQ</a></li>
                    <li><a href='#'>Helpdesk</a></li>
                    <li><a href='#'>Financial Aid</a></li>
                </ul>
            </div>
            <div class='col-md-3'>
                <h3>Sponsors</h3>
                <ul>
                    <li><a href='#'>Packages</a></li>
                    <li><a href='#'>Additional info</a></li>
                    <li><a href='#'>Recruiting</a></li>
                </ul>
            </div>
            <div class='col-md-3'>
                <img src="/static/img/epslogo.png">
                <p>
                EuroPython Society<br>
                C/O Open End AB<br>
                Norra Ågatan 10<br>
                416 64  Göteborg<br>
                Sweden
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                Previous editions:
                <a href='#'>2018</a>
                <a href='#'>2017</a>
                <a href='#'>2016</a>
                <a href='#'>2015</a>
                <a href='#'>2014</a>
                <a href='#'>2013</a>
                <a href='#'>more...</a>
            </div>
        </div>
        <footer>
            <p>&copy; EuroPythonSociety 2019</p>
        </footer>
    </div>
</div>
