<!DOCTYPE html>
{% load cms_tags sekizai_tags static meta %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# copied from previous website #}
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Ownership verifications -->
    <meta name="p:domain_verify" content="625a31163a6c46fa2101e157d2387ee5"/>

    <link rel="alternate" type="application/rss+xml" title="EuroPython Blog RSS Feed" href="http://blog.europython.eu/rss" />
    {# end of copied #}

    <link rel="shortcut icon" type="image/png" href="{% static "img/ep2019favico.png" %}">

    {% block meta %}
    {% render_meta %}
    {% endblock meta %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ep2019-bs-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/ep2019-customisations.css' %}">
    {% render_block "css" %} {# FOR DJANGO CMS #}

    {% block morecss %}{% endblock %}
  </head>

  <body>
      {% cms_toolbar %}
      {% block body %}
          {% include "ep19/bs/header/_regular.html" %}
          {% include "ep19/bs/content/_messages.html" %}

          {% block content %}
          {% endblock %}

          {% include "ep19/bs/footer/footer.html" %}
      {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% include "ep19/bs/_googleanalytics.html" %}
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block morejs %}{% endblock %}

    {% include "ep19/bs/_cookie_consent.html" %}
    {% render_block "js" %} {# FOR DJANGO CMS #}
  </body>
</html>
