{% load conference i18n p3 assopy_tags %}
{% p3_profile_data profile.user_id as profile_data %}
<div id="profile-user-visibility" class="profile-user-visibility">
    <div class="profile-visibility">
        <form action="{% url "p3-profile" slug=profile_data.slug %}" class="live-edit async" method="post" rel="#profile-user-visibility">
            <div>
                {% if profile_data.visibility == "x" %}
                <span class="profile-closed"><i class="fa fa-ban"></i> {% trans "Your profile is not visibile by anyone." %}</span>
                {% endif %}
                {% if profile_data.visibility == "m" %}
                <span class="profile-open"><i class="fa fa-users"></i> {% trans "Only <b>conference participants</b> can view your profile." %}</span>
                {% endif %}
                {% if profile_data.visibility == "p" %}
                    {% if profile_data.talks.accepted.all %}
                    <span class="profile-open"><i class="fa fa-globe"></i> {% trans "Your profile is <b>publicly visible</b> because you are a PyCon speaker." %}</span>
                    {% else %}
                    <span class="profile-open"><i class="fa fa-globe"></i> {% trans "Your profile is <b>publicly visible</b>." %}</span>
                    {% endif %}
                {% endif %}
                {% if full_access and not profile_data.talks.accepted.all %}
                    &emsp;<a href="#" class="live-edit-switch"><i class="fa fa-edit"></i> {% trans "Edit" %}</a>
                {% endif %}
            </div>
            {{ form.visibility|field:"autosubmit" }}
            {% if profile_data.visibility == "x" or profile_data.visibility == "m" %}
                {% if profile_data.talks.proposed|attrib_:CONFERENCE %}
                    <p>{% trans "<b>Note</b>: If any of your proposals is accepted, this profile will be forced to be publicly visibile." %}</p>
                {% endif %}
            {% endif %}
            <input type="hidden" name="section" value="visibility" />
            {% csrf_token %}
        </form>
    </div>
</div>





