{% extends "p3/base.html" %}
{% load conference i18n p3 assopy_tags %}
{% block EXTRA_HEAD %}
{% if form %}{{ form.media }}{% endif %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block MAIN_CONTENT %}
{% p3_profile_data profile.user_id as profile_data %}

{% if full_access %}
<section>
    <div class="grid-container">
    <div class="grid-100">
        {% include "conference/profile_visibility_form.html" %}
   </div><!-- /grid -->
   </div><!-- /grid-container -->
</section>

{% endif %}

<section id="profile-user-identity">
    <div class="grid-container">
    <div class="grid-100">
        <h2>{{ profile_data.name }}{% if full_access %} <span>&mdash; {% trans "It’s you!" %}</span>{% endif %}</h2>
    </div><!-- /grid -->
    <div class="grid-20">
        {% include "conference/profile_picture_form.html" %}
    </div><!-- /grid -->
    <div class="grid-80">
        {% include "conference/profile_publicdata_form.html" %}
    </div><!-- /grid -->
   </div><!-- /grid-container -->
</section>


<section>
    <div class="grid-container">
    <div class="grid-80 suffix-20">
        {% include "conference/profile_bio_form.html" %}
   </div><!-- /grid -->
   </div><!-- /grid-container -->
</section>

<section>
    <div class="grid-container">
    <div class="grid-80 suffix-20">

    <div class="">
        {% current_conference as conf %}
        {% if conf.voting %}
            {% sum_ "talks" profile_data.talks.by_conf|attrib_:conf.code profile_data.talks.accepted.all %}
        {% else %}
            {% if full_access %}
                {% assign_ "talks" profile_data.talks.by_conf.all %}
            {% else %}
                {% assign_ "talks" profile_data.talks.accepted.all %}
            {% endif %}
        {% endif %}
        {% if talks %}
        <div class="speaker-talks">
            <h2>{{ profile_data.name }}’s Talks</h2>
            <dl>
            {% for conf, talks_list in talks|ordered_talks %}
                <dt>{{ conf }}</dt>
                {% for t in talks_list %}
                <dd><a href="{% url conference-talk slug=t.slug %}">{{ t.title }}</a>{% if t.status != "accepted" %} ({{ t.status }}){% endif %}</dd>
                {% endfor %}
            {% endfor %}
            </dl>
        </div>
        {% endif %}
        {% if profile_data.twitter %}
        <script src="https://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        if(typeof(TWTR) != 'undefined') {
            new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 250,
                height: 300,
                theme: {
                    shell: {
                        background: '#E1DBC5',
                        color: '#301D1D'
                    },
                    tweets: {
                        background: '#ffffff',
                        color: '#301D1D',
                        links: '#0F2424'
                    }
                },
                features: {
                    scrollbar: false,
                    loop: false,
                    live: true,
                    behavior: 'default'
                }
            }).render().setUser('{{ profile_data.twitter }}').start();
        }
        </script>
        {% endif %}
    </div>

   </div><!-- /grid -->
   </div><!-- /grid-container -->
</section>
{% endblock %}
