{% load conference i18n p3 formstyle %}
{% p3_profile_data profile.user_id as profile_data %}
<div id="profile-public-data-async-target">
    <form action="{% url p3-profile slug=profile_data.slug %}" class="live-edit async" method="post" rel="#profile-public-data-async-target">
        <dl class="dl-horizontal">
            {% if profile_data.tagline or full_access %}
            <dt>Tagline</dt>
            <dd>
                {% if profile_data.tagline %}
                    <span>{{ profile_data.tagline }}</span>
                {% else %}
                    <span>&mdash;</span>
                {% endif %}
            </dd>
            {% endif %}
            {% if profile_data.personal_homepage or full_access %}
            <dt>Website</dt>
            <dd>
                {% if profile_data.personal_homepage %}
                    <a href="{{ profile_data.personal_homepage }}">{{ profile_data.personal_homepage|beautify_url }}</a>
                {% else %}
                    <span>&mdash;</span>
                {% endif %}
            </dd>
            {% endif %}
            {% if profile_data.twitter or full_access %}
            <dt>Twitter</dt>
            <dd>
                {% if profile_data.twitter %}
                    <span><a href="http://twitter.com/{{ profile_data.twitter }}">@{{ profile_data.twitter }}</a></span>
                {% else %}
                    <span>&mdash;</span>
                {% endif %}
            </dd>
            {% endif %}
            {% if profile_data.interests or full_access %}
            <dt>Technical interests</dt>
            <dd>
                {% if profile_data.interests %}
                    {% for p in profile_data.interests %}
                        {{ p }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    <span>&mdash;</span>
                {% endif %}
            </dd>
            {% endif %}
            {% if profile_data.location or full_access %}
            <dt>Location</dt>
            <dd{% if profile_data.country %} style="position: relative;"{% endif %}>
                {% if profile_data.location %}
                    <span>{{ profile_data.location }}</span>
                {% else %}
                    <span>&mdash;</span>
                {% endif %}
            </dd>
            {% endif %}

        </dl>

        {% if full_access %}
        <div class="live-edit-toggle">
            <fieldset>
                {{ form.tagline|form_field }}
                {{ form.personal_homepage|form_field }}
                {{ form.twitter|form_field }}
                {{ form.interests|form_field }}
            </fieldset>
            <fieldset style="position: relative;">
                <legend>Posizione</legend> 
                {{ form.location|form_field }}
                {% if profile_data.country  %}
                    <div id="chart-div" style="width: 128px; height: 71px; position: absolute; left: -135px; top: 0px"></div>
                    <script type="text/javascript">
                    (function() {
                        google.load('visualization', '1.0', {
                            'packages':['corechart', 'geochart'],
                            'callback': function() {
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Country');
                                data.addRows([
                                    ['{{ profile_data.country }}'],
                                ]);
                                var options = {
                                    region: '{{ profile_data.country }}'
                                };
                                var chart = new google.visualization.GeoChart(document.getElementById('chart-div'));
                                chart.draw(data, options);
                            }
                        });
                    })();
                    </script>
                {% endif %}
            </fieldset>
        </div>
        {% endif %}

        {% include "conference/profile_publicdata_company_form.html" %}

        {% if full_access %}
            <a href="#" class="btn live-edit-switch"><i class="fa fa-edit"></i> Modifica profilo</a>
            <button class="btn btn-primary autosubmit">Salva modifiche</a>
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="section" value="public-data" />
    </form>
</div>
