{% load conference i18n p3 assopy_tags %}
{% p3_profile_data profile.user_id as profile_data %}
<dl class="dl-horizontal">
    <dt>Azienda</dt>        
    <dd>
        {% if profile_data.company %}
            <span>{{ profile_data.company }}</span>
        {% else %}
            <span>&mdash;</span>
        {% endif %}
    </dd>
    <dt>Job title</dt>
    <dd>
        {% if profile_data.job_title %}
            <span>{{ profile_data.job_title }}</span>
        {% else %}
            <span>&mdash;</span>
        {% endif %}
    </dd>
    <dt>Sito web</dt>
    <dd>
        {% if profile_data.company_homepage %}
            <span>{{ profile_data.company_homepage|beautify_url }}</span>
        {% else %}
            <span>&mdash;</span>
        {% endif %}
    </dd>
</dl>

{% if full_access %}
    <fieldset>
        {{ form.company }}
        {{ form.job_title }}
        {{ form.company_homepage }}
    </fieldset>
{% endif %}


