{% load conference i18n p3 formstyle %}
{% p3_profile_data profile.user_id as profile_data %}
<div id="profile-picture-async-target">
    <form id="form_profile_picture"
        class="async"
        action="{% url p3-profile slug=profile_data.slug %}"
        method="post"
        enctype="multipart/form-data"
        rel="#profile-picture-async-target">
        {% if full_access %}
            <img class="avatar" src="{{ profile.p3_profile.profile_image_url }}" alt="{{ profile_data.name }}" width="98" height="98" />
            <a href="#" class="trigger-overlay" rel="#profile-picture-form"><i class="fa fa-edit"></i> Modifica</a>
        {% else %}
            <img class="avatar" src="{{ profile_data.image }}" alt="{{ profile_data.name }}" width="98" height="98" />
        {% endif %}

        {% if full_access %}
        <div class="overlay" id="profile-picture-form">
            <fieldset>
                <legend>{% trans "Profile picture" %}</legend>
                <label class="radio"><input type="radio" name="opt" value="x"{% if not profile_data.image %} checked="checked"{% endif %}> {% trans "Do not show any picture" %}</label>
                <label class="radio"><input type="radio" name="opt" value="g"{% if profile_data.image_gravatar %} checked="checked"{% endif %}> {% trans "Use my Gravatar" %}</label>
                {{ form.image_gravatar|form_field }}
                <label class="radio"><input type="radio" name="opt" value="u"{% if profile_data.image_url %} checked="checked"{% endif %}> {% trans "Use this web address" %} &darr;</label>
                {{ form.image_url|form_field }}
                <label class="radio"><input type="radio" name="opt" value="f"{% if profile_data.image and not profile_data.image_url and not profile_data.image_gravatar %} checked="checked"{% endif %}> {% trans "Use this picture" %} &darr;</label>
                {{ form.image|form_field }}
            </fieldset>
            <fieldset>
                <button href="#" class="btn btn-primary autosubmit">{% trans "Save" %}</button>
            </fieldset>
        </div>
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="section" value="picture" />
    </form>
</div>


