{% extends "p3/base.html" %}
{% load p3 assopy_tags %}

{% block EXTRA_HEAD %}
<style>
    #message-form  {
        width: 400px;
        margin: 0 auto;
    }
    #message-form span.required {
        display: none;
    }
    #message-form textarea {
        height: 60px;
    }
    #message-form .border {
        text-align: left;
    }
    #message-form .border .feedback {
        margin: 0 10px;
        font-size: 18px;
        font-variant: small-caps;
        padding: 8px;
    }
</style>
{% endblock %}

{% block MAIN_CONTENT %}
{% p3_profile_data user.id as p1 %}
{% p3_profile_data profile2 as p2 %}
{% if linked %}
    <h1>{{ p1.name }} {% trans "and" %} {{ p2.name }}: {% if created %}{% trans "you are now connected" %}{% else %}{% trans "you were already connected" %}{% endif %}</h1>
{% endif %}
<div class="clearfix">
    <div class="span-6">
        {% render_profile_box p1 user_message="none" %}
    </div>
    <div class="span-6 last">
        {% render_profile_box p2 user_message="none" %}
    </div>
</div>
{% if linked %}
<hr class="sep" />
<div class="cms">
    <form id="message-form" class="async" action="{% url "conference-profile-link-message" uuid=p2.uuid %}" method="POST">{% csrf_token %}
        <fieldset>
            {{ form.message|field }}
        </fieldset>
        <fieldset class="border">
            <button name="" value="" type="submit">{% trans "Save" %}</button>
        </fieldset>
    </form>
    <script>
        (function() {
            var form = $('#message-form')
            form.bind('async-submit', function(evt, response) {
                $('<span class="feedback">done!</span>')
                    .insertAfter($('button', form))
                    .fadeOut(10000, function() {
                        $(this).remove();
                    });
            })
        })();
    </script>
</div>
{% endif %}
<hr class="stars" />
<div class="clearfix">
    <div class="button" style="text-align: center;">
        <a href="{% url "conference-profile-conferences" %}">{% trans "See who you have met!" %}</a>
    </div>
</div>
{% endblock %}
