{% load conference %}
<div class="cms">
    {% for day, data in events %}
    <h2>{{ day }}</h2>
    <ul class="schedule">
        {% for e in data %}
        <li class="event{% if e.talk %} talk{% endif %}">
            {% if not e.talk %}
                <strong>{{ e.time|time:"H:i" }}</strong> &mdash; {{ e.name|safe }}
            {% else %}
                <strong>{{ e.time|time:"H:i" }}</strong> &mdash;
                <div class="talk-level {{ e.talk.level }}">&nbsp;</div>

                {% randint as r %}
                <a
                    href="{% url "conference-talk" slug=e.talk.slug %}"
                    class="toggle"
                    rel="#talk_{{ r }}">{% if "teaser" in e.tags %}[Teaser Talk] {% endif %}{{ e.name|safe }}</a>
                by
                {% for s in e.talk.speakers %}
                <a href="{% url "conference-speaker" slug=s.slug %}">{{ s.name|name_abbrv }}</a>{% if not forloop.last %}, {% endif %}
                <div id="talk_{{ r }}" class="talk preview span-12" data-url="{% url "conference-talk-preview" slug=e.talk.slug %}"></div>
                {% endfor %}
            {% endif %}
        </li>
        {% endfor %}
        {% comment %}
        {% for row in data.list %}
        {% with row.event as e %}
            {% if e.talk or e.custom != "&nbsp;" %}
            <li class="event">
                <strong>{{ e.start_time|time:"H:i" }}</strong> &mdash;
                {% if e.talk %}
                <div class="talk-level {{ e.talk.level }}">&nbsp;</div>
                {% with e|event_has_track:"teaser" as teaser %}
                    <a
                        href="{% url "conference-talk" slug=e.talk.slug %}"
                        class="trigger-overlay"
                        {% if teaser %}
                        data-overlay-onload="$('#global-overlay h1').prepend('<a href=&quot;/training#teaser-talks&quot;>Teaser Talk:</a> ')"
                        {% endif %}>
                        {% if teaser %}[Teaser Talk] {% endif %}{{ e.talk.title }}</a>
                    by
                    {% for s in e.talk.get_all_speakers %}
                    <a href="{% url "conference-speaker" slug=s.slug %}">{{ s.name|name_abbrv }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    in
                    <strong><i>{{ e.get_track.title|safe }}</i></strong>
                    {% if e.talk %}
                        {% embed_video e.talk args="width=500,height=400" as h %}
                        {% if h %}
                        <a href="{% url "conference-talk-video" slug=e.talk.slug %}?torrent=1">BitTorrent</a>
                        {% endif %}
                    {% endif %}
                {% endwith %}
                {% else %}
                    <span class="custom-event">
                        {{ e.custom|safe }}
                    </span>
                {% endif %}
            </li>
            {% endif %}
        {% endwith %}
        {% endfor %}
        {% endcomment %}
    </ul>
    {% endfor %}
</div>
