{% load conference %}

{% randint as r %}
<div id="s{{ r }}" class="schedule">
    <div class="cell track hhmm">&nbsp;</div>
    {% for t in timetable.columns %}
    <div class="cell hhmm"><span>{{ t|time:"H" }}</span>:{{ t|time:"i" }}</div>
    {% endfor %}
    {% for row, columns in timetable.byRows %}
        <div class="cell track" data-track="{{ row.track }}">TRACK{{ forloop.counter }}</div>
        {% for col in columns %}
            {% if not col.data %}
                <div
                    class="cell event empty"
                    data-time="{{ col.time|time:"H:i" }}"
                    data-track="{{ row }}"
                    data-colspan="1"
                    data-rowspan="1">&nbsp;</div>
            {% endif %}
            {% if col.data.ref %}
            {% with col.data.ref|user_interest:request.user as interest %}
                <div
                    class="cell event{% for t in col.data.ref.get_all_tracks_names %} t-{{ t }}{% endfor %}{% if interest > 0 %} highlighted{% endif %}{% if interest < 0 %} shadowed{% endif %}"
                    data-time="{{ col.time|time:"H:i" }}"
                    data-track="{{ row }}"
                    {% if col.data.ref.talk %}data-duration="{{ col.data.ref.talk.duration }}"{% endif %}
                    data-colspan="{{ col.data.columns }}"
                    data-rowspan="{{ col.data.rows }}"
                    data-event-url="{% url conference-schedule-event conference=schedule.conference slug=schedule.slug eid=col.data.ref.id %}">
                    <div class="wrapper">
                    {% if col.data.ref.talk %}
                        {% with col.data.ref.talk as talk %}
                        <div class="talk-level {{ talk.level }}">&nbsp;</div>
                        <h3 data-talk="{{ talk.id }}"><a href="{% url conference-talk slug=talk.slug %}" title="{{ talk.title }}">{{ talk.title|truncate_chars:50 }}</a></h3>
                        of 
                        {% for s in talk.get_all_speakers %}
                        <a href="{% url conference-speaker slug=s.slug %}">{{ s.name }}</a>
                        {% endfor %}
                        {% comment %}
                        <div class="talk-vote">#{% talk_vote talk as x %}{{ x.vote}}</div>
                        <div class="talk-interest" data-url="{% url conference-schedule-event-interest conference=schedule.conference slug=schedule.slug eid=col.data.ref.id %}">
                            <button class="down {% if interest < 0 %}active{% endif %}">Down</button>
                            <button class="up {% if interest > 0 %}active{% endif %}">Up</button>
                        </div>
                        {% endcomment %}
                        {% endwith %}
                    {% else %}
                        <div class="custom-event">{{ col.data.ref.custom|safe }}</div>
                    {% endif %}
                    </div>
                </div>
            {% endwith %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<script type="text/javascript">
    (function() {
        var schedule = $('#s{{ r }}');
        function layout() {
            var cell0 = $('.cell').eq(0);
            var cell_outer_width = cell0.outerWidth(true);
            var cell_outer_height = cell0.outerHeight(true);

            var schedule_width = 0;
            var schedule_height = 0;

            var time_map = {};
            var track_map = {};

            $('.hhmm', schedule).each(function(ix, dom) {
                var l = ix * cell_outer_width;
                var d = $(dom);
                d.css('left', l);
                time_map[d.text()] = l;
                schedule_width += cell_outer_width;
            });
            $('.track', schedule).each(function(ix, dom) {
                var t = ix * cell_outer_height;
                var d = $(dom);
                d.css('top', t);
                track_map[d.attr('data-track')] = t;
                schedule_height += cell_outer_height;
            });

            schedule.width(schedule_width);
            schedule.height(schedule_height);

            var cell_width = cell0.width();
            var cell_height = cell0.height();

            $('.event', schedule).each(function(ix, dom) {
                var d = $(dom);
                if(d.attr('data-colspan') > 1) {
                    console.log(d.attr('data-colspan'), cell_width, cell_outer_width, (cell_outer_width - cell_width));
                }
                if(d.attr('data-duration'))
                    var cols = d.attr('data-duration') / 15;
                else
                    var cols = d.attr('data-colspan');
                var rows = d.attr('data-rowspan');
                d.css('top', track_map[d.attr('data-track')])
                    .css('left', time_map[d.attr('data-time')])
                    .css('width', cell_width * cols + (cell_outer_width - cell_width) * (cols - 1))
                    .css('height', cell_height * rows + (cell_outer_height - cell_height) * (rows - 1));
            })
        }
        layout();
    })();
</script>
