{% load conference p3 %}
{% if request.user.is_staff and timetable.errors %}
<div class="error-notice">
    <h2>TimeTable errors</h2>
    <ul>
        {% for e in timetable.errors %}
        <li style="margin-bottom: 10px;">
            {% if e.type == "overlap-event" %}
            Error at <b>{{ e.time }}</b>:<br /> <b>{{ e.event.get_description }}</b> overwrite <b>{{ e.previous.get_description }}</b>.
            {% endif %}
            {% if e.type == "overlap-reference" %}
            Warning at <b>{{ e.time }}</b>:<br /> <b>{{ e.event.get_description }}</b> overlap <b>{{ e.previous.get_description }}</b>.
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% randint as r %}
{% timetable_cells timetable 70 60 70 61 as schedule_cells %}
<div id="s{{ r }}" class="schedule" style="{{ schedule_cells.schedule_size }}">
    {% for cell in schedule_cells.cells %}
        {% if cell.type == '' %}
        <div class="cell track hhmm" style="{{ cell.size }}">&nbsp;</div>
        {% endif %}
        {% if cell.type == 'hhmm' %}
        <div
            class="cell hhmm"
            style="{{ cell.size }}"
            data-time="{{ cell.time|time:"H:i" }}">
            {% if cell.events >= 1 %}
            <span>{{ cell.time|time:"H" }}</span>:{{ cell.time|time:"i" }}
            {% else %}
            &nbsp;
            {% endif %}
        </div>
        {% endif %}
        {% if cell.type == 'track' %}
        <div class="cell track" data-track="{{ cell.track.track }}" style="{{ cell.size }}">{{ cell.track.title|safe }}</div>
        {% endif %}
        {% if cell.type == 'event' %}
            {% if not cell.event %}
            <div
                class="cell event empty"
                data-time="{{ cell.time|time:"H:i" }}"
                data-track="{{ cell.row }}"
                data-colspan="1"
                data-rowspan="1"
                style="{{ cell.size }}">
                <div class="wrapper">
                    <div class="tools">&nbsp;</div>
                </div>
            </div>
            {% else %}
            {% with cell.event.ref as ref %}
            {% with ref|user_interest:request.user as interest %}
            <div
                class="cell event{% for t in ref.get_all_tracks_names %} t-{{ t }}{% endfor %}{% if interest > 0 %} highlighted{% endif %}{% if interest < 0 %} shadowed{% endif %}"
                data-time="{{ cell.time|time:"H:i" }}"
                data-track="{{ cell.row }}"
                data-event-id="{{ ref.id }}"
                data-event-url="{% url conference-schedule-event conference=schedule.conference slug=schedule.slug eid=ref.id %}"
                style="{{ cell.size }}">
                <div class="wrapper">
                {% if ref.talk %}
                    <div class="talk-level {{ ref.talk.level }}">&nbsp;</div>
                    <h3 data-talk="{{ ref.talk.id }}"><a href="{% url conference-talk slug=ref.talk.slug %}" class="trigger-overlay" title="{% if ref|event_has_track:"teaser" %}Teaser Talk - {% endif %}{{ ref.talk.title }}">{% if ref|event_has_track:"teaser" %}{{ ref.talk.title|truncate_chars:15 }}{% else %}{{ ref.talk.title|truncate_chars:50 }}{% endif %}</a></h3>
                    by 
                    {% for s in ref.talk.get_all_speakers %}
                    <a href="{% url conference-speaker slug=s.slug %}">{{ s.name }}</a>
                    {% endfor %}
                    <div class="tools">
                        {% if request.user.is_authenticated %}
                        <div class="talk-vote">{% talk_vote ref.talk as x %}{% if x %}{{ x.vote}}/10{% endif %}</div>
                        <div class="talk-interest" data-url="{% url conference-schedule-event-interest conference=schedule.conference slug=schedule.slug eid=ref.id %}">
                            <button class="down {% if interest < 0 %}active{% endif %}"></button>
                            <button class="up {% if interest > 0 %}active{% endif %}"></button>
                        </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="custom-event">{% if ref|event_has_track:"partner-program" %}{{ ref|event_partner_program }}{% else %}{{ ref.custom|safe }}{% endif %}</div>
                    <div class="tools">&nbsp;</div>
                {% endif %}
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript">
    (function() {
        var table = $('#s{{ r }}');
        /*
         * Calcolo della dimensione e posizionamento tramite margini dei div
         * ruotati di 90 gradi via css; La rotazione avviene intorno al centro
         * dell'elemento, quindi devo posizionarlo al centro del contenitore.
         */
        $('.t-break .wrapper, .t-special .wrapper', table).each(function() {
            var w = $(this);
            var width = w.parents('.event').height();
            w.width(width)
                .css('position', 'static')
                .css('margin-left', -(width-80) / 2)
                .css('margin-top', (width-80) / 2)
        });
        $('.talk-interest button', table).click(function(e) {
            e.preventDefault();
            var btn = $(this);
            var wrap = $(this).parents('.talk-interest'); 
            var val = 0;
            if(!btn.hasClass('active')) {
                val = btn.hasClass('up') ? 1 : -1;
            }
            $.ajax({
                url: wrap.attr('data-url'),
                type: 'POST',
                data: {
                    interest: val
                },
                success: function() {
                    $('button', wrap).removeClass('active');
                    var td = wrap.parents('.event');
                    td.removeClass('highlighted').removeClass('shadowed');
                    if(val > 0) {
                        $('button.up', wrap).addClass('active');
                        td.addClass('highlighted');
                    }
                    else if(val < 0) {
                        $('button.down', wrap).addClass('active');
                        td.addClass('shadowed');
                    }
                }
            });
        });
    })();
</script>
