{% load i18n %}
<table class="schedule tracks-{{ schedule.track_set.all|length }}">
    <caption>{{ schedule.date|date:"l d F Y" }}</caption>
    <thead>
        <tr>
            <th class="hhmm">&nbsp;</th>
            {% for t in schedule.track_set.all %}
            <th class="track t-{{ t.track }}">{{ t.title|safe }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for t, row in timetable %}
    {% if not t%}
        <tr><td></td></tr>
    {% else %}
        <tr class="{{ row.class|join:" " }}">
            <td class="hhmm"><span>{{ t|time:"H" }}</span>:{{ t|time:"i" }}</td>
            {% for e in row.events %}
            {% if e %}
            <td class="track{% for t in e.tags %} t-{{ t }}{% endfor %}" rowspan="{{ e.time_slots }}" colspan="{{ e.track_slots }}">
                {% if e.talk %}
                    <h3><a href="{{ e.talk.get_absolute_url }}">{{ e.title }}</a></h3>
                {% trans "di" %}
                {% for s in e.talk.get_all_speakers %}
                    <span class="s"><a href="{{ s.get_absolute_url }}">{{ s.name }}</a></span>{% if not forloop.last %} {% trans "e" %} {% endif %}
                {% endfor %}
                {% else %}
                    <span class="c">{{ e.title|safe }}</span>
                {% endif %}
                
                {% if e.sponsor %}
                    <div class="sponsored-talk">&bull; {% trans "sponsorizzato da" %} <a href="{{ e.sponsor.url }}">{{ e.sponsor.sponsor }}</a>.</div>
                {% endif %} 
               
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
