{% extends "p3/base.html" %}
{% load conference assopy_tags %}

{% block MAIN_CONTENT %}
<div id="schedule-wrapper" class="page clearfix">
    {% render_schedule2 schedule %}
</div>
{% if request.user.is_staff %}
<div class="overlay" id="schedule-form-box">
    <form action="{% url conference-schedule conference=schedule.conference slug=slug %}" method="post">
        <fieldset>
        {% for f in form %}
        {{ f|field }}
        {% endfor %}
        </fieldset>
        <fieldset class="border">
            <button type="submit">Save</button>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    (function() {
        function initSchedule() {
            $('.schedule td.event').append($('<a href="#" class="schedule-edit">Y</a>'));
            $('.schedule .schedule-edit').click(function(e) {
                e.preventDefault();
                var cell = $(e.target).parents('td');
                var track = cell.parents('tr').attr('data-track');
                var time = cell.attr('data-time');
                editEvent(track, time);
            });
            $('.schedule thead .hhmm').click(function(e) {
                var td = $(e.currentTarget);
                var time = td.text(); 
                editEvent('', time);
            });
        }
        $('#schedule-form-box form').submit(function() {
            $(this).ajaxSubmit({
                success: function() {
                    $('#schedule-form-box').overlay().close();
                    $.ajax({
                        url: '{% url conference-schedule conference=schedule.conference slug=slug %}',
                        success: function(data, text, jqXHR) {
                            $('#schedule-wrapper').html(data);
                            initSchedule();
                        }
                    });
                }
            });
            return false;
        });
        function editEvent(track, time) {
            console.log('edit', track, time);
            var editor = $('#schedule-form-box');
            $('input[name=start_time]', editor).val(time);
            $('input[name=track]', editor).val(track);
            editor.overlay({ load: true });
            /*
             * jQueryTools sta vincendo il premio come software più bacato: le
             * due righe che seguono servono a mostrare l'overlay dopo la prima
             * volta.
             * http://flowplayer.org/tools/forum/40/40917
             */
            editor.data("overlay").load();
            editor.css('style', 'block');
        };
        initSchedule();
    })();
</script>
{% endif %}
{% endblock %}

{% block SPONSORS %}
<!-- Omit sponsors col -->
{% endblock %}
