{% load conference p3 %}
{% schedule_timetable schedule as timetable %}
{% if timetable %}
{% if schedule|schedule_to_be_splitted %}
    <h1 class="schedule-date morning">{{ schedule.date|date:"l d F Y" }} <span>{% trans "Morning" %}</span></h1>
    <div class="cms">
        <h2>{{ schedule.date|date:"l" }} {% trans "Morning" %}</h2>
        {% if schedule.description %}
        <p>{{ schedule.description|safe }}</p>
        {% endif %}
    </div>
    {% render_schedule_timetable_as_list schedule timetable end="09:00" %}
    {% render_schedule_timetable schedule timetable start="09:00" end="14:30" %}
    <h1 class="schedule-date afternoon">{{ schedule.date|date:"l d F Y" }} <span>{% trans "Afternoon" %}</span></h1>
    <div class="cms">
        <h2>{{ schedule.date|date:"l" }} {% trans "Afternoon"%}</h2>
        {% if schedule.description %}
        <p>{{ schedule.description|safe }}</p>
        {% endif %}
    </div>
    {% render_schedule_timetable schedule timetable start="14:30" end="20:00" %}
    {% render_schedule_timetable_as_list schedule timetable start="21:00" %}
{% else %}
    <h1 class="schedule-date">{{ schedule.date|date:"l d F Y" }}</h1>
    {% render_schedule_timetable schedule timetable collapse="always" %}
    {% render_schedule_timetable_as_list schedule timetable start="19:45" %}
{% endif %}
{% endif %}
