{% extends "p3/content.html" %}
{% block PAGE_ENTRY %}

<div id="page">                        
    <div id="page-title">
        <h1>{{ speaker.name }}</h1>
        <div>                    
            {% if speaker.location %} {{ speaker.location }}{% endif %} | {{ speaker.activity }}{% if speaker.industry %} / {{ speaker.industry }}{% endif %} | {% if speaker.homepage %}<a href="{{ speaker.homepage }}">{{ speaker.homepage }}</a>{% endif %}
        </div>
    </div>            
    
    <div id="speaker" class="entry">
        <div class="picture"><img src="{{ MEDIA_URL }}stuff/speaker/{{ speaker.image }}" alt="{{ speaker.name }}" />
        </div>
        
        {% for b in speaker.bios.all %}
            {% ifequal b.language LANGUAGE_CODE %}
                <h2>Presentazione</h2>
                <p>{{ b.body|safe }}</p>
            {% endifequal %}
        {% endfor %}                
    </div>            
    
<!-- /page -->
</div>  

{% endblock %}
