{% load conference i18n %}
<div class="container clearfix">
    <h1 class="title">{{ talk.title }}</h1>
    <div class="span-5">
        <div class="cms">
            <h2>Abstract</h2>
            {% conference_multilingual_attribute talk "abstracts" as ab fallback "any" %}
            <p>{{ ab.body|markdown2:"smarty-pants,code-color"  }}</p>
        </div>
    </div>
    <div class="span-7 last">
        <div class="talk details">
            {% embed_video talk args="width=460,height=400" as h %}
            {% if h and talk.slides %}
            <h2>Video &amp; Slide</h2>
            {% else %}
            {% if h %}
            <h2>Video</h2>
            {% endif %}
            {% if slide %}
            <h2>Slide</h2>
            {% endif %}
            {% endif %}

            {% if h %}
            <section class="talk video">
                {{ h }}
            </section>
            {% endif %}
            {% if talk.slides %}
            <div class="button mini">
                {% stuff_info talk.slides as info %}
                <a href="{{ talk.slides.url }}">Download slide ({{ info.0 }})</a><br />
                (Size: {{ info.1|filesizeformat }})
            </div>
            {% endif %}
            <a href="{% url conference-talk slug=talk.slug %}">Go to the talk full page</a>
        </div>
    </div>
</div>
