{% extends "p3/base.html" %}
{% load i18n conference %}

{% block PAGE_TITLE %}{{ talk.title }} &mdash; {% endblock %}

{% block EXTRA_HEAD %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}conference/projekktor/projekktor.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}conference/projekktor/style/projekktor_theme_tll/style.css" type="text/css" media="screen" />
<script type="text/javascript">
var PROJEKKTOR_CONFIG = {
    playerFlashMP4:    "{{ STATIC_URL }}conference/projekktor/playerMP4.swf",
    playerFlashMP3:    "{{ STATIC_URL }}conference/projekktor/playerMP3.swf"
};
</script>
{% endblock %}

{% block MAIN_CONTENT %}
    <h1>{{ talk.title }}</h1>
    <div class="page-summary">
        <p>
            <i>{% trans "di" %}</i>
            {% for spk in talk.get_all_speakers %}
            <a href="{{ spk.get_absolute_url }}">{{ spk.name }}</a>
            {% if not forloop.last %}-{% endif %}
            {% endfor %}
        </p>
    </div>
    <div class="span-7 append-1">
        {% with talk.get_event as e %}
        {% with e.get_track as track %}
        <div class="cms">
            {% conference_multilingual_attribute talk "abstracts" as ab fallback "any" %}
            <p>{{ ab.body|safe }}</p>

            <h2>When and Where</h2>
            <a href="/{{ e.schedule.conference }}/programma"><b>{{ e.schedule.conference }}</b>
            {% ifequal e.schedule.conference "pycon4" %} - {{ e.schedule.date|date:"D d b" }} / {{ e.start_time|time:"H:i" }}{% endifequal %}</a> {% trans "nella track" %} <i>{{ e.get_track.title }}</i>.

            <hr />

            {% if talk|embed_video %}
            <h2>{% trans "Video" %}</h2>
            {{ talk|embed_video:"720,576" }}
            {% endif %}
        </div>
        {% endwith %}
        {% endwith %}
    </div>
    <div class="span-4 last">
        <aside>
            <div class="cms">
                {% if talk.slides %}
                <h4>Download</h4>
                <div class="button download">
                    {% stuff_info talk.slides as info %}
                    <a href="{{ SLIDE_FILE_URL }}{{ talk.slides }}">Slide ({{ info.0 }}) &mdash; {{ info.1|filesizeformat }}</a>
                </div>
                {% endif %}
                <hr />
                <dl>
                    <dt>{% trans "Lingua" %}</dt>
                    <dd>{{ talk.language|upper }}</dd>

                    <dt>{% trans "Durata" %}</dt>
                    <dd>{{ talk.duration }} {% trans "minuti" %}</dd>

                    {% if track.translate %}
                    <dt>{% trans "Traduzione simultanea" %}</dt>
                    <dd>{% trans "disponibile" %}</dd>
                    {% endif %}
                </dl>
            </div>
        </aside>
    </div>
{% endblock %}
