{% extends "p3/base.html" %}
{% load i18n conference assopy_tags %}

{% block PAGE_TITLE %}{{ talk.title }} &mdash; {% endblock %}

{% block EXTRA_HEAD %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}conference/projekktor/projekktor.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}conference/projekktor/style/projekktor_theme_tll/style.css" type="text/css" media="screen" />
<script type="text/javascript">
var PROJEKKTOR_CONFIG = {
    playerFlashMP4:    "{{ STATIC_URL }}conference/projekktor/playerMP4.swf",
    playerFlashMP3:    "{{ STATIC_URL }}conference/projekktor/playerMP3.swf"
};
</script>
{% endblock %}

{% block MAIN_CONTENT %}
    <h1>{{ talk.title }}</h1>
    <div class="span-8">
        <div class="page-summary">
            <p>
                {% trans "di" %}
                {% for spk in talk.get_all_speakers %}
                <a href="{{ spk.get_absolute_url }}">{{ spk.name }}</a>
                {% if not forloop.last %}-{% endif %}
                {% endfor %}
            </p>
        </div>
        {% with talk.get_event as e %}
        {% with e.get_track as track %}
        <div class="readonly"{% if form.errors|length > 0 %} style="display: none;"{% endif %}>
            <div class="cms">
                {% conference_multilingual_attribute talk "abstracts" as ab fallback "any" %}
                <p>{{ ab.body|safe }}</p>
            </div>
            {% if talk.status == "accepted" %}
            <section class="talk when">
                <a href="/{{ e.schedule.conference }}/schedule"><b>{{ e.schedule.conference }}</b></a>
                {% if e.schedule.conference == CONFERENCE %}{% trans "nella track" %} <i>{{ e.get_track.title }}</i>{% endif %}
            </section>
            {% if talk|embed_video %}
            <section class="talk video">
                <h2>{% trans "Video" %}</h2>
                {{ talk|embed_video:"720,576" }}
            </section>
            {% endif %}
            {% endif %}
        </div>
        {% endwith %}
        {% endwith %}
        {% if full_access %}
        <div class="writable"{% if form.errors|length == 0 %} style="display: none;"{% endif %}>
            <div class="cms">
                <form class="talk-details" action="{% url conference-talk slug=talk.slug %}" method="post" enctype="multipart/form-data">
                    <fieldset>
                    {{ form.title|field }}
                    {% if cfp %}
                    {{ form.training|field }}
                    {{ form.duration|field }}
                    {{ form.language|field }}
                    {{ form.level|field }}
                    {% endif %}
                    {{ form.slides|field }}
                    {{ form.abstract|field }}
                    </fieldset>
                    <fieldset class="border">
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="span-4 last">
        <div class="talk details">
            {% if full_access %}
            <button class="profile edit">Edit talk</button>
            <script type="text/javascript">//<![CDATA[
            $('button.profile.edit').click(function(e) {
                e.preventDefault();
                $('div.readonly').hide();
                $('div.writable').show();
                $(e.target).hide();
            });
            //]]>
            </script>
            {% endif %}
            {% if talk.slides %}
            <div class="button mini">
                {% stuff_info talk.slides as info %}
                <a href="{{ talk.slides.url }}">Download slide ({{ info.0 }})</a><br />
                (Size: {{ info.1|filesizeformat }})
            </div>
            <hr />
            {% endif %}
            <dl>
                <dt>{% trans "Lingua" %}</dt>
                <dd>{{ talk.language|upper }}</dd>

                <dt>{% trans "Durata" %}</dt>
                <dd>{{ talk.duration }} {% trans "minuti" %}</dd>

                {% if track.translate %}
                <dt>{% trans "Traduzione simultanea" %}</dt>
                <dd>{% trans "disponibile" %}</dd>
                {% endif %}
            </dl>
        </div>
    </div>
{% endblock %}
