{% extends "p3/base.html" %}
{% load p3 %}
{% block EXTRA_HEAD %}
<style>
.message {
    padding: 10px 0;
    font-size: 22px;
    line-height: 28px;
    font-style: italic;
}
hr.border {
    background: url("{{ STATIC_URL }}p6/i/sep.png");
    visibility: visible;
    height: 30px;
    margin: 0;
}
.unlink fieldset {
    text-transform: small-caps;
    text-align: right;
}
</style>
{% endblock %}
{% block MAIN_CONTENT %}
<div class="cms">
    {% comment %}
    <h1>Conference you have attended</h1>
    <ul>
    {% for c in conferences %}
        <li>{{ c }}</li>
    {% endfor %}
    </ul>
    <hr class="stars" />
    {% endcomment %}
    <h1>People you have met</h1>
    <div class="clearfix">
        {% for p in people %}
        <div class="span-6 {% cycle '' 'last' %}">
            <div>
                {% p3_profile_data p.other as profile %}
                {% render_profile_box profile user_message="always" %}
                <hr class="border" />
                <h3>Met on: {{ p.timestamp|date:"dS M Y" }} at {{ p.timestamp|date:"H.i" }}</h3>
                <p class="message">{{ p.message }}</p>
                <form class="async unlink" action="{% url "conference-profile-link" uuid=profile.uuid %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="delete" value="1" />
                    <fieldset>
                        <a href="#" class="">Remove connection</a>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}p6/j/profile_box.js"></script>
    <script>
    (function() {
        $('form.unlink').bind('async-submit', function(evt, response) {
            $(this).parent().fadeOut(1500, function() {
                $(this).html('&nbsp;').show();
            });
        })
        .find('a')
        .bind('click', function() {
            var f = $(this).parents('form');
            if(confirm("Are you sure")) {
                f.submit();
            }
            return false;
        });
    })();
    </script>
</div>
{% endblock %}

