{% extends "p3/base.html" %}
{% load comments conference assopy_tags %}

{% block EXTRA_HEAD %}
    {{ block.super }}
    <style type="text/css">
        #form-options .inline .field {
            float: left;
        }
    </style>
{% endblock %}
{% block PAGE_TITLE %}Talk voting &mdash; {% endblock %}

{% block MAIN_CONTENT %}
    {% if not voting_allowed %}
    <section class="notice">
        {% if request.user.is_authenticated %}
        <p>To join the community voting, you must buy a ticket. You can buy one <a href="{% url p3-cart %}">here</a>.</p>
        {% else %}
        <p>To join the community voting, you must buy a ticket.</p>
        <p>If you already bought a ticket please <a href="/accounts/login/">log in</a>, otherwise you can buy one <a href="{% url p3-cart %}">here</a>.</p>
        {% endif %}
    </section>
    {% endif %}
    <h1>Talk Voting</h1>
    
    <div class="page-summary">        
        <p>Cast your vote!</p>
    </div>
    
    <form action="{% url conference-voting %}" method="GET" id="form-options">
        <div class="span-5 inline">
            {{ form.abstracts|field }}
            {{ form.talk_type|field }}
            {{ form.language|field }}
        </div>
        <div class="span-7 last inline">
            {{ form.order|field }}
            <div class="field">
                <label>&nbsp;</label>
                <input type="submit" value="refresh" />
            </div>
        </div>
    </form>
    <div class="span-8">
        <ul id="talk-voting">
            {% for t in talks %}
            <li>
                <h2>
                    {{ forloop.counter }} -
                    {% if voting_allowed %}
                    <a href="{% url conference-talk slug=t.slug %}">{{ t.title }}</a>
                    {% else %}
                    {{ t.title }}
                    {% endif %}
                    {% if t.language == "it" %} <img src="{{ STATIC_URL }}p5/i/italian-flag.png" height="15" />{% endif %}
                </h2>
                <div class="meta">
                    {% if voting_allowed %}
                    By {% for s in t.get_all_speakers %}<a href="{% url conference-speaker slug=s.slug %}"><b>{{ s.name }}</b></a>{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% else %}
                    By {% for s in t.get_all_speakers %}<b>{{ s.name }}</b>{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                    | <b>{% if t.training_available %}Training{% else %}Talk{% endif %}</b>
                    for <b>{{ t.get_level_display }}</b>
                </div>
                <form action="{% url conference-voting %}" method="post">{% csrf_token %}
                    <input name="vote-{{ t.id }}" id="id_vote-{{ t.id }}" type="range" min="0" max="10" value="{{ t.user_vote.vote|default:"0" }}" step="0.5" />
                    <div class="rateit"{% if not voting_allowed %} data-rateit-readonly="readonly"{% endif %} data-rateit-backingfld="#id_vote-{{ t.id }}"></div>
                    {% get_comment_count for t as ccount %}
                    {% if ccount > 0 %}
                        {% if voting_allowed %}
                        <a href="{% url conference-talk slug=t.slug %}#comments">{{ ccount }} comments</a>
                        {% else %}
                        {{ ccount }} comments
                        {% endif %}
                    {% endif %}
                </form>
                {% if voting_allowed %}
                <dl>
                    <dt rel="div[data-talk={{ t.id }}]" class="toggle" data-src="{% url conference-talk-xml t.slug %}">Abstract</dt>
                    <dd>
                        <div class="cms" data-talk="{{ t.id }}"> </div>                    
                    </dd>                    
                </dl>
                {% endif %}
            </li>
            {% endfor %}        
        </ul>
        <script type="text/javascript">
            (function() {
                function rate(e, val) {
                    var field = $(e.rateit('backingfld'));
                    var form = field.parents('form');
                    if(val == undefined) 
                        field.val(e.rateit('value'))
                    else
                        field.val(val);
                    form.ajaxSubmit();
                }
                {% if voting_allowed %}
                $('#talk-voting .rateit')
                    .rateit()
                    .bind('rated', function() {
                        rate($(this));
                    })
                    .bind('reset', function() {
                        rate($(this), 0);
                    });
                {% else %}
                $('#talk-voting .rateit')
                    .rateit();
                {% endif %}
                {% if voting_allowed %}
                $('#talk-voting .toggle').click(function(e) {
                    var trigger = $(e.target);
                    var dest = $(trigger.attr('rel'));
                    if(dest.attr('load'))
                        return;
                    dest.attr('load', '1');
                    dest.html('loading...');
                    $.ajax({
                        url: trigger.attr('data-src'),
                        dataType: 'xml',
                        success: function(data, text, jqXHR) {
                            dest.html($('talk abstract', data).html());
                        },
                        error: function(jqXHR, text, error) {
                            dest.attr('load', null);
                        }
                    });
                });
                {% endif %}
            })();
        </script>
    </div>
    
    <div class="span-4 last">
        <aside>    
            <div class="cms">
                <h4>How to vote:</h4>
                <ul>
                    <li>Click on the stars to cast a vote; half-points are allowed.</li>
                    <li>Click on the talk name to go to the (linkable) talk page.</li>
                    <li>Click on the speaker name to see the (linkable) speaker page, with full bio and other infos.</li>
                    <li>Use the filters at the top to help you go through the talks.</li>
                    <li>Sort by vote to help you review all your votes.</li>
                    <li>Do you have some questions on a talk? Leave a comment in the talk page, and the speaker will hopefully answer and enhance the abstract.</li>
                    <li>Click on the red sign on the left of the stars to remove a vote, if you want to think about it more.</li>
                </ul>
                <h4>Need more info?</h4>
                <p>Go to the <a href="/talk-voting">talk voting</a> description page for all the details. If you still have answers, <a href="/contacts">write us</a> or <a href="#" onclick="habla_window.show(); habla_window.expand()">chat with us</a>.</p>            
            </div>
        
        </aside>
    </div>    
{% endblock %}


