{% load conference i18n p3 assopy_tags %}
{% p3_profile_data profile.user_id as profile_data %}
<div>
    <form action="{% url p3-profile slug=profile_data.slug %}" class="live-edit async" method="post" rel="self">{% csrf_token %}
        <input type="hidden" name="section" value="visibility" />
        <div>
            {% if profile_data.visibility == "x" %}
            <p>Your profile is not visibile by anyone.</p>
            {% endif %}
            {% if profile_data.visibility == "m" %}
            <p>Only conference participants can view your profile.</p>
            {% endif %}
            {% if profile_data.visibility == "p" %}
            <p>Your profile is publicly visible.</p>
            {% endif %}
        </div>
        {{ form.visibility|field:"autosubmit" }}
        {% if full_access %}
        <div class="button mini">
            <a href="#" class="live-edit-switch">Change</a>
        </div>
        {% endif %}
    </form>
</div>
