{% extends "p3/base.html" %}
{% load conference i18n p3 assopy_tags %}
{% block EXTRA_HEAD %}
{% if form %}{{ form.media }}{% endif %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block MAIN_CONTENT %}
    {% p3_profile_data profile.user_id as profile_data %}
    <div class="span-8">

        {% if full_access %}
        {% include "conference/profile_visibility_form.html" %}
        {% endif %}
        
        <hr />
        
        <section class="profile-user-identity clearfix">

                {% include "conference/profile_picture_form.html" %}

                <div class="profile-user-identity-data">
                    <h1>{{ profile_data.name }}{% if full_access %} <span>&mdash; {% trans "It’s you!" %}</span>{% endif %}</h1>
                    {% include "conference/profile_publicdata_form.html" %}
                </div>
        </section>

        <hr />

        {% include "conference/profile_bio_form.html" %}

    </div>

    <div class="span-4 last">
        {% current_conference as conf %}
        {% if conf.voting %}
            {% visible_talks profile_data.talks filter_="conference" as talks %}
        {% else %}
            {% if full_access %}
                {% visible_talks profile_data.talks as talks %}
            {% else %}
                {% visible_talks profile_data.talks filter_="accepted" as talks %}
            {% endif %}
        {% endif %}
        {% if talks %}
        <section class="speaker-talks">
            <h2>{{ profile_data.name }}’s Talks</h2>
            <dl>
            {% for conf, talks_list in talks|ordered_talks %}
                <dt>{{ conf }}</dt>
                {% for t in talks_list %}
                <dd><a href="{% url conference-talk slug=t.slug %}">{{ t.title }}</a></dd>
                {% endfor %}
            {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if profile_data.twitter %}
        <script src="https://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        if(typeof(TWTR) != 'undefined') {
            new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 250,
                height: 300,
                theme: {
                    shell: {
                        background: '#E1DBC5',
                        color: '#301D1D'
                    },
                    tweets: {
                        background: '#ffffff',
                        color: '#301D1D',
                        links: '#0F2424'
                    }
                },
                features: {
                    scrollbar: false,
                    loop: false,
                    live: true,
                    behavior: 'default'
                }
            }).render().setUser('{{ profile.twitter }}').start();
        }
        </script>
        {% endif %}
    </div>
{% endblock %}
