{% extends "p3/base.html" %}
{% load conference i18n p3 assopy_tags %}
{% block EXTRA_HEAD %}
{% if form %}{{ form.media }}{% endif %}
{% endblock %}

{% block MAIN_CONTENT %}
    {% p3_profile_data profile.user_id as profile_data %}
    <div class="span-8">

        {% if full_access %}
        <section class="profile-user-visibility clearfix">
            {% include "conference/profile_visibility_form.html" %}
        </section>
        {% endif %}
        
        <hr />
        
        <section class="profile-user-identity clearfix">

                {% include "conference/profile_picture_form.html" %}

                <div class="profile-user-identity-data">
                    <h1>{{ profile_data.name }}{% if full_access %} <span>&mdash; {% trans "It’s you!" %}</span>{% endif %}</h1>
                    {% include "conference/profile_publicdata_form.html" %}
                </div>
        </section>

        <hr />
        
<!--         <section class="profile-user-company"> -->

<!--         </section> -->

<!--         <hr /> -->

        <section class="profile-user-bio">
            <h2>Quick Bio</h2>
            <div class="cms">
                {% include "conference/profile_bio_form.html" %}
            </div>
        </section>


    </div>

    <div class="span-4 last">


        {% with profile_data.talks|visible_talks:full_access as talks %}
        {% if talks %}
        <section class="speaker-talks">
            <h2>{{ profile_data.name }}’s Talks</h2>
            <dl>
            {% for conf, talks_list in talks|ordered_talks %}
                <dt>{{ conf }}</dt>
                {% for t in talks_list %}
                <dd><a href="{% url conference-talk slug=t.slug %}">{{ t.title }}</a></dd>
                {% endfor %}
            {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}
