{% extends "p3/base.html" %}
{% load conference assopy_tags p3 %}

{% block EXTRA_HEAD %}
    {{ block.super }}
    <style type="text/css">
        #form-options .inline .field {
            float: left;
        }
    </style>
{% endblock %}
{% block PAGE_TITLE %}Talk voting &mdash; {% endblock %}

{% block MAIN_CONTENT %}
    {% if not voting_allowed %}
    <section class="notice">
        {% if request.user.is_authenticated %}
        <p>To join the community voting, you must buy a ticket. You can buy one <a href="{% url p3-cart %}">here</a>.</p>
        {% else %}
        <p>To join the community voting, you must buy a ticket.</p>
        <p>If you already bought a ticket please <a href="/accounts/login/">log in</a>, otherwise you can buy one <a href="{% url p3-cart %}">here</a>.</p>
        {% endif %}
    </section>
    {% endif %}
    <h1>Talk Voting</h1>

    <div class="page-summary">
        <p>Cast your vote!</p>
    </div>

    <form class="async" rel="#talk-voting-wrapper" action="{% url conference-voting %}" method="GET" id="form-options">
        <div class="span-7 inline">
            {{ form.abstracts|field:"autosubmit" }}
            {{ form.talk_type|field:"autosubmit" }}
            {{ form.language|field:"autosubmit" }}
        </div>
        <div class="span-5 last inline">
            {{ form.order|field:"autosubmit" }}
            <div class="field">
                <label>&nbsp;</label>
                <input type="submit" value="refresh" />
            </div>
        </div>
        <div class="span-12 last">
            {{ form.tags|field:"autosubmit" }}
        </div>
    </form>
    <hr class="stars" />
    {% include "conference/ajax/voting.html" %}
    <div class="span-4 last">
        <aside>
            <div class="cms">
                <h4>How to vote:</h4>
                <ul>
                    <li>Click on the stars to cast a vote; half-points are allowed.</li>
                    <li>Click on the talk name to go to the (linkable) talk page.</li>
                    <li>Click on the speaker name to see the (linkable) speaker page, with full bio and other infos.</li>
                    <li>Use the filters at the top to help you go through the talks.</li>
                    <li>Sort by vote to help you review all your votes.</li>
                    <li>Do you have some questions on a talk? Leave a comment in the talk page, and the speaker will hopefully answer and enhance the abstract.</li>
                    <li>Click on the red sign on the left of the stars to remove a vote, if you want to think about it more.</li>
                </ul>
                <h4>Need more info?</h4>
                <p>Go to the <a href="/talk-voting">talk voting</a> description page for all the details. If you still have answers, <a href="/contacts">write us</a> or <a href="#" onclick="habla_window.show(); habla_window.expand()">chat with us</a>.</p>
            </div>
        </aside>
    </div>
{% endblock %}



