{% extends "p3/base.html" %}
{% load conference p3 %}
{% block EXTRA_HEAD %}
<style>
#live h1 {
    text-align: center;
}
#live .track {
    height: 350px;
}
#live h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}
#live .title {
    margin: 10px 0;
    text-transform: none;
    font-size: 24px;
}
#live .metadata > div {
    margin: 15px 0;
}
#live .speakers h4 {
    margin-bottom: 20px;
}
#live .speakers:after {
    content: "";
    display: block;
    clear: both;
}
#live .speaker {
    float: left;
    margin-right: 20px;
}
#live .speaker img {
    height: 85px;
}
#live .video {
    clear: both;
}
#live .time {
    font-weight: bold;
}
#live .time img {
    vertical-align: middle;
}
#live .next h4 {
    margin-top: 40px;
}
#live .next > h3 {
    margin: 10px 0;
    font-size: 18px;
}
</style>
{% endblock %}
{% block MAIN_CONTENT %}
<div id="live" class="cms">
    <h1>EuroPython 2012 - Now Live!</h1>
    {% for t in tracks %}
    <div class="track" id="{{ t.track }}">
        <h2>On Track "{{ t.title|safe }}"</h2>
        <div class="span-6">
            <div class="metadata"></div>
        </div>
        <div class="span-6 last">
            <div class="video"></div>
        </div>
    </div>
    <hr class="stars" />
    {% endfor %}
</div>
<script>
(function() {
    function update_events_metadata() {
        $.getJSON('/p3/live/events', function(data) {
            $.each(data, function(track, evt) {
                var t = $('#' + track);
                var meta = t.find('.metadata');
                var video = t.find('.video');
                var current = meta.attr('data-event');

                var eid = evt.id || 0;
                if(current == eid) {
                    return;
                }
                meta.html('');
                video.html('');
                if(!eid) {
                    meta
                        .append(''
                            + '<div class="move-along">'
                            + ' <h1 class="move-along">Nothing to see here. Move Along</h1>'
                            + ' <div class="speakers"><h4>Presented by:</h4></div>'
                            + '  <img src="/static/p5/i/nothing-to-see-here.jpg" height="85">'
                            + '  <div class="name"><a href="https://en.wikipedia.org/wiki/Frank_Drebin">Frank Drebin</a></div>'
                            + ' </div>'
                            + '</div>'
                        )
                    video.html(evt.embed || '');
                    meta.attr('data-event', 0);
                    return;
                }
                if(evt.url) {
                    var title = '<h3 class="title"><a href="' + evt.url + '">' + evt.name + '</a></h3>';
                }
                else {
                    var title = '<h3 class="title">' + evt.name + '</h3>';
                }
                var tags = $('<div class="tags"></div>');
                for(var ix=0, ex=evt.tags.length; ix<ex; ix++) {
                    tags.append('<span class="tag">' + evt.tags[ix] + '</span>');
                }
                meta
                    .append($(title))
                    .append(tags)
                    .append(''
                        + '<div class="time">'
                        + '<img src="/static/p5/i/icon-clock.png">'
                        + ' Start: ' + evt.start.split(' ')[1].slice(0, -3)
                        + ' → '
                        + ' End: ' + evt.end.split(' ')[1].slice(0, -3)
                        + '</div>'
                    )
                if(evt.speakers) {
                    var speakers = $('<div class="speakers"><h4>Presented by:</h4></div>');
                    for(var ix=0, ex=evt.speakers.length; ix<ex; ix++) {
                        var s = evt.speakers[ix];
                        speakers.append($(''
                            + '<div class="speaker">'
                            + '  <img src="' + s[2] + '" height="85">'
                            + '  <div class="name"><a href="' + s[0] + '">' + s[1] + '</a></div>'
                            + '</div>'
                            ));
                    }
                    meta.append(speakers);
                }
                if(evt.next) {
                    if(evt.next.url) {
                        var title = '<h3><a href="' + evt.nexy.url + '">' + evt.next.name + '</a></h3>';
                    }
                    else {
                        var title = '<h3>' + evt.next.name + '</h3>';
                    }
                    meta
                        .append(''
                            + '<div class="next">'
                            + ' <h4>Next event - ' + evt.next.time.split(' ')[1].slice(0, -3) + '</h4>'
                            + title
                            + '</div>'
                        )
                }
                meta.attr('data-event', evt.id);
                if(evt.embed) {
                    video.append(evt.embed);
                }
            })
        });
    }
    update_events_metadata();
    setInterval(update_events_metadata, 5000);
})();
</script>
{% endblock %}
