{% extends "p3/base.html" %}
{% load p3 microblog_tags conference %}
{% block BODY_CLASS %} home{% endblock %}

{% block TEASER %}
    <div class="container">
        <div class="intro clear">
            <p><b>EuroPython</b> is the official European conference about the <b>Python programming language</b>. It is aimed at everyone in the Python community, of all skill levels, both users and&nbsp;programmers.</p>
        </div>        
    <!-- /container -->
    </div>
{% comment %}
    <section class="teaser">
        <div class="container clearfix">
            {% current_conference as conf %}
            {% if not conf.conference %}
                <div class="span-5">
                    <h2><span>Confirmed</span> Speakers</h2>
                    <img src="{{ STATIC_URL }}p5/i/speakers-europython.png" alt="" width="320" height="160" />
                    <div class="button">
                        <a href="/call-for-paper/"><b>Join us as a speaker!</b></a>
                    </div>
                </div>

                <div class="europython-is span-7 last">
                    <h2><span>EuroPython</span> is&hellip;</h2>
                    <p>
                    An occasion to follow interesting talks, hands-on trainings, do some networking, recruite qualified staff or be recruited by great firms, and last but not least follow funky PyEvents all around the city!
                    </p>
                </div>
            {% else %}
                {% box_next_events %}
            {% endif %}
        <!-- /container -->
        </div>
    </section>
{% endcomment %}

 {% current_conference as conf %}

    <div class="container clearfix"> 
        <section>
            <div class="span-6">
                {% if conf.cfp %}
                <div class="home-notice">
                    <a href="/call-for-proposals/"><img class="block" src="{{ STATIC_URL }}p5/i/notice-call-for-paper.png" alt="Call for paper is open. Submit your paper" width="315" height="130" /></a>                    
                </div>
                {% endif %}
                <div class="home-notice">
                    <div class="badge" style="margin-left: 50px; margin-right: 50px">
                         <h5><a href="/talk-voting/">Talk voting is open &rarr; </a></h5>
                    </div>
                </div>
            </div>
    
            <div class="span-6 last">
                {% get_deadlines limit=1 as l %}
                {% if l %}
                <div class="cal">
                    <h2><span>Next stop is&hellip;</span><span class="more"><a href="/calendar">See full calendar</a></span></h2>
                    <div class="deadline clearfix">
                        <h3><span>{{ l.0.date|date:"d" }}</span> {{ l.0.date|date:"b" }}</h3>
                        <p>{{ l.0.body|safe }}</p>
                    </div>                   
                </div>
                {% endif %}
            </div>
        </section>

        <hr class="stars" />
    
    <!-- /container -->
    </div>    


    <section class="quick-guide">

        <h2><span>Europython</span> at a glance</h2>

        <div class="quick-guide-backgound">
            <div class="container clearfix">
            
                <div class="span-1">                            
                    <h3>LEARN</h3>
                </div>
                
                <div class="span-3 border">
                    
                    <dl>
                        <dt><span>Talks</span></dt>
                        <dd>More than 120 talks in 5 different tracks</dd>
    
                        <dt><a href="/training">Trainings</a></dt>
                        <dd>In-depth 4-hours sessions: write code, improve your skills</dd>
                        
                        <dt><a href="/poster-session">Posters</a> <span class="new">New</span></dt>
                        <dd>Watch visualizations of projects, and chat with the authors</dd>                
                   </dl>
                
                </div>
    
                <div class="span-1">                            
                    <h3>HACK</h3>
                </div>
                            
                <div class="span-3 border">
                    <dl>
                    <dt><a href="/sprints">Sprints</a></dt>
                    <dd>Contribute to your favourite Python project and discuss with developers</dd>
    
                    <dt><span>Competitions</span></dt>
                    <dd>Solve problems and riddle, win fantastic prizes</dd>
    
                    <dt><span>Open space</span></dt>
                    <dd>Relax, get a tan, and join BoF, meetups, and impromptu talks</dd>
    
                    </dl>
                </div>
                
    
                <div class="span-1">                            
                    <h3>DISCOVER</h3>
                </div>

                <div class="span-3 last">
                    
                    <dl>
                    <dt><a href="/find-out-whos-coming">Find out who's coming</a> <span class="new">New</span></dt>
                    <dd>Browse the attendees list, get in touch, organize a meetup</dd>
    
                    <dt><a href="/recruiting">Recruiting</a></dt>
                    <dd>Looking for a Python job? Meet companies that need you</dd>

                    <dt><span>Social events</span></dt>
                    <dd>Pizza, beer, steak: refurbish your soul in the evening</dd>
    
                    </dl>
                
                </div>
            <!-- /container -->            
            </div>

        <!--/quick-guide-backgound -->
        </div>

    </section>

{% endblock%}

{% block MAIN_CONTENT %}
    {% if not conf.conference %}
    <section class="where clearfix">
        <!-- <h2>Let’s meet in <span>Florence</span></h2> -->
        <div class="span-6">
            <p>EuroPython 2012 will be held in the world-famous beautiful city of Florence. Take 
            the chance to visit the city and the marvellous Tuscany, bringing your partner and family with you.
            We’re preparing a great <b>partner program</b> with guided tours and visits to museums at cheap rates! </p>
        </div>

        <div class="span-6 last">
<!--             <div class=""> -->
                <iframe width="390" height="220" src="https://www.youtube.com/embed/BDiEbi0yCY8?wmode=transparent" frameborder="0" allowfullscreen></iframe>
<!--             </div> -->
        </div>
    </section>
    {% endif %}

    <hr class="stars" />

    <section class="clearfix">
        {% post_list count=3 as posts %}
        <div class="blog border span-6">
            <h2>From the blog</h2>
            <ul>
                {% for post in posts %}
                {% get_post_data post.id as data %}
                <li>
                    <h3><a href="{{ data.url }}">{{ data.content.headline }}</a></h3>
                    <div class="meta">Posted on <b>{{ post.date|date:"M j Y" }}</b>{% if data.comments %} &mdash; <a href="{{ data.url }}#comments">{{ data.comments|length }} comments</a>{% endif %}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="home-notice span-6 last">
            <a href="/ep2011/"><img src="{{ STATIC_URL }}p5/i/notice-archives-2011.png" alt="Browse the EuroPython 2011 archives" width="390" height="210" /></a>
        </div>
    </section>
{% endblock %}















