{% extends "p3/base.html" %}
{% load p3 microblog_tags conference %}

{% block TEASER %}
    <div class="container">
        <div class="intro clear">
            <p><b>EuroPython</b> is the official European conference about the <b>Python programming language</b>. It is aimed at everyone in the Python community, of all skill levels, both users and&nbsp;programmers.</p>
        </div>
    </div>
{% comment %}
    <section class="teaser">
        <div class="container clearfix">
            {% current_conference as conf %}
            {% if not conf.conference %}
                <div class="span-5">
                    <h2><span>Confirmed</span> Speakers</h2>
                    <img src="{{ STATIC_URL }}p5/i/speakers-europython.png" alt="" width="320" height="160" />
                    <div class="button">
                        <a href="/call-for-paper/"><b>Join us as a speaker!</b></a>
                    </div>
                </div>

                <div class="europython-is span-7 last">
                    <h2><span>EuroPython</span> is&hellip;</h2>
                    <p>
                    An occasion to follow interesting talks, hands-on trainings, do some networking, recruite qualified staff or be recruited by great firms, and last but not least follow funky PyEvents all around the city!
                    </p>
                </div>
            {% else %}
                {% box_next_events %}
            {% endif %}
        </div>
    </section>
{% endcomment %}
{% endblock%}

{% block BODY_CLASS %} home{% endblock %}

{% block MAIN_CONTENT %}
    {% current_conference as conf %}
    <section>
        <div class="span-6">
            {% if conf.cfp %}
            <div class="home-notice">
                <a href="/call-for-proposals/"><img class="block" src="{{ STATIC_URL }}p5/i/notice-call-for-paper.png" alt="Call for paper is open. Submit your paper" width="315" height="130" /></a>                    
            </div>
            {% endif %}
        </div>

        <div class="span-6 last">
            {% get_deadlines limit=1 as l %}
            {% if l %}
            <div class="cal">
                <h2>Next stop is&hellip;</h2>
                <div class="deadline clearfix">
                    <h3><span>{{ l.0.date|date:"d" }}</span> {{ l.0.date|date:"b" }}</h3>
                    <p>{{ l.0.body|safe }}</p>
                </div>
                <div style="text-align: right; margin-top: -1em">See the <a href="/calendar">full calendar</a></div>
            </div>
            {% endif %}
        </div>
    </section>

    <hr />

    {% if not conf.conference %}
    <section class="where clearfix">
        <h2>Let’s meet in <span>Florence</span></h2>
        <div class="span-6">
            <p>EuroPython 2012 will be held in the world-famous beautiful city of Florence. Take 
            the chance to visit the city and the marvellous Tuscany, bringing your partner and family with you.
            We're preparing a great <b>partner program</b> with guided tours and visits to museums at cheap rates! </p>
        </div>

        <div class="span-6 last">
            <iframe width="390" height="220" src="https://www.youtube.com/embed/BDiEbi0yCY8" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    {% endif %}

    <hr />

    <section class="clearfix">
        {% post_list count=3 as posts %}
        <div class="blog border span-6">
            <h2>From the blog</h2>
            <ul>
                {% for post in posts %}
                {% get_post_data post.id as data %}
                <li>
                    <h3><a href="{{ data.url }}">{{ data.content.headline }}</a></h3>
                    <div class="meta">Posted on <b>{{ post.date|date:"M j Y" }}</b>{% if data.comments %} &mdash; <a href="{{ data.url }}#comments">{{ data.comments|length }} comments</a>{% endif %}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="home-notice span-6 last">
            <a href="/ep2011/"><img src="{{ STATIC_URL }}p5/i/notice-archives-2011.png" alt="Browse the EuroPython 2011 archives" width="390" height="210" /></a>
        </div>
    </section>
{% endblock %}





