{% extends "p3/base.html" %}
{% load p3 conference assopy_tags %}

{% block EXTRA_HEAD %}
<style>
/* layout */
.event { position: absolute; }
.hhmm { position: relative; }
.hhmm > div { position: absolute; }

.horizontal .hhmm { height: 20px; }
.horizontal.schedule { width: 3000px; }
.horizontal .track { position: relative; height: 75px; }
.horizontal .event.duration-15 { width: 50px; }
.horizontal .event.duration-30 { width: 100px; }
.horizontal .event.duration-45 { width: 150px; }
.horizontal .event.duration-60 { width: 200px; }
.horizontal .event.duration-75 { width: 250px; }
.horizontal .event.duration-90 { width: 300px; }
.horizontal .event.duration-240 { width: 800px; }
.horizontal .event.duration-480 { width: 1600px; }
.horizontal .time-0900 { left: 0; }
.horizontal .time-0930 { left: 100px; }
.horizontal .time-0945 { left: 150px; }
.horizontal .time-1030 { left: 300px; }
.horizontal .time-1115 { left: 450px; }
.horizontal .time-1215 { left: 650px; }
.horizontal .time-1300 { left: 800px; }
.horizontal .time-1315 { left: 850px; }
.horizontal .time-1430 { left: 1100px; }
.horizontal .time-1530 { left: 1300px; }
.horizontal .time-1630 { left: 1500px; }
.horizontal .time-1715 { left: 1650px; }
.horizontal .time-1815 { left: 1850px; }
.horizontal .time-1830 { left: 1900px; }
.horizontal .time-1930 { left: 2100px; }
.horizontal .event.tracks-1 { height: 75px; }
.horizontal .event.tracks-2 { height: 150px; }
.horizontal .event.tracks-3 { height: 225px; }
.horizontal .event.tracks-4 { height: 300px; }
.horizontal .event.tracks-5 { height: 375px; }
.horizontal .event.tracks-6 { height: 450px; }
.horizontal .event.tracks-7 { height: 525px; }
.horizontal .event.tracks-8 { height: 600px; }
.horizontal .track .title {
    position: absolute;
    left: -40px;
}

.vertical .hhmm {
    float: left;
    width: 40px;
    height: 735px;
}
.vertical.schedule { width: 1400px; }
.vertical.schedule:after {
    content: ' ';
    display: block;
    clear: both;
}
.vertical .track {
    position: relative;
    float: left;
    width: 190px;
    height: 735px;
}
.vertical .event {
    width: 100%;
}
.vertical .event.duration-15 { height: 15px; }
.vertical .event.duration-30 { height: 30px; }
.vertical .event.duration-45 { height: 45px; }
.vertical .event.duration-60 { height: 60px; }
.vertical .event.duration-75 { height: 75px; }
.vertical .event.duration-90 { height: 90px; }
.vertical .event.duration-240 { height: 240px; }
.vertical .event.duration-480 { height: 480px; }
.vertical .time-0900 { top: 15px; }
.vertical .time-0930 { top: 45px; }
.vertical .time-0945 { top: 60px; }
.vertical .time-1030 { top: 105px; }
.vertical .time-1115 { top: 150px; }
.vertical .time-1215 { top: 210px; }
.vertical .time-1300 { top: 255px; }
.vertical .time-1315 { top: 270px; }
.vertical .time-1430 { top: 345px; }
.vertical .time-1530 { top: 405px; }
.vertical .time-1630 { top: 465px; }
.vertical .time-1715 { top: 510px; }
.vertical .time-1815 { top: 570px; }
.vertical .time-1830 { top: 585px; }
.vertical .time-1930 { top: 645px; }
.vertical .event.tracks-1 { width: 190px; }
.vertical .event.tracks-2 { width: 380px; }
.vertical .event.tracks-3 { width: 570px; }
.vertical .event.tracks-4 { width: 760px; }
.vertical .event.tracks-5 { width: 950px; }
.vertical .event.tracks-6 { width: 1140px; }
.vertical .event.tracks-7 { width: 1330px; }
.vertical .event.tracks-8 { width: 1520px; }
.vertical .track .title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.vertical-narrow .hhmm {
    float: left;
    width: 40px;
    height: 1360px;
}
.vertical-narrow.schedule:after {
    content: ' ';
    display: block;
    clear: both;
}
.vertical-narrow .track {
    position: relative;
    float: left;
    width: 100px;
    height: 1360px;
}
.vertical-narrow .event {
    width: 100%;
}
.vertical-narrow .event.duration-15 { height: 30px; }
.vertical-narrow .event.duration-30 { height: 60px; }
.vertical-narrow .event.duration-45 { height: 90px; }
.vertical-narrow .event.duration-60 { height: 120px; }
.vertical-narrow .event.duration-75 { height: 150px; }
.vertical-narrow .event.duration-90 { height: 180px; }
.vertical-narrow .event.duration-240 { height: 480px; }
.vertical-narrow .event.duration-480 { height: 960px; }
.vertical-narrow .time-0900 { top: 40px; }
.vertical-narrow .time-0930 { top: 100px; }
.vertical-narrow .time-0945 { top: 130px; }
.vertical-narrow .time-1030 { top: 220px; }
.vertical-narrow .time-1115 { top: 310px; }
.vertical-narrow .time-1215 { top: 430px; }
.vertical-narrow .time-1300 { top: 520px; }
.vertical-narrow .time-1315 { top: 550px; }
.vertical-narrow .time-1430 { top: 700px; }
.vertical-narrow .time-1530 { top: 820px; }
.vertical-narrow .time-1630 { top: 940px; }
.vertical-narrow .time-1715 { top: 1030px; }
.vertical-narrow .time-1815 { top: 1150px; }
.vertical-narrow .time-1830 { top: 1180px; }
.vertical-narrow .time-1930 { top: 1300px; }
.vertical-narrow .event.tracks-1 { width: 100px; }
.vertical-narrow .event.tracks-2 { width: 200px; }
.vertical-narrow .event.tracks-3 { width: 300px; }
.vertical-narrow .event.tracks-4 { width: 400px; }
.vertical-narrow .event.tracks-5 { width: 500px; }
.vertical-narrow .event.tracks-6 { width: 600px; }
.vertical-narrow .event.tracks-7 { width: 700px; }
.vertical-narrow .event.tracks-8 { width: 800px; }
.vertical-narrow .track .title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.event { z-index: 101; }
.event.special { z-index: 100; }

/* *********************** */

.event {
    overflow: hidden;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;

    background: #FCFAD9;
    font-variant: small-caps;

    padding: 3px;

    -moz-transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.event.special {
    background: white url({{ STATIC_URL }}p5/i/empty-track.png) bottom left;
    font-size: 15px;
    text-align: center;
}

.event.special > div {
    margin-top: 100px;
}

.event a {
    border: none;
}

.event .name {
    line-height: 14px;
    height: 28px;
    font-size: 11px;
    overflow: hidden;
}

.event.exposed {
    padding: 7px;
    z-index: 200;
    box-shadow: 0 3px 8px 0 #aaa;
    border: 4px solid white;
    width: 400px !important;
    height: 350px !important;
    opacity: 1 !important;
}
.event .maximized {
    display: none;
}
.event.exposed span.maximized {
    display: inline;
}
.event.exposed .maximized {
    display: block;
}

.event.exposed .name {
    height: auto;
    font-weight: bold;
    margin: 8px 0;
    font-size: 12px;
}

.event .hhmm {
    position: static;
    height: auto;
    width: auto;
    margin-right: 5px;
}
.event.exposed .hhmm {
    font-weight: bold;
}

.event .talk-level {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: transparent;
    color: white;
}
.event .talk-level.beginner {
    background: #c9f76f;
}
.event .talk-level.intermediate {
    background: #679b00;
}
.event .talk-level.advanced {
    background: #a68000;
}

.event.exposed .talk-level {
    height: 20px;
}

.event .abstract {
    font-variant: normal;
    line-height: 1.5em;
    overflow-y: auto;
    height: 200px;
    border: 1px solid #B0AB63;
    padding: 2px;
}

.tools {
    position: absolute;
    right: 0;
    bottom: 3px;
}

.exposed .tools {
    bottom: 0;
    background: white;
    padding: 0 4px;
}

.tools > div {
    margin-left: 5px;
}

.tools > div, .event.exposed .tools > div.maximized {
    display: inline-block;
}

.tools button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    width: 16px;
    height: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.talk-interest button {
    padding-left: 18px;
}
.talk-interest button.up {
    background: transparent url({{ STATIC_URL }}p5/i/icon-thumb-up.png) no-repeat left center;
}
.talk-interest button.up.active {
    background: transparent url({{ STATIC_URL }}p5/i/icon-thumb-up-lit.png) no-repeat left center;
}
.talk-interest button.down {
    background: transparent url({{ STATIC_URL }}p5/i/icon-thumb-down.png) no-repeat left center;
}
.talk-interest button.down.active {
    background: transparent url({{ STATIC_URL }}p5/i/icon-thumb-down-lit.png) no-repeat left center;
}

.book-event {
    padding: 0 4px;
}
.book-event > div {
    padding: 0 4px;
}
.book-event .book, .book-event .cancel {
    background: #4895A3;
}
.book-event .sold-out, .book-event .restricted {
    background: #ABA18F;
}
.book-event a {
    color: white;
}

.event .tag {
    cursor: pointer;
    margin: 0 2px 2px 0;
    font-size: 10px;
}

#schedule-navigator {
    position: fixed;
    top: 33%;
    left: 0;
    height: 40px;
    width: 330px;
    background: white;
    padding: 0;
    border: 1px solid #7D6F60;
    z-index: 2000;
    transform: translate(-145px, 0) rotate(-90deg);
    -moz-transform: translate(-145px, 0) rotate(-90deg);
    -webkit-transform: translate(-145px, 0) rotate(-90deg);
    -o-transform: translate(-145px, 0) rotate(-90deg);
    -ms-transform: translate(-145px, 0) rotate(-90deg);
}

#schedule-navigator > div {
    float: left;
    margin-right: 20px;
    padding: 4px;
    line-height: 32px;
}

#schedule-navigator > div:first-child {
    background: #301D1D;
    color: #FCFAD9;
    font-weight: bold;
    padding: 4px 8px;
}

#schedule-navigator > div div {
    display: none;
    position: absolute;
    border: 2px solid #7D6F60;
    transform: rotate(90deg) translate(10px, -10px);
    -moz-transform: rotate(90deg) translate(10px, -10px);
    -webkit-transform: rotate(90deg) translate(10px, -10px);
    -o-transform: rotate(90deg) translate(10px, -10px);
    -ms-transform: rotate(90deg) translate(10px, -10px);
    transform-origin: left top;
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    background: white;
    padding: 5px;
    width: 150px;
}

/* eventi evidenziati */

/* starred dall'utente (+1) */
.event.interest-up {
    background: #d7f5fa;
}

/* downvoted dall'utente (-1) */
.event.interest-down {
    opacity: .7;
    background: #999;
}

/* risultato di una ricerca */
.event.highlighted {
    box-shadow: inset 0px 0 20px 0px rgba(255, 128, 0, 1);
    -moz-box-shadow: inset 0px 0 20px 0px rgba(255, 128, 0, 1);
    -webkit-box-shadow: inset 0px 0 20px 0px rgba(255, 128, 0, 1);
    -o-box-shadow: inset 0px 0 20px 0px rgba(255, 128, 0, 1);
    -ms-box-shadow: inset 0px 0 20px 0px rgba(255, 128, 0, 1);
}

/* escluso da una ricerca */
.event.dimmed {
    opacity: 0.7;
    background: #ddd;
}
</style>
{% endblock %}

{% block BODY_ID %}schedule{% endblock %}

{% block MAIN_CONTENT %}
<section class="notice">
Beta version, small changes could be introduced to meet speakers' necessities.
</section>
{% schedules_data sids as schedules %}
<nav id="schedule-navigator">
    <div>NAV</div>
    <div>
        <a href="#">Jump to</a>
        <div>
            <ul>
            {% for row in timetables %}
                {% with schedules|attrib_:forloop.counter0 as sdata %}
                <li><a href="#{{ sdata.slug }}">{{ sdata.date|date:"l, j F" }}</a></li>
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div>My schedule</div>
    <div>
        <a href="#">Filters</a>
        <div>
            <h3>Tracks</h3>
            <ul>
                <li><a href="#" class="track-toggle" data-tracks="track-ita">Italian track</a></li>
                <li><a href="#" class="track-toggle" data-tracks="training1,training2">Trainings</a></li>
                <li><a href="#" class="track-toggle" data-tracks="partner0,partner1">Partner program</a></li>
                <li><a href="#" class="track-toggle" data-tracks="sprint1,sprint2,sprint3">Sprint</a></li>
            </ul>
            <h3>Talks</h3>
            <ul>
                <li><a href="#" class="highlight-chart">Highlight using my votes</a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
{% if request.user.is_authenticated %}
{% user_votes as votes %}
var user_votes = {{ votes|json_ }};
{% user_events_interest as einterests %}
var user_interest = {{ einterests|json_ }};
{% all_user_tickets as tickets %}
var user_tickets = {{ tickets|json_ }};
{% else %}
var user_votes = {};
var user_interest = {};
var user_tickets = [];
{% endif %}
(function($) {
    $.fn.extend({
        'events': function() {
            return this.filter('.event');
        },
        'highlight': function() {
            return this.events()
                .removeClass('dimmed')
                .addClass('highlighted');
        },
        'dim': function() {
            return this.events()
                .removeClass('highlighted')
                .addClass('dimmed');
        },
        'removeDimHighlight': function() {
            return this.events()
                .removeClass('dimmed highlighted')
        },
        'byTag': function(tag) {
            return this.events()
                .find('.tag:contains(' + tag + ')')
                .parents('.event')
        }
    });
})(jQuery);
(function() {
    var nav = $('#schedule-navigator');
    var options = nav.children('div');
    options
        .children('a')
            .bind('click', function(ev) {
                var e = $(this);
                options
                    .children('div').hide();
                e.parent()
                    .children('div').show();
                return false;
            })
        .end()
        .children('div')
            .bind('click', function(ev) {
                $(this).hide();
            })

    options
        .find('.track-toggle')
            .bind('click', function(ev) {
                var e = $(this);
                var tracks = $([]);
                $(e.attr('data-tracks').split(',')).each(function(ix, val) {
                    tracks = tracks.add($('.track[data-track=' + val + ']'));
                })
                var visible = tracks.is(':hidden');
                /*
                 * nascondere/mostrare le track è semplice, il problema è
                 * accorciare gli eventi a sale unificate
                 */
                if(visible) {
                    tracks.show();
                }
                else {
                    tracks.hide();
                }
                var sch = tracks.eq(0).parents('.schedule');
                var direction = sch.get(0).className.indexOf('vertical') != -1 ? 'v' : 'h';
                var offset = direction == 'v' ? tracks.width() : tracks.height();
                if(!visible)
                    offset *= -1;
                /*
                 * devo accumulare le modifiche invece che applicarle
                 * subito perché c'è una transizione css e i metodi
                 * .width/.height non mi riportano la dimensione
                 * corretta fino a quando non è terminata l'animazione
                 */
                var sizes = {};
                tracks.each(function() {
                    var t = $(this)
                    /*
                     * gli eventi da manipolare sono tutti quelli presenti
                     * nelle track precedenti che coinvolgano anche la track corrente
                     */
                    var previous = t.prevAll('.track');
                    previous
                        .each(function(tix, val) {
                            /*
                             * mi interessano solo gli elementi di questa track
                             * che vanno a toccare una delle track manipolate
                             */
                            $(this)
                                .children('.event')
                                .not('.tracks-1')
                                .filter(function(ix) {
                                    var match = this.className.match(/tracks-(\d)/);
                                    if(!match)
                                        return false;
                                    return parseInt(match[1]) + (previous.length - tix -1) > previous.length;
                                })
                                .each(function() {
                                    var evt = $(this);
                                    if(!(this.id in sizes))
                                        sizes[this.id] = direction == 'v' ? evt.outerWidth() : evt.outerHeight();
                                    sizes[this.id] += offset;
                                });
                        });
                });
                for(var key in sizes) {
                    if(direction == 'v')
                        $(document.getElementById(key)).width(sizes[key]);
                    else
                        $(document.getElementById(key)).height(sizes[key]);
                }
                return false;
            })
        .end()
    .find('.highlight-chart')
        .bind('click', function(ev) {
            var slices = {};
            var srex = /time-(\d+)/;
            $('.event').dim()
            $('.track')
                .each(function() {
                    var track = $(this);
                    var sch = track.parents('.schedule').attr('id');
                    if(!(sch in slices)) {
                        var sslices = {};
                        slices[sch] = sslices;
                    }
                    else {
                        var sslices = slices[sch];
                    }
                    track.children('.event[data-talk]')
                        .each(function() {
                            var start = parseInt(this.className.match(srex)[1]);
                            if(!(start in sslices)) {
                                sslices[start] = [];
                            }
                            sslices[start].push($(this));
                        });
                })
            $.each(slices, function(schedule, subslice) {
                $.each(subslice, function(key, events) {
                    var kvotes = [];
                    for(var ix=0; ix<events.length; ix++) {
                        var tid = events[ix].attr('data-talk');
                        kvotes.push([ user_votes[tid] || 0, events[ix] ]);
                    }
                    kvotes.sort(function(a,b) { return a[0] - b[0]; }).reverse();
                    var max = kvotes[0][0];
                    if(max > 5) {
                        for(var ix=0; ix<kvotes.length; ix++) {
                            var vote = kvotes[ix][0];
                            if(vote == max) {
                                kvotes[ix][1].highlight();
                            }
                        }
                    }
                });
            });
            return false;
        })
})();
</script>
{% comment %}
<nav id="schedule-navigator">
    <div class="opener closed"> </div>
    <div class="content">
        <div class="wrapper">
            <h3>Search</h3>
            <form class="search">
                <input name="q" value="" />
            </form>
            <h3>Show</h3>
            <form class="show-flags" action="" method="get">
                <label class="active"><input type="hidden" name="show-track-ita" value="1" />Italian Track</label>
                <label class="active"><input type="hidden" name="show-training" value="1" />Trainings</label>
                <label class="active"><input type="hidden" name="show-partner-program" value="1" />Partner Program</label>
                <label class="active"><input type="hidden" name="show-sprint" value="1" />Sprint</label>
            </form>
            <h3>Jump to</h3>
            <ul class="jump-list">
                {% for schedule in schedules %}
                <li><a href="#{{ schedule.slug }}">{{ schedule.date|date:"l d" }}</a></li>
                {% endfor %}
            </ul>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url p3-schedule-list conference=CONFERENCE %}">List view</a>
            </div>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url p3-my-schedule %}">My schedule</a>
            </div>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url p3-schedule-speakers conference=CONFERENCE %}">Speakers list</a>
            </div>
            <a class="trigger-overlay schedule-help" href="/schedule-help">How to use</a>
        </div>
    </div>
</nav>
{% endcomment %}
<div class="page clearfix" data-conference="{{ CONFERENCE }}">
    {% for sid, timet in timetables %}
        {% with schedules|attrib_:forloop.counter0 as sdata %}
        {% timetable_slice timet start="09:00" as tt %}
        <div id="{{ sdata.slug }}" class="schedule vertical-narrow">
            <h2>{{ sdata.date|date:"l, j F Y" }}</h2>
            <div class="hhmm">
                <div>TRACK</div>
                {% for time_, events in tt.iterOnTimes %}
                <div class="time-{{ time_|time:"Hi" }}"><span>{{ time_|time:"H" }}</span>:{{ time_|time:"i" }}</div>
                {% endfor %}
            </div>
            {% for track, events in tt.iterOnTracks %}
            <div class="track" data-track="{{ track }}">
                <div class="title">{% for st in sdata.tracks %}{% if st.track == track %}{{ st.title|safe }}{% endif %}{% endfor %}</div>
                {% for e in events %}
                {% if e.tracks|length == 1 or e.tracks.0 == track %}
                <div id="e{{ e.id }}" class="event time-{{ e.time|time:"Hi" }} duration-{{ e.duration }} tracks-{{ e.tracks|length }} {{ e.tags|join:" " }}" data-id="{{ e.id }}"{% if e.talk %} data-talk="{{ e.talk.id }}"{% endif %}>
                    {% if e.talk %}
                    <div class="speakers">
                        <span class="maximized hhmm">{{ e.time|time:"H:i" }}</span>
                        {% for s in e.talk.speakers %}
                        <a href="{% url conference-profile slug=s.slug %}">{{ s.name|name_abbrv }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        <span class="maximized">presents:</span>
                    </div>
                    <h3 class="name"><a href="{% url conference-talk slug=e.talk.slug %}">{{ e.name }}</a></h3>
                    <div class="talk-level {{ e.talk.level }}">&nbsp;<span class="maximized">{{ e.talk.level }}</span></div>
                    <div class="maximized all-tags">
                        {% for tag in e.talk.tags %}<a class="tag">{{ tag }}</a>{% endfor %}
                    </div>
                    <div class="maximized abstract cms"> </div>
                    {% else %}
                    <h3 class="name">{{ e.name }}</h3>
                    {% endif %}
                    <div class="tools">
                        {% comment %}
                        {% if ref in overbooked %}
                        <div class="room-full">
                            <img src="{{ STATIC_URL }}p5/i/warning.png" title="our estimate of attendance exceeds the room size" alt="warning" />
                        </div>
                        {% endif %}
                        {% endcomment %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endwith %}
    {% endfor %}
</div>
<script>
(function() {
    var user_interest_toolbar = '' +
    '   <div class="talk-interest">' +
    '       <button class="down"></button>' +
    '       <button class="up"></button>' +
    '   </div>' +
    '';

    function expose(e) {
        e.addClass('exposed');
        e.trigger('exposed');
    }
    function unexpose(e) {
        e.removeClass('exposed');
        var dim = e.data('original');
        if(dim) {
            e.width(dim.width);
            e.height(dim.height);
            e.css('left', dim.left);
            e.css('top', dim.top);
        }
    }
    function event_url(base, evt) {
        var sch = evt.parents('.schedule');
        return base
            .replace('0', evt.attr('data-id'))
            .replace('_S_', sch.attr('id'))
            .replace('_C_', sch.parent().attr('data-conference'));
    }
    function update_booking_status(evt) {
        var be = $('<div class="book-event maximized">loading...</div>');
        $('.book-event', evt).remove();
        $('.tools', evt).append(be);
        var full = false;
        for(var ix=0; ix<user_tickets.length; ix++) {
            if(user_tickets[1] == 'conference' && user_tickets[2].substr(2, 1) == 'F') {
                full = true;
                break;
            }
        }
        if(!full) {
            be.html('<div class="restricted"><a href="/training">Restricted access</a></div>');
            return;
        }
        var base = "{% url conference-schedule-event-booking conference="_C_" slug="_S_" eid="0" %}";
        $.get(event_url(base, evt), function(data) {
            if(data.user) {
                be.html('<div class="cancel"><a href="#">Cancel booking</a></div>');
            }
            else {
                if(data.available) {
                    be.html('<div class="book"><a href="#">Book this event</a></div>');
                }
                else {
                    be.html('<div class="sold-out">Sold out</div>');
                }
            }
        }, 'json');
    }
    $('.track[data-track=training1] .event, .track[data-track=training2] .event')
        .bind('exposed', function(ev) {
            update_booking_status($(this));
            return false;
        });
    $('.book-event a').live('click', function(ev) {
        var b = $(this).parent();
        var base = "{% url conference-schedule-event-booking conference="_C_" slug="_S_" eid="0" %}";
        var evt = b.parents('.event');
        var url = event_url(base, evt);
        if(b.hasClass('book')) {
            if(confirm('You are booking a seat in this training. You can cancel your booking at any time if you change your mind, to leave your seat available for someone else.')) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        value: 1
                    },
                    success: function() {
                        update_booking_status(evt);
                    },
                    error: function(xhr, status, error_) {
                        var msg = 'Cannot proceed';
                        switch(xhr.responseText) {
                            case 'sold out':
                                msg = 'Training full';
                                break;
                            case 'time conflict':
                                msg = 'Another training booked in this time slot';
                                break;
                            case 'ticket error':
                                msg = 'Restricted access';
                                break;
                        }
                        alert(msg);
                    }
                });
            }
        }
        else if(b.hasClass('cancel')) {
            if(confirm('Are you sure to cancel your reservation?')) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {},
                    success: function() {
                        update_booking_status(evt);
                    }
                });
            }
        }
        else {
            return true;
        }
        return false;
    });
    $('.event')
        .filter(function(ix) {
            // escludo gli elementi "strutturali", non devo interagirci
            var e = $(this);
            return !e.hasClass('special') && !e.hasClass('break');
        })
        .bind('click', function(ev) {
            var e = $(this);
            if(e.hasClass('exposed') && !$(ev.target).hasClass('event'))
                return;
            $('.exposed')
                .not(e)
                .each(function() { unexpose($(this)) });
            if(e.hasClass('exposed')) {
                unexpose(e);
            }
            else {
                expose(e);
            }
        })
        .bind('exposed', function(ev) {
            var e = $(this);
            if(!e.data('loaded')) {
                var talk = $('h3.name a', e).attr('href');
                if(talk) {
                    var ab = $('.abstract', e)
                        .text('loading...');
                    $.ajax({
                        url: talk + '.xml',
                        dataType: 'xml',
                        success: function(data, text, xhr) {
                            ab.html($('talk abstract', data).html());
                        }
                    });
                }
                e.data('loaded', 1);
            }
        })
        .each(function(ix, val) {
            var e = $(this);
            var tid = e.attr('data-talk');
            var tools = e.children('.tools');
            if(tid && tid in user_votes) {
                tools.append('<div class="maximized talk-vote">' + user_votes[tid] + '/10</div>');
            }
            var i = user_interest[e.attr('data-id')];
            if(i == 1) {
                e.addClass('interest-up');
            }
            else if(i == -1) {
                e.addClass('interest-down');
            }
            {% if request.user.is_authenticated %}
            tools.append(user_interest_toolbar);
            if(i == 1) {
                tools.find('button.up').addClass('active');
            }
            else if(i == -1) {
                tools.find('button.down').addClass('active');
            }
            {% endif %}
        })
        .find('.talk-interest button')
            .bind('click', function(ev) {
                var base = "{% url conference-schedule-event-interest conference="_C_" slug="_S_" eid="0" %}"
                var e = $(this);
                var evt = e.parents('.event');
                var url = event_url(base, evt);
                var up = e.hasClass('up');
                if(!e.hasClass('active')) {
                    var val = up ? 1 : -1;
                }
                else {
                    var val = 0;
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        interest: val
                    },
                    success: function() {
                        evt.removeClass('interest-up interest-down');
                        var wrap = e.parents('.talk-interest');
                        $('button', wrap).removeClass('active');
                        if(val > 0) {
                            $('button.up', wrap).addClass('active');
                            evt.addClass('interest-up');
                        }
                        else if(val < 0) {
                            $('button.down', wrap).addClass('active');
                            evt.addClass('interest-down');
                        }
                    }
                });
                return false;
            })
            .end()
        .find('.tag')
            .bind('click', function(ev) {
                $('.event')
                    .removeDimHighlight()
                    .byTag($(this).text())
                    .highlight();
                return false;
            })
})();
</script>
{% endblock %}

{% block SPONSORS %}
{% comment %}Omit sponsors col{% endcomment %}
{% endblock %}
