{% extends "p3/base.html" %}
{% load conference assopy_tags %}

{% block EXTRA_HEAD %}
<style>
.schedule {
    width: 3000px;
}
.hhmm {
    position: relative;
    height: 20px;
}
.hhmm > div {
    position: absolute;
}
.track {
    position: relative;
    height: 75px;
}
.track:after {
    content: ' ';
    display: block;
    clear: both;
}
.track .title {
    position: absolute;
    left: -40px;
}
.event {
    overflow: hidden;

    position: absolute;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;

    background: #FCFAD9;
    font-variant: small-caps;

    padding: 3px;

    -moz-transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}
.event.duration-15 { width: 50px; }
.event.duration-30 { width: 100px; }
.event.duration-45 { width: 150px; }
.event.duration-60 { width: 200px; }
.event.duration-75 { width: 250px; }
.event.duration-90 { width: 300px; }
.event.duration-240 { width: 800px; }
.time-0900 { left: 0; }
.time-0930 { left: 100px; }
.time-0945 { left: 150px; }
.time-1030 { left: 300px; }
.time-1115 { left: 450px; }
.time-1215 { left: 650px; }
.time-1300 { left: 800px; }
.time-1315 { left: 850px; }
.time-1430 { left: 1100px; }
.time-1530 { left: 1300px; }
.time-1630 { left: 1500px; }
.time-1715 { left: 1650px; }
.time-1815 { left: 1850px; }
.time-1830 { left: 1900px; }
.time-1930 { left: 2100px; }
.event.tracks-1 { height: 75px; }
.event.tracks-2 { height: 150px; }
.event.tracks-3 { height: 225px; }
.event.tracks-4 { height: 300px; }
.event.tracks-5 { height: 375px; }
.event.tracks-6 { height: 450px; }
.event.tracks-7 { height: 525px; }
.event.tracks-8 { height: 600px; }

.event { z-index: 101; }
.event.special { z-index: 100; }

.event.special {
    background: white url({{ STATIC_URL }}p5/i/empty-track.png) bottom left;		    
    font-size: 15px;
    text-align: center;
}

.event.special > div {
    margin-top: 100px;
}

.event .name {
    line-height: 14px;
    height: 28px;
    font-size: 11px;
    overflow: hidden;
}

.event.exposed {
    padding: 7px;
    z-index: 200;
    box-shadow: 0 3px 8px 0 #aaa;
    border: 4px solid white;
}
.event .maximized {
    display: none;
}
.event.exposed span.maximized {
    display: inline;
}
.event.exposed .maximized {
    display: block;
}

.event.exposed .name {
    height: auto;
    font-weight: bold;
    margin: 4px 0;
    font-size: 12px;
}

.event.exposed .hhmm {
    font-weight: bold;
}

.event .talk-level {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: transparent;
    color: white;
}
.event .talk-level.beginner {
    background: #c9f76f;
}
.event .talk-level.intermediate {
    background: #679b00;
}
.event .talk-level.advanced {
    background: #a68000;
}

.event.exposed .talk-level {
    height: 20px;
}

.event .abstract {
    font-variant: normal;
    margin-top: 10px;
    line-height: 1.5em;
}
</style>
{% endblock %}

{% block BODY_ID %}schedule{% endblock %}

{% block MAIN_CONTENT %}
<section class="notice">
Beta version, small changes could be introduced to meet speakers' necessities.
</section>
{% comment %}
<nav id="schedule-navigator">
    <div class="opener closed"> </div>
    <div class="content">
        <div class="wrapper">
            <h3>Search</h3>
            <form class="search">
                <input name="q" value="" />
            </form>
            <h3>Show</h3>
            <form class="show-flags" action="" method="get">
                <label class="active"><input type="hidden" name="show-track-ita" value="1" />Italian Track</label>
                <label class="active"><input type="hidden" name="show-training" value="1" />Trainings</label>
                <label class="active"><input type="hidden" name="show-partner-program" value="1" />Partner Program</label>
                <label class="active"><input type="hidden" name="show-sprint" value="1" />Sprint</label>
            </form>
            <h3>Jump to</h3>
            <ul class="jump-list">
                {% for schedule in schedules %}
                <li><a href="#{{ schedule.slug }}">{{ schedule.date|date:"l d" }}</a></li>
                {% endfor %}
            </ul>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url p3-schedule-list conference=CONFERENCE %}">List view</a>
            </div>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url p3-my-schedule %}">My schedule</a>
            </div>
            <div class="button mini" style="margin-top: 10px;">
                <a href="{% url p3-schedule-speakers conference=CONFERENCE %}">Speakers list</a>
            </div>
            <a class="trigger-overlay schedule-help" href="/schedule-help">How to use</a>
        </div>
    </div>
</nav>
{% endcomment %}
<div class="page clearfix">
    {% for sid, tt in timetables %}
        {% schedule_data sid as sdata %}
        <div id="{{ sdata.slug }}" class="schedule">
            <h2>{{ sdata.date|date:"l, j F Y" }}</h2>
            <div class="hhmm">
                <div class="time-0900"><span>09</span>:00</div>
                <div class="time-1030"><span>10</span>:30</div>
            </div>
            {% for track, events in tt.iterOnTracks %}
            <div class="track">
                <div class="title">{{ track }} Pizza Margherita</div>
                {% for e in events %}
                {% if e.time|time:"H" != "08" %}
                {% if e.tracks|length == 1 or e.tracks.0 == track %}
                <div class="event time-{{ e.time|time:"Hi" }} duration-{{ e.duration }} tracks-{{ e.tracks|length }} {{ e.tags|join:" " }}">
                    {% if e.talk %}
                    <div class="speakers">
                        <span class="maximized hhmm">{{ e.time|time:"H:i" }}</span>
                        {% for s in e.talk.speakers %}
                        <a href="{% url conference-profile slug=s.slug %}">{{ s.name|name_abbrv }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        <span class="maximized">presents:</span>
                    </div>
                    <h3 class="name"><a href="{% url conference-talk slug=e.talk.slug %}">{{ e.name }}</a></h3>
                    <div class="talk-level {{ e.talk.level }}">&nbsp;<span class="maximized">{{ e.talk.level }}</span></div>
                    <div class="maximized abstract">
                        <p>{{ e.talk.abstract|markdown2:"smarty-pants,code-color"|truncatewords_html:50 }}</p>
                    </div>
                    {% else %}
                    <h3 class="name">{{ e.name }}</h3>
                    {% endif %}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {{ sch }}
    {% comment %}
    <div id="{{ schedule.slug }}" class="schedule-wrapper"
        data-schedule-url="{% url conference-schedule conference=schedule.conference slug=schedule.slug %}"
        data-schedule-conference="{{ schedule.conference }}"
        data-schedule-slug="{{ schedule.slug }}">
        {% include "conference/schedule_body.html" %}
    </div>
    {% endcomment %}
    {% endfor %}
</div>
<script type="text/javascript" src="{% url p3-schedule-js conference=conference %}"></script>
<script>
function expose(e) {
    e.addClass('exposed');
    var dim = e.data('original');
    if(!dim) {
        dim = {
            'width': e.outerWidth(),
            'height': e.outerHeight(),
            'left': parseInt(e.css('left')),
            'top': parseInt(e.css('top'))
        }
        e.data('original', dim);
    }
    e.width(Math.min(dim.width * 2, 800));
    e.height(dim.height * 4);
    e.css('left', Math.max(dim.left - dim.width/2, 0));
    e.css('top', Math.max(dim.top - dim.height/2, 0));
}
function unexpose(e) {
    e.removeClass('exposed');
    var dim = e.data('original');
    if(dim) {
        e.width(dim.width);
        e.height(dim.height);
        e.css('left', dim.left);
        e.css('top', dim.top);
    }
}
$('.event')
    .bind('click', function(ev) {
        var e = $(this);
        if(e.hasClass('exposed') && !$(ev.target).hasClass('event'))
            return;
        $('.exposed')
            .not(e)
            .each(function() { unexpose($(this)) });
        if(e.hasClass('exposed')) {
            unexpose(e);
        }
        else {
            expose(e);
        }
    })
</script>
{% endblock %}

{% block SPONSORS %}
<!-- Omit sponsors col -->
{% endblock %}
