{% extends "p3/base.html" %}
{% load i18n assopy_tags %}
{% block MAIN_CONTENT %}
<div id="sim-report" class="cms">
    <h1>Ticket SIM</h1>
    <p>Ricarica iniziale per tutti: <b>€15</b>.<br/>Tariffe da attivare per tutti: <b>Internet No Stop</b> (o Blackberry No Stop), <b>Call your Country</b>.<br/>Credito residuo sulla SIM: <b>€6</b></p>
    <p>
        <h2>Totale SIM compilate</h2>
        <dl style="font-size: 140%">
            <dt>USIM</dt>
            <dd>{{ compiled.std }}</dd>
            <dt>Micro</dt>
            <dd>{{ compiled.micro }}</dd>
        </dl>
    </p>
    <table>
        <tr>
            <th>#</th>
            <th>Attendee</th>
            <th>SIM type</th>
            <th>Internet</th>
            <th>Document</th>
            <th>&nbsp;</th>
        </tr>
        {% for t in tickets %}
        <tr class="{% if t.frozen %}frozen{% endif %}">
            <td>{{ forloop.counter }}</td>
            {% if t.p3_conference_sim %}
            <td>{{ t.name }}</td>
            <td>{{ t.p3_conference_sim.get_sim_type_display }}</td>
            <td>{% if t.p3_conference_sim.plan_type == "std" %}Internet No Stop{% else %}Blackberry No Stop{% endif %}</td>
            <td>
                {% if t.p3_conference_sim.document %}
                <a href="{{ t.p3_conference_sim.document.url }}">document</a>
                {% else %}
                <strong>missing</strong>
                {% endif %}
            </td>
            <td>
                <form action="{% url p3-sim-report %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="ticket" value="{{ t.id }}" />
                    <input type="submit" value="{% if t.frozen %}unfreeze{% else %}freeze{% endif %}" />
                </form>
            </td>
            {% else %}
            <td colspan="5"><strong>Ticket not compiled (buyer: {{ t.orderitem.order.user.name }})</strong></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

