{% extends "p3/base.html" %}
{% load assopy_tags conference p3 %}
{% block MAIN_CONTENT %}
<div id="whos-coming">
    <h1>Who's coming?</h1>
    {% if all_people %}
    <h2>
        {{ all_people }} participants have published their profiles!
        {% if all_people != pids|length %}
        <a href="/find-out-whos-coming">Discover how to see them all!</a>
        {% endif %}
    </h2>
    {% endif %}
    <form id="filter-form" class="async" rel="#people-wrapper" action="{% url p3-whos-coming %}" method="GET">
        <fieldset>
            <legend>Filter by</legend>
            <div class="span-3">
            {{ form.country|field:"autosubmit" }}
            {{ form.speaker|field:"autosubmit" }}
            </div>
            <div class="span-9 last">
            {{ form.tags|field:"autosubmit" }}
            </div>
        </fieldset>
    </form>
    <hr class="stars" />
    {% include "p3/ajax/whos_coming.html" %}
</div>
{% endblock %}
