{% extends "ep19/bs/base.html" %}

{% block content %}
<style type="text/css">
.voting-proposal {
    padding: 1.5em 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}
</style>

<div class="container page" id="cfp_page">
    <div class="row">
        <div class="col-md-12">
            <h1>Talk Voting</h1>
            <p>Below you can see all proposals for EP2019. They are in random order</p>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            {% for talk in talks %}
            <div class='voting-proposal'>
            <h2>{{ talk.title }}</h2>
            <h3>{{ talk.sub_title }}</h3>
            <p>{{ talk.abstract_short }}</p>
            <p>{% for t in talk.tags.all %}<span class='badge badge-primary'>{{ t }}</span> {% endfor %}</p>
            </div>
            {% endfor %}{# talk in talks #}
        </div>
    </div>
</div>
{% endblock %}
