{% extends "ep19/bs/base.html" %}

{% block title %}{{ request.current_page }} - {{ block.super }}{% endblock title %}

{% load menu_tags cms_tags static %}

{% block content %}

<style type="text/css">
.toc-li { margin-bottom: 1em; }
</style>
<div id="content_page">
    <div class="container">
        <div class='row'>
            <div class="col-md-12">
                {% show_breadcrumb 0 "ep19/bs/content/_breadcrumbs_bar.html" 0 %}
            </div>

            <div class='col-md-9'>
                <h1>{% page_attribute "title" %}</h1>

                <div id="content" class='epcms_content'>
                    {% placeholder "text" %}
                </div>
            </div>

            <div class='col-md-3' id="sidebar">

                <div id="toc">
                    <h3>Table of contents</h3>
                </div>

                {% comment %}
                <ul>
                    {% show_menu 0 100 100 100 "ep19/bs/content/_menu.html" %}
                </ul>
                {% endcomment %}
            </div>
        </div><!-- .row -->
    </div>
</div>
{% endblock %}

{% block morejs %}
<script src="{% static "/js/generate_toc_for_cms.js" %}"></script>
{% endblock morejs %}
