{% extends "ep19/bs/base.html" %}

{% load menu_tags %}

{% block content %}
<div id="content_page">
    <div class="container">
        <div class='row'>
            <div class="col-md-12">
                {% show_breadcrumb 0 "ep19/bs/content/_breadcrumbs_bar.html" 0 %}
            </div>

            <div class='col-md-8'>
                <h1>{{ request.current_page }}</h1>
                <p>{% lorem 30 w %}</p>
                <p>{% lorem 100 w %}</p>
                <p>{% lorem 70 w %}</p>
            </div>

            <div class='col-md-4'>

                <ul>
                    {% show_menu 0 100 100 100 "ep19/bs/content/_menu.html" %}
                </ul>
            </div>
        </div><!-- .row -->
    </div>
</div>
{% endblock %}
