.form-box {
	background: #fff;
    padding: 10px;
        
	border: 1px solid #aba18f;
}



.form-box fieldset {
}

/*
form p.tip {
	font-size: 13px;
}
*/

form .field {
	margin: 0 0 10px 0;
}

form .field.required {
/*     font-weight: bold; */
}



fieldset {    
    margin: 0 0 10px 0;
}
/*

fieldset.border {
	padding: 10px 0 0 0;
}
*/


form .note {
    background: #fff;
    padding: 10px;
    margin:  0 0 10px 0;
}

legend {
			
    color: #4895A3;
	font: normal 24px/30px "League Gothic", "Arial Narrow", sans-serif;		
	text-transform: uppercase;	

    margin: 0 0 10px 0;
	
    /* IE */
	background: transparent;			
	/* IE 6-7 */
	*margin-left: -7px;	
}


label {    	
	display: block; 
/*     font-size: 13px; */
/* 	color: #d7cef5; */

/*     text-transform: uppercase; */
}

label.inline {
	display: inline; 
    font-size: 14px;

	color: #fff;
    
    text-transform: none;
}

label span.required  {
    margin: 0 0 0 5px;
    color: #635443;
}


.error label {
	color: #bf2640;
	
}


input, 
select, 
textarea {        

	color: #0f2424;
		
	font: normal 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;

	padding: 4px 2px;
	background: #fff;
}

textarea {		
	width: 95%;
}


input[type='text'], 
/* input[type='file'], */
input[type='password'], 
textarea,
select {    
	border: 1px solid #aba18f;
}

.error input[type='text'],
.error input[type='password'], 
.error textarea,
.error select 	
{
	border-color: #bf2640;
	background: #fae6e9;
}

/* Top red bordered error notice on invalid forms  */

.info-notice {
    padding: 5px 0 5px 5px;
    margin: 0 0 20px 0;
    border: 2px solid #46A0AC;
    background: #fff;
    color: #46A0AC;
    font-size: 13px;
}

.error-notice {
    padding: 5px 0 5px 5px;
/*     text-align: center; */
    margin: 0 0 20px 0;
    border: 2px solid #d9415a;    
    background: #fff;
    color: #d9415a;
    font-size: 13px;
}

.field .errorlist {

}

.field .errorlist li {
    margin: 0 0 5px 0;
}



/*
input[type='text']:focus, 
input[type='password']:focus,
select:focus,
textarea:focus {    
	background: #e1f1fa;
	
	border-color: #075982;
}

*/

button {
    cursor: pointer;
    color: #fff;	
	font: bold 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
	background: #66b0bd url(../i/button-b.png) center top repeat-x;
	padding: 5px 10px;	
	
    border: 1px solid #3d7e8a;
		
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
    text-shadow: #316770 1px 1px 1px;	
    -webkit-box-shadow: 1px 1px 2px #7d6f60;
    -moz-box-shadow: 1px 1px 2px #7d6f60;	
}


button.negate {
	background: url("../i/badge-n.png") repeat-x scroll center top #ABA190;
	border-color: #ABA18F;
	text-shadow: 1px 1px 1px #634646;
}
/*
 * un layout più compatto per i booleanfield:
 *
 * [ ] label
 *
 * invece di 
 *
 * label
 * [ ]
 */
.field.booleanfield {
    margin: 0;
    padding: 0;
    min-height: 20px;

}
.field.booleanfield label {
    position: relative;
    left: 25px;
}
.field.booleanfield input {
    position: relative;
    top: -19px;
}
.field.booleanfield label:after {
    content: "";
}

.field.booleanfield .errorlist {
    position: relative;
    top: -19px;
}


form hr {
    margin: 0;
}

#form-cart fieldset.order-type label {
    display: none;
}

#form-cart fieldset.order-type div.field {
    width: 200px;
    margin: 10px auto;
}

#form-cart fieldset.order-type select {
    font-size: 1.05em;
}

#form-cart .fare-description {
    font-size: 0.9em;
}

.tickets tr.selected td {
    font-weight: bold;
}

.tickets tr.selected td .overlay {
    font-weight: normal;
}

.tickets input.selected {
    background-color: #E1DBC5;
}
