{% extends "p3/base.html" %}
{% load i18n microblog %}
{% block PAGE_TITLE %}Pycon Italia Blog{% endblock %}
{% block MAIN_CONTENT %}
<div class="column span-12">
    <div class="page border clearfix">
        {% block BLOG_HEADER %}{% endblock %}

        <div class="column span-8">
            {% block BLOG_CONTENT %}{% endblock %}
        </div>
        <div class="column span-4 last">
            <div class="feed"><a href="http://feeds.feedburner.com/pyconit">Feed RSS</a></div>

            {% block BLOG_POST_INFO %}{% endblock %}

            <div id="blog-archives-browser">
                {% comment %}
                {% category_list as categories %}                
                {% if categories %}
                    <h3>{% trans "Categorie" %}</h3>
                    <ul>
                        {% for c in categories %}
                        <li><a href="{% url microblog-category category=c.name %}">{{ c.name }}</a> ({{ c.count }})</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endcomment %}
                
                <h3>{% trans "Archivio Mensile" %}</h3>
                {% month_list as months %}
                <ul>
                    {% for d, count in months %}
                    <li><a href="{% url microblog-list-by-month year=d.year month=d.month %}">{{ d|date:"F Y" }}</a> ({{ count }})</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}
