{% extends "microblog/base.html" %}
{% load hcomments_tags i18n microblog_tags %}
{% block PAGE_TITLE %}{{ content.headline }}{% endblock %}
{% block PAGE_DESCRIPTION %}
    <meta name="keywords" content="{{ content.post.tags }}" />
    <meta name="description" content="{{ content.summary|striptags }}" />
{% endblock %}
{% block EXTRA_HEAD %}
    {{ block.super }}
    {% if post.allow_comments %}
    <script type="text/javascript">//<![CDATA[
        $(function() {
            hcomments.comments({
                'form': $('#add-comment form.new-comment'),
                'wrapper': $('#comments'),
                'comments': $('#comments li'),
                'remove': "{% url "hcomments-delete-comment" %}"
            });
            hcomments.onCommentModerated = function(comment) {
                var e = comment ? comment : $('.form-box');
                var msg = $('<div class="comment-moderated">{% trans "Lo staff sta controllando il tuo commento, a breve verrà pubblicato." %}</div>');
                e.prepend(msg)
                setTimeout(function() {
                    $('.comment-moderated', e).remove();
                }, 10000);
                $('.form-box form').get(0).reset();
            }
        });
    //]]>
    </script>
    {% endif %}
{% endblock %}
{% block BLOG_HEADER %}
    <h1>
        {% if not post.is_published %}
            <span class="draft"><strong>[DRAFT]</strong></span>
        {% endif %}
        {{ content.headline }}
    </h1>
{% endblock %}

{% block BLOG_CONTENT %}
    <article>
        {% show_post_detail content %}
    </article>

    {% show_post_comments post %}

    {% show_reactions_list content %}

    {% if post.allow_comments %}
        {% show_comment_form post %}
    {% endif %}

{% endblock %}

