{% load i18n microblog_tags tagging_tags %}

{% if content %}
    {% trackback_rdf content %}

    {%if content.summary %}
        <div class="lead">{{ content.summary|safe }}</div>
        <hr />
    {% endif %}

    {% if content.body %}
        <div class="cms">{{ content.body|safe }}</div>
    {% endif %}

    <hr style="visibility: hidden">

    {% get_post_data post.id as data %}
    <div class="meta">
            &mdash;&emsp;{{ post.author.first_name }}, {{ post.date|date:"d F Y" }} 
            {% if data.tags %}
                &emsp;{% for t in data.tags %}<a class="tag" href="{% url "microblog-tag" tag=t.name %}">{{ t.name }}</a>{% endfor %}
            {% endif %}
    </div>
        
    {% show_social_networks content %}
    
{% endif %}
