{% load i18n %}

<div class="share">
    <h3>{% trans "Condividi questo post" %}</h3>

    <p><span class="brand"><i class="fa fa-bookmark"></i>&ensp;<a href="http://del.icio.us/post?v=4&amp;noui&amp;jump=close&amp;url={{ content_url|urlencode }}&amp;title={{ content.headline|urlencode }}" onclick="window.open(this.href, 'sharer');return false;">Delicious</a></span>
    <span class="brand"><i class="fa fa-globe"></i>&ensp;<a href="http://reddit.com/submit?url={{ content_url|urlencode }}&amp;title={{ content.headline|urlencode }}" onclick="window.open(this.href, 'sharer');return false;">Reddit</a></span>
    <span class="brand"><i class="fa fa-twitter"></i>&ensp;<a href="http://twitter.com/home?status={{ content.headline|urlencode }}+{{ content_url|urlencode }}" onclick="window.open(this.href,'sharer');return false;">Twitter</a></span>
<!--     <span class="brand"><i class="fa fa-globe"></i>&ensp;<a href="http://www.friendfeed.com/share?title={{ content.headline|urlencode }}&link={{ content_url|urlencode }}" title="Facebook" onclick="window.open(this.href,'sharer');return false;">Friendfeed</a></span> -->
    <span class="brand"><i class="fa fa-facebook-square"></i>&ensp;<a href="http://www.facebook.com/share.php?u={{ content_url|urlencode }}" onclick="window.open(this.href,'sharer');return false;">Facebook</a></span>
    <span class="brand"><i class="fa fa-globe"></i>&ensp;<a href="http://www.stumbleupon.com/submit?url={{ content_url|urlencode }}&title={{ content.headline|urlencode }}" title="StumbleUpon" onclick="window.open(this.href,'sharer');return false;">StumbleUpon</a></span>
    <span class="brand"><i class="fa fa-globe"></i>&ensp;<a href="http://digg.com/submit?phase=2&amp;url={{ content_url|urlencode }}&amp;title={{ content.headline|urlencode }}" onclick="window.open(this.href, 'sharer');return false;" title="digg">Digg this</a></span>
<!--     <span class="brand"><i class="fa fa-square"></i>&ensp;<a href="http://www.newsvine.com/_tools/seed&amp;save?u={{ content_url|urlencode }}&amp;h={{ content.headline|urlencode }}" onclick="window.open(this.href, 'sharer');return false;" title="Newsvine">Newsvine</a></span></p> -->
<!--     <span class="brand"><i class="fa fa-google-plus"></i>&ensp;<a href="" onclick="">Google+</a></span> -->
</div>
