{% load i18n %}
{% if reactions %}
<div id="reactions">
    <h3>{% trans "Reazioni" %}</h3>
    <ol>
    {% for r in reactions %}
        <li>
            {% if r.excerpt %}
                <div class="excerpt">{{ r.excerpt }}</div>
            {% endif %}
            <div class="meta">
                &mdash; <a href="{{ r.url }}" rel="nofollow">{% if r.blog_name %}{{ r.blog_name }}{% else %}{{ r.url }}{% endif %}</a>,&emsp;<time>{{ r.date|date:"d F Y" }}</time>
            </div>
        </li>
    {% endfor %}
    </ol>
</div>
{% endif %}
