{% load i18n microblog_tags %}
{% if content %}
<div class="microblog post-summary{% if post.featured %} featured{% endif %}">
    {% if post.image %}
    <img src="{{ post.image }}" alt="" />
    {% endif %}
    <h2>
        {% if not post.is_published %}
        <span class="draft">[DRAFT]</span>
        {% endif %}
        <a title="Permalink a questo articolo" href="{{ url }}">{{ content.headline }}</a>
    </h2>
    <p class="metadata">
        {% blocktrans with post.author.first_name as first_name and post.author.last_name as last_name and post.date|date:"j M Y" as post_date %}
        Scritto da <b>{{ first_name }} {{ last_name }}</b> il {{ post_date }} &mdash;
        {% endblocktrans %}

        <a title="Commenti articolo" href="{{ url }}#comments">{% trans "Commenti" %} ({{ comments|length }})</a>
    </p>
    <div class="summary">{{ content|prepare_summary|safe }}</div>
</div>
{% endif %}
