<form class="async" method="POST" action="{% url "admin:conference-schedule-event" sid eid %}">
    {% csrf_token %}
    <table>{{ form }}</table>
    <div class="submit-row">
        <input type="submit" name="save" value="save"/>
        <input type="submit" name="delete" value="delete"/>
        <input type="submit" name="copy" title="repeat in all schedules/days" value="save and repeat"/>
        <input type="submit" name="update" title="updates events with the same title in the tracks with the same name" value="save and update"/>
    </div>
</form>