
/* ---------------------------------------------------
=extras
----------------------------------------------------- */



.blog-feed {
    font-size: 2em;
}

.blog-feed a {
    vertical-align: super;
}

.toggle {
    cursor: pointer;
}

