
/* ---------------------------------------------------
=intro
----------------------------------------------------- */


#intro {
	
	/* background: transparent url(../i/bg-intro.gif) top center no-repeat;
	*/
	background: #610831;				
	margin: 0 0 10px 0;
		
	position: relative;
}

#intro img {
	display: block;
}


#intro p {
	
	position: absolute;
	
	color: #dfeaf0;
	
	font: bold italic 14px/20px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;		
		
	width: 580px;	
	padding: 20px 15px 0 15px;
	
	text-shadow: #2e111f 1px 1px 2px;
}


#guido {
	
	background: #adc9d2 url(../i/bg-guido.jpg) top left  no-repeat;
	
	height: 140px;
	
	padding: 80px 15px 0 190px;
	
	margin: 0 0 30px 0;
	
	
	
}
#guido p {
	font-size: 12px;
	
	
}

#cal {
	
	background: #adc9d2 url(../i/bg-cal.jpg) top left no-repeat;
	
	height: 220px;

	margin: 0 0 30px 0;
	
	
}



#cal h2 {
	
	background:  transparent url(../i/bg-cal-h.jpg) top left  no-repeat;
	
	height: 30px;
	

	color: #610831;
	
		
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;


	padding: 10px 0 0 10px;

	text-transform: uppercase;
	
}


#upcoming {
	
	text-align: center;
	
	float: left;
	
	width: 190px;
	margin: 40px 20px 0 0;
	
	
}


#upcoming span.d,
#upcoming span.m {
	font-size: 24px;
	
	background: #2a445e;
	color: #72c5d6;
	
	padding: 0 4px;
	
}
#upcoming span.d {

	font-weight: bold;
	
	background: #610831;
	color: #dfeaf0;
	
	padding: 0 4px;
}

#upcoming p {
	
	margin: 10px 0 0 0;
	
	font-weight: bold;
	font-size: 14px;
}



#others {
	float: right;
	width: 190px;
    margin-top: -10px;
}

#others ul {
	list-style: none;
}

#others li {
	font-size: 12px;
	
	margin: 0 0 5px 0;
	
}


#others span.d,
#others span.m {

	
	background: #2a445e;
	color: #72c5d6;
	
	padding: 0 2px;
	

}

#others span.d {

	font-weight: bold;
	
	background: #610831;
	color: #dfeaf0;
		
	padding: 0 2px;
	
}

/* ---------------------------------------------------
=box
----------------------------------------------------- */

.box {
	min-height: 330px;
}

.box {
	
	background: transparent url(../i/bg-box.gif) bottom center no-repeat;
	
}

.more {
	text-align: right;
	margin: 20px 0 0 0;
}

.more img {
}

.more a {
    font-weight: bold;
}

.more a:hover {
}

#extra h2,
#quotes h2,
#blog h2 {
	height: 30px;
	
	background: transparent url(../i/bg-h-extra.jpg) top left no-repeat;
	
	margin: 0 0 10px 0;
	
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;

	color: #610831;

	padding: 10px 0 0 10px;

	text-transform: uppercase;

}

#quotes h2 {

	background-image: url(../i/bg-h-quotes.jpg);
	
}

#blog h2 {

	background-image: url(../i/bg-h-blog.jpg);
	
}



#quotes {

	
}

#quotes ul {
	
	list-style: none;
}


#quotes q {
	
	font: bold italic 18px/28px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;		
	
	color: #5595a3;
	
}

#quotes p {
	
	margin: 10px 0 0 0;
	
	color: #2a445e; 
	
	
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
		
	
	/*float: right;
	*/
}


#quotes span {
	
	display: block;
	
	color: #487e8a;
	
	font: normal 12px/20px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;		

}
#quotes img {
	
	float: left;
	
	margin: 0 10px 0 0;

}





