
/* ---------------------------------------------------
=intro
----------------------------------------------------- */


#intro {
	
	/* background: transparent url(../i/bg-intro.gif) top center no-repeat;
	*/
	background: #610831;				
	margin: 0 0 10px 0;
		
	position: relative;
}

#intro img {
	display: block;
}


#intro p {
	
	position: absolute;
	
	color: #dfeaf0;
	
	font: bold italic 14px/20px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;		
		
	width: 580px;	
	padding: 20px 15px 0 15px;
	
	text-shadow: #2e111f 1px 1px 2px;
}


#guido {
	
	background: #adc9d2 url(../i/bg-guido.jpg) top left  no-repeat;
	
	height: 140px;
	
	padding: 80px 15px 0 190px;
	
	margin: 0 0 30px 0;
	
	
	
}
#guido p {
	font-size: 12px;
	
	
}

#cal {
	
	background: #adc9d2 url(../i/bg-cal.jpg) top left no-repeat;
	
	
	margin: 0 0 30px 0;
	
	min-height: 220px;
	_height: 220px;
	
}



#cal h2 {
	
	background:  transparent url(../i/bg-cal-h.jpg) top left  no-repeat;
	
	height: 30px;
	

	color: #610831;
	
		
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;


	padding: 10px 0 0 10px;

	text-transform: uppercase;
	
}




#others {	
	padding: 15px 15px 0 15px;
}

#others ul {
	list-style: none;
}

#others li {
	font-size: 12px;
	
	margin: 0 0 5px 0;
	
}


#others span {

	background: #610831;
	color: #dfeaf0;
		
	padding: 0 2px;;
	

}



/* ---------------------------------------------------
=box
----------------------------------------------------- */

.box {
	min-height: 330px;
}

.box {
	
	background: transparent url(../i/bg-box.gif) bottom center no-repeat;
	
}

.more {
	
	height: 30px;
	
	background: #610831 url(../i/bg-button-l.gif) left center no-repeat;
	
	margin: 20px 0 0 0;
	
	width: 150px;
}

.more a {

	
	padding: 5px 0 0 10px;
	
	background: transparent url(../i/bg-button-r.gif) right center no-repeat;

	color: #c09917;


	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;

	
	text-transform: uppercase;
	
	vertical-align: middle;
	
	
	display: block;
	
	border: none;
		
}




#extra h2,
#quotes h2,
#blog h2 {
	height: 30px;
	
	background: transparent url(../i/bg-h-extra.jpg) top left no-repeat;
	
	margin: 0 0 10px 0;
	
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;

	color: #610831;

	padding: 10px 0 0 10px;

	text-transform: uppercase;

}

#quotes h2 {

	background-image: url(../i/bg-h-quotes.jpg);
	
}

#blog h2 {

	background-image: url(../i/bg-h-blog.jpg);
	
}



#quotes {

	
}

#quotes ul {
	
	list-style: none;
}


#quotes q {
	
	font: bold italic 18px/28px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;		
	
	color: #5595a3;
	
}

#quotes p {
	
	margin: 10px 0 0 0;
	
	color: #2a445e; 
	
	
	font: bold 14px/20px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
		
	
	/*float: right;
	*/
}


#quotes span {
	
	display: block;
	
	color: #487e8a;
	
	font: normal 12px/20px Constantia, Georgia, "Lucida Bright", "Times New Roman", serif;		

}
#quotes img {
	
	float: left;
	
	margin: 0 10px 0 0;

}





