{% load cms_tags static %}

<div class="jumbotron">
    <div class="container text-center">
        <img class="img-fluid" src="{% static 'img/ep2020-logo.png' %}"
             alt="EuroPython 2020; July 20-26th 2020; Dublin"
             title="EuroPython 2020; July 20-26th 2020; Dublin">

        {% comment %}
        <img src="{% static 'img/ep2020-icon-logo-small.png' %}" width=200 height=200>
        <h1 class="display-3"><span class='text-secondary'>euro</span> <strong class='text-primary-light'>python</strong></h1>
        <h2>July 20-26th 2020, Dublin, Ireland</h2>
        {% endcomment %}

        <div style='margin-top: 30em'>
            {% if 0 %}
            NOTE(artcz): Disabled because we will open ticket sales a bit later after launch
            <p><a href='{% page_url 'tickets' %}' class='btn btn-outline-light btn-lg'>Get the tickets</a></p>
            <p><a style='font-size: 1.5em; padding: .5em 2em;' href='{% page_url 'tickets' %}' class='btn btn-light btn-lg'>Buy tickets</a></p>
            {% endif %}
        </div>
    </div>
</div>
