/* This is customisation file for ep2018, build on top of p6/all.css
 * It's included inside p5_homepage.html right below p6/all.css so that way
 * we can override all the settings here */

/* EP 2018 color palette */
/* Stored here for reference so we can easily find the colors later */
._dark_green  { color: #006f44 rgb(0, 111, 68); }
._light_green { color: #00b140 rgb(0, 177, 64); }
._dark_red    { color: #da291c rgb(218, 41, 28); }
._light_red   { color: #9a3324 rgb(154, 51, 36); }
._yellow      { color: #efdf00 rgb(239, 223, 0); }
._black       { color: #231f20 rgb(35, 31, 32); }

.feedback-bar {
    position: fixed;
    z-index: 10;
    background: black;
    color: white;
    padding: 10px;
    top: 70px;
    left: 20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.4);
}

.container > header {
    padding: 2em 0 30%;
    background-image: url('../img/carousel/castle.jpg');
    background-size: cover;
    background-position: center 10%;
}

.home__branding {
    width: 50%;
    margin: 0 auto;
    min-width: 320px;
}

.content-tpl .container > header { padding: 20px; }
.content-tpl .container > header img { height: 150px; }

section.discover-europython {
    background-image: none;
}

.page {
    background: rgba(255, 255, 255, 0.95);
}

.bg-red {
    /* TODO: this is not red ;) */
    background: #006e44;
}

nav[role=navigation] {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 0;
}

#navigation-toggle {
    border-bottom: none;
}

.discover-europython div {
    transition: transform 100ms;
}

.sponsor .btn {
    background: #006f44;
    color: white;
}
.sponsor .btn:hover {
    background: #da291c;
    color: white;
}

a.btn-primary, a.btn-primary:hover { color: white; }
/* colors per ep2018 palette */
.alert.alert-error { background: #da291c; color: white }
.alert.alert-warning { background: #efdf00; }
