/* This is customisation file for ep2018, build on top of p6/all.css
 * It's included inside p5_homepage.html right below p6/all.css so that way
 * we can override all the settings here */

.container > header {
    padding: 2em 0 30%;
    background-image: url('../img/carousel/castle.jpg');
    background-size: cover;
    background-position: center 10%;
}

.home__branding {
    width: 50%;
    margin: 0 auto;
    min-width: 320px;
}

.content-tpl .container > header { padding: 20px; }
.content-tpl .container > header img { height: 150px; }

section.discover-europython {
    background-image: none;
}

.page {
    background: rgba(255, 255, 255, 0.95);
}

.bg-red {
    background: #006e44;
}

nav[role=navigation] {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 0;
}

#navigation-toggle {
    border-bottom: none;
}

.discover-europython div {
    transition: transform 100ms;
}
