{% load cms_tags %}
<div id="homepage_schedule_overview">
    <div class="container text-center">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Jul 26 - 27</h3>
                        <h5>Monday &amp; Tuesday</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Trainings &amp;
                        Workshops</h5>
                        <p class="card-text">Two days of
                        trainings.  Multiple 3 hour long sessions with
                        experts.  <br/>
                        <br/>
                        <a href="{% page_url 'tickets'%}">Training tickets</a>
                        are sold separately.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Jul 28 - 30</h3>
                        <h5>Wednesday to Friday</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Conference Days</h5>
                        <p class="card-text"> Over 110 sessions in 4 parallel
                        tracks.<br> Keynotes, talks, poster sessions,
                        help desks, recruitment<br/>
                        sessions, lightning talks, panels and more. <br/>
                        <br/>
                        All included in the
                        <a href="{% page_url 'tickets'%}">main conference ticket</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Jul 31 - Aug 1</h3>
                        <h5>Saturday &amp; Sunday</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Sprints</h5>
                        <p class="card-text">Unique opportunity to contribute
                        to your favorite<br/>
                        Python projects and learn new skills<br/>
                        <br/>
                        Free for all.</p>
                    </div>
                </div>
            </div>
        </div>
        <p style='margin-top: 2em'><a class="btn btn-success btn-lg" href="{% page_url 'about-europython' %}" role="button">Learn more about EuroPython</a></p>

    </div> <!-- /container -->
</div>
