<style type="text/css">
.sponsor { margin: 1em; }
</style>
{% load cms_tags static %}

<script>
fetch('/sponsors')
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        var sponsor_wrapper = document.getElementById('sponsors-wrapper');
        data.sponsors.map((sponsor) => {
            var sponsor_anchor = document.createElement('a');
            sponsor_anchor.setAttribute('href', sponsor.url);
            sponsor_anchor.setAttribute('target', '_blank');

            var sponsor_img = document.createElement('img');
            sponsor_img.setAttribute('src', {% get_media_prefix %} + sponsor.logo);
            sponsor_img.setAttribute('class', 'sponsor');
            sponsor_img.setAttribute('alt', sponsor.alt_text);
            sponsor_img.setAttribute('title', sponsor.title_text);
            //
            sponsor_anchor.appendChild(sponsor_img);
            sponsor_wrapper.appendChild(sponsor_anchor);
        })
    });
</script>


<div id="homepage_sponsors">
    <div class="container text-center">
        <!-- Example row of columns -->
        <div class="row" style='margin: 2em 0;'>
            <div class="col-md-12">
                <h2>Sponsors</h2>
                <p>EuroPython wouldn't be such an affordable event without help of the sponsors. We'd like to thank all of them for their support.</p>

                <div id="sponsors-wrapper">
                </div>

                <p style='margin-top: 2em'><a class="btn btn-secondary btn-lg" href="{% page_url 'sponsor' %}" role="button">Become a sponsor</a></p>

                <p>Early bird sponsors will receive a 10% discount on their package price</p>

                <p>Are you an SME seeking greater exposure? We have special <a href="{% page_url 'sponsor-packages' %}#Small-Entity-Discounts">sponsorship discounts</a> for you!</p>
            </div>
        </div>

    </div> <!-- /container -->
</div><!-- #homepage_sponsors -->

