{% extends "admin/index.html" %}
{% block sidebar %}
    <div id="p3_admin_nav_actions" style="float: right; margin-right: -19em; width: 18em;">
        <div class="module">
            <h2>{% trans "Goodies" %}</h2>
            <ul class="actionlist">
                <li><a href="/admin/rosetta/">{% trans "rosetta" %}</a></li>
                <li><a href="/admin/templatesadmin/">{% trans "templates admin" %}</a></li>
                <li><a href="/admin/filebrowser/browse/">{% trans "file browser" %}</a></li>
            </ul>
        </div>
    </div>
    <hr style="clear: right;" />
    {{ block.super }}
{% endblock %}
