<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <!--  <title>{% block TITLE_BLOCK %}{% endblock %} &mdash; EuroPython 2011: Florence, June 23&ndash;26</title>--> 
    <title>Page title &mdash; EuroPython 2011</title>
    
    <link rel="icon" href="./static/i/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="./static/i/favicon.ico" type="image/vnd.microsoft.icon" />

    <link rel="stylesheet" href="./static/s/reset.css" type="text/css" media="all" />    
    <link rel="stylesheet" href="./static/s/grid.css" type="text/css" media="screen, projection" />    
    <link rel="stylesheet" href="./static/s/form.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./static/s/base.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./static/s/cms.css" type="text/css" media="screen, projection" />    
    <link rel="stylesheet" href="./static/s/blog.css" type="text/css" media="screen, projection" />    

<!--     <link rel="stylesheet" href="./static/s/mobile.css" type="text/css" media="screen, projection" />     -->
        
<!--[if lt IE 9]>
    <script src="./static/j/html5.js"></script>
    <link rel="stylesheet" href="./static/s/ie.css" type="text/css" media="screen, projection" />    
<![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<div class="please-upgrade">
        Il tuo browser non è supportato. Sei pregato di aggiornare <a href="http://www.microsoft.com/windows/internet-explorer/"><b>Internet Explorer</b></a> o <a href="http://browsehappy.com/"><b>scegliere un browser alternativo</b></a>.
</div>
<![endif]-->
<!-- {% block HEADER_BLOCK %} -->
<header>
    <nav  class="darker">
        <div class="container clearfix">                    

            <div class="span-8">
                <ul>
                    <li><a href="./index.html">Home</a></li>    
                    <li><a href="./conference.html">The Conference</a></li>                        
                    <li><a href="./where.html">Where</a></li>
                    <li class="current"><a href="./blog-index.html">Blog</a></li>     
                    <li><a href="./schedule.html">Schedule</a></li>                
                </ul>        
            </div>
    
            <div class="span-4 last">                        
                <div class="user">
                    Logged in as <b>Name Surname</b> &bull; <a href="#">Log out</a>
                </div>
            </div>
                   
        </div>        
    </nav>

    <div class="container clearfix">                    

        <div class="span-6">
            <div class="logo">
                <a title="EuroPython home" href="./index.html"><img src="./static/i/europython-logo.png" alt="EuroPython 2011" title="" width="330" height="110" /></a>
            </div>
        </div>   

        <div class="span-3">
            <div class="buy badge">
                <h5><a href="#">Buy Tickets</a></h5>
                Starting from <b>99€</b>                         
            </div>
        </div>

        <div class="span-3 last">
            <div class="chat badge">
                <h5><a href="#">Get Support</a></h5>
                Chat with organizers                         
            </div>
        </div>
        
    
    <!--     /container -->
    </div>


            
</header>   

<!-- {% endblock %}     -->


<!-- <div class="page {% block PAGE_CLASS %}{% endblock %}"> -->
<div class="page">
    <div class="container clearfix">
        
                
          <h1>Archivio Blog</h1>
        
        
                <div class="column span-8">
                    
            <ul class="blog-archive">
            
                <li>
            
                    <div>
                        <h2>
                            
                            <a href="./blog-post.html" title="Permalink a questo articolo">Aperta la Call for Paper del Codemotion</a>
                        </h2>
                        <p class="metadata">
                            
                    Scritto da <b>Simone Federici</b>  il 12 Dic 2010 &bull;
                            
                            
                            <a href="/blog/2010/12/12/roma-call-for-paper-codemotion-2011#comments" title="Commenti articolo">Commenti (0)</a>
                        </p>
                        <div class="summary">Fino al 18 gennaio 2011 sarà possibile inviare le proprie proposte di talk per partecipare al programma della prima edizione del Codemotion, l’evento aperto a tutti i linguaggi e tecnologie.
                    <a href="http://www.codemotion.it">www.codemotion.it<span class="continue"> </span></a><a href="/blog/2010/12/12/roma-call-for-paper-codemotion-2011">Continua&nbsp;→</a></div>
                    </div>
            
                </li>
            
                <li>
                
                <div>
                    <h2>
                        
                        <a href="/blog/2010/06/23/feedback-2010-pycon" title="Permalink a questo articolo">Feedback 2010 Pycon</a>
                    </h2>
                    <p class="metadata">
                        
                Scritto da <b>Francesco Pallanti</b>  il 23 Giu 2010 &bull;
                        
                        
                        <a href="/blog/2010/06/23/feedback-2010-pycon#comments" title="Commenti articolo">Commenti (0)</a>
                    </p>
                    <div class="summary">Ecco cosa pensate di questa quarta edizione di PyCon: il report dei dati aggregati estratti dai feedback 2010. <span class="continue"> <a href="/blog/2010/06/23/feedback-2010-pycon">Continua&nbsp;→</a></span></div>
                </div>
        
                </li>
            
                <li>
        
                    <div>
                        <h2>
                            
                            <a href="/blog/2010/05/03/aiuta-lassociazione-python-italia-fai-una-donazion" title="Permalink a questo articolo">Aiuta l'associazione Python Italia: fai una donazione</a>
                        </h2>
                        <p class="metadata">
                            
                    Scritto da <b>Simone Zinanni</b>  il 3 Mag 2010 &bull;
                            
                            
                            <a href="/blog/2010/05/03/aiuta-lassociazione-python-italia-fai-una-donazion#comments" title="Commenti articolo">Commenti (0)</a>
                        </p>
                        <div class="summary">Quest'anno l'associazione ha bisogno di un aiuto extra da parte di tutta la comunità Python italiana.<span class="continue"> <a href="/blog/2010/05/03/aiuta-lassociazione-python-italia-fai-una-donazion">Continua&nbsp;→</a></span></div>
                    </div>
            
                </li>
            
            
            </ul>
            
            <div class="pager">
                
                    <span class="p">&nbsp;</span>
                
                    <span>Pagina <b>1</b> di 6</span>
                
                    <span class="n"><a href="?page=2">Successiva →</a></span>
                
            </div>
            
        
                </div>
                
                
            <div class="column span-4 last">
    
                <div id="blog-archives-browser">
                    
                    
                    <h3>Archivio</h3>
                    
                    <ul>
                        
                        <li><a href="/blog/years/2010/">2010</a> (17)</li>
                        
                        <li><a href="/blog/years/2009/">2009</a> (13)</li>
                        
                        <li><a href="/blog/years/2008/">2008</a> (12)</li>
                        
                        <li><a href="/blog/years/2007/">2007</a> (9)</li>
                        
                    </ul>
                </div>
            </div>

    
    
    <!-- /container -->
    </div>
<!-- /page -->
</div>




<!-- {% block FOOTER_BLOCK %} -->

<div class="sponsors">

    <div class="container clearfix"> 
        <h5>Our Sponsors</h5>
        
        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  
        
        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad last">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

    </div>

</div>

<footer class="darker">
    <div class="container clearfix">        


            <div class="span-3">
                <nav>
<!--                     <h5><span>The</span> site</h5> -->
                    <h5>&nbsp;</h5>
                    <ul>
                        <li><a href="./index.html">Home</a></li>

                        <li><a href="./conference.html">The Conference</a></li>                        
                        <li><a href="./where.html">Where</a></li>
                        <li><a href="./blog.html">Blog</a></li>

                        <li><a href="./schedule.html">Schedule</a></li>
                        
                        <li><a href="./intern.html">Contact</a></li>
                        
                    </ul>
                </nav>
            </div>


            <div class="span-5">
                <div class="twitter">
                    <h5><span>Overheard on</span> Twitter</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit.</li>                        
                        <li>Nam tincidunt @rhoncus urna. Aliquam id massa</li>
                        <li>Quisque ultrices gravida pede. Mauris accumsan</li>                    
                        <li>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit.</li>                        
                        <li>Nam tincidunt @rhoncus urna. Aliquam id massa</li>                 
                    </ul>
                    <div class="">
                        <a href="http://twitter.com/europython">Follow @europython on Twitter</a>
                    </div>
                </div>
            </div>


            <div class="span-4 last">
                <div class="donate">
                    <h5><span>Please</span> Donate</h5>
                    
                    <p>Help the Python Software Foundation... Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo.</p>
                    
                    <p class="we-accept">
                        <img src="static/i/icon-visa.png" alt="icon-visa" width="32" height="32" />
                        <img src="static/i/icon-mastercard.png" alt="icon-mastercard" width="32" height="32" />
                        <img src="static/i/icon-amex.png" alt="icon-amex" width="32" height="32" />
                        <img src="static/i/icon-paypal.png" alt="icon-paypal" width="32" height="32" />                    
                    </p>
                    
                    <div class="button nut">
                        <a href="#">Donate Now</a>
                    </div>
                </div>
            </div>

            

            <hr />

            <div class="span-8">

                <div class="legalese">
                    <p>&copy; 2007&ndash;2011 <a href="http://python.it/">Python Italia</a>, with <a href="http://creativecommons.org/licenses/by-nd/3.0/">some rights reserved</a>.</p> 
                </div>

            </div>

            <div class="span-4 last">

                <div class="feeds">
                    <img src="./static/i/icon-feed.png" alt="" width="12" height="12" />&nbsp;<a href="#">Recent blog posts</a>
                </div>

            </div>
                        
<!--     /container -->
    </div>    

</footer>

<!-- {% endblock %}   -->



</body>
</html>

