<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <!--  <title>{% block TITLE_BLOCK %}{% endblock %} &mdash; EuroPython 2011: Florence, June 23&ndash;26</title>--> 
    <title>EuroPython 2011</title>
    
    <link rel="icon" href="./static/i/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="./static/i/favicon.ico" type="image/vnd.microsoft.icon" />

    <link rel="stylesheet" href="./static/s/reset.css" type="text/css" media="all" />    
    <link rel="stylesheet" href="./static/s/grid.css" type="text/css" media="screen, projection" />    
    <link rel="stylesheet" href="./static/s/form.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./static/s/base.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./static/s/cms.css" type="text/css" media="screen, projection" />    
<!--     <link rel="stylesheet" href="./static/s/mobile.css" type="text/css" media="screen, projection" />     -->        
<!--[if lt IE 9]>
    <script src="./static/j/html5.js"></script>
    <link rel="stylesheet" href="./static/s/ie.css" type="text/css" media="screen, projection" />    
<![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<div class="please-upgrade">
        Unfortunately your browser is outdated. Plase update your copy of <a href="http://www.microsoft.com/windows/internet-explorer/"><b>Internet Explorer</b></a> o <a href="http://browsehappy.com/"><b>install an alternative browser</b></a>.
</div>
<![endif]-->
<!-- {% block HEADER_BLOCK %} -->
<header>
    <nav  class="darker">
        <div class="container clearfix">                    

            <div class="span-8">
                <ul>
                    <li class="current"><a href="./index.html">Home</a></li>    
                    <li><a href="./conference.html">The Conference</a></li>                        
                    <li><a href="./where.html">Where</a></li>
                    <li><a href="./blog-index.html">Blog</a></li>    
                    <li><a href="./schedule.html">Schedule</a></li>                
                </ul>        
            </div>
    
            <div class="span-4 last">                        
                <div class="user">
                    Logged in as <b>Name Surname</b> &bull; <a href="#">Log out</a>
                </div>
            </div>
                   
        </div>        
    </nav>

    <div class="container clearfix">                    

        <div class="span-6">
            <div class="logo">
                <a title="EuroPython home" href="./index.html"><img src="./static/i/europython-logo.png" alt="EuroPython 2011" title="" width="330" height="110" /></a>
            </div>
        </div>   

        <div class="span-3">
            <div class="buy badge">
                <a href="#"><span>Buy Tickets</span>
                Starting from <b>99€</b></a>                    
            </div>
        </div>

        <div class="span-3 last">
            <div class="chat badge">
                <a href="#"><span>Get Support</span>
                Chat with organizers</a>         
            </div>
        </div>
        
    
    <!--     /container -->
    </div>


            
</header>   

<!-- {% endblock %}     -->

<div class="container">
    <div class="intro">
        <p><b>EuroPython</b> is a conference about the <b>Python programming language</b>. It is aimed at everyone in the Python community, of all skill levels, both users and programmers.</p>            
    </div>
</div>        

<section class="teaser">

    <div class="container clearfix">
        
        <div class="span-5">
        
            <h2><span>Speakers</span> wanted!</h2>
        
            <img src="static/i/speakers-wanted.png" alt="" width="320" height="160" />    
                        
            <div class="button">
                <a href="./intern.html">Submit your <b>talk</b></a>     
            </div>
                
        </div>
    
        <div class="europython-is span-7 last">

            <h2><span>EuroPython</span> is&hellip;</h2>
        
            <p>
               An occasion to follow interesting <a href="./intern.html">talks</a>, do some <a href="./intern.html">networking</a>, <a href="./intern.html">recruite</a> quilified staff or be recruited by great firms, and last but not least follow funky <a href="./intern.html">PyEvents</a>.
            </p>    
                       
        </div>
    
    </div>

</section>


<!-- <div class="page {% block PAGE_CLASS %}{% endblock %}"> -->
<div class="page home">
    <div class="container clearfix">

        <!--  page contents -->
<!--         <div class="contents span-12"> -->

<!--           {% block PAGE_BLOCK %} -->

<!--
        <section class="speakers clearfix">
            <h2>Confirmed Speakers</h2>
            
            <div class="span-6">
                <img src="static/i/speakers-ph.png" alt="" width="390" height="160" />    
            </div>

            <div class="span-6 last">
                <p><b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.  Nam tincidunt rhoncus urna consectetuer.</p>
                
                <div class="button">
                    <a href="./intern.html">View <b>speakers</b> and <b>schedule</b></a>     
                </div>
               
            </div>


        </section>
-->


        <section class="where clearfix">
            <h2>Let’s meet in <span>Florence</span></h2>
            
            <div class="span-6">
                <p>EuroPython 2011 will be held in Florence at <a href="#"><b>Hotel Mediterraneo</b></a>... ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ultrices, nisi quis scelerisque convallis, augue et mattis justo nibh eu elit neque. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. </p>
                
            </div>

            <div class="span-6 last">
               <img src="static/i/home-where.jpg" alt="" width="390" height="200" />         
            </div>

            
            <div class="span-6">

                <div class="button">
                    <a href="./intern.html">Check <b>map</b> and <b>accommodation</b></a>&nbsp;
                </div>

            </div>

            
            <div class="span-6 last">
               
                <div class="button">
                    <a href="./intern.html"><b>Visiting</b> and <b>sightseeing</b> Florence</a>
                </div>
                
            </div>


        </section>
        
        <hr />
        
        <section class="clearfix">

<!--
            <div class="side-h2 span-2">
                <h2>updates<br /><span>from the blog</span></h2>
            </div>
-->
                                                   
            <div class="blog border span-6">

                <ul>
                    <li>
                        <h3><a href="./blog-post.html">{Title} New 2011 website launched</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>                       
                    </li>

                    <li>
                        <h3><a href="./blog-post.html">{Title} Consectetuer eque tempor enim adipiscing elit</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>                       
                    </li>

                    <li>
                        <h3><a href="./blog-post.html">{Title} Hendrerit in, cursus sed</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>                       
                    </li>

                    <li>
                        <h3><a href="./blog-post.html">{Title} Hendrerit condimentum</a></h3>
                        <div class="meta">Posted on <b>Dec 8</b> &bull; <a href="#">2 comments</a></div>                       
                    </li>

                </ul>
                
            </div>


            <div class="side-h2 span-2">
                <h2>EuroPython<br /><span>on your phone</span></h2>
            </div>

            <div class="span-4 last">
                <!-- Link to mobile version -->
                <a href="#"><img class="block" src="static/i/iphone.png" alt="" width="250" height="220" /></a>
            </div>

        </section>
                        
        
<!--           {% endblock %}     -->            

        <!--  /page contents -->            
<!--         </div> -->



    <!-- /container -->
    </div>
<!-- /page -->
</div>




<!-- {% block FOOTER_BLOCK %} -->

<div class="sponsors">

    <div class="container clearfix"> 
        <h5>Our Sponsors</h5>
        
        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  
        
        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad last">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

    </div>

</div>

<footer>
    <div class="container clearfix">        


            <div class="span-3">
                <nav class="darker">
                    <h5>&nbsp;</h5>
                    <ul>
                        <li><a href="./index.html">Home</a></li>

                        <li><a href="./conference.html">The Conference</a></li>                        
                        <li><a href="./where.html">Where</a></li>
                        <li><a href="./blog.html">Blog</a></li>

                        <li><a href="./schedule.html">Schedule</a></li>
                        
                        <li><a href="./intern.html">Contact</a></li>
                        
                    </ul>
                </nav>
            </div>


            <div class="span-5">
                <div class="darker twitter">
                    <h5><span>Overheard on</span> Twitter</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit.</li>                        
                        <li>Nam tincidunt @rhoncus urna. Aliquam id massa</li>
                        <li>Quisque ultrices gravida pede. Mauris accumsan</li>                    
                        <li>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit.</li>                        
                        <li>Nam tincidunt @rhoncus urna. Aliquam id massa</li>                 
                    </ul>
                    <div class="">
                        <a href="http://twitter.com/europython">Follow @europython on Twitter</a>
                    </div>
                </div>
            </div>


            <div class="span-4 last">
                <div class="donate">
                    <h5><span>Please</span> Donate</h5>
                    
                    <p>Help the Python Software Foundation... Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo.</p>
                    
                    <p class="we-accept">
                        <img src="static/i/icon-visa.png" alt="icon-visa" width="32" height="32" />
                        <img src="static/i/icon-mastercard.png" alt="icon-mastercard" width="32" height="32" />
                        <img src="static/i/icon-amex.png" alt="icon-amex" width="32" height="32" />
                        <img src="static/i/icon-paypal.png" alt="icon-paypal" width="32" height="32" />                    
                    </p>
                    
                    <div class="button mini">
                        <a href="#">Donate Now</a>
                    </div>
                </div>
            </div>

            

            <hr />

            <div class="span-8">

                <div class="darker legalese">
                    <p>&copy; 2007&ndash;2011 <a href="http://python.it/">Python Italia</a>, with <a href="http://creativecommons.org/licenses/by-nd/3.0/">some rights reserved</a>.</p> 
                </div>

            </div>

            <div class="span-4 last">

                <div class="darker feeds">
                    <img src="./static/i/icon-feed.png" alt="" width="12" height="12" />&nbsp;<a href="#">Recent blog posts</a>
                </div>

            </div>
                        
<!--     /container -->
    </div>    

</footer>

<!-- {% endblock %}   -->



</body>
</html>

