{% extends "ep19/bs/base.html" %}

{% block title %}Cannot find the request page{% endblock title %}

{% block content %}
<div id="content_page">
    <div class="container">
        <div class='row'>

            <div class='col-md-9'>
                <div id="content" class='epcms_content'>
                    <div class="page-summary">
                        <p>Oops! We are sorry, the page you requested does not exist.</p>
                    </div>

                    <p>Here are a few useful links:</p>
                    <ul>
                        <li>Our <a href="http://blog.europython.eu/">blog</a></li>
                        <li>The <a href="/events/sessions/">conference session list</a></li>
                        <li>Our <a href="/sponsor/">sponsorship opportunities</a></li>
                        <li><a href="/faq/">Frequently asked questions</a> (F.A.Q.)</li>
                        <li>... or get back to the <a href="/">EuroPython Home Page</a></li>
                    </ul>

                </div>
            </div>

            <div class='col-md-3' id="sidebar">
            </div>

        </div><!-- .row -->
    </div>
</div>
{% endblock %}
