{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools %}
    <ul class="object-tools">
    {% if has_add_permission %}
        <li>
        <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
        </li>
    {% endif %}
        <li>
        <a href="{% url admin:assopy-order-vouchers %}" class="">vouchers</a>
        </li>
        <li>
        <a href="{% url admin:assopy-order-stats %}" class="">stats</a>
        </li>
    </ul>
{% endblock %}
