{% extends "admin/base_site.html" %}
{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">Home</a> &rsaquo;
     <a href="../../">Assopy</a>&rsaquo;
     <a href="../">Orders</a>&rsaquo;
     vouchers
</div>
{% endblock %}
{% block content %}
    <div class="fares">
        <ul>
        {% for fare in fares %}
            <li><a href="{% url "admin:assopy-order-vouchers-fare" conference=fare.conference fare=fare.code %}">{{ fare.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
