/* ============================================== */
/* ! Custom styles for text pulled from the CMS   */
/* ============================================== */


.cms img {
	display: block;	
	border: 5px solid #999774;

    margin: 20px auto;
}

.cms img.noborder {
	border: none;
}


.cms p, 
.cms dl, 
.cms ul, 
.cms ol,
.cms table {
	margin-bottom: 20px;
}

.cms p {
	margin-bottom: 10px;
}


.cms h2 {
	
	margin: 30px 0 10px 0;
	text-transform: none;

    font-size: 21px;
    
    color: #96204B;

}


.cms h3,
.cms h4,
.cms h5,
.cms h6 {
	
	margin: 20px 0 10px 0;


    font-size: 18px;
    		
	text-transform: uppercase;
		
}

/* first  h2 and h3 (sidebar) */
.cms h3:first-child,
.cms h2:first-child {
	margin-top: 0;
}


.cms li {

/*     font-size: 13px; */
/*     color: #d7cef5; */
    
	margin: 0 0 5px 20px;
}

.cms dl {
	margin-left: 20px;
}


.cms ul {
	list-style: outside square  url(../i/bullet-arr.png);
}


.cms ol {
	list-style: outside decimal;
}

.cms dd {
	margin-bottom: 20px;	
}




.cms blockquote {
	margin: 10px 20px 10px 20px;	
	
    font: normal 12px/20px "Helvetica Neue",Tahoma,Arial,Helvetica,"DejaVu Sans Condensed",sans-serif;
    color: #383829;
	
}


.cms blockquote i,
.cms blockquote em {
	font-style: normal;
}




.cms table {
	border-collapse: collapse;
	width: 100%;
	

    margin: 20px 0;

    border: 10px solid #ebead8;
    background: #ebead8;    
    	
}


.cms table caption {

    font-style: italic;
	caption-side: bottom;
	
	margin: 20px 0 0 0;
	
    text-align: center;

    color: #383829;
}


.cms table th,
.cms table td {	

	padding: 5px 10px 5px 0;

	
}




.cms table th {

	font: bold 13px/20px Constantia, Georgia, "Lucida Bright", "Bitstream Vera Serif", serif;
    text-transform: uppercase;

    letter-spacing: 1px;

    border-bottom: 5px solid #94946F;
    
    padding-top: 0;
	
}

.cms table td {	

    border-bottom: 1px dotted #94946F;
	
}


.cms table tr.note td {
    font-style: italic;
    color: #383829;
    
    padding-left: 20px;
    font-size: 13px;
}


.cms table tr.note td p.last-contact {
    margin-bottom: 0;
}





.cms pre
.cms code {	
	background: #eee;
	
	padding: 5px;
	
	font: normal 12px/20px Consolas, "Courier New", "Lucida Console", monospace;
	
	margin: 0 0 20px 0;
		
	display: block;
	
}


.cms hr {
  clear: both;
  width: 100%; 
    
  height: 2px;

  margin: 20px 0 20px 0; 

  background: transparent url(../i/bg-sep.png) center left repeat-x;

  visibility: visible;

  /* IE */
  _margin: -7px 0 13px 0; 
  
}








/* ============ */
/* ! img-desc   */
/* ============ */

cms .img-desc {
    margin: 0 0 20px 0;
}

cms .img-desc object,
cms .img-desc img {
    float: left;
 
    margin: 0 20px 0 0;   
}


cms .img-desc p {
    font-size: 13px;
}


/* ============== */
/* ! highlights   */
/* ============== */


.cms .highlights {

    padding: 10px;
    border: 2px solid #4e69b2;
    
    margin: 30px 0;
    
    
/*     background: #fff url(../i/bg-highlights.png) bottom left repeat-x; */
    background: #384b80;    
}


.cms .highlights h4 {
    
    margin-top: 0;
    
    color: #9dcc4f;

    text-transform: none;
    font-size: 14px;
    
}

/*
.copy .highlights ul {
    list-style: outside circle url(../i/bullet-arr.png);

}
*/


/* =========== */
/* ! automap   */
/* =========== */


.cms .automap  {
    margin: 20px 0;
    border: 5px solid #999774;
}



