{% for row in rows %}
    <tr class="hotel-reservation-type{% if row.error %} error{% endif %}" data-period-start="{{ start|date:"Y/m/d" }}" data-reservation-type="{{ row.type }}">
        <td rowspan="1" class="room-type">
            <select name="{{ name }}_fare">
                {% for f in row.fares %}
                <option value="{{ f.code }}">{{ f.description }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <p></p>
            <input type="hidden" name="{{ name }}_period" value="{{ row.period.0 }}" />
            <input type="hidden" name="{{ name }}_period" value="{{ row.period.1 }}" />
            <div class="period" data-steps="{{ days }}"></div>
        </td>
        <td data-fare="{{ row.fare }}">
            <input type="text" name="{{ name }}_qty" size="2" value="{{ row.qty }}" />
            {% if row.error %}
            <div class="errors">
            {{ row.error }}
            </div>
            {% endif %}
        </td>
        <td class="price"></td>
    </tr>
{% endfor %}
