{% load conference %}
<div class="cms partner-program">
{% for slug, group in fares %}
    <div class="event">
    {% with group.0 as fare0 %}
        <h3 id="{{ fare0.name|slugify }}"><span>{{ fare0.name }}</span> <a href="/partner-program/#{{ fare0.name|slugify }}">¶</a><a href="#" class="share" style="float: right;">Share this</a></h3>
        <p><img src="https://ep2012.europython.eu/media/uploads/{{ fare0.code|lower }}.jpg" style="border: 4px solid #e1dbc5;"></p>
        <div>{{ fare0.description|safe }}</div>
        <ul>
            <li>Cost per person: <strong>€{{ fare0|fare_blob:"prezzo" }}</strong></li>
            {% with fare0|fare_blob:"include" as t %}
            {% if t %}
            <li>Includes: <strong>{{ t }}</strong></li>
            {% endif %}
            {% endwith %}
            {% with fare0|fare_blob:"departure" as t %}
            {% if t %}
            <li>Departure: <strong>{{ t }}</strong></li>
            {% endif %}
            {% endwith %}
        </ul>
        <div class="call-to-action partner-program">
        {% for fare in group %}
            <a href="{% url p3-cart %}?f={{ fare.code }}">{{ fare|fare_blob:"date"|as_datetime|date:"F jS, D" }} →</a>
        {% endfor %}
        </div>
    {% endwith %}
        <hr class="stars" />
    </div>
{% endfor %}
    <script type="text/javascript">
    (function() {
        $('.cms.partner-program .share').click(function(e) {
            e.preventDefault();
            var h3 = $(e.target).parents('h3');
            var text = $('span', h3).html();
            var slug = h3.attr('id');
            var url = document.location.href + '#' + slug;
            RPXNOW.loadAndRun(['Social'], function () {
                var activity = new RPXNOW.Social.Activity(
                    'Spread the world',
                    'Discover "' + text + '" in the partner program at #europython',
                    url);
                activity.setTitle('Europython 2012 - Partner program');
                activity.setDescription('This is for people would like to share the experience of visiting a new place with other like-minded people.');
                activity.addActionLink('Check the partner program', 'https://ep2012.europython.eu/partner-program/');
                var media = new RPXNOW.Social.ImageMediaCollection();
                media.addImage('https://ep2012.europython.eu/media/uploads/twitter-avatar.png', url);
                activity.setMediaItem(media);
                RPXNOW.Social.publishActivity(activity);
            });
        });
    })();
    </script>
</div>
