{% extends "p3/base.html" %}
{% load conference %}
{% block MAIN_CONTENT %}
<div class="cms">
    <h1>Europython speakers</h1>
    {% for item in speakers %}
        <h2><a href="{% url conference-speaker slug=item.speaker.slug %}">{{ item.speaker.user.first_name }} {{ item.speaker.user.last_name }}</a></h2>
        {% for e in item.events|dictsort:"schedule.date" %}
            <section class="talk when">
                {% if e|event_has_track:"teaser" %}
                Teaser talk of
                {% endif %}
                <a href="{% url conference-talk slug=e.talk.slug %}">{{ e.talk.title }}</a><br />

                {% get_event_track e as track %}
                in <i>{{ track.title|safe }}</i>
                on <strong>{{ e.schedule.date|date:"l j F" }}</strong>
                at {{ e.start_time|time:"H:i" }}

                <a href="{% url p3-schedule conference=e.schedule.conference %}"><b>See schedule</b></a>
            </section>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
