{% extends "assopy/base.html" %}
{% load assopy_tags %}
{% block ASSOPY_MAIN_CONTENT %}
    <h1>Billing information</h1>
    <div class="span-7 append-1">
        <div class="cms">
            <form action="{% url assopy-billing %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <fieldset>
                    {% for f in form %}{{ f|field }}{% endfor %}
                </fieldset>
                <fieldset class="border">
                    <button type="submit">save</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="span-4 last">
    </div>
{% endblock %}
