{% extends "assopy/base.html" %}
{% load assopy_tags %}
{% block ASSOPY_MAIN_CONTENT %}
<nav>
    <a href="{% url assopy-home %}">Profile / Billing information</a>
    <a href="{% url assopy-speaker %}">Talk submission</a>
</nav>

<form action="{% url assopy-home %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        <legend>Your Profile</legend>
        {% for f in form_profile %}{{ f|field }}{% endfor %}
    </fieldset>
    <fieldset class="border">
        <button type="submit" name="action" value="profile">save</button>
    </fieldset>
</form>
<form action="{% url assopy-home %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>Billing Information</legend>
        {% for f in form_billing %}{{ f|field }}{% endfor %}
    </fieldset>
    <fieldset class="border">
        <button type="submit" name="action" value="billing">save</button>
    </fieldset>
</form>
{% endblock %}
