{% extends 'assopy/base_invoice.html' %}

{% block COMPANY_LOGO %}
    <img src="{{ STATIC }}develer-logo.png">
{% endblock %}

{% block COMPANY_INFO %}
    Develer S.r.l.<br/>
    Via Mugelles e, 1 - 50013 Campi Bis enzio (FI)<br/>
    Partita IVA/V.A.T. IT02342950488<br/>
    Codice Fis cale: 02342950488<br/>
    Tel/Phone 055.8969650<br/>
    Email: info@bettersoftware.it<br/>
{% endblock %}



{% block BANK %}
    Unicreditbanca Agenzia Firenze 2 - IBAN: IT23K0200802831000003458694 - Swift/BIC: BROMITR1OS8
{% endblock %}