{% extends "assopy/base.html" %}
{% load assopy_tags i18n %}
{% block ASSOPY_EXTRA_HEAD %}
    <script type="application/javascript">
        setTimeout("document.assopypaypalredirect.submit()",8000);
    </script>
{% endblock %}
{% block ASSOPY_MAIN_CONTENT %}
    <form name="aassopypaypalredirect" action="{{ form.paypal_url }}" method="POST">
        {{ form.as_p }}
        <H1>{% trans "Please Wait.. You are redirected to paypal" %}</H1>
        <button type="submit">{% trans "if redirect does not start click here" %}</button>
    </form>
{% endblock %}