{% extends "assopy/base.html" %}
{% load assopy_tags %}
{% block ASSOPY_MAIN_CONTENT %}
    <h1>{{ user.name }} - Your profile</h1>
    <div class="span-7 append-1">
        <div class="cms">
            {% with user.photo_url as u %}
            {% if u %}
            <div class="floated">
                <img src="{{ u }}" alt="{{ user.name }}" width="98" />
            </div>
            {% endif %}
            {% endwith %}
            <form action="{% url assopy-profile %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <fieldset>
                    {% for f in form %}{{ f|field }}{% endfor %}
                </fieldset>
                <fieldset class="border">
                    <button type="submit">save</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="span-4 last">
        <aside>
            <h4>Your identities</h4>
            <ul>
                {% for i in user.identities.all %}
                <li class="show-tooltip" title="{{ i.identifier }}">{% if i.provider == "Other" %}OpenID{% else %}{{ i.provider }}{% endif %}</li>
                {% endfor %}
            </ul>
            <h4>Add another identity</h4>
            {% url assopy-profile as u %}
            {% render_janrain_box u "overlay" %}
        </aside>
    </div>
{% endblock %}
