{% load i18n %}
{% if url %}
{% if mode == "overlay" %}
<a class="rpxnow" onclick="return false;" href="{{ url }}">{% trans "Add another account" %}</a>
<script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';
</script>
{% else %}
<iframe class="janrain-box" src="{{ url }}&flags=hide_sign_in_with" scrolling="no" frameBorder="no" allowtransparency="true"></iframe> 
{% endif %}
{% endif %}
