{% extends "assopy/base.html" %}
{% load assopy_tags conference i18n %}
{% block ASSOPY_MAIN_CONTENT %}
    <h1>{{ item.ticket.fare.name }}</h1>
    <div class="cms">
        <p>{{ item.ticket.fare.description }}</p>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Voucher code" %}</th>
                    <th>{% trans "Buyer" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                    <th>{% trans "Value" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ item.order.code }} {{ item.id }}</td>
                    <td>{{ item.order.user.name }}</td>
                    <td>{{ item.ticket.name }}</td>
                    <td>€ {{ item.ticket.fare.price|floatformat:"2" }}</td>
                </tr>
            </tbody>
        </table>
        <h2>{% trans "Please print this voucher" %}</h2>
        <p>{% trans "Print this voucher and bring it with you to gain access to:" %}</p>
        <h3>{{ item.ticket.fare.name }} on {{ item.ticket.fare|fare_blob:"data" }} at {{ item.ticket.fare|fare_blob:"departure" }}</h3>
    </div>
{% endblock %}
