{% extends "p3/base.html" %}
{% load p3 microblog_tags conference i18n cms_tags static thumbnail %}
{% block BODY_ID %}home{% endblock %}
{% block body-class %}home-tpl{% endblock %}

{% block TEASER %}
    <section class="bg-red">
        <div class="grid-container">
            <div class="grid-100">
                <div class="intro">
                    {% placeholder "lead_text" %}
                </div>
            </div>
        </div>
    </section>

{% comment %}

<!-- MAL 2015-02-28: Commented out until we have deadlines and an open CFP -->

    {% get_deadlines limit=1 as l %}
    {% if l %}
    <section class="deadlines">
        <div class="grid-container">
            <div class="grid-100 media-body calendar">
                <div class="calendar-icon">
                    <i class="fa fa-calendar-o fa-2x"></i>
                </div>
                <div class="deadline-homepage">
                    <h3 class="media-heading">{% trans "Next deadline:" %}</h3>
                    <span class="deadline"><time>{{ l.0.date|date:"d" }} / {{ l.0.date|date:"m" }} / {{ l.0.date|date:"Y" }} - </time>{{ l.0.headline|safe }}</span>
                </div>
                <div class="deadline-button">
                    <a class="btn btn-primary" href="{% page_url 'calendar' %}">{% trans "All the deadlines" %}<i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
            <!-- NOTICE -->
        <div class="grid-container">
            <div class="grid-100 media-body notice">
                <div class="deadline-homepage">
                    <h3 class="media-heading">{% trans "Call for Proposals is <span>open</span>" %}</h3>
                    {% placeholder "cfp_teaser_text" as cfp_text %}
                    {% if cfp_text %}
                        <p class="">{{ cfp_text }}</p>
                    {% endif %} 
                </div><!-- /media-body -->
            <div>
            <div class="deadline-button">
                <a class="btn btn-primary" href="{% page_url 'cfp' %}">{% trans "Submit your proposal" %}</a>
            </div>
        </div>
    </section>
    {% endif %}

{% endcomment %}

    {% current_conference as conf %}
    <section class="subcommunities">
        <div class="grid-container">
            <div class="grid-100 general-notice">
                <div class="pull-left"></div>
                <div class="media-body">{% placeholder "home_teaser_text" %}</div>
            <hr class="hide-on-desktop" />
            </div><!-- /grid notice -->
        </div><!-- /grid-container -->
    </section>

    {% block SPONSORS %}
        {% conference_sponsor as sponsors %}
        {%if sponsors %}
        <section>
            <div class="grid-container">
                <div class="grid-100">
                    <h2 class="border-title">{% trans 'Our Sponsors' %}</h2>
                </div>
                {% for s in sponsors %}
                    <div class="grid-25">
                        <div class="sponsor">
                        <!--
                            <a href="{{ s.url }}"><img src="{{ s.logo|image_resized }}" alt="{{ s.alt_text }}" title="{% firstof s.title_text s.sponsor %}" width="190" height="90" /></a>
                        -->
                            <a href="{{ s.url }}"><img src="{{ s.logo }}" alt="{{ s.alt_text }}" title="{% firstof s.title_text s.sponsor %}" align="center" /></a>
                        </div>
                    </div><!-- /grid -->
                {% endfor %}
                <div class="grid-25">
                    <div class="sponsor sponsor-wanted">
                        <a class="btn btn-primary" href="{% page_url 'sponsor' %}">{% trans 'Become a sponsor' %}</a>
                    </div>
                </div><!-- /grid -->
            </div><!-- /grid-container -->
        </section>
        {%endif%}
    {% endblock SPONSORS %}

    <section class="quote-section">
        <div id="quotes" class="quote-slider grid-container clearfix">
            {% conference_quotes limit 3 as quotes %}
            {% for quote in quotes %}
            <div class="">
                <div class="grid-20 prefix-10 quote-image">
                    {% thumbnail quote.image 150x150 crop=True upscale=True as thumbnail %}
                    <img src="{{ thumbnail.url }}" />
                </div>
                <div class="grid-60 suffix-10">
                    <q>{{ quote.text }}</q>
                    <p>- {{ quote.who }}, {{ quote.activity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="discover-europython">
        <div class="grid-container">
            <div class="grid-100">
                <h2 class="border-title">{% trans "Discover EuroPython" %}</h2>
            </div>
            <div class="grid-33">
                <a href="#">
                    <div class="learn-icon">
                        <img src="{% static 'p6/images/talk.svg' %}">
                    </div>
                    <h4>{% trans "Talk" %}</h4>
                    <p>{% trans "Enjoy 5 parallel tracks, over 100 talks, plenty of hallway sessions" %}
                </a>
            </div>
            <div class="grid-33">
                <a href="#">
                    <div class="learn-icon">
                        <img src="{% static 'p6/images/training.svg' %}" />
                    </div>
                    <h4>{% trans "Training" %}</h4>
                    <p>{% trans "Professional trainers to teach you Python and how to use it effectively" %}
                </a>
            </div>
            <div class="grid-33">
                <a href="#">
                    <div class="learn-icon">
                        <img src="{% static 'p6/images/helpdesk.svg' %}" />
                    </div>
                    <h4>{% trans "Helpdesk" %}</h4>
                    <p>{% trans "Get help for solving your problems directly from the experts" %}
                </a>
            </div>


            <div class="grid-33">
                <a href="#">
                    <div class="learn-icon">
                        <img src="{% static 'p6/images/scopri_chi_viene.svg' %}" />
                    </div>
                    <h4>{% trans "Who's coming" %}</h4>
                    <p>{% trans "Check the public profiles and arrange meetings" %}
                </a>
            </div>
            <div class="grid-33">
                <a href="#">
                    <div class="learn-icon">
                        <img src="{% static 'p6/images/recruiting.svg' %}" />
                    </div>
                    <h4>{% trans "Recruiting" %}</h4>
                    <p>{% trans "Find excellent Python jobs" %}
                </a>
            </div>
            <div class="grid-33">
                <a href="#">
                    <div class="learn-icon">
                        <img src="{% static 'p6/images/eventi_sociali.svg' %}" />
                    </div>
                    <h4>{% trans "Social Events" %}</h4>
                    <p>{% trans "Enjoy lounge events, dinners, boat trips, etc." %}
                </a>
            </div>
        </div>
    </section>

    {% placeholder main_text as main_text %}
    {% if main_text %}
    <section>
        {{ main_text }}
    </section>
    {% endif %}
{% endblock TEASER %}


{% block MAIN_CONTENT %}
{% if posts %}
<section class="blog-container">
    <div class="grid-container">
        {% post_list count=3 as posts %}
        <div class="grid-100">
            <h2 class="border-title">{% trans "Watch our blog for updates" %}</h2>
        </div>
        {% for post in posts %}
            {% get_post_data post.id as data %}
            <div class="grid-33">
                <h4><a href="{{ data.url }}">{{ data.content.headline }}</a></h4>
                <p class="post-date">{{ post.date|date:"j F Y" }}</p>

                <!--
                &ensp;{% if data.comments %}<a href="{{ data.url }}#comments">{{ data.comments|length }} comment{{data.comments|length|pluralize:"o,i"}}</a>{% endif %}
                -->

                <div class="post-abstract">{{ data.content.summary|safe }}</div>
            </div>
        {% endfor %}
    </div><!-- /grid-container -->
</section>
{% endif %}

<script type="text/javascript">
    {% if not request.toolbar.edit_mode %}
    $(document).ready(function(){
        $('.quote-slider').slick({
            autoplay: true,
            dots: false,
            arrows: false,
            speed: 1000,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
        });
    });
    {% endif %}
</script>

{% endblock %}
