{% extends 'base.html' %}
{% import 'components/typography.html' as typography %}
{% import 'components/hero.html' as hero %}
{% import 'components/eps-logo.html' as eps %}
{% import 'components/card.html' as card %}

{% block content %}

{% call hero.hero("https://source.unsplash.com/nzyBPhGJEcg/1600x900") %}
<div style="text-align: center;">
	{{ eps.logo(class="mb4") }}
	{{ typography.heading("EuroPython 2019", 2, class="mb2") }}
	{{ typography.heading("8 - 14 July 📍 Basel, Switzerland", 6, 'p') }}
</div>
{% endcall %}

<div class="mdc-layout-grid" style="max-width: 1024px;">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-4">
		{{ card.card(
			title="8 - 9 July",
			text="training"
		) }}
	</div>
    <div class="mdc-layout-grid__cell--span-4">
		{{ card.card(
			title="10 - 12 July",
			text="conference"
		) }}
	</div>
    <div class="mdc-layout-grid__cell--span-4">
		{{ card.card(
			title="12 - 14 July",
			text="sprint"
		) }}
	</div>
</div>


{% if user.is_authenticated %}
	Logged in as {{ user.first_name }} {{ user.last_name }}
	<a href='{{ url("logout") }}'>Log out</a>
{% else %}
	<a href='{{ url("login") }}'>Log in</a>
{% endif %}

{% endblock %}
