{% extends 'base.html' %}
{% import 'components/typography.html' as typography %}

{% block content %}

{{ typography.caption("standard caption") }}
{{ typography.heading("Title standard") }}
{{ typography.caption("large caption", size="l") }}
{{ typography.heading("Title large", size="l") }}
{{ typography.caption("medium caption", size="m") }}
{{ typography.heading("Title medium", size="m") }}
{{ typography.caption("small caption", size="s") }}
{{ typography.heading("Title small", size="s") }}

{% if user.is_authenticated %}
	Logged in as {{ user.first_name }} {{ user.last_name }}
	<a href='{{ url("logout") }}'>Log out</a>
{% else %}
	<a href='{{ url("login") }}'>Log in</a>
{% endif %}

{% endblock %}