.blog-post {
    margin: 0 0 40px 0;
}

/*
.blog-post img {
    border: 5px solid #384b80;
    margin: 0 auto;
    
    display: block;
}
*/

.comment-moderated {
    padding: 10px;
    color: #D7CEF5;
    background: #161E33;
    margin: 0 0 10px 0;
}

#reactions .metadata,
#comments .metadata,
.blog-archive .metadata {
    margin: 5px 0 0 0;

    font-size: 12px;
    color: #7d6f60;

}

.blog-archive p.metadata a {
    color: #7d6f60;    
    border-bottom-color: #7d6f60;
}

.blog-archive p.metadata a:hover {
/*
    color: #630b2b;
    border-bottom-color: #9babab;
*/
}



#comments .gravatar {
    float: left;
    margin-right: 10px;
}

#comments .gravatar img {
    border: 2px solid #aba18f;
}

#comments .body {
    margin-left: 50px;
/*     font-size: 13px; */
}




#comments li.comment-level-0 {
    padding-left: 0px;
}

#comments li.comment-level-1,
#comments li.comment-level-2,
#comments li.comment-level-3,
#comments li.comment-level-4 {
    background: transparent url(../i/comment-reply.png) 0 top no-repeat;
}

#comments li.comment-level-1 {
    padding-left: 20px;    
}

#comments li.comment-level-2 {
    padding-left: 40px;
    background-position: 20px top;
}

#comments li.comment-level-3 {
    padding-left: 60px;
    background-position: 40px top;    
}

#comments li.comment-level-4 {
    padding-left: 80px;
    background-position: 60px top;
}

#comments li.user-comment {
}

#comments li.replying {
}



.blog-archive {
	list-style: none	
}

.blog-archive li {
/*	padding: 0 0 15px 0; */
	margin: 0 0 30px 0;
    
/*     background:  transparent  url(../i/bg-sep.png) bottom left repeat-x; */
}

.blog-archive h2 {

    font: normal 21px/30px  "League Gothic", "Arial Narrow", sans-serif;    
    color: #1f2b2b;
}



/*
#add-comment .form-box {
    background: #cbc9ae url(../i/bg-add-comment.png) bottom right no-repeat;
}
*/

#add-comment,
#reactions,
#comments {

	margin: 40px 0 0 0;
}


#comments a.permalink {
    color: #aba18f;
    border-bottom: none;
}

#comments a.permalink:hover {
    color: inherit;
}

#reactions ol,
#comments ol {
  list-style: none;
}


#reactions li,
#comments li {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;    

    border-bottom: 2px dotted #C4C3A3;
/*     background: transparent url(../i/bg-sep.png) bottom left no-repeat; */
}



#reactions h3,
#add-comment h3,
#comments h3 {

    font: normal 21px/30px  "League Gothic", "Arial Narrow", sans-serif;
    	
/*     color: #96204B; */
	
	margin: 0 0 20px -20px;
	
/* 	text-transform: uppercase; */
/* 	text-shadow: rgba(228, 245, 245, .75) 1px 1px 1px; 	 */
}

#reactions h3 span,
#add-comment  h3 span,
#comments h3 span {
	text-transform: none;
}

#add-comment .notice {
    padding: 5px 10px 5px 45px;
    margin: 0 0 20px 0;
    
/*     color: #D7CEF5; */
    
/*     font-size: 13px; */
    
    border: 2px solid  #C4C3A3;
    
/*     background: transparent  url(../i/icon-notice.png) 5px center no-repeat; */
}


/* =================== */
/* ! social-networks   */
/* =================== */


.social-networks {
	margin: 30px 0 20px 0;
    font-size: 12px;
	padding: 5px 0 5px 0;
    border-top: 2px dotted #aba18f; 
    border-bottom: 2px dotted #aba18f; 
}

.social-networks h3 {
    font-size: 21px;
    text-align: center;
    color: #7d6f60;    
    margin: 0 0 5px 0;
}

.social-networks .column ul {
    margin: 5px 5px 10px 5px;	
    list-style: none;
}

.social-networks .column li {
    margin: 0 0 5px 0;
}

.social-networks li img {
    vertical-align: middle;
}

#blog-post-info {
    margin: 0 0 30px 0;
    font-size: 12px;
    color: #7d6f60;
}

#blog-post-info  h3 {
    text-transform: uppercase;
/*     color: #96204B; */
    margin: 0 0 10px 0;
}

#blog-post-info  dt {
    font-weight: bold;
}

#blog-post-info  dd {
    margin: 0 0 10px 0;
}

#blog-archives-browser {
    margin: 0 0 30px 0;
	color: #383829;
	font-size: 13px;
	line-height: 18px;
}

#blog-archives-browser h3 {
/*     font-size: 18px; */
/*     color: #ece9f5; */
/*     text-transform: uppercase; */
    margin: 0 0 5px 0;
}

#blog-archives-browser ul {
    list-style: none;
    margin: 0 0 30px 0;
}

#blog-archives-browser li {
    margin: 0 0 5px 0;
}
