/* ============================================== */
/* ! Custom styles for text pulled from the CMS   */
/* ============================================== */


.cms {

}

.cms figure {
    margin: 20px 0;    
}

.cms figure img {
    display: block;
}

.cms figure.border img {
    border: 5px solid #aba18f;
}

.cms .floated  {
    float: left;
    margin-right: 10px;
}

.cms .floated img {
    display: block;
    border: 1px solid #aba18f;
}

.cms .floated.right  {
    float: right;
    margin: 0 0 0 10px;
}

.cms p, 
.cms dl, 
.cms ul, 
.cms ol,
.cms table {
	margin-bottom: 20px;
}


.cms h2 {
    margin: 40px 0 20px -20px;
    color: #4895a3;
}


.cms h2:first-child {	
    margin-top: 0;
}

.cms h3 {
    text-transform: none;
    font-size: 21px;
    color: #635443;
}

.cms li {
	margin: 0 0 10px 20px; 
	
	font: normal 12px/20px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;;
    color: #635443;	
}

.cms dl {
/* 	margin-left: 21px; */
}


.cms ul {
	list-style: outside circle url(../i/bullet.png);
}


.cms ol {
	list-style: outside decimal;
}

.cms dd {
	margin-bottom: 20px;	
}



.cms blockquote {
	margin: 10px 20px 10px 20px;	
    color: #635443;		
    
    font: normal 12px/20px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;;

}

.cms table {
	border-collapse: collapse;
    width: 810px;

    
    border-top: 5px solid #c4b9a5;	
        
    margin: 40px 0;
}


.cms table caption {

    font-style: italic;
	caption-side: bottom;
	
	margin: 20px 0 0 0;
	
    text-align: center;
    
    color: #635443;
    
}


.cms table th,
.cms table td {	

    border-bottom: 1px solid #c4b9a5;	
	padding: 5px 0 5px 0;
}


.cms table th {

	font-weight: bold;
    color: #4895A3;

/*     border-bottom-color: #7d6f60; */
    

    	
}

.cms table td {	

/*     border-bottom: 1px dotted #94946F; */
	
}


/* ========== */
/* ! toggle   */
/* ========== */

.cms dt.toggle {
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 0 0 0 15px;
    
    cursor: pointer;

    background: transparent url(../i/icon-arr-down.png) left center no-repeat;
}


.cms dt.toggle img {
    vertical-align: middle;
}

.cms dt.toggle+dd {
    font-size: 12px;

    color: #63584d;    
    margin: 10px 0 0 20px;
    
}



/* ============== */
/* ! highlights   */
/* ============== */


.cms .highlights {

    padding: 10px;
    border-top: 2px dotted #aba18f;
    border-bottom: 2px dotted #aba18f;
    
    margin: 20px 0;
        

    background: #fff;
}


.cms .highlights h3 {
    
    color: #4895a3;
    margin: 0 0 10px 0; 
    font-size: 21px;

    text-align: center;
}


.cms .highlights ul {
    margin-bottom: 0;
}

.cms .highlights li {

   	margin: 0 0 10px 20px;
   	
   	color: inherit;
}

/*
.copy .highlights ul {
    list-style: outside circle url(../i/bullet-arr.png);

}
*/


/* ================ */
/* ! preformatted   */
/* ================ */


.cms code {		
	font: normal 12px/16px Consolas, “Lucida Console”, Menlo, Monaco, monospace;	
}


.cms pre {
	display: block;
	margin: 20px 0;

    word-wrap: break-word;
    
    padding: 0 5px;
    
    border-top: 2px dotted #aba18f;
    border-bottom: 2px dotted #aba18f;
        
    width: 810px;
    background: #fff;
    
/*     overflow-x: scroll; */
}


/*
.cms hr {
  visibility: visible;  
}
*/



/* ========= */
/* ! aside   */
/* ========= */


aside .cms {
    color: #635443;	
    
	font-size: 12px;

}

aside .cms h4 {
    color: #4895a3;
    margin: 0 0 10px 0; 
    font-size: 21px;

}

aside .cms li {
/*     margin-left: 0; */

}

aside .cms ul {
	list-style: outside circle url(../i/bullet-aside.png);
}


/* ================== */
/* ! call-to-action   */
/* ================== */


/*
.cms .call-to-action  {

    margin: 20px 0;
    
    text-align: center;
}

.cms .call-to-action a {

    font: bold 16px/20px "Museo", "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

    border: none;
	background: #222d4d;
	color: #9DCC4F;
	
	padding: 5px 10px;	
	
    text-align: center;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
}

.cms .call-to-action a:hover {
    color: #fff;
}
*/



/* ============== */
/* ! where page   */
/* ============== */


.cms .hotels th {
/*     border: none; */
}

.cms .hotels tr.affiliated {
/*     color: #96204B; */
}


/*
.cms .hotels tr.affiliated a:link,
.cms .hotels tr.affiliated a:visited {

}
*/

.cms .hotels tr.info td {

    border-top: 3px solid #c4b9a5;
    padding: 10px 10px 10px 0;
}

.cms .hotels tr.info td h4 {
		
    font-size: 21px;			
	margin: 0 0 5px 0;
/* 	text-transform: none; */
}

.cms .hotels tr.affiliated h4 {
    color: #96204B;
}


.cms .hotels tr.note td {
/*     font-style: italic; */
    color: #63584d;
    
    padding: 5px 10px 5px 20px;
    border-top: 1px dotted #94946F;
}


.cms .hotels tr.note td p.last-contact {
    margin-bottom: 0;
}


.cms .place {
}

.cms .place h1 {
    background: none;
    margin: 0 0 10px 0;
    padding: 0;
/* 	font: bold 16px/20px Constantia, Georgia, "Lucida Bright", "Bitstream Vera Serif", serif; */
    text-shadow: none;
}

.cms .place table {
    background: #fff;
    border: none;
    margin: 0;
    width: auto;
}

.cms .place th, 
.cms .place td {
    font-size: 13px;
    padding: 3px 0 3px 0;
}

.cms .place th  {
    border-bottom: 1px dotted #94946F;
    text-transform: capitalize;    
    padding-right: 10px;    
}






/* ============ */
/* ! deadline   */
/* ============ */


.cms section.cal {
    background: transparent;
}

.cms section.cal h3 {
}

.cms section.cal p {
    margin: 0;
}



.cms section.cal div.deadline div {
    width: auto;
}

.cms section.cal div.deadline {
    width: 100%;
    margin-bottom: 20px;
}




/* ========== */
/* ! extras   */
/* ========== */



.cfp-page .badge {
    margin: 0 0 40px 0;
}

