body {
    background-color: white !important;
    background-image: none !important;
}
footer {
    display: none;
}

.container {
    margin: 0;
}

nav {
    display: none;
}

.badge {
    display: none !important;
}

#habla_window_div {
    display: none !important;
}

.countdown {
    display: none;
}

div.schedule {
    page-break-inside: avoid;
    page-break-after: always;
}

.schedule-date {
    display: block !important;
}

.schedule-date span {
    display: inline !important;
}

.schedule-wrapper .csm h2 {
    display: none !important;
}

.sponsors {
    display: none;
}

a {
    border: 0;
    text-decoration: none;
}

.cms h1, .page h1 {
    margin: 0 0 10px 0;
}

.cms h2 {
    margin: 10px 0;
}
