table.schedule {
	border-collapse: collapse;
	width: 100%;
    margin: 0 0 40px 0;
    border: 10px solid #fff;
    background: #fff;
    
}

table.schedule caption {
	text-align: left;	
    text-transform: capitalize;
	caption-side: top;
	font: normal 21px/30px "League Gothic", "Arial Narrow", sans-serif;		
	margin: 0 0 20px 0;
    color: #4895a3;
}

.schedule th.hhmm {
	font: normal 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;				
	padding: 5px 20px 5px 0;	
    border-bottom: 2px solid #7d6f60;	    	
    color: #7d6f60;
}

.schedule th.hhmm span {
    font-size: 14px;    
    color: #301d1d;
}

.schedule td {
	padding: 5px 10px 20px 0;		
    color: #7d6f60;    
    min-width: 50px;        
    border-bottom: 1px solid #7d6f60;	    	
}


/* ============== */
/* ! Talk title   */
/* ============== */

.schedule h3 {
	font: normal 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;			
	margin: 0 0 5px 0;
	text-transform: none;		
}
/*

.schedule h3 a {

}

.schedule h3 a:hover {

}
*/

/* =================== */
/* ! Talk speaker(s)   */
/* =================== */

.schedule .s a {
	color: #5e5c32;
    border-bottom-color:#9BABAB;	
}

.schedule td.track {
/*     vertical-align: middle; */
}

/* cont'd */
.schedule td .c  {
/*     color: #9dcc4f; */
}


/*

.schedule td.t-special, 
.schedule td.t-break {

    border-top: 3px solid #679191;
    
    vertical-align: middle;
    text-align: center;

    text-transform: uppercase;

    letter-spacing: 2px;
    
    color: #435e5e;
        
	padding: 0;
	    
}
*/

.schedule .sponsored-talk {
    text-transform: uppercase;
    
    font-size: 12px;
    
    margin: 5px 0 0 0;
}



