table.schedule {
	border-collapse: collapse;
	width: 100%;
    margin: 0 0 40px 0;
    border: 10px solid #fff;
    background: #fff;
    
}

table.schedule caption {
	text-align: left;	
    text-transform: capitalize;
	caption-side: top;
	font: normal 21px/30px "League Gothic", "Arial Narrow", sans-serif;		
	margin: 0 0 20px 0;
    color: #4895a3;
}

.schedule th.hhmm {
	font: normal 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;				
	padding: 5px 15px 5px 5px;	
    border-bottom: 2px solid #7d6f60;	    	
    color: #7d6f60;
}

.schedule th.hhmm span {
    font-size: 14px;    
    color: #301d1d;
}

.schedule td {
	padding: 5px 15px 20px 5px;		
    color: #7d6f60;    
    min-width: 50px;        
    border-bottom: 1px solid #7d6f60;	    	
    
    /* for star/unstar div */
/*     position: relative; */
}

.schedule td:nth-child(even) {
    background: #fcfad9;
}

.schedule td.highlighted {
    background: #d7f5fa;
}
.schedule td.shadowed {
    opacity: .7;
    background: #999;
}

.schedule .star {
/*     position: absolute; */
    right: 2px;
    bottom: 2px;
    cursor: pointer;
}

/* ============== */
/* ! Talk title   */
/* ============== */

.schedule h3 {
	font: normal 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;			
	margin: 0 0 5px 0;
	text-transform: none;		
}

.schedule td a {
    border-bottom-style: none;    
    /* IE<8 */
    *border-bottom-style: solid;
}

.schedule td:hover a {
    border-bottom-style: solid;
}



/* =================== */
/* ! Talk speaker(s)   */
/* =================== */

.schedule .s a {
	color: #5e5c32;
    border-bottom-color: #7d6f60;
}

.schedule td.track {
    padding-left: 0;
    color: #301d1d;
}

/* cont'd */
.schedule td .c  {
}



.schedule td.t-special, 
.schedule td.t-break {

    vertical-align: middle;
    text-align: center;
    color: #301d1d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
	padding: 0;    
    background: transparent url(../i/empty-track.png) bottom left;		    

}

.schedule td.t-special > div, 
.schedule td.t-break > div {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}



.schedule .sponsored-talk {
/*     text-transform: uppercase;     */
    font-size: 12px;    
    margin: 10px 0 0 0;
    color: #301d1d;
}

#schedule-navigator {
    position: fixed;
    left: 10px;
    top: 33%;
    height: 520px;
    background: white;
    padding: 0;
    border: 1px solid #7D6F60;
    z-index: 2000;
}
#schedule-navigator .opener {
    float: right;
    width: 20px;
    height: 100%;
    cursor: pointer;
}
#schedule-navigator .opener.closed {
    background: transparent url(../i/schedule-navigator-open.png) no-repeat center center;
}
#schedule-navigator .opener.opened {
    background: transparent url(../i/schedule-navigator-close.png) no-repeat center center;
}
#schedule-navigator .content {
    padding: 10px;
    float: right;
    display: none;
}
#schedule-navigator .content .wrapper {
    width: 184px;
}

#schedule-navigator .show-flags label {
    cursor: pointer;
    padding-left: 16px;
}

#schedule-navigator .show-flags label.active {
    background: transparent url(../i/checkbox_yes.png) no-repeat left center;
}

#schedule-navigator .show-flags label.inactive {
    background: transparent url(../i/checkbox_no.png) no-repeat left center;
}

/*
 *
 */
div.schedule {
	position: relative;
    margin: 0 0 40px 0;
    border: 10px solid #fff;
    background: #fff;
    font-size: 0.85em;
}

div.schedule .cell {
    position: absolute;
    border-bottom: 1px solid #7D6F60;
    color: #7D6F60;
    height: 60px;
    width: 70px;
    padding: 0;
}

div.schedule .hhmm {
	font: normal 13px/20px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;				
    color: #7d6f60;
}

div.schedule .hhmm span {
    font-size: 14px;    
    color: #301d1d;
    margin-left: -25px;
}

div.schedule .event {
    background: #FCFAD9;
    z-index: 100;
    font-variant: small-caps;
}

div.schedule .event.empty {
    background: white;
}

div.schedule .event .wrapper{
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 4px;
    overflow: hidden;
}

div.schedule .event .talk-level {
    float: left;
    height: 20px;
    width: 5px;
    margin: 20px 8px 0 0;
    background: transparent;
}
ul.schedule .event .talk-level {
    display: inline-block;
    height: 20px;
    width: 10px;
    margin: 0 4px;
    background: transparent;
}
.schedule .event .talk-level.beginner {
    background: #c9f76f;
}
.schedule .event .talk-level.intermediate {
    background: #679b00;
}
.schedule .event .talk-level.advanced {
    background: #a68000;
}
div.schedule .custom-event {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #4895A3;
}
div.schedule .t-special, 
div.schedule .t-break {
    vertical-align: middle;
    text-align: center;
	padding: 0;    
    background: transparent url(../i/empty-track.png) bottom left;		    
    z-index: 1;
}
div.schedule .t-special .custom-event,
div.schedule .t-break .custom-event {
    color: #301d1d;
}

div.schedule .t-special .wrapper,
div.schedule .t-break .wrapper {
     position: absolute;
     top: 0;
     bottom: 0;
    -webkit-transform: rotate(-90deg) translate(0, 45%);
    -moz-transform: rotate(-90deg) translate(0, 45%);
    -o-transform: rotate(-90deg) translate(0, 45%);
    -ms-transform: rotate(-90deg) translate(0, 45%);
}

div.schedule .t-teaser .wrapper {
    background: transparent url(../i/icon-teaser.png) no-repeat top left;
}

div.schedule h3 {
	font: normal 13px/15px  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;			
	margin: 0 0 2px 0;
	text-transform: none;		
}

div.schedule a {
    border-bottom-style: none;    
    /* IE<8 */
    *border-bottom-style: solid;
}

div.schedule .cell a:hover {
    border-bottom-style: solid;
}

div.schedule .tools {
    position: absolute;
    right: 0;
    bottom: 0;
}

div.schedule .tools > div {
    display: inline-block;
}

div.schedule .tools button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    width: 16px;
    height: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

div.schedule .event.highlighted {
    background: #d7f5fa;
}

div.schedule .event.shadowed {
    opacity: .7;
    background: #999;
}

div.schedule .event.search-result-ko {
    opacity: 1;
}

div.schedule .event.search-result-ko .wrapper {
    background: #bbb;
}

div.schedule .event.search-result-ok {
    -webkit-box-shadow: inset 0px 0 20px 0px rgba(255, 128, 0, 1)
}

.schedule-wrapper {
    padding-bottom: 40px;
    margin-bottom: 40px;
    background: transparent url(../i/hr.png) bottom center repeat-x;
}

.schedule-wrapper h1 {
    margin-bottom: 10px;
    text-align: center;
    font: normal 46px/50px "League Gothic", "Arial Narrow", sans-serif;
}

div.schedule .track {
    padding-left: 0;
}

div.schedule .track span {
    font-weight: bold;
}

.schedule-date span {
    display: none;
}

.schedule-date.afternoon {
    display: none;
}

.schedule div[data-track=training1] {
    /*border-top: 2px solid #7D6F60;*/
}

.schedule .event[data-track=training1], .schedule .event[data-track=training2], .schedule .event[data-track=trackx]{
    background: url(../i/training.png) center center repeat-x;
}

#schedule > .page > .container {
    margin-left: 60px;
}

div.schedule .event:hover .tools .talk-interest {
    display: inline-block;
}

div.schedule .tools > div.talk-interest {
    display: none;
}
.talk-interest button {
    padding-left: 18px;
}
.talk-interest button.up {
    background: transparent url(../i/icon-thumb-up.png) no-repeat left center;
}
.talk-interest button.up.active {
    background: transparent url(../i/icon-thumb-up-lit.png) no-repeat left center;
}
.talk-interest button.down {
    background: transparent url(../i/icon-thumb-down.png) no-repeat left center;
}
.talk-interest button.down.active {
    background: transparent url(../i/icon-thumb-down-lit.png) no-repeat left center;
}

.schedule-help {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

div.schedule-list {
    background: #E1DBC5;
    border: 10px solid #E1DBC5;
    margin: 0 0 20px 0;
    font-size: 1.3em;
    text-align: center;
}
.schedule-list  li {
    margin: 0 0 10px 0;
}
