{% extends "ep19/bs/base.html" %}

{% load crispy_forms_tags static %}


{% block content %}
<div class="container page" id="cfp_page">
    <div class="row">
        <div class="col-md-12">
            <h1>Update the presenter's profile</h1>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-6">
            <form method='POST' action='.' class='form'>
                {% csrf_token %}
                {{ speaker_edit_form|crispy }}

                <button class="btn btn-success btn-lg btn-block">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
