<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function() {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                "background": "#edeff5",
                "text": "#838391"
                },
                "button": {
                "background": "#4b81e8"
                }
            },
            "theme": "edgeless",
            "content": {
                "message": "We kindly ask you for your consent to use your data subject to our privacy policy.",
                "dismiss": "I agree",
                "link": "Read more",
                "href": "/privacy/"
            }
        });
    });
</script>
