<table class="hotels">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Posti liberi</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
    {% for h in hotels %}
        <tr class="info">
            <td>
                {% if h.url %}
                <a href="{{ h.url }}">{{ h.name }}</a>
                {% else %}
                {{ h.name }}
                {% endif %}
                {% if h.telephone %}
                <div>{{ h.telephone }}</div>
                {% endif %}
                {% if h.email %}
                <div><a href="mailto:{{ h.email }}">{{ h.email }}</a></div>
                {% endif %}
            </td>
            <td>{{ h.availability }}</td>
            <td>{{ h.price }}</td>
        </tr>
        <tr class="note">
            <td colspan="3">
                {% if h.affiliated %}
                <p class="affiliated">
                    Hotel convenzionato.<br />
                    Specificare <strong>associazione Python Italia APS conferenza 08/05/09</strong>
                </p>
                {% endif %}
                {{ h.note|safe }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
