{% load p3 assopy_tags i18n %}
{% p3_profile_data request.user.id as profile %}
{% get_form "P3ProfileSpamControlForm" bound=profile as pform %}
<div id="account-spam-control-async-target" class="never form-box">
    <form action="{% url p3-account-spam-control %}" class="async" method="POST" rel="#account-spam-control-async-target">
        <h2>Privacy settings<span class="notice-ok async-feedback"> Saved</span></h2>
        <p>We respect your privacy. We <b>never share your personal data</b> with anyone. Have a look at our <a href="/privacy-policy">privacy policy</a> for further information.</p>
        <p>This page contains additional privacy settings for advanced opt-in features.</p>

        <fieldset>
            <legend>Recruiting</legend>

            {{ pform.spam_recruiting|field:"autosubmit" }}

            <div class="hint">
                <ul>
                    <li>Your email address will <b>never</b> be shared with any of our recruiting sponsor. We send the emails.</li>
                    <li>You will receive max 10 job offers; all emails will be sent between June 15th and July 15th.</li>
                </ul>
            </div>
        </fieldset>
        <fieldset>
            <legend>User messages</legend>
                            
               <p>After you buy a ticket and activate your <a href="{% conference-profile slug=profile.slug %}">public profile</a>,
                  other participants will be able to <a href="/find-whos-coming">find out</a> that you are coming to the conference.
                  Do you want them to be able to contact you through our website?</p>

                {{ pform.spam_user_message|field:"autosubmit" }}
        
                <div class="hint">
                    <ul>
                        <li>Your email address will <b>never</b> be shared with other participants.</li>
                        <li>We will send you one mail notifying you of the received message.</li>
                        <li>User messages will be active until the conference ends.</li>
                    </ul>
                </div>
        </fieldset>

        <fieldset>
            <legend>SMS message</legend>
            <!-- @@TODO Check se è phone number è vuoto? -->
            <p>You have to insert your phone number in the “Personal data” section to activate this service.</p>

            {{ pform.spam_sms|field:"autosubmit" }}

            <div class="hint">
                <ul>
                    <li>Setting the phone number automatically gives to the EuroPython team the right to text you about important conference announcements (like last minute issues with the location, trains, public transports, etc.</li>
                    <li>Your phone number will never be shared with other people.</li>
                    <li>To send a SMS will be used a form in your profile page.</li>
                    <li>SMS messages will be active only for the time span of the conference.</li>
                </ul>
            </div>
        </fieldset>
    </form>
</div>


