{% extends "assopy/base.html" %}
{% load assopy_tags i18n p3 %}

{% block ASSOPY_MAIN_CONTENT %}
<div class="span-12">
    {% p3_profile_data request.user.id as profile %}
    <div class="auto-tabs">
        <ul>
            <li><a href="#account-personal-data">Personal data</a></li>
            <li><a href="#account-email-contact">Email contact</a></li>
            <li><a href="#account-spam-control">Privacy settings</a></li>
            <li><a href="#account-login-options">Login options</a></li>
            <li><a href="#account-orders">Orders, invoices &amp; coupons</a></li>
        </ul>
        <section id="account-personal-data">
            {% include "assopy/profile_personal_data.html" %}
        </section>
        <section class="profile-user-email" id="account-email-contact">
            {% include "assopy/profile_email_contact.html" %}
        </section>
        <section class="profile-spam-control" id="account-spam-control">
            {% include "assopy/profile_spam_control.html" %}
        </section>
        <div id="account-login-options">
            <section class="profile-user-data web-accounts clearfix">
                <h4>{% trans "Web accounts for log in" %}</h4>
                <div class="span-6">

                    <ul id="web-accounts">
                        {% for i in user.identities.all %}
                        <li class="clearfix" data-identifier="{{ i.identifier }}"><span class="show-tooltip" title="{{ i.identifier }}">{% if i.provider == "Other" %}OpenID{% else %}{{ i.provider }}{% endif %}</span>&nbsp;<img class="clickable delete" src="{{ STATIC_URL }}assopy/i/icon-delete.png" title="{% trans "Remove account" %}" /></li>
                        {% endfor %}
                    </ul>
                    <form id="remove-identity" action="{% url assopy-profile-identities %}" method="post">
                        <input type="hidden" name="identifier" value="" />
                    </form>
                    <script type="text/javascript">
                        $('#web-accounts img.delete').click(function(e) {
                            if(!confirm('Are you sure?')) {
                                return;
                            }
                            var parent = $(e.target).parents('li');
                            var id = parent.attr('data-identifier');
                            var form = $('form#remove-identity');
                            $('input[name=identifier]', form).val(id);
                            form.ajaxSubmit({
                                success: function() {
                                    feedback('{% trans "Web access removed" %}');
                                    parent.remove();
                                },
                                error: function(xhr, status, error) {
                                    alert('{% trans "Cannot remove the requested account, please contact info@pycon.it for assistance" %}');
                                }
                            });
                        });
                    </script>
                    <div class="button mini">
                        {% url assopy-profile as u %}
                        {% render_janrain_box u "overlay" %}
                    </div>
                </div>
                <div class="span-5 last">You can connect more web accounts to your EuroPython profile, so that you can use any of them for logging in
                         (without having to remember which one you used to create the account).</div>
            </section>
        </div>
        <div id="account-orders">
            {% with request.user.assopy_user|user_coupons as coupons %}
                {% if coupons.valid|length or coupons.invalid|length%}
                <section class="profile-user-data coupons">
                    <h4>{% trans "Your discount coupons" %}</h4>                        
                    <ul>
                    {% for c in coupons.valid %}                        
                        <li class="coupon valid">
                            <p><b>Code: {{ c.code }}</b><br />{{ c.description }}</p>
                        </li>
                    {% endfor %}                                                
                    {% for c in coupons.invalid %}
                        <li class="coupon invalid">
                            <p><b>Code: {{ c.code }}</b><br />{{ c.description }}</p>
                        </li>
                    {% endfor %}                        
                    </ul>
                </section>
                {% endif %}
            {% endwith %}

            {% with request.user.assopy_user.orders as orders %}
            <section class="profile-user-data tickets cms">
                <h4>{% trans "Your orders" %}</h4>
                <table style="width: 720px">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Date</th>
                            <th>Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in orders.all %}
                        <tr>
                            <td>{{ o.code }}</td>
                            <td>{{ o.created|date:"d M Y" }}</td>
                            <td>
                                {% with o.invoices.all as invoices %}
                                {% if not invoices %}
                                N/A
                                {% else %}
                                {% for i in invoices %}
                                <a href="{% url assopy-invoice-pdf assopy_id=i.assopy_id %}">{{ i.code }}</a>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endwith %}
        </div>
    </div>
</div>
<hr />
<div class="clearfix">

    <h2>Other personal pages</h2>            

    <div class="span-4">
        <section>
            <div class="button">
                <a href="{% url conference-profile slug=profile.slug %}"> Your public profile &rarr; </a>
            </div>
            <div style="margin-top: 15px; margin-bottom: 15px; font-size: smaller;">Partecipate in 
                  "<a href="/find-out-whos-coming">Find out who's coming</a>": let
                  people know that you will be coming to EuroPython.
            </div>
        </section>
    </div>


    <div class="span-4 last">
        <section>
                    {% with request.user.assopy_user.tickets as tickets %}
                        {% if tickets|length or 1 %}
                            <div class="button">
                                <a href="{% url assopy-tickets %}">{% trans "Your tickets" %} ({{tickets|length}}) &rarr; </a>
                            </div>
                        {% endif %}
                    {% endwith %}

            <div style="margin-top: 15px; margin-bottom: 15px; font-size: smaller;">Fill in and review all your tickets.
            </div>

        </section>
    </div>
    
    <hr/>


 {% comment %}
            <div class="profile-user-utility-links">
                <ul>
                    {% with request.user.assopy_user.tickets as tickets %}
                        {% if tickets|length %}
                            <li class="tickets">
                                <a href="{% url assopy-tickets %}">{% trans "Your tickets" %}</a> ({{tickets|length}})
                            </li>
                        {% endif %}
                    {% endwith %}

                    <li class="schedule">
                        <a href="{% url p3-my-schedule %}">Your personal schedule</a>
                    </li>
                </ul>
            </div>
 {% endcomment %}


</div>
{% endblock %}











