{% extends "p3/base.html" %}
{% load pages_tags markup p3 conference %}

{% block MAIN_CONTENT %}
<h1>Accedi al sito...</h1>

<div class="{% block PAGE__CLASS_MAIN_COLUMN %}span-7 append-1{% endblock %}">
    <form method="POST" >
        {% csrf_token %}
        <div >
            <label for="id_username" >Utente: </label>
            <input size="20" autocomplete="off" id="id_username" name="username" type="text">
        </div>
        <div >
            <label for="id_password" >Password: </label>
            <div >
                <input size="20" autocomplete="off" id="id_password" name="password" type="password">
            </div>
            <div class="x-form-clear-left">
            </div>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />

        <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="Accedi">
        </div>

    </form>


    {% if form.errors %}
    <p class="errornote">
        <br><b>Nome utente e/o password non corretti.</b> Riprova per favore.<br>
    </p>
    {% endif %}
</div>

{% endblock %}

