{% extends "assopy/base.html" %}
{% load assopy_tags i18n %}

{% block ASSOPY_MAIN_CONTENT %}
<section>
    <div class="grid-container">
    <div class="grid-100">
        <h1>{% trans "Password reset successful" %}</h1>
        <div class="page-summary">
            <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
        </div>
    </div><!--/grid -->
</div><!-- /grid-container -->
</section>
{% endblock %}
