{% extends "assopy/base.html" %}
{% load assopy_tags i18n %}

{% block ASSOPY_MAIN_CONTENT %}
<section>
    <div class="grid-container">
    <div class="grid-100">
        <h1>{% trans "Reset your password" %}</h1>
    </div><!-- /grid -->

    <div class="grid-50">
        <p class="lead">{% trans "Forgotten your password? Enter your email address, and we'll send instructions for setting a new one." %}</p>
    </div><!-- /grid -->

    <div class="grid-50">
        <form class="well" action="" method="post">
        <fieldset>
            {{ form.email|field }}
            <button class="btn btn-primary" type="submit">{% trans "Send new password" %}</button>
        </fieldset>
        {% csrf_token %}
        </form>
    </div><!-- /grid -->
    </div><!-- /grid-container -->
</section>
{% endblock %}
