{% extends "admin/change_form.html" %}
{% block object-tools %}
    <ul class="object-tools">
        <li>
            <a class="historylink" href="history/">History</a>
        </li>
        <li>
            <a class="" href="{% url 'admin:assopy-invoice-regenerate' invoice_id=original.id %}">Regenerate invoice</a>
        </li>
        <li>
            <a class="" href="{% url 'admin:assopy-invoice-preview' invoice_id=original.id %}">Preview</a>
        </li>
        <li>
            <a class="" href="{% url 'admin:assopy-invoice-associated-order' invoice_id=original.id %}">Order</a>
        </li>
    </ul>
{% endblock %}
