// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

// This can cause issues with Chrome Dev Tools on both stable and Canary (tested on v29 and v31).
// For more, see https://code.google.com/p/chromium/issues/detail?id=232102
// Therefore, you may wish to comment out this declaration for now.
@viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background: $bodycolor;
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: $lightestneutralcolor;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    @include zero;
    width: 100%;
    background-color: transparent;
    font-family: $basefontfamily;
    @include font-size($basefontsize);
    line-height: $baselineheight;
    color: $textcolor;
}

@if $show-breakpoint {
    body:after {
        content: 'base';
        position: fixed;
        left: $gutterwidth;
        bottom: $baselineheight;
        color: green;
        z-index: 1;

        @include media-query-bp($bp2) {
            content: 'bp2';
        }

        @include media-query-bp($bp3) {
            content: 'bp3';
        }

        @include media-query-bp($bp4) {
            content: 'bp4';
        }

        @include media-query-bp($bp5) {
            content: 'bp5';
        }

        @include media-query-bp($bp6) {
            content: 'bp6';
        }

    }

    body:before {
        content: '';
        position: fixed;
        left: $gutterwidth;
        bottom: $baselineheight * 2;
        color: blue;
        z-index: 1;

        @include media-query-bp($bpmobilemax, max) {
            content: 'mobile';
        }

        @include media-query-bp($bpdesktopmin) {
            content: 'desktop';
        }

    }
}

.m-hide {
    @include hidden;
}

[role="contentinfo"] {
    color: $lightestneutralcolor;
    padding: 0;

    ul {
        @include zero;
        list-style: none;
    }
    a {
        color: $navigationlinkcolor;
        &:hover {
            color: $navigationlinkcolorhover;
        }
        &:visited {
            color: $navigationlinkcolor;
        }
    }
}

.bg-red {
    background-color: $primarycolor;
    color: $white;
}

.bg-grey {
    background-color: $secondarycolor;
    color: $white;
}

.deadlines {
    padding: 1em 0;
    @extend .bg-grey;
}

.deadline-homepage, .deadline-button {
    display: inline-block;
    padding-left: 10px;
    i {
        padding-left: 10px;
    }
}

.calendar-icon {
    display: inline-block;    
}

.media-body {
    text-align: center;
    h3 { 
        padding-top: 5px; 
    }
}

.learn-with-pycon {
    background-image: url("../images/bg-learn-with-pycon.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    a:hover {
        text-decoration: none;
    }
    p {
        text-align: center;
        color: $secondarycolor;
    }
    h2 {
        margin: 0 0 0.5em 0;
    }
    h4 {
        color: $secondarycolor;
        font-weight: 600;
        @include font-size(32);
        margin-bottom: 0;
    }
}

.learn-icon {
    background-color: $white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid $primarycolor;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 21px;
}

footer {
    .bg-red {
        padding: 70px;
        text-align: center;
        a {
            display: inline-block;
        }
        img {
            height: 32px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .bg-grey {
        padding: 15px 0;
        .footer-menu {
            text-transform: uppercase;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 10px;
                margin-left: 10px;
                a {
                    text-decoration: none;
                    color: white;
                    &:visited {
                        color: white;
                    }
                    &:hover {
                        color: #EEE;
                    }
                }
            }
        }
    }
    .copyright {
        background-color: #CCC;
        color: $secondarycolor;
        padding: 15px 0;
        text-transform: uppercase;
        text-align: center;
        p {
            @include font-size(10);
            letter-spacing: 1px;
            margin: 0;
        }
        a {
            font-weight: 800;
            text-decoration: none;
        }
    }
    table {
        margin: 0 auto;
    }
}

#navigation-toggle {
    border-bottom: 5px solid $primarycolor;
}

header {
    background-image: url("../images/bg-learn-with-pycon.jpg");
    background-size: cover;
}

.quote-section {
    background: #555;
    color: white;
    q {
        @include font-size(30);
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: block;
        &:before {
            background-image: url("../images/quote.png");
            content: "";
            display: inline-block;
            background-repeat: no-repeat;
            width: 50px;
            height: 32px;
            margin-left: -50px;
            position: relative;
            top: 0;
        }
    }
    p {
        @include font-size(22);
        color: #C4C4C4;
    }
    .quote-image img {
        border-radius: 50%;
        border: 5px solid white;
    }
}

.notice-homepage {
    margin-top: 3em;
}

.media-heading {
    @include font-size(20);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
}

.sponsor {
    img {
        @include grayscale();

        &:hover {
            @include originalcolors();
            @include transition(all 80ms linear);
        }
    }
}

.join-us {
    background-color: #888;
    .help-text {
        color: white;
        h3 {
            text-transform: uppercase;
            margin: 0 0 0.2em 0;
        }
    }
}

.subcommunities {
    background-color: #FAFAFA;
    h3 {
        text-align: center;
        width: 80%;
        display: block;
        margin: 0 auto 0.5em auto;
    }
    .subcommunity-container {
        @extend .learn-icon;
        padding: 15px;
        width: 100%;
        height: auto;
        border: 5px solid #EEE;
        &:hover {
            @include transition(all 80ms linear);
            background-color: #EEE;
        }
    }
}

.notice {
    padding-top: 20px;
    h3.media-heading {
        @include font-size(28);
        padding-bottom: 0;
    }
}

.blog-container {
    h2 {
        margin: 0 0 0.5em 0;
    }
}

// Profile section

.profile-name, .profile-details, .profile-talk {
    padding-bottom: 1em;
}

.profile-details, .profile-talk {
    padding-top: 1em;
}

.profile-details {
    .details-container {
        background-color: #EEE;
        @include border-radius(20px);
        padding: 20px 20px;
        dt {
            width: 40%;
        }
        dd {
            margin-left: 40%;
        }
        .form-actions {
            padding-left: 40%;
            margin-top: 0.5em;
        }
        .avatar {
            margin: 0 auto;
        }
        .trigger-overlay {
            display: block;
            text-align: center;
        }
        .dl-horizontal {
            margin-bottom: 0.4em;
        }
    }
}

.profile-details {
    .details-container {
        h2 {
            margin-top: 0;
        }
        dt {
            width: 15%;
        }
        dd {
            margin-left: 15%;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
            }
        }

    }
}

.talk-form {
    section {
        padding-bottom: 0;
    }
}

.btn {
    text-transform: uppercase;
}