@charset "UTF-8";
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

// Media query support required?
$media-queries-supported : false;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Show current device (blue) and logical (green) breakpoints on the bottom
$show-breakpoint         : false;

// Import all SASS imports
@import 'imports';

// Import specific Unsemantic grid rules for IE <= 8
@import 'partials/unsemantic-grid-ie';

// IE override styles can be defined here (use classes applied to 
// the HTML element as per the conditional comments to surround 
// your selectors and target specific IE versions, such as ".lte-ie8")

.lte-ie8 {
    // Special code here
}