@charset "UTF-8";
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

// Media query support required?
$media-queries-supported : true;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS imports
@import 'imports';


footer {
    background: $navigationbackgroundcolor;    
    hr {
        border-color: $primarycolor;
    }
    p, li {
        @include font-size(16);
    }
}

section {
    padding: $baselineheight 0 $baselineheight 0;        
    p:last-child {
        margin-bottom: 0;
    }
}

// Zebra stripes
.page section:nth-child(odd) {
    background: $white;    
}

header {
    padding: $baselineheight * 2 0 $baselineheight 0;
    text-align: center;

    h1 {
        color: $secondarycolor;
        @include font-size($basefontsize * 3.5);
/*         line-height: 1.5; */
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
        span { 
            color: $primarycolor; }
    }
    
    .subhead {
        @extend h2;
        font-weight: 300;
        color: $neutralcolor; }    
}


// HOME ==============================================================================

.notice {
    // Icons
    .fa {
        color: $neutralcolor;
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: $baselineheight/2;

        span {
            color: $secondarycolor;
        }
    }   
}

.home-notice {
    // Special styles for notice on homepage
}

.badge {
    margin-top: $baselineheight * 2;
    text-align: center;
    a {
        border: 1px solid $lightneutralcolor;
        padding: $baselineheight/2 $gutterwidth/2;
        border-radius: $borderradius;
        text-transform: uppercase;  
        display: block;        
        width: 90%;
        margin: $baselineheight/4 auto;
        letter-spacing: 1px;
        &:hover {
            background: $white;  
        }
    }
    small { 
        color: $neutralcolor;
        margin-bottom: 0;
    }
    // Icons
    .fa {
        color: $neutralcolor;
    }
}

.badge-buy {
    // Special styles for buy badge
}

.badge-chat {
    // Special styles for chat badge
}

// CALENDAR ==========================================================================

.calendar {

    .deadline {
        
    }

    .deadline.expired {
        text-decoration: line-through;       
        color: $neutralcolor;        
    }

    time {
        background: $primarycolor;
        padding: 3px 6px;
        text-transform: uppercase;
        color: $white;
        @include font-size(14);
        border-radius: $borderradius;
    }    
}



// MISC. =============================================================================



.toggle, 
.tag-toggle {
    padding: 0 0 0 $gutterwidth/2;
    cursor: pointer;
    background: transparent url(../images/icon-arr-down.png) left center no-repeat;
}

.toggle.trigger-expanded {
    background-image: url(../images/icon-arr-up.png);
}

dt.toggle {
    font-weight: bold;
    margin: $baselineheight/2 0 0 0;
}

dt.toggle img {
    vertical-align: middle;
}

dt.toggle+dd {
    @include font-size(14);
    color: $neutralcolor;    
    margin: $baselineheight/2 0 0 $gutterwidth/2;    
}



.page-summary {
    p {
        @extend .lead;        
    }
}

// Aside (sidebar) custom typography 

aside {
    h4 {
        @extend .h5;                
        margin: $baselineheight / 2 0;    
    }
}

// Avatar class, used profile, talk pages and blog commenters
.avatar {    
    border: 2px solid $lightneutralcolor;
    display: block;    
    @extend .img-rounded;
}


