@charset "UTF-8";
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

// Media query support required?
$media-queries-supported : true;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS imports
@import 'imports';


// PYCON ==============================================================================

html {
    background-image: url(../images/texture-page.jpg);
    background-attachment: fixed;
}



footer {
/*     margin: $baselineheight * 2 0 0 0; */
    background: $navigationbackgroundcolor;    
    hr {
        border-color: $primarycolor;
    }
    p, li {
        @include font-size(16);
    }
}

section {
    padding: $baselineheight*2 0;        
}

// Zebra stripes
.page section:nth-child(odd) {
    background: $white; // Fallback for older browsers
    background: url('../images/texture-section-top.jpg') top center repeat-x, 
        url('../images/texture-section-bottom.jpg') bottom center repeat-x, 
        url('../images/texture-section-center.jpg') center center;    
}

// Covers the whole page (see content.html template)
.page section.full-page-height {
    background: $white url('../images/texture-section-top.jpg') top center repeat-x;   
}


header {
    padding: $baselineheight*2 0;
    text-align: center;

    h1 {
        color: $secondarycolor;
        @include font-size($basefontsize * 3.5);
/*         line-height: 1.5; */
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
        span { 
            color: $primarycolor; }
    }
    
    .subhead {
        @extend h3;
        font-weight: 300;
        color: $neutralcolor; }    
}

.page-summary {
    p {
        @extend .lead;        
    }
}

// Slot are used as sidebar items and profile pages

.slot {
    @extend .well;
    h4 {
        @extend .h6;              
        @extend .spaced;
        margin: 0 0 $baselineheight / 2 0;    
        text-transform: uppercase;
    }    
    ul, ol, p {
        @include font-size(16);
        line-height: $altlineheight;
    }

}

// HOME ==============================================================================

.intro .lead {
    color: $textcolor;
}

.notice {
    // Icons
    .fa {
        color: $neutralcolor;
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: $baselineheight/2;

        span {
            color: $secondarycolor;
        }
    }   
}

.home-notice {
    // Special styles for notice on homepage
}

.badge {
    margin-top: $baselineheight * 2;
    text-align: center;
    a {
        border: 1px solid $lightneutralcolor;
        padding: $baselineheight/2 $gutterwidth/2;
        background: $lighterneutralcolor;
        border-radius: $borderradius;
        text-transform: uppercase;  
        display: block;        
        width: 90%;
        margin: $baselineheight/4 auto;
        letter-spacing: 1px;
        &:hover {
            background: $white;  
        }
    }
    small { 
        color: $neutralcolor;
        margin-bottom: 0;
    }
    // Icons
    .fa {
        color: $neutralcolor;
    }
}

.badge-buy {
    // Special styles for buy badge
}

.badge-chat {
    // Special styles for chat badge
}

// CALENDAR ==========================================================================

.calendar {

    .deadline {
        
    }

    .deadline.expired {
        text-decoration: line-through;       
        color: $neutralcolor;        
    }

    time {
        background: $primarycolor;
        padding: 3px 6px;
        text-transform: uppercase;
        color: $white;
        @include font-size(14);
        border-radius: $borderradius;
    }    
}



// MISC. =============================================================================



.toggle, 
.tag-toggle {
    padding: 0 0 0 $gutterwidth/2;
    cursor: pointer;
    background: transparent url(../images/icon-arr-down.png) left center no-repeat;
}

.toggle.trigger-expanded {
    background-image: url(../images/icon-arr-up.png);
}

dt.toggle {
    font-weight: bold;
    margin: $baselineheight/2 0 0 0;
}

dt.toggle img {
    vertical-align: middle;
}

dt.toggle+dd {
    @include font-size(14);
    color: $neutralcolor;    
    margin: $baselineheight/2 0 0 $gutterwidth/2;    
}

// Notice which disappears after while
.async-feedback {
    display: none;
    position: fixed;
    top: $baselineheight;
    left: 50%;
    right: 0;
    width: 50%;
    margin-left: -25%; // Half the width
    text-align: center;
}




