name: CI Pipeline

on:
  push:
    branches:
    - master
    - dev/ep20*
    - ep20*
  pull_request:
    branches: 
    - dev/ep20*
    - ep20*

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Run pytest
      env:
        SECRET_KEY: mysecret
        STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
        STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
      run: |
        pytest -c pytest_ci.ini
