<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <!--  <title>{% block TITLE_BLOCK %}{% endblock %} &mdash; EuroPython 2011: Florence, June 23&ndash;26</title>--> 
    <title>Page title &mdash; EuroPython 2011</title>
    
    <link rel="icon" href="./static/i/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="./static/i/favicon.ico" type="image/vnd.microsoft.icon" />

    <link rel="stylesheet" href="./static/s/reset.css" type="text/css" media="all" />    
    <link rel="stylesheet" href="./static/s/grid.css" type="text/css" media="screen, projection" />    
    <link rel="stylesheet" href="./static/s/form.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./static/s/base.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./static/s/cms.css" type="text/css" media="screen, projection" />    
    <link rel="stylesheet" href="./static/s/blog.css" type="text/css" media="screen, projection" />    

<!--     <link rel="stylesheet" href="./static/s/mobile.css" type="text/css" media="screen, projection" />     -->
        
<!--[if lt IE 9]>
    <script src="./static/j/html5.js"></script>
    <link rel="stylesheet" href="./static/s/ie.css" type="text/css" media="screen, projection" />    
<![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<div class="please-upgrade">
        Il tuo browser non è supportato. Sei pregato di aggiornare <a href="http://www.microsoft.com/windows/internet-explorer/"><b>Internet Explorer</b></a> o <a href="http://browsehappy.com/"><b>scegliere un browser alternativo</b></a>.
</div>
<![endif]-->
<!-- {% block HEADER_BLOCK %} -->
<header>
    <nav  class="darker">
        <div class="container clearfix">                    

            <div class="span-8">
                <ul>
                    <li><a href="./index.html">Home</a></li>    
                    <li><a href="./conference.html">The Conference</a></li>                        
                    <li><a href="./where.html">Where</a></li>
                    <li class="current"><a href="./blog.html">Blog</a></li>    
                    <li><a href="./schedule.html">Schedule</a></li>                
                </ul>        
            </div>
    
            <div class="span-4 last">                        
                <div class="user">
                    Logged in as <b>Name Surname</b> &bull; <a href="#">Log out</a>
                </div>
            </div>
                   
        </div>        
    </nav>

    <div class="container clearfix">                    

        <div class="span-6">
            <div class="logo">
                <a title="EuroPython home" href="./index.html"><img src="./static/i/europython-logo.png" alt="EuroPython 2011" title="" width="330" height="110" /></a>
            </div>
        </div>   

        <div class="span-3">
            <div class="buy badge">
                <a href="#"><span>Buy Tickets</span>
                Starting from <b>99€</b></a>                    
            </div>
        </div>

        <div class="span-3 last">
            <div class="chat badge">
                <a href="#"><span>Get Support</span>
                Chat with organizers</a>         
            </div>
        </div>
        
    
    <!--     /container -->
    </div>


            
</header>   

<!-- {% endblock %}     -->


<!-- <div class="page {% block PAGE_CLASS %}{% endblock %}"> -->
<div class="page">
    <div class="container clearfix">

        
    <h1>
        
        Become a Codemotion Speaker
    </h1>


        <div class="column span-8">
            
    <div class="blog-post">
        
<rdf:rdf xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<rdf:description trackback:ping="http://www.euroython.eu/blog/2010/12/12/roma-call-for-paper-codemotion-2011/trackback" dc:title="Become a Codemotion Speaker" dc:identifier="http://www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011" rdf:about="http://www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011">
</rdf:description>



    <div class="page-summary">The Codemotion program will be defined by a public Call for Papers open to all. Proposals will be selected by representatives of official Italian communities for each different language as well as for software development. Have you got an interesting idea for a talk?
<a href="http://www.codemotion.it/en">www.codemotion.it</a></div>

    
        <div class="cms">
        

<p>
The Codemotion program will be defined by a public <a href="http://www.codemotion.it/en/call-for-paper">Call for Papers open to all</a>. Proposals will be selected by representatives of official Italian communities for each different language as well as for software development.
</p>
<p>
Participants looking for new career opportunities may submit their CVs to Codemotion sponsors at the event.
A fast-paced morning of technical talks followed by  two sessions of Ignite in the afternoon are on the day’s program.
A competition to award the best in innovative ideas developed by young university students from all over Italy is currently in the works. 
</p>


<h2>Have you got an interesting idea for a talk?</h2>

<p>
<a href="http://www.codemotion.it/en/call-for-paper">Read the guidelines and submit your proposal!</a>
Representatives of official Italian communities related to the languages and software development of Codemotion will be in charge of the selection process. The deadline is 18 January 2011 (11:59pm).
</p>
<p>
Codemotion will be held in Rome on 5 March 2011.
As always, this is a free event.
For information: <a href="http://www.codemotion.it/en">www.codemotion.it</a></p></div>
    

    <div class="social-networks clearfix">
    <h3>Condividi questo post</h3>

    <div class="column span-2">
        <ul>
            <li>
                <!-- delicious  -->
                <img width="16" height="16" alt="Delicious" src="./static/i/delicious-16x16.png">&nbsp;<a onclick="window.open(this.href, 'sharer');return false;" title="Delicious" href="http://del.icio.us/post?v=4&amp;noui&amp;jump=close&amp;url=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011&amp;title=Become%20a%20Codemotion%20Speaker">Delicious</a>
            </li>
            <li>
                <!-- reddit.com -->
                <img width="16" height="16" alt="Reddit" src="./static/i/reddit-16x16.png">&nbsp;<a title="Reddit" onclick="window.open(this.href, 'sharer');return false;" href="http://reddit.com/submit?url=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011&amp;title=Become%20a%20Codemotion%20Speaker">Reddit</a>
            </li>            
        </ul>
    </div>

    <div class="column span-2">
        <ul>
            <li>
                <!-- twitter -->
                <img width="16" height="16" alt="Twitter" src="./static/i/twitter-16x16.png">&nbsp;<a onclick="window.open(this.href,'sharer');return false;" title="Twitter" href="http://twitter.com/home?status=Become%20a%20Codemotion%20Speaker+http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011">Twitter</a>        
            </li>                    
            <li>
                <!-- friendfeed -->
                <img width="16" height="16" alt="Friendfeed" src="./static/i/friendfeed-16x16.png">&nbsp;<a onclick="window.open(this.href,'sharer');return false;" title="Facebook" href="http://www.friendfeed.com/share?title=Become%20a%20Codemotion%20Speaker&amp;link=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011">Friendfeed</a>        
            </li>            
        </ul>
    </div>

    <div class="column span-2">
        <ul>
            <li>
                <!-- facebook -->
                <img width="16" height="16" alt="Facebook" src="./static/i/facebook-16x16.png">&nbsp;<a onclick="window.open(this.href,'sharer');return false;" title="Facebook" href="http://www.facebook.com/share.php?u=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011">Facebook</a>        
            </li>
            <li>
                <!-- stumbleupon -->
                <img width="16" height="16" alt="StumbleUpon" src="./static/i/stumbleupon-16x16.png">&nbsp;<a onclick="window.open(this.href,'sharer');return false;" title="StumbleUpon" href="http://www.stumbleupon.com/submit?url=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011&amp;title=Become%20a%20Codemotion%20Speaker">StumbleUpon</a>        
            </li>
        </ul>
    </div>

    <div class="column span-2 last">
        <ul>
            <li>
                <!-- digg.com -->
                <img width="16" height="16" alt="digg" src="./static/i/digg-this-16x16.png">&nbsp;<a title="digg" onclick="window.open(this.href, 'sharer');return false;" href="http://digg.com/submit?phase=2&amp;url=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011&amp;title=Become%20a%20Codemotion%20Speaker">Digg this</a>
            </li>        
            <li>
                <!-- newsvine -->
                <img width="16" height="16" alt="Newsvine" src="./static/i/newsvine-16x16.png">&nbsp;<a title="Newsvine" onclick="window.open(this.href, 'sharer');return false;" href="http://www.newsvine.com/_tools/seed&amp;save?u=http%3A//www.euroython.eu/blog/2010/12/12/rome-call-for-paper-codemotion-2011&amp;h=Become%20a%20Codemotion%20Speaker">Newsvine</a>            
            </li>
        </ul>
    </div>
</div>

    


    </rdf:rdf></div>

    

        <div id="comments">
            <h3>3 Commenti <span> &mdash; <a href="#add-comment">Aggiungi Commento</a></span></h3>
            
        <ol>
            
            
        <li class="comment-level-0 clearfix" id="comment-78">
            <div class="gravatar"><img alt="Gravatar" src="http://www.gravatar.com/avatar/f55c8f74d4bb58e6ccb5b2ed4c620a0f?default=identicon&amp;rating=r&amp;size=40"></div>
        
            <div class="body">
            
                Since I'm Romanian and I don't have an Italian mobile phone number in order to complete these registration steps, will there be an alternative way to register for the WiFi?
                
                <div class="metadata">
                    
                        <span><a class="reply-comment" href="#">Reply</a> | </span><strong><a rel="nofollow" href="http://mariusbutuc.com/">Marius B.</a></strong>,&nbsp;
                    
                        <span class="date">04 aprile 2010</span>&nbsp;<a href="#comment-78" title="Permalink a questo commento" class="permalink">#</a>
                </div>
                    
            </div>
            
        </li>
        
            
            
        <li class="comment-level-1 reply clearfix" id="comment-80">
            <div class="gravatar"><img alt="Gravatar" src="http://www.gravatar.com/avatar/79878969363d68d9d408340757c95a9a?default=identicon&amp;rating=r&amp;size=40"></div>
        
            <div class="body">
            
                @Marius B.: Sure! You (and all the others non italian-mobile-phone-owner attendees) can register directly at the hotel concierge desk, as in the previous PyCon editions (but this year will be faster!-). This is incidentally the only reason why this blog post is in italian language only.
                
                <div class="metadata">
                    
                        <span><a class="reply-comment" href="#">Reply</a> | </span><strong><a rel="nofollow" href="http://euroython.eu/">C8E</a></strong>,&nbsp;
                    
                        <span class="date">04 aprile 2010</span>&nbsp;<a href="#comment-80" title="Permalink a questo commento" class="permalink">#</a>
                </div>
                    
            </div>
            
        </li>
        
            
            
        <li class="comment-level-0 clearfix" id="comment-81">
            <div class="gravatar"><img alt="Gravatar" src="http://www.gravatar.com/avatar/f55c8f74d4bb58e6ccb5b2ed4c620a0f?default=identicon&amp;rating=r&amp;size=40"></div>
        
            <div class="body">
            
                Great, thanks a lot for the update! :-)
                
                <div class="metadata">
                    
                        <span><a class="reply-comment" href="#">Reply</a> | </span><strong><a rel="nofollow" href="http://mariusbutuc.com/">Marius B.</a></strong>,&nbsp;
                    
                        <span class="date">04 aprile 2010</span>&nbsp;<a href="#comment-81" title="Permalink a questo commento" class="permalink">#</a>
                </div>
                    
            </div>
            
        </li>
        
            
        </ol>
        
        </div>



    




    
        
        <div id="add-comment">
            <h3>Aggiungi un commento</h3>
            <div class="form-box">
                
                <form method="post" action="/hcomments/post#preview-comment">
                    <div class="clearfix">
                        <div style="float: left; width: 310px; margin: 0pt 10px 0pt 0pt;" class="column">
                            <fieldset>
                                
                                <div class="field ">
                                  
                                  <label for="id_comment">Commento</label> <textarea name="comment" cols="40" rows="10" id="id_comment"></textarea>
                                </div>
                                
                            </fieldset>
                        </div>
                        <div style="float: left; width: 180px;" class="column">
                            <fieldset>
                                
                                    
                                    
                                        <input type="hidden" id="id_content_type" value="microblog.post" name="content_type">
                                    
                                    
                                
                                    
                                    
                                        <input type="hidden" id="id_object_pk" value="54" name="object_pk">
                                    
                                    
                                
                                    
                                    
                                        <input type="hidden" id="id_timestamp" value="1292343388" name="timestamp">
                                    
                                    
                                
                                    
                                    
                                        <input type="hidden" id="id_security_hash" value="764c91978f60939df6fc71d042ac5e99f17a8110" name="security_hash">
                                    
                                    
                                
                                    
                                    
                                        <div class="field ">
                                          
                                          <label for="id_name">Nome</label> <input type="text" maxlength="50" name="name" id="id_name">
                                        </div>
                                    
                                    
                                
                                    
                                    
                                        <div class="field ">
                                          
                                          <label for="id_email">Indirizzo email</label> <input type="text" id="id_email" name="email">
                                        </div>
                                    
                                    
                                
                                    
                                    
                                        <div class="field ">
                                          
                                          <label for="id_url">URL</label> <input type="text" id="id_url" name="url">
                                        </div>
                                    
                                    
                                
                                    
                                
                                    
                                    
                                        <div style="display: none;" class="field ">
                                          
                                          <label for="id_honeypot">Se inserisci qualcosa in questo campo il tuo commento verrà considerato spam</label> <input type="text" id="id_honeypot" name="honeypot">
                                        </div>
                                    
                                    
                                
                                    
                                    
                                        <input type="hidden" id="id_parent" value="0" name="parent">
                                    
                                    
                                
                            </fieldset>
                        </div>
                    </div><!-- /clearfix -->
                    <fieldset class="border">
                        <button class="ok" type="submit">Lascia un commento</button>
                    </fieldset>
                <input type="hidden" value="1" name="async"></form>
            </div>
        </div>
    


        </div>
        <div class="column span-4 last">

            

<div id="blog-post-info">
    <dl>
        <dt>Scritto da</dt>
        <dd>Simone</dd>

        <dt>Data</dt>
        <dd>12 dicembre 2010</dd>         

        
        
        <dt>Tag</dt>
        <dd><a href="/blog/tags/code" class="tag">code</a><a href="/blog/tags/codemotion" class="tag">codemotion</a><a href="/blog/tags/emotion" class="tag">emotion</a><a href="/blog/tags/event" class="tag">event</a><a href="/blog/tags/python" class="tag">python</a><a href="/blog/tags/roma" class="tag">roma</a></dd>
        
    </dl>
</div>



            <div id="blog-archives-browser">
                
                
                <h3>Archivio</h3>
                
                <ul>
                    
                    <li><a href="/blog/years/2010/">2010</a> (17)</li>
                    
                    <li><a href="/blog/years/2009/">2009</a> (13)</li>
                    
                    <li><a href="/blog/years/2008/">2008</a> (12)</li>
                    
                    <li><a href="/blog/years/2007/">2007</a> (9)</li>
                    
                </ul>
            </div>
        </div>
   
    
    
    <!-- /container -->
    </div>
<!-- /page -->
</div>




<!-- {% block FOOTER_BLOCK %} -->

<div class="sponsors">

    <div class="container clearfix"> 
        <h5>Our Sponsors</h5>
        
        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  
        
        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

        <div class="ad last">
            <a href="#"><img src="static/i/sponsor-ph.png" alt="sponsor-ph" width="110" height="50" /></a>
        </div>  

    </div>

</div>

<footer class="darker">
    <div class="container clearfix">        


            <div class="span-3">
                <nav>
<!--                     <h5><span>The</span> site</h5> -->
                    <h5>&nbsp;</h5>
                    <ul>
                        <li><a href="./index.html">Home</a></li>

                        <li><a href="./conference.html">The Conference</a></li>                        
                        <li><a href="./where.html">Where</a></li>
                        <li><a href="./blog.html">Blog</a></li>

                        <li><a href="./schedule.html">Schedule</a></li>
                        
                        <li><a href="./intern.html">Contact</a></li>
                        
                    </ul>
                </nav>
            </div>


            <div class="span-5">
                <div class="twitter">
                    <h5><span>Overheard on</span> Twitter</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit.</li>                        
                        <li>Nam tincidunt @rhoncus urna. Aliquam id massa</li>
                        <li>Quisque ultrices gravida pede. Mauris accumsan</li>                    
                        <li>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit.</li>                        
                        <li>Nam tincidunt @rhoncus urna. Aliquam id massa</li>                 
                    </ul>
                    <div class="">
                        <a href="http://twitter.com/europython">Follow @europython on Twitter</a>
                    </div>
                </div>
            </div>


            <div class="span-4 last">
                <div class="donate">
                    <h5><span>Please</span> Donate</h5>
                    
                    <p>Help the Python Software Foundation... Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo.</p>
                    
                    <p class="we-accept">
                        <img src="static/i/icon-visa.png" alt="icon-visa" width="32" height="32" />
                        <img src="static/i/icon-mastercard.png" alt="icon-mastercard" width="32" height="32" />
                        <img src="static/i/icon-amex.png" alt="icon-amex" width="32" height="32" />
                        <img src="static/i/icon-paypal.png" alt="icon-paypal" width="32" height="32" />                    
                    </p>
                    
                    <div class="button mini">
                        <a href="#">Donate Now</a>
                    </div>
                </div>
            </div>

            

            <hr />

            <div class="span-8">

                <div class="legalese">
                    <p>&copy; 2007&ndash;2011 <a href="http://python.it/">Python Italia</a>, with <a href="http://creativecommons.org/licenses/by-nd/3.0/">some rights reserved</a>.</p> 
                </div>

            </div>

            <div class="span-4 last">

                <div class="feeds">
                    <img src="./static/i/icon-feed.png" alt="" width="12" height="12" />&nbsp;<a href="#">Recent blog posts</a>
                </div>

            </div>
                        
<!--     /container -->
    </div>    

</footer>

<!-- {% endblock %}   -->



</body>
</html>

