/* HEADINGS */

.typography__heading {
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Perfect fourth scale */

.typography__heading--xl {
    font-size: 3.157em;
}

.typography__heading--l {
    font-size: 2.369em;
}

.typography__heading--m {
    font-size: 1.333em;
}

.typography__heading--m {
    font-size: 1.414em;
}

/* CAPTIONS */

.typography__caption {
    font-weight: bold;
    color: #6f777b;
}

/* Perfect fourth scale */

.typography__caption--xl {
    font-size: 2.369em;
}

.typography__caption--l {
    font-size: 1.333em;
}

.typography__caption--m {
    font-size: 1.414em;
}

.typography__caption--m {
    font-size: 1;
}
